.card-height {
    min-height: 12rem !important;
}

.widget-row-separator {
    /* border-bottom: 1px solid #e3e6f0 !important; */
    margin-bottom: 0.5rem !important;
}

.border-top {
    border-top: 1px solid #e3e6f0 !important;
}

.border-right {
    border-right: 1px solid #e3e6f0 !important;
}

.rectangle-widget::after {
    content: "";
    background: url(../../../../../assets/img/Rectangle-Chart.gif) no-repeat;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.cylinder-widget::after {
    content: "";
    background: url(../../../../../assets/img/Cylindrical-Chart.gif) no-repeat 50% 50%;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}