<app-e-scooter-tracker-dashboard [contextApp]="contextApp" *ngIf="contextApp.app === 'eScooterTracker'"
[tileData]="tileData"></app-e-scooter-tracker-dashboard>
<app-water-tank-monitor [contextApp]="contextApp" *ngIf="contextApp.app === 'WaterTankMonitor'" [tileData]="tileData"></app-water-tank-monitor>
<app-pump-dashboard [contextApp]="contextApp" *ngIf="contextApp.app === 'IIoT_Pump'" [tileData]="tileData"></app-pump-dashboard>

<app-compressor-dashboard [contextApp]="contextApp" *ngIf="contextApp && (contextApp.app?.toLowerCase().includes('cms') || contextApp.app?.toLowerCase().includes('compressor')) "
[tileData]="tileData"></app-compressor-dashboard>
