<div class="blue-nav-bar" *ngIf="selectedTab === 'telemetry'">
  <div class="d-flex align-items-center">
    <div class="d-flex align-items-center">
      <div class="main-heading ">{{(tileData && tileData[0] ? tileData[0]?.value : '')}}</div>
      <div class="ml-2 pt-15" *ngIf="signalRModeValue !== undefined && selectedTab === 'telemetry'">
        Turbo Mode:</div>
        <div class="ml-1 pt-15">
        <ui-switch size="small" class="mr-1" *ngIf="signalRModeValue !== undefined && selectedTab === 'telemetry'"
          [disabled]="isC2dAPILoading" defaultBgColor="#c80815" checkedTextColor="white" uncheckedTextColor="white"
          checkedLabel="OFF" uncheckedLabel="ON" name="tpye" [(ngModel)]="signalRModeValue"
          (valueChange)="onSwitchValueChange($event)"></ui-switch>
      </div>
    </div>
    <div class="ml-auto">
      <div class="">
        <form class="form-inline">
          <div class="form-group" id="dd-open">
            <button href="#" role="button" class="dropdown-btn" data-toggle="dropdown"
              [ngClass]="{'active' : originalFilter?.device}" placement="bottom"
              [tooltip]="originalFilter?.device ?
              (originalFilter.device.display_name ? originalFilter.device.display_name :
              originalFilter.device.device_id) : 'Select Asset'"
              (click)="onDeviceFilterBtnClick()" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-fw fa-filter fa-sm button-divider"></i>
              {{originalFilter?.device ?
                (originalFilter.device.display_name ? originalFilter.device.display_name :
                originalFilter.device.device_id) : 'Select Asset'}}
            </button>
            <div class="dropdown-menu dropdown-filter-content" id="liveDataSelectAssret">
              <ng-container *ngFor="
                          let level of contextApp?.hierarchy?.levels;
                          let index = index
                        ">
                <div class="">
                  <select *ngIf="index !== 0" name="{{level}}_{{index}}" class="dropdown-form" id="{{ level }}"
                    [disabled]="contextApp?.user?.hierarchy[level]" [(ngModel)]="configureHierarchy[index]"
                    name="{{ level }}" (change)="onChangeOfHierarchy(index, true)">
                    <option [ngValue]="undefined">
                      Select {{ level }}
                    </option>
                    <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
                      {{ tag }}
                    </option>
                  </select>
                  <input type="text" *ngIf="index === 0" name="{{level}}_{{index}}" defaultValue="{{ contextApp.app }}"
                    disabled class="dropdown-form" />
                </div>
              </ng-container>
              <ng-select [items]="devices" class="custom" bindLabel="display_name" [clearable]="false"
                [searchable]="true" [closeOnSelect]="true" appendTo="#liveDataSelectAssret" placeholder="Select Asset"
                dropdownPosition="bottom" name="asset-dropdown" [(ngModel)]="filterObj.device">
                <ng-template ng-option-tmp let-device="item">
                  <span [tooltip]="device.display_name ? device.display_name: device.device_id"> {{device.display_name ? device.display_name: device.device_id}}</span>
                </ng-template>
              </ng-select>
              <!-- <div class="form-group" >
                <button type="button" placement="bottom" tooltip="Search" class="btn btn-sm searchBtn btn-primary" (click)="onSaveHierachy()">Apply</button>
                <button type="button" placement="bottom" tooltip="Clear" class="btn btn-sm searchBtn btn-white ml-1" (click)="onClearHierarchy()" >Clear</button></div> -->
              <!-- <div class="">
                <button class="btn btn-sm searchBtn btn-primary" type="button">Apply</button>
              </div> -->
            </div>
          </div>
          <div class="form-group"><button type="button" class="btn btn-sm searchBtn btn-primary"
              (click)="onFilterSelection(this.filterObj)" [disabled]="isTelemetryDataLoading"><i
                class="fas fa-search fa-sm"></i></button></div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tab-bar">
  <ng-container >
    <div class="" *ngIf="isTelemetryDataLoading">
      <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
    </div>
    <div class="" *ngIf="!isTelemetryDataLoading && !telemetryObj && isFilterSelected">
      No data available since mid night.
    </div>
    <div class="" *ngIf="!isFilterSelected && !filterObj.device">
      Please select asset to view the data.
    </div>
    <div class="ml-1" *ngIf="liveWidgets.length === 0 && isFilterSelected
          ">
      No widgets configured for this asset. Please contact administrator.
    </div>
    <div class=""
      *ngIf="!isTelemetryDataLoading && telemetryObj && isFilterSelected && originalFilter?.device && liveWidgets.length > 0">
      <div class="">Welcome to {{originalFilter.device?.display_name ? originalFilter.device?.display_name :
        originalFilter.device?.device_id}}</div>
    </div>
    <div class="ml-auto"
      *ngIf="!isTelemetryDataLoading && telemetryObj && isFilterSelected && originalFilter?.device && liveWidgets.length > 0">
      <div class="">*{{sampleCountValue}} samples in last 1 minute
        <!-- with {{telemetryInterval !== undefined ? telemetryInterval :
          '(?)'
        second refresh rate--></div>
    </div>
  </ng-container>
</div>
<ng-container>
  <div class="content-scroll content-scroll-live-data">
    <div class="row col-md-12 mt-n2" *ngIf="telemetryObj && liveWidgets.length > 0">
      <ng-container *ngFor="let widget of liveWidgets; let i = index;">
        <div [style]="{ 'width': widget?.widgetType === 'OnlyNumber' || widget?.widgetType === 'NumberWithTrend'
              || widget?.widgetType === 'NumberWithImage' || widget.widgetType === 'GaugeChart' || widget.widgetType === 'StringWidget'? (23 * widget.properties.length + (widget.properties.length > 1 ? (2 * (widget.properties.length - 1)) : 0) +'%') : '48%',
              'margin-left':'2%', 'margin-top': '2%'}">
          <app-only-number-widget *ngIf="widget?.widgetType === 'OnlyNumber' || widget?.widgetType === 'NumberWithTrend'
              || widget?.widgetType === 'NumberWithImage' || widget?.widgetType === 'StringWidget'"
            [chartConfig]="widget" [device]="originalFilter?.device" [telemetryObj]="telemetryObj">
          </app-only-number-widget>
          <app-gauge-chart [chartConfig]="widget" [device]="originalFilter?.device"
            *ngIf="widget.widgetType === 'GaugeChart'" [telemetryObj]="telemetryObj"></app-gauge-chart>
          <app-live-line-chart [chartConfig]="widget" [device]="originalFilter?.device" [telemetryObj]="telemetryObj"
            *ngIf="widget.widgetType === 'LineChart' || widget.widgetType === 'AreaChart'">
          </app-live-line-chart>
        </div>
      </ng-container>
      <ng-container  *ngIf="defaultAppName === 'SopanCMS'">
        <div style="width:23%;margin-left:2%;margin-top: 2%">
          <div class="mt-1">
            <div class="card">
              <div class="card-header d-flex px-2">
                <div><h6 class="my-0 live-widget-title" >
                  Since Beginning
                </h6></div>
                <div class="ml-auto">
                  <div class="round-badge badge-blue" tooltip="Measured Property">M</div>
                </div>
              </div>
              <div class="card-body1" style="height: 12rem;">
                <div class="row text-center " *ngIf="telemetryObj">
                  <div class="col-md-12">
                    <span class="text-xs">(M) HH:MM</span>
                    <div class="mt-4">
                      <span class="text-darkblue display-5 font-weight-bold" style="font-size: 2rem;">
                        <!-- {{telemetryObj[prop.property.json_key]}} -->
                        {{ telemetryObj[getPropertyKey("Running Hours")] + ':' +
                        (telemetryObj[getPropertyKey('Running Minutes')] || 0)}}
                      </span>
                    </div>
                    <div>
                      <span class="text-darkblue display-5" >
                        {{telemetryObj.date}}
                       </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="width:23%;margin-left:2%;margin-top: 2%">
          <div class="mt-1">
            <div class="card">
              <div class="card-header d-flex px-2">
                <div><h6 class=" my-0  live-widget-title ">
                  Since Mid-Night
                </h6></div>
                <div class="ml-auto">

                  <div class="round-badge badge-blue" tooltip="Measured Property">M</div>
                </div>
              </div>
              <div class="card-body1" style="height: 12rem;">
                <div class="row text-center " *ngIf="telemetryObj">
                  <div class="col-md-12">
                    <span class="text-xs">(M) HH:MM</span>
                    <div class="mt-4">
                      <span class="text-darkblue display-5 font-weight-bold" style="font-size: 2rem;"
                      *ngIf="currentHour && currentMinute">
                        <!-- {{telemetryObj[prop.property.json_key]}} -->
                        {{currentHour}}:{{currentMinute}}
                      </span>
                    </div>
                    <div>
                      <span class="text-darkblue display-5" *ngIf="currentHour && currentMinute">
                        {{telemetryObj.date}}
                       </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<!-- <ng-container *ngIf="selectedTab === 'alert'">
  <app-application-visualization [pageType]="'live'"></app-application-visualization>
</ng-container> -->
