<app-columnchart-livedata-component [anchorAdditionalClass]="'border-0 rounded-0'" [hideCancelButtonAddOnClass] = ""
[dvRowCardHeaderClass]="" [dvRowCardBodyClass]=""
[chartConfig]="chartConfig" [headerMessage]="headerMessage"  
[modalConfig]="modalConfig" [bodyMessage]="bodyMessage" 
(modalEvents)="onModalEvents($event)" (modalOpenEvents)="openConfirmRemoveWidgetModal()" [widgetStringFromMenu]="widgetStringFromMenu"
[decodedToken]="decodedToken" [chartId]="chartId" [chartTitle]="chartTitle" [hideCancelButton]="hideCancelButton"
[telemetryData] = [telemetryData] [loader]="loader" [loaderMessage]="loaderMessage" [chartWidth]="chartWidth"
[chartHeight]="chartHeight" [isOverlayVisible]="isOverlayVisible" ></app-columnchart-livedata-component>