<div class="tab-bar" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
  <div class="">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="isSettingsEditable = true;" *ngIf="!isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading  || assetModel.freezed">
          <em class="fa fa-fw fa-edit"></em>
          <span class="text-secondary">Edit</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onCancelClick()" *ngIf="isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading || assetModel.freezed">
          <em class="fa fa-fw fa-close"></em>
          <span class="text-secondary">Cancel</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="saveSettings()" *ngIf="isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading || assetModel.freezed">
          <em class="fa fa-fw fa-save"></em>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item" *ngIf="isSaveSettingAPILoading">
        <a class="nav-link" href="javascript:void(0)">
          <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <div class="tableFixHead">
    <accordion [closeOthers]="true" class="p-3" *ngIf="originalAssetModel?.metadata">
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Data Ingestion Setting
          </a>
        </ng-container>
        <div class="row col-md-12">
          <input type="radio" class="mt-1" name="visible" value="changed_props" [disabled]="!isSettingsEditable"
            id="visible_1" [(ngModel)]="assetModel.metadata.data_ingestion_settings.value" />
          <label for="visible_1" class="form-label ml-2">&nbsp;Ingest Only Changed Properties</label> &nbsp;

        </div>
        <div class="row col-md-12">
          <input class="mt-1" type="radio" name="visible" value="all_props_at_fixed_interval"
            [disabled]="!isSettingsEditable" id="visible_2"
            [(ngModel)]="assetModel.metadata.data_ingestion_settings.value" />
          <label for="visible_2" class="form-label ml-2">&nbsp;Ingest All Properties</label> &nbsp;
        </div>
      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Measurement Frequency Setting
          </a>
        </ng-container>
        <table class="table table-hover">
          <thead style="display: none;">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td style="width: 50%;">Measurement Frequency (In Sec): </td>
              <td>
                  <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                    [(ngModel)]="assetModel.metadata.measurement_settings.measurement_frequency" name="frequency_in_normal"
                    placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr> -->
            <tr>
              <td style="width: 50%;">G1 Measurement Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g1_measurement_frequency_in_ms"
                  name="g1_frequency_in_normal" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Measurement Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g2_measurement_frequency_in_ms"
                  name="g2_frequency_in_normal" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Measurement Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g3_measurement_frequency_in_ms"
                  name="g3_frequency_in_normal" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Telemetry Mode Settings
          </a>
        </ng-container>
        <table class="table table-hover">
          <thead style="display: none;">
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 50%;">G1 Normal mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g1_ingestion_frequency_in_ms"
                  name="g1_frequency_in_normal" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G1 Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g1_turbo_mode_frequency_in_ms"
                  name="g1_frequency_in_turbo" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Normal mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g2_ingestion_frequency_in_ms"
                  name="g2_frequency_in_normal" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g2_turbo_mode_frequency_in_ms"
                  name="g2_frequency_in_turbo" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Normal mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g3_ingestion_frequency_in_ms"
                  name="g3_frequency_in_normal" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>


            <tr>
              <td style="width: 50%;">G3 Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.measurement_settings.g3_turbo_mode_frequency_in_ms"
                  name="g3_frequency_in_turbo" placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td>Turbo mode Timeout (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="assetModel.metadata.telemetry_mode_settings.turbo_mode_timeout_time"
                  name="timeout_in_turbo" placeholder="Timeout" [disabled]="!isSettingsEditable">
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>

    </accordion>
  </div>
</div>
