<div id="changePasswordModal" class="modal fade">
  <div class="modal-dialog" style="width: 40%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{isFirstTimeLogin && isForgotPassword ? 'Forgot Password' : (isForgotPassword ? 'Forgot
          Password' : 'Change Password')}}</h4>
        <button *ngIf="!isFirstTimeLogin" type="button" (click)="onModalClose()" class="close" aria-hidden="true">
          &times;
        </button>

      </div>
      <!-- div to display reset password form -->
      <div class="modal-body">
        <form [formGroup]="resetPasswordForm" autocomplete="off">
          <div class="col-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <div class="form-group">
                <label for="inputPassword" class="required">Email </label>
                <input id="reset_email" name="reset_email" type="text" class="form-control form-control-sm"
                  formControlName="email" placeholder="Email" disabled />
              </div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div *ngIf="isForgotPassword" class="col-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <div class="form-group">
                <label for="inputOTP" class="required">OTP </label>
                <input id="otp" name="otp" type="text" class="form-control form-control-sm" formControlName="otp"
                  placeholder="OTP" [disabled]="isFirstTimeLogin" />
                <div *ngIf="resetPasswordForm.get('otp').errors && resetPasswordForm.get('otp').touched"
                  class="alert-danger">
                  <div *ngIf="resetPasswordForm.get('otp').errors.required">
                    OTP is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div *ngIf="!isForgotPassword" class="col-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <div class="form-group">
                <label for="inputPassword" class="required">Old Password </label>
                <input id="old_password" name="old_password" type="{{this.isOldPasswordVisible ? 'text' : 'password'}}" 
                    class="form-control form-control-sm" formControlName="old_password" 
                    placeholder="Old Password" [disabled]="isFirstTimeLogin" />
                  <em class="fa fa-fw  field-icon-small toggle-password" (click)="togglePasswordVisibility('old')"
                  [ngClass]="{'fa-eye' : !this.isOldPasswordVisible, 'fa-eye-slash': this.isOldPasswordVisible}"></em>
                <div
                  *ngIf="resetPasswordForm.get('old_password').errors && resetPasswordForm.get('old_password').touched"
                  class="alert-danger">
                  <div *ngIf="resetPasswordForm.get('old_password').errors.required">
                    Password is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="col-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <div class="form-group">
                <label for="inputPassword" class="required">New Password </label>
                <input id="new_password" name="new_password" type="{{this.isNewPasswordVisible ? 'text' : 'password'}}"  
                   class="form-control form-control-sm" formControlName="new_password" 
                   placeholder="Password" autocomplete="new-password" />
                  <em class="fa fa-fw  field-icon-small toggle-password" (click)="togglePasswordVisibility('new')"
                    [ngClass]="{'fa-eye' : !this.isNewPasswordVisible, 'fa-eye-slash': this.isNewPasswordVisible}"></em>
                <div
                  *ngIf="resetPasswordForm.get('new_password').errors && resetPasswordForm.get('new_password').touched"
                  class="alert-danger">
                  <div *ngIf="resetPasswordForm.get('new_password').errors.required">
                    New Password is required.
                  </div>
                  <div *ngIf="resetPasswordForm.get('new_password').errors.pattern">
                    Enter any alphanumeric combination having one uppercase, one
                    lowercase, one number, one special character ranging from 8 to
                    20.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="col-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              <div class="form-group">
                <label for="inputPassword" class="required">Confirm Password </label>
                <input id="confirm_new_password" name="confirm_new_password" type="{{this.isConfirmPasswordVisible ? 'text' : 'password'}}" 
                  class="form-control form-control-sm" formControlName="confirmNewPassword"
                  placeholder="Confirm Password" />
                  <em class="fa fa-fw  field-icon-small toggle-password" (click)="togglePasswordVisibility('confirm')"
                    [ngClass]="{'fa-eye' : !this.isConfirmPasswordVisible, 'fa-eye-slash': this.isConfirmPasswordVisible}"></em>
                <div
                  *ngIf="resetPasswordForm.get('confirmNewPassword').errors && resetPasswordForm.get('confirmNewPassword').touched"
                  class="alert-danger">
                  <div *ngIf="resetPasswordForm.get('confirmNewPassword').errors.required">
                    New Password is required.
                  </div>
                </div>
                <div
                  *ngIf="resetPasswordForm.hasError('notSame') && (resetPasswordForm.get('confirmNewPassword').dirty || resetPasswordForm.get('confirmNewPassword').touched)"
                  class="alert-danger">
                  Your password and confirm password does not match.
                </div>
              </div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onChangePassword()" [disabled]="
            (!resetPasswordForm.valid &&
              (resetPasswordForm.touched || !resetPasswordForm.touched)) ||
            changePasswordAPILoading
          ">
              Submit</button>
            <button type="button" *ngIf="!isFirstTimeLogin || isForgotPassword" class="btn btn-secondary"
              (click)="onModalClose()">
              Cancel
            </button>
            <em class="fa fa-spinner fa-spin fa-2x fa-fw" *ngIf="changePasswordAPILoading"></em>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
