<div class="table-responsive">
  <div class="tableFixHead">
    <div class="p-3">
      <div class="d-flex">
        <div class="pl-3">
          <!-- contextApp?.user?.role === constantData.APP_ADMIN_ROLE -->
          <div class="row" *ngIf="environmentApp !== 'Indygo'">
            <h6>This Asset is of {{asset.local_type}} type.</h6>
          </div>
          <div class="row" *ngIf="componentState === constantData.NON_IP_ASSET">
            <h6>This Asset is managed by an Gateway
              <a href="javascript:void(0)" class="blue-font"
                (click)="onRedirectToGateway(asset)">({{asset.gateway_id}})</a>
            </h6>
          </div>
          <div class="row">
            <h6>Asset Id is {{asset?.asset_id}}</h6>
          </div>
          <div class="row" *ngIf="environmentApp !== 'Indygo'">
            <h6>This asset is inherited from asset model
              <a href="javascript:void(0)" class="blue-font"
                *ngIf="decodedToken?.privileges?.indexOf('ASMMV') > -1; else noModelLinkTemplate"
                (click)="onRedirectToModel(asset)">({{asset?.tags?.asset_model}})</a>
              <ng-template #noModelLinkTemplate>
                ({{asset?.tags?.asset_model}})
              </ng-template>
            </h6>
          </div>
          <div class="row" *ngIf="componentState === constantData.IP_GATEWAY">
            <h6>This is the gateway of type ({{asset.tags.asset_model}}) managing
              <a class="blue-font" href="javascript:void(0)" (click)="onRedirectToAssets()">
                {{assetCount}} {{assetCount === 1 ? 'asset' : 'assets'}}</a>.
            </h6>
          </div>
          <div class="row">
            <h6
              *ngIf="asset?.status?.toLowerCase() === 'enabled' && asset?.connection_state?.toLowerCase() === 'connected'">
              Currently, {{componentState === constantData.IP_GATEWAY ? 'gateway' : 'asset'}} is
              <span class="enabled-font">
                {{asset?.status}} & Online.</span>
            </h6>
            <h6
              *ngIf="asset?.status?.toLowerCase() === 'enabled' && asset?.connection_state?.toLowerCase() === 'disconnected'">
              Currently, {{componentState === constantData.IP_GATEWAY ? 'gateway' : 'asset'}} is
              <span class="enabled-font">
                {{asset?.status}}</span>, but it is
              <span class="disabled-font">
                Offline.</span>
            </h6>
            <h6
              *ngIf="asset?.status?.toLowerCase() === 'disabled' && asset?.connection_state?.toLowerCase() === 'disconnected'">
              Currently, {{componentState === constantData.IP_GATEWAY ? 'gateway' : 'asset'}} is
              <span class="disabled-font">
                {{asset?.status}} & Offline.</span>
            </h6>
          </div>
          <div *ngIf="assetCredentials && decodedToken?.privileges?.indexOf('ASMVC') > -1" class="row">
            <h6>
              <ng-container *ngIf="componentState === constantData.NON_IP_ASSET">Gateway</ng-container>
              Connection String:
              <a class="blue-font ml-2" href="javascript:void(0)"
                (click)="isViewClicked ? hideConnectionString() : viewonnectionString()">{{isViewClicked ? 'Hide' :
                'View'}}</a>
              <a class="blue-font ml-2" href="javascript:void(0)" (click)="copyConnectionString()">{{isCopyClicked ?
                'Copied' : 'Copy'}}</a>
            </h6>
            <h6 class="row col-12" *ngIf="isViewClicked">{{assetCredentials.primary_connection_string ||
              assetCredentials.connection_string}}</h6>
          </div>
          <div *ngIf="componentState !== constantData.NON_IP_ASSET && environmentApp !== 'Indygo'" class="row">
            <h6>
              Asset Twin:
              <a class="blue-font ml-2" href="javascript:void(0)" (click)="viewAssetTwin()"> View</a>
            </h6>
          </div>
        </div>
        <div class="ml-auto">
          <!-- <a
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm pull-right mr-2"
    href="javascript:void(0)"
    placement="bottom" tooltip="Sync with cache"
    (click)="syncWithCache()" [class.disabled]="isSyncAPILoading"
    >Sync with cache <i class="fa fa-refresh fa-sm text-white" *ngIf="!isSyncAPILoading"></i>
    <i class="fa fa-spinner fa-spin fa-fw fa-sm" *ngIf="isSyncAPILoading"></i></a> -->
          <button type="button" class="btn btn-primary btn-sm add-row text-nowrap" placement="bottom" tooltip="Sync with cache"
            (click)="syncWithCache()" [class.disabled]="isSyncAPILoading"
            *ngIf="!isSyncAPILoading && decodedToken?.privileges?.indexOf('ASMM') > -1">Sync with cache <i
              class="fa fa-refresh fa-sm text-white ml-1"></i>
            <i class="fa fa-spinner fa-spin fa-fw fa-sm" *ngIf="isSyncAPILoading"></i></button>
        </div>
      </div>
      <div class="text-center py-5">
        <img class="img-fluid px-3 px-sm-2 mb-4"
          src="{{(blobStorageURL + assetModel?.metadata?.image?.url + blobSASToken)}}" alt="" style="width:15rem;">
      </div>
    </div>
  </div>
</div>

<div class="modal right fade" id="assetTwinModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Asset Twin</h5>
        <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <json-editor *ngIf="!isAssetTwinLoading" [options]="editorOptions" style="min-height: 40rem;" name="json"
          [data]="assetTwin">
        </json-editor>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAssetTwinLoading"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onModalClose()">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
