<!-- <div class="blue-nav-bar">
  <div class="d-flex align-items-center">
    <div class="main-heading">{{(tileData && tileData[0] ? tileData[0]?.value : '')}}&nbsp;
    </div>

  </div>
</div> -->
<div class="row">
  <div class="col-sm-4 pl-4 mt-3">
    <div class="d-flex">

      <app-newdate-range-picker class="ml-2" *ngIf="uptimeDateFilter && selectedDateRange"
        [filterObj]="uptimeDateFilter" (selectedDateApplyEmitter)="selectedDate($event)"
        [selectedDateRange]="selectedDateRange">
      </app-newdate-range-picker>


      <div class="form-group"><button type="button" class="btn btn-sm searchBtn btn-primary ml-2"
          (click)="filteredHiearchyObj()"><em class="fas fa-search fa-sm"></em></button></div>
    </div>
  </div>
</div>
<div *ngIf="!loader">
  <div *ngIf="upTimeHistory.length==0">
    <p class="ml-2">please click on search to view the data. </p>
  </div>
  <div class="table-responsive" *ngIf="upTimeHistory.length>0">

    <div class="tableFixHead" style="height: 60vh; max-height: calc(100vh - 10.5rem)">
      <table class="table table-hover">
        <thead>
          <!-- <th scope="col">No</th> -->
          <th scope="col">Date</th>
          <th scope="col">Planned Working Hours</th>
          <th scope="col">Actual Working Hours</th>
          <th scope="col">Up Time</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
          <ng-container *ngIf="upTimeHistory.length > 0">
            <tr *ngFor="let asset of upTimeHistory; let i = index">
              <!-- <td>{{i + 1}}</td> -->
              <td>{{asset.fromDate | date:'dd-MMM-YY'}}</td>
              <td>{{asset.plannedworktimeinhours}}</td>
              <td>{{asset.actualwotktimeinhours}}</td>
              <td>{{asset.uptimePercentage}}%</td>
              <td>
                <a (click)="onPopup(asset);" data-toggle="modal" data-target="#myModal" tooltip="More Details">
                  <span style="color: blue;">More Details</span>
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

  </div>
  <span class="d-flex justify-content-center w-100" style="margin-top: 10px;margin-right:10px;"
    *ngIf="upTimeHistory.length > 0 && loadMoreVisibility">
    <a href="javascript:;" style="text-decoration: none;color:blue;" class="mr-1"
      (click)="currentOffset = currentOffset + currentLimit;getUptime()" placement="bottom">{{'Load
      More...'}}</a>
  </span>

</div><br />
<div class="text-center">
  <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="loader"></em>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="height: 400px;overflow-y: scroll;">
        <div class="row">
          <div class="col-md-6">
            <h4>Planned</h4>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let upTime of upTimeData?.asset_uptime_registry">
                    <td>{{upTime.from_time}}</td>
                    <td>{{upTime.to_time}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" *ngIf="upTimeData?.is_alltime_working">-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <h4>Down Time</h4>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let downTime of downTimeData">
                    <td>{{downTime.event_start_time | date:'HH:mm:ss'}}</td>
                    <td>{{downTime.event_end_time | date:'HH:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" *ngIf="downTimeData?.length ==0">-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer" style="text-align: right;width: 100%;display: block;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>