<div class="topnavbar bg-white py-2" >
  <app-filter [filterObj]="filterObj" (filterSearch)="searchTelemetry($event)"></app-filter>
  </div>
  <div class="con-pad">
  <div class="row mx-auto">

    <div class="table-responsive" >
      <!-- <app-table [tableData]="telemetryList" [tableConfig]="telemetryTableConfig" [isTableFilterSelected]="isFilterSelected"
      [isTableDataLoading]="isTelemetryLoading" (viewMessageEvent)="openTelemetryMessageModal($event)"></app-table> -->
      <app-common-table [tableData]="telemetryList" [tableConfig]="telemetryTableConfig" [isTableFilterSelected]="isFilterSelected"
      [isTableDataLoading]="isTelemetryLoading" (viewMessageEvent)="openTelemetryMessageModal($event)"></app-common-table>
    </div>
  </div>
  </div>
  <div class="modal right fade" id="telemetryMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedTelemetry">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View Document</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onModalEvents('close')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <pre [innerHTML]="fileData | json" ></pre> -->
          <json-editor *ngIf="!isFileDataLoading" [options]="editorOptions" style="min-height: 20rem;" name="json"  [data]="fileData">
          </json-editor>
          <i class="fa fa-spinner fa-spin fa-fw fa-2x"  *ngIf="isFileDataLoading"></i>
          <!-- <iframe *ngIf="selectedTelemetry.type === 'PDF'"  [src]="sanitizeURL()" style="width: 100%;height: 80vh"></iframe> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onModalEvents('close')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>
