<div class="table-responsive">
  <!-- <div class="tableFixHead">
    <app-table [tableData]="derivedKPIs" [tableConfig]="derivedKPITableConfig"
      [isTableFilterSelected]="isFilterSelected" [isTableDataLoading]="isderivedKPILoading"
      (viewMessageEvent)="openHistoricKPIData($event)"></app-table>
  </div> -->
  <div class="tableFixHead">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"style="width: 3%;"></th>
          <th scope="col"></th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">JSON Key</th>
          <th scope="col">Last Value</th>
          <th scope="col">Historical Data</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!isderivedKPILoading && derivedKPIs.length > 0">
          <ng-container *ngFor="let kpi of derivedKPIs; let i = index">
            <tr>
              <td>
                <a href="javascript:void(0)" (click)="onToggleRows(i)">
                  <em [ngClass]="toggleRows[i] ? 'fa fa-angle-up' : 'fa fa-angle-down'"></em>
                </a>
              </td>
              <td>{{i + 1}}</td>
              <td>{{kpi.code}}</td>
              <td>{{kpi.name}}</td>
              <td>{{kpi.description}}</td>
              <td>{{kpi.kpi_json_key}}</td>
              <td>{{kpi.kpi_result}}</td>
              <td><a href="javascript:void(0)" (click)="onToggleRows(i)" class="mr-1" placement="bottom" tooltip="View">
                  <em class="fa fa-fw fa-eye"></em>
                </a></td>
            </tr>
            <tr *ngIf="toggleRows[i]" style="background-color:#fdfeff;">
              <td colspan="8">
                <form class="form-inline">
                  <!-- <b>Filters:</b>&nbsp; -->
                  <app-date-range-picker *ngIf="filterObj.from_date && filterObj.to_date" [filterObj]="filterObj"
                    (selectedDateApplyEmitter)="selectedDate($event)" [selectedDateRange]="selectedDateRange">
                  </app-date-range-picker>
                  <div class="form-group"><button type="button" placement="bottom" tooltip="Search"
                      class="btn btn-sm searchBtn btn-primary" (click)="getDerivedKPIsHistoricData()"><em
                        class="fas fa-search fa-sm"></em></button></div>
                </form>
                <p class="m-3" *ngIf="derivedKPIData.length === 0 && !isDerivedKPIDataLoading && !loader"> No
                  {{selectedDerivedKPI?.name}}
                  data found.</p>
                <span *ngIf="loader"><em class="fa fa-spinner fa-spin fa-fw fa-2x"></em> {{loadingMessage}}</span>
                <ng-container *ngIf="!isDerivedKPIDataLoading && derivedKPIData.length > 0">
                  <div id="derivedKPIChart_{{kpi.kpi_json_key}}" class="mt-2"
                    *ngIf="selectedDerivedKPI.data_type?.toLowerCase() === 'number'; else NoNumberTable"
                    [ngStyle]="{'width': '100%', 'height': '25rem'}"></div>
                  <ng-template #NoNumberTable>
                    <div class="tableFixHead" style="height:calc(100vh - 25.5rem)!important">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Time</th>
                            <th scope="col">Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of derivedKPIData; let index = index">
                            <td>{{index + 1}}</td>
                            <td>
                              {{item.local_end_interval}}
                            </td>
                            <td>{{item.spc}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isderivedKPILoading">
          <tr>
            <td colspan="8"><em class="fa fa-spinner fa-spin fa-fw fa-2x"></em></td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isderivedKPILoading && derivedKPIs.length === 0">
          <tr>
            <td colspan="8"> No Derived KPIs added.</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
