<ul class="navbar-nav bg-primary sidebar sidebar-lightblue fixed-top accordion" id="accordionSidebar" *ngIf="userData">
  <!-- side menu HTML for super admin start-->
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    *ngIf="userData?.is_super_admin">
    <a class="nav-link collapsed" [routerLink]="['applications']">
      <em class="fa fa-fw fa-th-large" tooltip="Applications" placement="top"></em>
      <span>Apps</span></a>
      <a class="nav-link collapsed" [routerLink]="['applications/gateway-monitoring']">
        <em class="fas fa-desktop" tooltip="Gateway Monitoring" placement="top"></em>
        <span>Gateway Monitoring</span></a>
  </li>
  <!-- side menu HTML for super admin end-->
  <!-- side menu HTML for other user -->
  <ng-container *ngFor="let item of displayMenuList">
    <ng-container *ngIf="item.visible">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.exactMatch}"
        *ngIf="!userData?.is_super_admin && item.url && !item.fragment">
        <a class="nav-link" [routerLink]="getURL(item.url)" [fragment]="item.fragment"
          [tooltip]="item.display_name ? item.display_name : item.system_name" placement="top">
          <em class="{{item.icon}}"></em>
          <span>{{item.display_name ? item.display_name : item.system_name}}</span></a>
      </li>
    </ng-container>
  </ng-container>
  <!-- side menu HTML for other user end -->
</ul>
