<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark fixed-top accordion" id="accordionSidebar"  *ngIf="userData">

  <!-- Sidebar - Brand -->
  <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/home/applications/ccd']" routerLinkActive="active" >
    <img src="../../assets/img/logo-kemsys.jpg" style="height:3rem" class="mx-auto d-block img-fluid">
  </a> -->

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <div class="text-center d-none d-md-inline">
   <button class="rounded-circle border-0 my-2" id="sidebarToggle" (click)="onSidebarToggle()"></button>
  </div>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="userData?.is_super_admin">
      <a class="nav-link collapsed" [routerLink]="['applications']"  >
        <i class="fas fa-fw fa-th-large" title="Applications"></i>
        <span>Apps</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <ng-container *ngFor="let item of displayMenuList">
    <ng-container *ngIf="!item.children">
      <li class="nav-item" routerLinkActive="active"  *ngIf="!userData?.is_super_admin && item.url"
      [routerLinkActiveOptions]="{exact: true}"
      >
        <a class="nav-link" [routerLink]="getURL(item.url)">
          <i class="fas fa-fw fa-desktop" title="{{item.display_name ? item.display_name : item.system_name}}"></i>
          <span>{{item.display_name ? item.display_name : item.system_name}}</span></a>

      </li>
      <li class="nav-item" *ngIf="!userData?.is_super_admin && !item.url"
      >
      <a class="nav-link" >
        <i class="fas fa-fw fa-desktop" title="{{item.display_name ? item.display_name : item.system_name}}"></i>
        <span>{{item.display_name ? item.display_name : item.system_name}}</span></a>
        </li>
    </ng-container>
    <ng-container *ngIf="item.children && item.children.length > 0">
      <li class="nav-item" >
        <a class="nav-link collapsed" href="#device-groups" data-toggle="collapse"
        aria-expanded="true">
          <i class="fas fa-fw fa-folder" title="{{item.display_name ? item.display_name : item.system_name}}"></i>
          <span>{{item.display_name ? item.display_name : item.system_name}}</span>
        </a>
        <div id="device-groups" class="collapse" aria-labelledby="headingPages">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="javascript:void(0)" *ngFor="let child of item.children">
              {{child.display_name ? child.display_name : child.system_name}}
            </a>
          </div>
        </div>
      </li>
    </ng-container>
  </ng-container>


   <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline" *ngIf="!userData?.is_super_admin">

  </div>

</ul>
