<div class="container-pad " >

  <div class="row pb-3 pl-4">
          <div class="d-sm-flex align-items-center justify-content-start ">
    <h5 class="h5 mb-0">{{tileData && tileData[0] ? tileData[0]?.value : ''}}</h5>
  </div>
      </div>
<div class="row">
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 1</th>
      <th style="border-left:0"><button class="button btn-danger" style="float:right">OFF</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 78 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:40%'>230
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>556
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">210</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">2221</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 2</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 464 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Anurag Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:90%'>854
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 50%'>345
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">780</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1584</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 3</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 247 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>853
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 30%'>248
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">170</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1568</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 4</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 574 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:40%'>253
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>678
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">178</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1529</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 5</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 894 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Anurag Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:90%'>790
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 20%'>146
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">426</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1852</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 6</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 67 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:90%'>984
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 10%'>54
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">157</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1472</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 7</th>
      <th style="border-left:0"><button class="button btn-danger" style="float:right">OFF</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 1392 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:20%'>189
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 80%'>654
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">892</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1422</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 8</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 89 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>704
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 40%'>253
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">103</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1592</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 9</th>
      <th style="border-left:0"><button class="button btn-danger" style="float:right">OFF</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 172 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Anurag Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:95%'>902
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 29%'>285
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">145</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1890</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 10</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 1275 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>531
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 40%'>283
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">193</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">2010</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 11</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 56 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>359
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>554
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">258</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1974</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 12</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 1940 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:95%'>1205
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 30%'>257
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">190</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1735</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 13</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 78 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:80%'>922
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 40%'>356
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">320</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1496</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 14</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 2850 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>318
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>530
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">195</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">589</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 15</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 291 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>582
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 20%'>184
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">92</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">992</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 16</th>
      <th style="border-left:0"><button class="button btn-danger" style="float:right">OFF</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-success text-white text-sm font-weight-bold">Life Left: 1860 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Bhavana Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:60%'>593
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>892
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">193</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">2134</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 17</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 37 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Megna Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:50%'>462
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>806
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">295</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1683</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-3 col-xl-3 mb-3">
  <table class="table-sm table-bordered bg-white" width="100%">
    <thead>
      <tr>
      <th colspan="2" style="border-right:0" class="text-primary">Industrial Pump 18</th>
      <th style="border-left:0"><button class="button btn-success" style="float:right">ON</button></th>
      <!--<th style="padding:0.2rem 0.5rem; border-left:0"><button type="button" class="btn btn-success btn-sm mx-1 my-1" style="float:right; ">ON</button></th>-->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3" class="bg-danger text-white text-sm font-weight-bold">Life Left: 59 Hours</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td colspan="3" class="text-sm font-weight-bold" >Anurag Industries, Pune</td>
      </tr>
      <tr>
        <td class="text-xs">Left <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td class="text-xs">Right <span class="text-success text-sm" style="display: block;">No Leak</span></td>
        <td rowspan="2" class="bg-blue">
          <div class='barcontainer'>
            <div class='bar' style='height:70%'>590
              <div class='barlabel'>Stroke</div>
            </div>
            <div class='bar' style='height: 90%'>954
              <div class='barlabel'>Usage</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-xs">Stroke Rate <span class="text-primary text-sm" style="display: block;">199</span></td>
        <td class="text-xs">Flow Rate <span class="text-primary text-sm" style="display: block;">1903</span></td>
      </tr>
    </tbody>
  </table>
</div>
 </div>
</div>
