<div class="modal right fade" id="addWhieListAsset" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acknowledge Maintenance</h5>
                <button type="button" class="close" (click)="onClose()" aria-label="Close">
                    <span aria-hidden="true" tooltip="Close">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formData">
                    <div class="form-group">
                        <label for="desc">Description:</label>
                        <textarea name="description" formControlName="description" class="form-control shadow-none"
                            id="desc" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="desc">Add Document:</label>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-2"
                            href="javascript:void(0)" (click)="addDocument()" placement="bottom"
                            tooltip="Add Document"><em class="fa fa-plus fa-sm text-white"></em>
                        </a>
                    </div>
                    <div formArrayName="files" >
                        <div *ngFor="let fileGroup of formData.get('files').controls; let i = index;">
                            <div [formGroupName]="i">
                                <div class="form-group">
                                    <label for="type">Type:</label>
                                    <select class="form-control form-control-sm" id="type" name="type"
                                        formControlName="filetype">
                                        <option [ngValue]="undefined">Select Document Type</option>
                                        <option [ngValue]="'PDF'">PDF</option>
                                        <option [ngValue]="'Image'">Image</option>
                                        <option [ngValue]="'Video'">Video</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label required">Upload:</label>
                                    <div class="form-group input-group row m-0">
                                        <div class="file-input form-control form-control-sm p-0 col-8">
                                            <input type="file"
                                                accept="{{filetype=='PDF'? '.pdf' : (filetype=='Image') ? '.jpeg,.png,.svg,.jpg' : (filetype=='Video') ? '.mp4' : '*'}}"
                                                id="file" class="file" formControlName="uploadedFile"
                                                onclick="this.value = null" (change)="onFileSelected($event,i)">
                                            <label for="file" class="overflow-text"
                                                title="{{this.uploadedFile[i]?.fileName}}">{{this.uploadedFile[i]?.fileName
                                                ?? "Choose File"}}</label>
                                        </div>
                                        <!-- <div class="file-input form-control form-control-sm p-0 col-4"
                                            style="background-color:#ccc !important">
                                            <input type="file"
                                                accept="{{filetype=='PDF'? '.pdf' : (filetype=='Image') ? '.jpeg,.png,.svg,.jpg' : (filetype=='Video') ? '.mp4' : '*'}}"
                                                id="file" class="file"  formControlName="uploadedFile">
                                            <label for="file" class="bg-secondary text-white">Browse</label>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add-row" (click)="onSave()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
            </div>
        </div>
    </div>
</div>