<nav class="navbar navbar-expand navbar-light bg-white topbar static-top" *ngIf="!isLoginRoute && userData">

  <button id="sidebarToggleTop" class="btn btn-link rounded-square mr-3"  (click)="onSidebarToggle()">
    <i class="fa fa-bars"></i>
  </button>


  <!-- Sidebar - Brand -->
  <a class="d-flex align-items-center justify-content-center" *ngIf="!userData?.is_super_admin"
   href="javascript:void(0)" (click)="redirectToFirstMenu()">
    <img src="{{blobStorageURL + contextApp?.metadata?.header_logo?.url + blobToken}}" class="d-block img-fluid img-logo">
  </a>
  <a class="d-flex align-items-center justify-content-center" *ngIf="userData?.is_super_admin"
  [routerLink]="['applications']">
    <img src="../../assets/img/logo.png" class="d-block img-fluid img-logo">
  </a>

  <ul class="navbar-nav ml-auto">

   <!-- <div class="topbar-divider d-none d-sm-block"></div>

     <li class="nav-item mx-1">
      <a class="nav-link" href="javascript:void(0)" tooltip="Telemetry" (click)="navigateToDashboard('telemetry')" id="messagesDropdown" aria-expanded="false">
        <i class="fa fa-globe fa-fw  text-dark"></i>
      </a>

    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <li class="nav-item no-arrow mx-1">
      <a class="nav-link" href="javascript:void(0)" tooltip="Alert" (click)="navigateToDashboard('alert')" id="alertsDropdown" aria-expanded="false">
        <i class="fa fa-bell fa-fw   text-dark"></i>
      </a>

    </li> -->


    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <!-- <span>{{contextApp?.user.role}}</span>
        <br/>
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userData?.name}}</span> -->
        <!-- <span class="mr-2 d-none d-lg-block"> -->
          <img class="img-profile rounded-circle mr-3" src="../../assets/img/user.png">
          <span class="d-block">

          <span class="text-gray-600">{{userData?.name}}</span>
          <span class="d-block text-grey small">{{contextApp?.app}}</span>
          <small class="d-block text-grey ">{{contextApp?.user.role}}</small>
        </span>

        <!-- <img class="img-profile rounded-circle" src="../../assets/img/user.jpg"> -->
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="javascript:void(0)">
          <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="openChangePasswordModal()">
          <i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
          Change Password
        </a>
         <a class="dropdown-item" href="javascript:void(0)">
          <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
          Activity Log
        </a>
        <div class="dropdown-divider"></div>
        <ng-container *ngIf="contextApp?.user?.role === constantData.APP_ADMIN_ROLE">

        <a
        class="dropdown-item" [routerLink]="['applications', this.contextApp?.app, 'settings']" routerLinkActive="active">
          <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Settings
        </a>
        <div class="dropdown-divider"></div>
        </ng-container>
        <ng-container  *ngIf="userData?.apps?.length > 1">
        <a class="dropdown-item"
        [routerLink]="['applications', 'selection']" routerLinkActive="active" >
          <i class="fa fa-th-large fa-sm fa-fw mr-2 text-gray-400"></i>
          Change Application
        </a>
        <div class="dropdown-divider"></div>
        </ng-container>
        <a class="dropdown-item" href="javascript:void(0)" (click)="openLogoutModal()">
          <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your session.</div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="onLogout()">Logout</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand navbar-light bg-white topbar static-top" style="height:5rem !important" *ngIf="isLoginRoute  && url.includes('login')">
  <ng-container *ngIf="defaultAppName !== 'SopanCMS'">
    <div class="container" id="header">
      <div class="" ><a><img
          src="../../assets/img/logo.png" class="d-block img-fluid"></a>
      </div>
      <div class="ml-auto" ><a><img
          src="../../assets/img/kaynes-logo.png" class="d-none d-md-block img-fluid"></a>
      </div>
    </div>
  </ng-container>
</nav>

<nav class="navbar navbar-expand navbar-light bg-white topbar static-top" *ngIf="isLoginRoute && !url.includes('login')">
  <div class="container">
        <!-- Sidebar - Brand-->
        <ng-container *ngIf="defaultAppName !== 'SopanCMS'">
        <a class="d-flex align-items-center justify-content-center">
        <img src="../../assets/img/logo.png" class="d-block img-fluid">
        </a>
        </ng-container>
        <!-- Sidebar - Brand -->
        <!-- <a class="d-flex justify-content-end" style="margin-right:7rem;">
        <img src="../../assets/img/kaynes-logo.png" class="d-none d-md-block img-fluid">
        </a> -->

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto" *ngIf="!url.includes('login')">

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <!-- <span>{{contextApp?.user.role}}</span>
              <br/>
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userData?.name}}</span> -->
              <!-- <span class="mr-2 d-none d-lg-block">
                <span class="text-gray-600">{{userData?.name}}</span>
              </span> -->
              <img class="img-profile rounded-circle mr-3" src="../../assets/img/user.png">
              <span class="d-none d-lg-block">
                 <span class="text-gray-600">{{userData?.name}}</span>
              </span>

              <!-- <img class="img-profile rounded-circle" src="../../assets/img/user.png"> -->
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="javascript:void(0)">
                <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="openChangePasswordModal()">
                <i class="fa fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                Change Password
              </a>
              <!-- <a class="dropdown-item" href="#">
                <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a> -->

              <!-- <ng-container  *ngIf="userData?.apps.length > 1">

              <a class="dropdown-item"
              [routerLink]="['applications', 'selection']" routerLinkActive="active" >
                <i class="fa fa-th-large fa-sm fa-fw mr-2 text-gray-400"></i>
                Change Application
              </a>
              <div class="dropdown-divider"></div>
              </ng-container> -->
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
      </div>
 </nav>

<app-reset-password [isFirstTimeLogin]="false" [loginData]="userData" (modalClose)="onModalClose()" *ngIf="isResetPassword"></app-reset-password>
