<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->
<div class="topnavbar bg-white py-2" >
  <div class="row">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"  (click)="openaddDeviceMethodModal()"
        [class.disabled]="deviceType.freeze">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary">Add Device Methods</span></a>
      </li>
    </ul>
    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
  </div>

  <div class="con-pad">
  <div class="table-responsive">
    <app-common-table [tableData]="deviceMethods" [tableConfig]="deviceMethodTableConfig" [isTableFilterSelected]="true"
    [isTableDataLoading]="isDeviceMethodsLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
  </div>

  <div class="modal right fade" id="addDeviceMethodModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="deviceMethodObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Method</h5>
        <button type="button" class="close" [disabled]="isCreateDeviceMethodLoading" (click)="onCloseThingsDeviceMethodModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Display Name:</label>
            <input type="text" class="form-control" id="display_name" name="display_name" [(ngModel)]="deviceMethodObj.name"
              placeholder="Enter Display Name">

          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Method Name:</label>

          <input list="encodings" class="form-control form-control-sm" name="name" [(ngModel)]="deviceMethodObj.method_name"
           (change)="onJSONKeyChange()" placeholder="Enter Method Name" [disabled]="deviceMethodObj.edit">
          <datalist id="encodings">
              <option [ngValue]="item" *ngFor="let item of deviceMethodsList">{{item}}</option>
          </datalist>
          </div>
          <ng-container *ngFor="let param of deviceMethodObj.json_model.params; let i = index;" >
          <div class="form-group">
            <label for="message-text" class="col-form-label ">Parameter <a *ngIf="i === 0"
              class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm ml-2"
              href="javascript:void(0)" (click)="addParameter()"
              title="Add Property"
              ><i class="fa fa-plus fa-sm text-white"></i></a
            ></label>
            <input type="text"  class="form-control" id="title{{i}}" name="title{{i}}"
              [(ngModel)]="param.key" (change)="onParamKeyChange(i)"
                placeholder="Parameter Key">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Data Type:</label>
            <select class="custom-select" id="template{{i}}" name="model_type{{i}}" [(ngModel)]="param.data_type"
            (change)="onDataTypeChange(i)">
              <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
            </select>
          </div>
          </ng-container>
          <div class="form-group mr-3">
            <label for="message-text" class="col-form-label">JSON Model:</label>
            <!-- <textarea
              class="form-control"
              id="message"
              rows="10"
              placeholder="Please type your JSON here.."
              name="message"
              [defaultValue]="deviceMethodObj.json_model | json"
              disbaled
            ></textarea> -->
            <json-editor [options]="editorOptions" name="json"  [data]="deviceMethodObj.json_model">
            </json-editor>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" [disabled]="isCreateDeviceMethodLoading" (click)="onSavedeviceMethodObj()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateDeviceMethodLoading" (click)="onCloseThingsDeviceMethodModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateDeviceMethodLoading"></i>
      </div>
    </div>
    </div>
  </div>

  <div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedDeviceMethod">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View JSON Model</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('PropJSONModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre  [innerHTML]="selectedDeviceMethod.json_model | json"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCloseModal('PropJSONModal')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="confirmMessageModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Widget</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('confirmMessageModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this device method?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteDeviceMethod()">
            Ok</button>
          <button type="button" class="btn btn-secondary" (click)="onCloseModal('confirmMessageModal')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>
