<div class="tab-bar" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
    <ng-container *ngIf="!isHistoryAPILoading && layoutJson.length !== 0">Following Historical
        {{widgetStringFromMenu}}
        are already
        added.&nbsp;</ng-container>
    <ul class="nav">
        <li class="nav-item">
            <button class="btn btn-sm btn-primary mt-1" tooltip="Add Historical {{widgetStringFromMenu}}"
                (click)="onAdd()"><span class="fa fa-plus fa-sm"></span>
                Add</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-sm btn-success ml-2 mt-1" tooltip="Configure Dashboard {{widgetStringFromMenu}}"
                (click)="onOpenConfigureDashboardModal()"><span class="fa fa-cog fa-sm text-white"></span>
                Setting</button>
        </li>
    </ul>
</div>
<div class="table-responsive">

    <em *ngIf="isHistoryAPILoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></em>

    <p class="m-3" *ngIf="layoutJson.length === 0  && !isHistoryAPILoading">
        No Historical {{widgetStringFromMenu}} found.
    </p>
    <div class="tableFixHead modal-live-widget-container" id="mainChartDiv"
        *ngIf="layoutJson.length > 0  && !isHistoryAPILoading">

        <!-- <div id="layoutWidgetContainer" class="showLayout p-3">
        </div> -->
        <div>
            <div *ngFor="let chart of layoutJson">
                <div
                    *ngIf="chart.chartType=='Line Chart' || chart.chartType=='Area Chart' || chart.chartType=='Column Chart'">
                    <app-linechart *ngIf="chart?.telemetryData" [chartConfig]="chart"
                        [widgetStringFromMenu]="widgetStringFromMenu" [decodedToken]="decodedToken"
                        [chartTitle]="chartTitle" [hideCancelButton]="!assetModel.freezed"
                        [telemetryData]="chart?.telemetryData" [chartWidth]="chartWidth" [chartHeight]="chartHeight"
                        [isOverlayVisible]="true" (chart_Id)="onMenu($event)" [propertyList]="propertyList"
                        [asset]="asset" [assetModel]="assetModel"></app-linechart>
                </div>
                <div *ngIf="chart.chartType=='Bar Chart'">
                    <app-barchart *ngIf="chart?.telemetryData" [chartConfig]="chart"
                        [widgetStringFromMenu]="widgetStringFromMenu" [decodedToken]="decodedToken"
                        [chartTitle]="chartTitle" [hideCancelButton]="!assetModel.freezed"
                        [telemetryData]="chart?.telemetryData" [chartWidth]="chartWidth" [chartHeight]="chartHeight"
                        [isOverlayVisible]="true" (chart_Id)="onMenu($event)" [propertyList]="propertyList"
                        [asset]="asset" [assetModel]="assetModel"></app-barchart>
                </div>
                <div *ngIf="chart.chartType=='Pie Chart'">
                    <app-piechart *ngIf="chart?.telemetryData" [chartConfig]="chart"
                        [widgetStringFromMenu]="widgetStringFromMenu" [decodedToken]="decodedToken"
                        [chartTitle]="chartTitle" [hideCancelButton]="!assetModel.freezed"
                        [telemetryData]="chart?.telemetryData" [chartWidth]="chartWidth" [chartHeight]="chartHeight"
                        [isOverlayVisible]="true" (chart_Id)="onMenu($event)" [propertyList]="propertyList"
                        [asset]="asset" [assetModel]="assetModel"></app-piechart>
                </div>
                <div *ngIf="chart.chartType=='Vibration Damage Plot'">
                    <app-damageplotchart *ngIf="chart?.telemetryData" [chartConfig]="chart"
                        [widgetStringFromMenu]="widgetStringFromMenu" [decodedToken]="decodedToken"
                        [chartTitle]="chartTitle" [hideCancelButton]="!assetModel.freezed"
                        [telemetryData]="chart?.telemetryData" [chartWidth]="chartWidth" [chartHeight]="chartHeight"
                        [isOverlayVisible]="true" (chart_Id)="onMenu($event)" [propertyList]="propertyList"
                        [asset]="asset" [assetModel]="assetModel"></app-damageplotchart>
                </div>
                <div *ngIf="chart.chartType=='Data Table'">
                    <app-datatablechart *ngIf="chart?.telemetryData" [chartConfig]="chart"
                        [widgetStringFromMenu]="widgetStringFromMenu" [decodedToken]="decodedToken"
                        [chartTitle]="chartTitle" [hideCancelButton]="!assetModel.freezed"
                        [telemetryData]="chart?.telemetryData" [chartWidth]="chartWidth" [chartHeight]="chartHeight"
                        [isOverlayVisible]="true" (chart_Id)="onMenu($event)" [propertyList]="propertyList"
                        [asset]="asset" [assetModel]="assetModel"></app-datatablechart>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="showPopup" class="modal right fade" id="addHWidgetsModal" tabindex="-1" role="dialog"
    aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add {{widgetStringFromMenu}}</h5>
                <button type="button" class="close" [disabled]="isCreateWidgetAPILoading"
                    (click)="onCloseAddWidgetModal()" aria-label="Close">
                    <span aria-hidden="true" tooltip="Close">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="historicalWidgetForm" (ngSubmit)="submitHistorical()">
                    <div class="form-group">
                        <input type="text" id="chartTitle" class="form-control form-control-sm" name="chartTitle"
                            placeholder="Display Name" [ngClass]="{ 'is-invalid': submitted && f.chartTitle.errors }"
                            formControlName="chartTitle">
                        <div *ngIf="submitted && f.chartTitle.errors" style="color: red;" class="invalid-feedback">
                            <div *ngIf="f.chartTitle.errors.required">Display Name is required</div>
                            <div *ngIf="!f.chartTitle.errors.required && f.chartTitle.hasError('whitespace')">
                                Display Name can't contain
                                leading or trailing whitespaces.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ng-select [items]="chartTypes" class="custom-dropdown sm" [clearable]="false"
                            [searchable]="true" [closeOnSelect]="true"
                            placeholder="Select {{widgetStringFromMenu}} Type" dropdownPosition="bottom"
                            name="asset-dropdown" (change)="onPopupWidgetTypeChange()"
                            formControlName="selectedChartType"
                            [ngClass]="{ 'is-invalid': submitted && f.selectedChartType.errors }">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <span [tooltip]="item"><em class="fa {{chartIcons[index]}}"></em>&nbsp;{{item}}</span>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && f.selectedChartType.errors" style="color: red;"
                            class="invalid-feedback">
                            <div *ngIf="f.selectedChartType.errors.required">please select
                                Chart Type
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ng-select [items]="filteredPropList" class="custom-dropdown sm"
                            (onDeSelectAll)="y1Deselect($event)" [searchable]="true" placeholder="Y1 Axis Props"
                            clearSearchOnAdd="true" [multiple]="true" bindLabel="json_key" [closeOnSelect]="false"
                            groupBy="type" dropdownPosition="bottom" name="widget-dropdown1"
                            (search)="onY1Search($event)" formControlName="y1AxisProps"
                            [ngClass]="{ 'is-invalid': submitted && f.y1AxisProps.errors }">
                            <ng-template ng-multi-label-tmp let-items="items">
                                {{items.length}} properties selected
                            </ng-template>
                            <ng-template ng-header-tmp>
                                <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                    <li *ngIf="y1AxisProps.length !== filteredPropList.length"> <a
                                            href="javascript:void(0)" (click)="onSelectAxis(1,true)">Select
                                            All</a></li>
                                    <li *ngIf="y1AxisProps.length === filteredPropList.length"> <a
                                            href="javascript:void(0)" (click)="onSelectAxis(1,false)">Deselect All</a>
                                    </li>
                                </ul>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                <span [tooltip]="item.name"> <em
                                        [ngClass]="{'icon icon-function': item.type === 'Edge Derived Properties' || item.type === 'Cloud Derived Properties'}"></em>
                                    {{item.name}}</span>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && f.y1AxisProps.errors" style="color: red;" class="invalid-feedback">
                            <div *ngIf="f.y1AxisProps.errors.required">please select
                                Y1 Axis Props
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="f.selectedChartType.value !== 'Vibration Damage Plot'">
                        <ng-select [items]="filteredPropList" class="custom-dropdown sm"
                            (onDeSelectAll)="y2Deselect($event)" [searchable]="true" placeholder="Y2 Axis Props"
                            clearSearchOnAdd="true" [multiple]="true" [closeOnSelect]="false" groupBy="type"
                            bindLabel="json_key" dropdownPosition="bottom" name="widget-dropdown2"
                            formControlName="y2AxisProps"
                            [ngClass]="{ 'is-invalid': submitted && f.y2AxisProps.errors }">
                            <ng-template ng-multi-label-tmp let-items="items">
                                {{items.length}} properties selected
                            </ng-template>
                            <ng-template ng-header-tmp>
                                <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                    <li *ngIf="y2AxisProps.length !== filteredPropList.length"> <a
                                            href="javascript:void(0)" (click)="onSelectAxis(2,true)">Select
                                            All</a></li>
                                    <li *ngIf="y2AxisProps.length === filteredPropList.length"> <a
                                            href="javascript:void(0)" (click)="onSelectAxis(2,false)">Deselect All</a>
                                    </li>
                                </ul>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                <span [tooltip]="item.name"> <em
                                        [ngClass]="{'icon icon-function': item.type === 'Edge Derived Properties' || item.type === 'Cloud Derived Properties'}"></em>
                                    {{item.name}}</span>
                            </ng-template>
                        </ng-select>
                        <div *ngIf="submitted && f.y2AxisProps.errors" style="color: red;" class="invalid-feedback">
                            <div *ngIf="f.y2AxisProps.errors.required">please select
                                Y2 Axis Props
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="visible" class="col-form-label mr-2">Dashboard Visibility:</label>
                        <input type="checkbox" name="visible" id="visible" formControlName="dashboardVisibility" />
                    </div>
                    <div class="modal-footer fixed-bottom bg-white">
                        <button type="submit" class="btn btn-primary add-row">Save</button>
                        <button type="button" class="btn btn-secondary"
                            [disabled]="assetModel.freezed || isCreateWidgetAPILoading"
                            (click)="onCloseAddWidgetModal()">Cancel</button>
                        <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateWidgetAPILoading"></em>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal right fade" id="configureHDashboardWidgetsModal" tabindex="-1" role="dialog"
    aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configure Dashboard {{widgetStringFromMenu}}</h5>
                <button type="button" class="close" [disabled]="isCreateWidgetAPILoading"
                    (click)="onCloseConfigureDashboardModal()" aria-label="Close">
                    <span aria-hidden="true" tooltip="Close">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">

                    <table class="table table-bordered table-striped" cellspacing="0" id="myFavTable">
                        <thead>
                            <tr class="bg-secondary text-white">
                                <th scope="col">Index</th>
                                <th scope="col" style="width: 45%">{{widgetStringFromMenu}} Name</th>
                                <th scope="col">
                                    <input type="checkbox" name="visibleall" id="visibleall"
                                        (change)="onClickOfCheckbox(0)" [(ngModel)]="isAllWidgestSelectedForHistorical"
                                        placement="bottom"
                                        [tooltip]="isAllWidgestSelectedForHistorical ? 'Deselect All' : 'Select All'" />
                                    <label for="visibleall" class="ml-2 mb-0">Visibility</label>
                                </th>
                                <th scope="col">
                                    <input type="checkbox" name="deleteall" id="deleteall"
                                        (change)="onClickOfCheckbox(1)"
                                        [(ngModel)]="isAllWidgestSelectedForDeleteHistorical" placement="bottom"
                                        [tooltip]="isAllWidgestSelectedForDeleteHistorical ? 'Deselect All' : 'Select All'" />
                                    <label for="deleteall" class="ml-2 mb-0">Delete</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of configureDashboardWidgets; let index = index">

                                <tr class=" cursor-move" id="{{item.dashboardVisibility ? item.chart_Id : ''}}"
                                    [ngClass]="{'favoriteOrderId': item.dashboardVisibility}">
                                    <td class="index">{{item.index}}</td>
                                    <td>{{item.title}}</td>
                                    <td><input type="checkbox" name="visible{{index}}" id="visible{{index}}"
                                            [(ngModel)]="item.dashboardVisibility"
                                            (change)="checkForAllWidgetVisibility(0)" /></td>
                                    <td><input type="checkbox" name="delete{{index}}" id="delete{{index}}"
                                            [(ngModel)]="item.isDelete" (change)="checkForAllWidgetVisibility(1)" />
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <div style="width: 52%;">
                    <button type="button" class="btn btn-primary add-row mr-1"
                        [disabled]="isCreateWidgetAPILoading || deleteBtn"
                        (click)="onSaveConfigureDashboardWidgets()">Save</button>
                    <button type="button" class="btn btn-secondary" [disabled]="isCreateWidgetAPILoading"
                        (click)="onCloseConfigureDashboardModal()">Cancel</button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateWidgetAPILoading"></em>
                </div>
                <div style="width: 40%;text-align: right;">
                    <button type="button" class="btn btn-danger add-row"
                        [disabled]="isCreateWidgetAPILoading || !deleteBtn"
                        (click)="openConfirmRemoveWidgetModal()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmRemoveWidgetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
        <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="bodyMessage" [headerMessage]="headerMessage"
            [modalConfig]="modalConfig" (modalEvents)="onModalEvents($event)"></app-confirm-modal>
    </div>
</div>