<div class="table-responsive table-wrapper" style="max-height: calc(100vh - 13rem)">

  <table  class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr class="bg-secondary text-white">
        <th  *ngFor="let item of tableConfig?.data;let i = index;" [ngClass]="{'w-10': !item.key,
        'w-15': ( tableConfig.type === 'alert' && item.name === 'Code' && i === 0), 'w-35': item.name === 'Timestamp'}">
          {{item.name}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="tableData.length > 0 && !isTableDataLoading && isTableFilterSelected">
        <tr *ngFor="let data of tableData" [ngClass]="{'bg-danger text-white': tableConfig.type === 'alert'
        && data?.severity?.toLowerCase() === 'critical'}">
          <td *ngFor="let header of tableConfig?.data" >
            <span *ngIf="header.key">
              <i class="fa fa-exclamation-triangle" *ngIf="tableConfig.type === 'alert' && header.key === 'code'" [style.color]="
                (data?.severity?.toLowerCase() === 'critical' ? '#cc0000' :
                (data?.severity?.toLowerCase() === 'error' ? '#fb5515' :
                (data?.severity?.toLowerCase() === 'warning' ? '#f6c23e' :
                (data?.severity?.toLowerCase() === 'informational' ? '#229954' : ''))
                )
                )" title="{{data?.severity}}"></i>&nbsp;{{data[header.key]}} </span>
            <a href="javascript:void(0)" *ngIf="!header.key" (click)="onClickOfButton(data, header.name)">
              <i class="fa fa-fw fa-eye" title="View {{tableConfig?.type}} message"
              [style.color]="(tableConfig.type === 'alert'  && data?.severity?.toLowerCase() === 'critical') ? 'white' : ''"></i>
            </a>
          </td>
        </tr>
      </ng-container>
    <ng-container *ngIf="tableData.length === 0 && !isTableDataLoading && isTableFilterSelected">
      <tr>
        <td colspan="6">No {{tableConfig.type}} data found.</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="tableData.length === 0 && !isTableDataLoading && !isTableFilterSelected">
      <tr>
        <td colspan="6">Select filter and press search button to load the {{tableConfig.type}} data.</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="isTableDataLoading">
      <tr>
        <td colspan="6">
          <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
        </td>
      </tr>
    </ng-container>
  </tbody>
  </table>
  <!-- <mat-table [dataSource]="tableData" class="mat-elevation-z8 table-device" *ngIf="tableData.length > 0">
    <ng-container matColumnDef="{{item.name}}" *ngFor="let item of tableConfig?.data">
      <mat-header-cell *matHeaderCellDef [ngClass]="{'w-10': !item.key}"> {{item.name}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="item.key">{{element[item.key]}} </span>
        <a *ngIf="!item.key" (click)="viewMessageEvent.emit(element)">
          <i class="fa fa-fw fa-eye" title="View {{tableConfig?.type}} message"></i>
        </a>
      </mat-cell>
    </ng-container>


    <mat-header-row class="bg-secondary text-white" *matHeaderRowDef="tableConfig?.headers; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableConfig?.headers;"></mat-row>
  </mat-table> -->
</div>
