<div class="tab-bar">
  <div class="d-flex d-flex align-items-center">
    <div class="h6 m-0 p-0">User Groups
      <ng-container *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
        <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="openCreateUserGroupModal()"
          placement="bottom" tooltip="Add User Group"><em class="fas fa-plus fa-sm"></em></button>
      </ng-container>
    </div>
  </div>
</div>
<div class="table-responsive">
  <div class="tableFixHead">
    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
    <!-- <h6 class="m-3" *ngIf="userGroups.length === 0 && !isUserGroupsAPILoading"> No User Groups available.</h6> -->
    <accordion [closeOthers]="true" class="p-3">
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <button class="btn" type="button">Client Field Support</button>
        </ng-container>
        This is a system group refering to asset recipients.
      </accordion-group>
      <ng-container *ngIf="userGroups.length > 0">
        <accordion-group heading="" [panelClass]="'customClass'" *ngFor="let userGroup of userGroups;let i = index"
          (click)="openAccordion(i)">
          <ng-container accordion-heading>
            <button class="btn" type="button">{{userGroup.group_name}}</button>
            <a class="float-right pull-right px-3 py-2 mr-3 close-btn" href="javascript:void(0)"
              *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
              (click)="openConfirmModal(userGroup)"><em class="fa fa-close" placement="left" tooltip="Remove User Group"></em></a>
          </ng-container>
          <accordion [closeOthers]="true" class="p-3" id="ac2">
            <accordion-group heading="" [panelClass]="'customClass1'">
              <ng-container accordion-heading>
                <a class="btn">
                  Email Recipients
                </a>
              </ng-container>
              <div class="row col-md-12">
                <div class="col-12  my-2 accordion-padding">
                  <p *ngIf="userGroup?.recipients?.email?.length === 0" class="mb-0"> No Email Recipients added yet.
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateUserGroups()"><em
                        class="fa fa-save fa-sm"></em></button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
                  </p>
                  <p *ngIf="userGroup?.recipients?.email?.length > 0;" class="mb-0"> Following Email Recipients have
                    been
                    added so far. You can add more.
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateUserGroups()"><em
                        class="fa fa-save fa-sm"></em></button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
                  </p>
                </div>
                <div class="col-12  my-2 accordion-padding"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
                  <div class="form-inline">
                    <ng-container>
                      <div class="form-group">
                        <input type="email" class="form-control form-control-sm small" min="0" name="Email"
                          placeholder="Email ID" [(ngModel)]="recipientemail[i]">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add"
                          (click)="addEmailRecipient(i)">
                          <em class="fa fa-plus fa-sm"></em></button>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 my-2 accordion-padding" *ngIf="userGroup?.recipients?.email?.length > 0">
                  <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
                    <ng-container *ngFor="let user of userGroup?.recipients?.email; let index = index">
                      <span class="tag">
                        <span class="tag-text">{{user}}</span>
                        <button class="tag-remove"
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                          (click)="removeEmailRecipient(index)"></button>
                      </span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group heading="" [panelClass]="'customClass1'">
              <ng-container accordion-heading>
                <a class="btn">
                  SMS Recipients
                </a>
              </ng-container>
              <div class="row col-md-12">
                <div class="col-12  my-2 accordion-padding">
                  <p *ngIf="userGroup?.recipients?.sms?.length === 0 || !userGroup?.recipients?.sms" class="mb-0"> No
                    SMS
                    Recipients added yet.
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateUserGroups()"><em
                        class="fa fa-save fa-sm"></em></button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
                  </p>
                  <p *ngIf="userGroup?.recipients?.sms?.length > 0" class="mb-0"> Following SMS Recipients have been
                    added
                    so far. You can add more.
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateUserGroups()"><em
                        class="fa fa-save fa-sm"></em></button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
                  </p>
                </div>
                <div class="col-12  my-2 accordion-padding"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
                  <div class="form-inline">
                    <ng-container>
                      <div class="form-group">
                        <ngx-intl-tel-input [enableAutoCountrySelect]="true" id="sms_{{i}}" [enablePlaceholder]="true"
                          name="user_no" [searchCountryFlag]="true" [cssClass]="'custom'" [(ngModel)]="recipientsms[i]"
                          [phoneValidation]="true" [inputId]="'recipientsms_' + i" [customPlaceholder]="'Enter SMS No'"
                          [selectedCountryISO]="countryISO.India" [maxLength]="15"
                          [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]">
                        </ngx-intl-tel-input>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add"
                          (click)="addSMSRecipient(i)">
                          <em class="fa fa-plus fa-sm"></em></button>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 my-2 accordion-padding" *ngIf="userGroup?.recipients?.sms?.length > 0">
                  <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
                    <ng-container *ngFor="let user of userGroup?.recipients?.sms; let index = index">
                      <span class="tag">
                        <span class="tag-text">{{user}}</span>
                        <button class="tag-remove"
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                          (click)="removeSMSRecipient(index)"></button>
                      </span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group heading="" [panelClass]="'customClass1'">
              <ng-container accordion-heading>
                <a class="btn">
                  Whatsapp Recipients
                </a>
              </ng-container>
              <div class="row col-md-12">
                <div class="col-12  my-2 accordion-padding">
                  <p *ngIf="userGroup?.recipients?.whatsapp?.length === 0 || !userGroup?.recipients?.whatsapp"
                    class="mb-0"> No Whatsapp Recipients added yet.
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateUserGroups()"><em
                        class="fa fa-save fa-sm"></em></button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
                  </p>
                  <p *ngIf="userGroup?.recipients?.whatsapp?.length > 0" class="mb-0"> Following Whatsapp Recipients
                    have
                    been added so far. You can add more.
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateUserGroups()"><em
                        class="fa fa-save fa-sm"></em></button>
                    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserGroupsAPILoading"></em>
                  </p>
                </div>
                <div class="col-12  my-2 accordion-padding"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
                  <div class="form-inline">
                    <ng-container>
                      <div class="form-group">
                        <!-- <input type="text" class="form-control form-control-sm bg-light small" min="0" name="whatsapp"
                        placeholder="whatsapp Number" [(ngModel)]="recipientwhatsapp"> -->
                        <ngx-intl-tel-input [enableAutoCountrySelect]="true" id="whatsapp_{{i}}"
                          [enablePlaceholder]="true" name="user_no" [searchCountryFlag]="true" [cssClass]="'custom'"
                          [(ngModel)]="recipientwhatsapp[i]" [phoneValidation]="true"
                          [inputId]="'recipientwhatsapp_' + i" [customPlaceholder]="'Enter Whatsapp No'"
                          [selectedCountryISO]="countryISO.India" [phoneValidation]="true" [maxLength]="15"
                          [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]">
                        </ngx-intl-tel-input>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add"
                          (click)="addWhatsappRecipient(i)">
                          <em class="fa fa-plus fa-sm"></em></button>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 my-2 accordion-padding" *ngIf="userGroup?.recipients?.whatsapp?.length > 0">
                  <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
                    <ng-container *ngFor="let user of userGroup?.recipients?.whatsapp; let index = index">
                      <span class="tag">
                        <span class="tag-text">{{user}}</span>
                        <button class="tag-remove"
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                          (click)="removeWhatsappRecipient(index)"></button>
                      </span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </accordion-group>
      </ng-container>
    </accordion>
  </div>
</div>

<div class="modal right fade" id="createUserGroupModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="isAddUserGroup">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User Group</h5>
        <button type="button" class="close" [disabled]="isCreateUserGroupAPILoading"
          (click)="onCloseCreateUserGroupModal()">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
        <div class="form-group">
          <label for="message-text" class="col-form-label required">User Group Name:</label>
          <input #user_group_name="ngModel" validateText type="text" class="form-control form-control-sm" name="user_group_name" id="user_group_name"
            placeholder="Enter User Group name" [(ngModel)]="groupObj.group_name" />
            <div *ngIf="user_group_name.errors?.whitespace && user_group_name.touched" class="alert-danger">
              Please enter valid group name.
            </div>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">Email Recipients:</label>
          <div class="" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
            <div class="form-inline">
              <ng-container>
                <div class="form-group col-11">
                  <input type="email" class="form-control form-control-sm small" min="0" name="Email"
                    placeholder="Email ID" [(ngModel)]="recipientemail['add']">
                </div>
                <div class="form-group col-1">
                  <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add"
                    (click)="addEmailRecipient('add')">
                    <em class="fa fa-plus fa-sm"></em></button>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="my-2" *ngIf="groupObj?.recipients?.email?.length > 0">
            <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
              <ng-container *ngFor="let user of groupObj?.recipients?.email; let index = index">
                <span class="tag">
                  <span class="tag-text">{{user}}</span>
                  <button class="tag-remove"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                    (click)="removeEmailRecipient(index)"></button>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">SMS Recipients:</label>
          <div class="" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
            <div class="form-inline">
              <ng-container>
                <div class="form-group col-11">
                  <ngx-intl-tel-input [enableAutoCountrySelect]="true" id="sms_add" [enablePlaceholder]="true"
                    name="user_no" [searchCountryFlag]="true" [cssClass]="'custom'" [(ngModel)]="recipientsms['add']"
                    [phoneValidation]="true" [inputId]="'recipientsms_' + 'add'" [customPlaceholder]="'Enter SMS No'"
                    [selectedCountryISO]="countryISO.India" [maxLength]="15"
                    [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]" style="width:100%">
                  </ngx-intl-tel-input>
                </div>
                <div class="form-group col-1">
                  <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add"
                    (click)="addSMSRecipient('add')">
                    <em class="fa fa-plus fa-sm"></em></button>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="my-2" *ngIf="groupObj?.recipients?.sms?.length > 0">
            <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
              <ng-container *ngFor="let user of groupObj?.recipients?.sms; let index = index">
                <span class="tag">
                  <span class="tag-text">{{user}}</span>
                  <button class="tag-remove"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                    (click)="removeSMSRecipient(index)"></button>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Whatsapp Recipients:</label>
          <div class="" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
            <div class="form-inline">
              <ng-container>
                <div class="form-group col-11">

                  <ngx-intl-tel-input [enableAutoCountrySelect]="true" id="whatsapp_add" [enablePlaceholder]="true"
                    name="user_no" [searchCountryFlag]="true" [cssClass]="'custom'"
                    [(ngModel)]="recipientwhatsapp['add']" [phoneValidation]="true"
                    [inputId]="'recipientwhatsapp_' + 'add'" [customPlaceholder]="'Enter Whatsapp No'"
                    [selectedCountryISO]="countryISO.India" [phoneValidation]="true" [maxLength]="15"
                    [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]" style="width:100%">
                  </ngx-intl-tel-input>
                </div>
                <div class="form-group col-1">
                  <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add"
                    (click)="addWhatsappRecipient('add')">
                    <em class="fa fa-plus fa-sm"></em></button>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="my-2" *ngIf="groupObj?.recipients?.whatsapp?.length > 0">
            <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
              <ng-container *ngFor="let user of groupObj?.recipients?.whatsapp; let index = index">
                <span class="tag">
                  <span class="tag-text">{{user}}</span>
                  <button class="tag-remove"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1"
                    (click)="removeWhatsappRecipient(index)"></button>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
     
      <div class="modal-footer fixed-bottom bg-white">
        <button type="button" class="btn btn-primary add-row" (click)="onCreateUserGroup()"
          [disabled]="!form.valid || isCreateUserGroupAPILoading">
          Save
          <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateUserGroupAPILoading"></em>
        </button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateUserGroupAPILoading"
          (click)="onCloseCreateUserGroupModal()">
          Cancel
        </button>
      </div>
      </form>
     </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this user group?'"
      [headerMessage]="'Remove User Group'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
