<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="isSettingsEditable = true;" *ngIf="!isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-edit"></i>
          <span class="text-secondary">Edit</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onCancelClick()" *ngIf="isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-close"></i>
          <span class="text-secondary">Cancel</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="saveSettings()" *ngIf="isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-save"></i>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item" *ngIf="isSaveSettingAPILoading">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <div class="tableFixHead">
    <accordion [closeOthers]="true" class="p-3">
      <accordion-group heading="">
        <ng-container accordion-heading>
          <a class="btn">
            Telemetry Frequency Operating Range (In Sec):
          </a>
        </ng-container>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td style="width: 50%;">Min Value: </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="device?.metadata.telemetry_frequency.min" name="min_frequency"
                  placeholder="Minimum Frequency" *ngIf="isSettingsEditable">
                <ng-container *ngIf="!isSettingsEditable"> {{device?.metadata?.telemetry_frequency?.min}}</ng-container>
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">Max Value: </td>
              <td>
                <ng-container *ngIf="!isSettingsEditable"> {{device?.metadata?.telemetry_frequency?.max}}</ng-container>
                <input type="number" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="device?.metadata.telemetry_frequency.max" name="max_frequency"
                  placeholder="Maximum Frequency" *ngIf="isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">Default Value: </td>
              <td>
                <ng-container *ngIf="!isSettingsEditable"> {{device?.metadata?.telemetry_frequency?.average}}
                </ng-container>
                <input type="number" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="device?.metadata.telemetry_frequency.average" name="avrg_frequency"
                  placeholder="Average Frequency" *ngIf="isSettingsEditable">
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>
      <accordion-group heading="">
        <ng-container accordion-heading>
          <a class="btn">
            Measurement Frequency Operating Range (In Sec):
          </a>
        </ng-container>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td style="width: 50%;">Min Value: </td>
              <td>
                <ng-container *ngIf="!isSettingsEditable"> {{device?.metadata?.measurement_frequency?.min}}
                </ng-container>
                <input type="number" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="device?.metadata.measurement_frequency.min" name="min_frequency"
                  placeholder="Minimum Frequency" *ngIf="isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">Max Value: </td>
              <td>
                <ng-container *ngIf="!isSettingsEditable"> {{device?.metadata?.measurement_frequency?.max}}
                </ng-container>
                <input type="number" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="device?.metadata.measurement_frequency.max" name="max_frequency"
                  placeholder="Maximum Frequency" *ngIf="isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">Default Value: </td>
              <td>
                <ng-container *ngIf="!isSettingsEditable"> {{device?.metadata?.measurement_frequency?.average}}
                </ng-container>
                <input type="number" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="device?.metadata.measurement_frequency.average" name="avrg_frequency"
                  placeholder="Average Frequency" *ngIf="isSettingsEditable">
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>
    </accordion>
  </div>
</div>
