<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="isSettingsEditable = true;" *ngIf="!isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-edit"></i>
          <span class="text-secondary">Edit</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onCancelClick()" *ngIf="isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-close"></i>
          <span class="text-secondary">Cancel</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="saveSettings()" *ngIf="isSettingsEditable"
          [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-save"></i>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item" *ngIf="isSaveSettingAPILoading">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <div class="tableFixHead">
    <accordion [closeOthers]="true" class="p-3">
      <accordion-group heading=""  [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Data Ingestion Setting
          </a>
        </ng-container>
        <div class="row col-md-12" *ngIf="device?.metadata">
          <input type="radio" class="mt-1" name="visible" value="changed" [disabled]="!isSettingsEditable"
            id="visible_1" [(ngModel)]="device.metadata.data_ingestion_settings.value" />
            <label class="form-label">&nbsp;Ingest Only Changed Properties</label> &nbsp;
            <input  class="mt-1" type="radio" name="visible" value="all" [disabled]="!isSettingsEditable"
            id="visible_2" [(ngModel)]="device.metadata.data_ingestion_settings.value" />
            <label class="form-label">&nbsp;Ingest All Properties</label> &nbsp;
        </div>
      </accordion-group>
      <accordion-group heading=""  [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Measurement Frequency Setting
          </a>
        </ng-container>
        <table class="table table-hover" *ngIf="device?.metadata">
          <tbody>
            <tr>
              <td style="width: 50%;">Measurement Frequency (In Sec): </td>
              <td>
                  <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                    [(ngModel)]="device.metadata.measurement_settings.measurement_frequency" name="frequency_in_normal"
                    placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>
      <accordion-group heading=""  [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Telemetry Mode Settings
          </a>
        </ng-container>
        <table class="table table-hover" *ngIf="device?.metadata">
          <tbody>
            <tr>
              <td style="width: 50%;">Normal mode Frequency (In Sec): </td>
              <td>
                  <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                    [(ngModel)]="device.metadata.telemetry_mode_settings.normal_mode_frequency" name="frequency_in_normal"
                    placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                    [(ngModel)]="device.metadata.telemetry_mode_settings.turbo_mode_frequency" name="frequency_in_turbo"
                    placeholder="Frequency" [disabled]="!isSettingsEditable">
              </td>
            </tr>
            <tr>
              <td >Turbo mode Timeout (In Sec): </td>
              <td>
                  <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                    [(ngModel)]="device.metadata.telemetry_mode_settings.turbo_mode_timeout_time" name="timeout_in_turbo"
                    placeholder="Timeout" [disabled]="!isSettingsEditable">
              </td>
            </tr>
          </tbody>
        </table>
      </accordion-group>
    </accordion>
  </div>
</div>
