<div class="topnavbar bg-white py-2" >
<div class="row">

  <ul class="nav">
    <!-- <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">
        <i class="fas fa-fw fa-eye"></i>
        <span class="text-secondary">View</span></a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="enableDevice()"  [class.disabled]="isAPILoading || device?.status?.toLowerCase() === 'enabled'">
        <i class="fas fa-fw fa-toggle-on"></i>
        <span class="text-secondary"> Enable</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="openConfirmDialog('Disable')"  [class.disabled]="isAPILoading || device?.status?.toLowerCase() === 'disabled'">
        <i class="fas fa-fw fa-toggle-off"></i>
        <span class="text-secondary"> Disable</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="openConfirmDialog('Delete')" [class.disabled]="isAPILoading">
        <i class="fas fa-fw fa-trash"></i>
        <span class="text-secondary delete-row">Delete</span></a>
    </li>
    <li *ngIf="isAPILoading">
      <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
    </li>
  </ul>


</div>
<div class="row mx-auto">
  <div class="col-lg-12">
    <hr class="solid">
  </div>
</div>
</div>
<div class="con-pad">
<div class="row mx-auto ">
    <p *ngIf="device?.status?.toLowerCase() === 'enabled' && device?.connection_state?.toLowerCase() === 'connected'">
      Currently, device is
      <span class="enabled-font">
        {{device?.status}} & {{device?.connection_state}}.</span>
    </p>
    <p *ngIf="device?.status?.toLowerCase() === 'enabled' && device?.connection_state?.toLowerCase() === 'disconnected'">
      Currently, device is
      <span class="enabled-font">
        {{device?.status}}</span>, but it is
        <span class="disabled-font">
          {{device?.connection_state}}</span>
    </p>
    <p *ngIf="device?.status?.toLowerCase() === 'disabled' && device?.connection_state?.toLowerCase() === 'disconnected'">
      Currently, device is
      <span class="disabled-font">
        {{device?.status}} & {{device?.connection_state}}.</span>
    </p>
  </div>
</div>
<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal
    [bodyMessage]="btnClickType === 'Disable' ? 'This device will be temporarily disabled. Are you sure you want to continue?' :
    'This device will be permanently deleted. Instead, you can temporarily disable the deivce.' +
    ' Are you sure you want to continue?'"
     [headerMessage]="btnClickType + ' Device'"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
