<div class="row" id="{{chartId}}" class="chartWidget">
  <div class="col-lg-12">
      <div class="card shadow mb-4 border-top-widget" id="card_{{chartId}}">
        <div class="card-header">
          <a href="#collapse_{{chartId}}" class="float-left py-3" data-toggle="collapse" role="button" >
              <h6 class="m-0 font-weight-bold text-primary">{{widgetTitle}}
              </h6>
          </a>
          <a *ngIf="initiatedFrom === 'device_type'" href="javascript:void(0)" (click)="openConfirmModal()" class="btn btn-card-tool close-icon" data-widget="remove" id="remove_{{chartId}}" title="Remove">
            <i class="fa fa-times"></i>
        </a>
      </div>
          <!-- <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">{{widgetTitle}}</h6>
              <div class="card-tools pull-right">
                  <button type="button" class="btn btn-card-tool" data-widget="collapse" id="collapse_{{chartId}}">
                      <i class="fa " [ngClass]="{'fa-plus':isCollapsed,'fa-minus':!isCollapsed}"></i>
                  </button>
                  <button type="button" class="btn btn-card-tool" data-widget="remove" id="remove_{{chartId}}">
                      <i class="fa fa-times"></i>
                  </button>
              </div>
          </div> -->
          <div class="collapse show" id="collapse_{{chartId}}">
              <div class="card-body">
                  <div class="chart-area chart">
                      <span *ngIf="type.indexOf('Pie')>=0" >Labels on Pie Slice  </span>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="type.indexOf('Pie')>=0">
                          <label class="btn btn-secondary active" (click)="changeSliceText('perc')">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked > Percentage
                          </label>
                          <label class="btn btn-secondary" (click)="changeSliceText('val')">
                            <input type="radio" name="options" id="option2" autocomplete="off" > Values
                          </label>
                        </div>
                      <div class="row">
                          <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
                          <span *ngIf="showError" class="badge badge-danger">{{errorMsg}}</span>
                          <div id="chartParent" class="col" [ngClass]="{'col-lg-6':showDataTable,'col-lg-12':!showDataTable}">
                              <google-chart  [data]="chartData" *ngIf="chartData.dataTable.length>0">
                              </google-chart>
                          </div>
                          <div class="col col-lg-6" *ngIf="showDataTable">
                              <google-chart [data]="chartDataTable" *ngIf="chartDataTable && chartDataTable.dataTable.length>0">
                              </google-chart>
                          </div>
                          <div class="overlay">
                              <div style="font-family:'Arial Black'; font-size: 40px;">Sample Chart</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /.card-body -->
      </div>
  </div>
</div>

<!-- coffee sold counter -->
<!-- device on/off pie chart % -->

<div class="modal fade" id="{{chartId}}confirmMessageModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Widget</h5>
        <button type="button" class="close"  aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this widget?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onRemoveChart(chartId)">
          Ok</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseModal()">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
