<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->
<div class="tab-bar" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
  <div class="">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openaddAssetMethodModal()"
          [class.disabled]="assetModel.freezed">
          <em class="fa fa-fw fa-plus"></em>
          <span class="text-secondary">Add Direct Method</span></a>
      </li>
    </ul>
    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
</div>

<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="assetMethods" [tableConfig]="assetMethodTableConfig" [isTableFilterSelected]="true"
      [isTableDataLoading]="isAssetMethodsLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>

<div class="modal right fade" id="addAssetMethodModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="assetMethodObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{assetMethodObj.edit ? 'Edit' : 'Add'}} Direct Method</h5>
        <button type="button" class="close" [disabled]="isCreateAssetMethodLoading"
          (click)="onCloseAssetsAssetMethodModal()" aria-label="Close">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Display Name:</label>
            <input type="text" class="form-control form-control-sm" id="display_name" name="display_name"
              [(ngModel)]="assetMethodObj.name" placeholder="Enter Display Name">

          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Method Name:</label>

            <input list="encodings" class="form-control form-control-sm" name="name"
              [(ngModel)]="assetMethodObj.method_name" (keypress)="onKeyPressAlphaNumericWithCharacters($event)" (change)="onJSONKeyChange()" placeholder="Enter Method Name"
              [disabled]="assetMethodObj.edit">
            <datalist id="encodings">
              <option [ngValue]="item" *ngFor="let item of assetMethodsList">{{item}}</option>
            </datalist>
          </div>
          <ng-container *ngFor="let param of assetMethodObj.json_model.params; let i = index;">
            <div class="form-group">
              <label for="message-text" class="col-form-label">Parameter </label>
              <a *ngIf="i === 0" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm  ml-2 mb-1"
                href="javascript:void(0)" (click)="addParameter()" placement="bottom" tooltip="Add Property"><em
                  class="fa fa-plus fa-sm text-white"></em></a>
              <a *ngIf="i !== 0" class="d-none d-sm-inline-block btn btn-sm btn-white shadow-sm  ml-2 mb-1"
                href="javascript:void(0)" (click)="removeParameter(i)" placement="bottom" tooltip="Remove Property"><em
                  class="fa fa-trash fa-sm"></em></a>
              <input type="text" class="form-control form-control-sm" id="title{{i}}" name="title{{i}}"
                [(ngModel)]="param.name" placeholder="Parameter Display Name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Parameter Key:</label>
              <input type="text" class="form-control form-control-sm" id="key{{i}}" name="key{{i}}"
                [(ngModel)]="param.key" (change)="onParamKeyChange(i)" placeholder="Parameter Key">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Data Type:</label>
              <select class="form-control form-control-sm" id="template{{i}}" name="model_type{{i}}"
                [(ngModel)]="param.data_type" (change)="onDataTypeChange(i)">
                <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
              </select>
            </div>
            <app-data-type-fields [obj]="param.json" *ngIf="param?.key && param?.data_type && param?.json">
            </app-data-type-fields>
            <hr>
          </ng-container>
          <!-- <div class="form-group mr-3">
            <label for="message-text" class="col-form-label">JSON Model:</label>
            <json-editor [options]="editorOptions" name="json" [data]="assetMethodObj.json_model">
            </json-editor>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAssetMethodLoading"
          (click)="onSaveassetMethodObj()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateAssetMethodLoading"
          (click)="onCloseAssetsAssetMethodModal()">Cancel</button>
        <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAssetMethodLoading"></em>
      </div>
    </div>
  </div>
</div>



<div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedAssetMethod?.json_model"
      [headerMessage]="'View JSON Model'" (modalEvents)="onJSONModalEvents($event)" [modalConfig]="modalConfig">
    </app-message-modal>
  </div>
</div>


<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this direct method?'"
      [headerMessage]="'Remove Direct Method'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
