<div class="row mx-auto">
  <div class="topnavbar bg-white py-2" style="margin-top: 3.1rem;">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-10 mb-12">
        <form>
          <div class="form-group form-inline my-1">
            <!-- <select  class="form-control form-control-sm mx-1 my-1" id="y1AxisProperty"
             [(ngModel)]="historyFilter.y1AxisProperty" name="y1AxisProperty">
              <option [ngValue]="undefined">Y1 Axis Property</option>
              <ng-container  *ngFor="let prop of propertyList">
              <option [ngValue]="prop"
                *ngIf="historyFilter?.y2AxisProperty !== prop">{{prop}}
                </option>
              </ng-container>
            </select>
            <select  class="form-control form-control-sm mx-1 my-1" id="y2AxisProperty"
             [(ngModel)]="historyFilter.y2AxisProperty" name="y2AxisProperty">
              <option [ngValue]="undefined">Y2 Axis Property</option>
              <ng-container  *ngFor="let prop of propertyList">
                <option [ngValue]="prop"
                  *ngIf="historyFilter?.y1AxisProperty !== prop">{{prop}}
                  </option>
                </ng-container>
            </select> -->
            <!-- <ng-select class="custom w-16 mx-1 my-1"  id="y1AxisProperty"
            [(ngModel)]="historyFilter.y1AxisProperty" name="y1AxisProperty" [items]="propertyList"
            [multiple]="true" placeholder="Y1 Axis Property" [searchable]="true">
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                <span class="ng-value-label select-item" title="{{item}}">{{item}}</span>

              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">+ {{items.length - 1}}</span>
              </div>
            </ng-template>
            </ng-select>
            <ng-select class="custom w-16 mx-1 my-1"  id="y2AxisProperty"
            [(ngModel)]="historyFilter.y2AxisProperty" name="y2AxisProperty" [items]="propertyList"
            [multiple]="true" placeholder="Y2 Axis Property" [searchable]="true">
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                <span class="ng-value-label">{{item}}</span>

              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">+ {{items.length - 1}}</span>
              </div>
            </ng-template>
            </ng-select> -->
            <!-- <angular2-multiselect *ngIf="isLayout" [data]="dropdownPropList" id="y1AxisProperty" [(ngModel)]="y1AxisProps"
              name="y1AxisProperty" [settings]="{
                text: 'Select Y1 Axis',
                selectAllText: 'Select All',
                unSelectAllText: 'UnSelect All',
                classes: 'custom-class',
                enableSearchFilter: true,
                badgeShowLimit: 1,
                maxHeight: 200,
                labelKey: 'id'
              }">
            </angular2-multiselect> -->

            <input type="text" id="chartTitle" class="form-control form-control-sm col-xl-3 col-lg-3 mr-2" name="chartTitle"
              placeholder="Display Name" [(ngModel)]="chartTitle" *ngIf="isLayout">
            <div class=" dropdown chartTypeDropdown col-xl-3 col-lg-3 mr-2 p-0 form-control form-control-sm" *ngIf="isLayout">
              <button class="btn btn-default dropdown-toggle col-xl-12 col-lg-12 col-md-12 pb-0 pt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedChartType}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" *ngFor="let item of chartTypes;let i=index" (click)="setChartType(i)">
                  <i class="fa {{chartIcons[i]}} chartTypeIcon"></i>
                  {{item}}
                </a>
              </div>
            </div>
            <input class="form-control form-control-sm col-xl-3 col-lg-3 mr-2" type="text" *ngIf="isLayout"
              placeholder="X-Axis parameter" id="xAxisProperty" [(ngModel)]="xAxisProps" name="xAxisProperty">
          </div>
          <div class="form-group form-inline my-1">
            <input class="form-control form-control-sm col-xl-3 col-lg-3 mr-2 ml-1"  type="text" *ngIf="isLayout"
              placeholder="Comma separated list of Y1 parameters" id="y1AxisProperty" [(ngModel)]="y1AxisProps"
              name="y1AxisProperty">
            <!-- <angular2-multiselect *ngIf="isLayout" [data]="dropdownPropList" id="y2AxisProp" [(ngModel)]="y2AxisProp" name="y2AxisProp"
              [settings]="{
                text: 'Select Y2 Axis',
                selectAllText: 'Select All',
                unSelectAllText: 'UnSelect All',
                classes: 'custom-class ml-1',
                enableSearchFilter: true,
                badgeShowLimit: 1,
                maxHeight: 200,
                labelKey: 'id'
              }">
            </angular2-multiselect> -->
            <input class="form-control form-control-sm col-xl-3 col-lg-3 mr-2" type="text" *ngIf="isLayout"
              placeholder="Comma separated list of Y2 parameters" id="y2AxisProperty" [(ngModel)]="y2AxisProp"
              name="y2AxisProperty">

            <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
              [(ngModel)]="historyFilter.dateOption" name="dateOptions" (change)="onDateOptionChange()"
              *ngIf="!isLayout">
              <option [ngValue]="undefined">Date Options</option>
              <option [ngValue]="'5 mins'">Last 5 minutes</option>
              <option [ngValue]="'30 mins'">Last 30 minutes</option>
              <option [ngValue]="'1 hour'">Last 1 hour</option>
              <option [ngValue]="'24 hour'">Last 24 hours</option>
              <!-- <option [ngValue]="'custom'">>Custom</option> -->
            </select>
            <ng-container *ngIf="!isLayout">
              <!-- <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-date-range-input [rangePicker]="picker" class="form-control form-control-sm mx-1 my-1 w-11">
                <input matStartDate [(ngModel)]="historyFilter.from_date" name="from_date">
                <input matEndDate [(ngModel)]="historyFilter.to_date" name="to_date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
              <input [owlDateTime]="dt1" [selectMode]="'range'"
              (dateTimeChange)="onDateChange($event)" class="form-control form-control-sm mx-1 my-1 col-md-3" [owlDateTimeTrigger]="dt1" placeholder="Select Date Time">
              <span [owlDateTimeTrigger]="dt1" class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt1></owl-date-time>
            </ng-container>

            <button *ngIf="isLayout" type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Add Chart"
              (click)="addChart()"><i class="fas fa-plus fa-sm"></i></button>
            <button *ngIf="isLayout" type="button" class="btn btn-success btn-sm mx-1 my-1" title="Save"
              (click)="openSaveLayoutModal()"><i class="fa fa-save fa-sm"></i></button>
            <button *ngIf="!isLayout" type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search"
              (click)="renderLayout()"><i class="fas fa-search fa-sm"></i></button>
              <button *ngIf="isLayout" type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Render"
              (click)="renderLayout()"><i class="fas fa-envelope-open fa-sm"></i></button>
            <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear" (click)="clear()"><i
                class="fas fa-trash  fa-sm"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-8 mb-12">
        <div>
          <!-- <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>-->
          <!-- <google-chart *ngIf="lineGoogleChartData.dataTable.length > 1 && !isHistoryAPILoading" [data]="lineGoogleChartData">
          </google-chart> -->
          <hr class="solid mb-4">
          <h6 *ngIf="historyData.length === 0 && isFilterSelected && !isHistoryAPILoading">No data found.</h6>
          <!-- <h6 *ngIf="historyData.length === 0 && !isFilterSelected && !isHistoryAPILoading">
            Select filter and press search button to load the chart.
            Create layout and press search button to load the charts
          </h6> -->
          <h6 *ngIf="layoutJson.length==0">
            No Layout found
          </h6>
          <i *ngIf="isHistoryAPILoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
          <div id="widgetContainer" class="row chartsContainer" [ngClass]="{'show':!isLayout,'hide':isLayout}">

          </div>
          <div id="layoutWidgetContainer" class="row chartsContainer" [ngClass]="{'show':isLayout,'hide':!isLayout}">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal right fade" id="saveLayoutModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Layout</h5>
        <button type="button" class="close" (click)="closeSaveLayoutModal()" aria-label="Close"
          >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" >
            <label for="message-text" class="col-form-label">Select Hierarchy:</label>
            <select class="custom-select" id="hierarchy" name="hierarchy" [(ngModel)]="selectedHierarchy">
              <!-- <option [ngValue]="tag" *ngFor="let tag of hierarchyItem.tags">{{tag}}</option> -->
              <option [ngValue]="hierarchyItem.name" *ngFor="let hierarchyItem of appData.hierarchy; let hIndex = index">{{hierarchyItem.name}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" 
          (click)="saveLayout()">Save</button>
        <button type="button" class="btn btn-secondary" 
          (click)="closeSaveLayoutModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>