<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item" [ngClass]="{'active': displayMode === 'events'}">
        <a class="nav-link" href="javascript:void(0)" (click)="onTabChange('events');displayMode = 'events'">
          <i class="fa fa-fw fa-angle-right"></i>
          <span>TBF Events</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': displayMode === 'history'}">
        <a class="nav-link" href="javascript:void(0)" (click)="onTabChange('history');displayMode = 'history'">
          <i class="fa fa-fw fa-eye"></i>
          <span>Historical MTBF</span></a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-bar" *ngIf="displayMode === 'events' || displayMode === 'history'">
  <div class="">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm active" daterangepicker name="daterangeInput"
          [options]="options" (selected)="selectedDate($event, daterange)" />
      </div>
      <div class="form-group">
        <select class="form-control form-control-sm active" id="date_frequency"
              [(ngModel)]="filterObj.date_frequency" name="date_frequency" >
                <option [ngValue]="undefined">Frequency </option>
                <option [ngValue]="'daily'">Daily</option>
                <option [ngValue]="'weekly'">Weekly</option>
              </select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm searchBtn btn-primary" title="Search"
          (click)="searchMTBFEvents(this.filterObj)"><i class="fa fa-search fa-sm"></i></button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm searchBtn btn-primary" title="Clear Filters" (click)="clear();">
          <img class="filter-clear-icon" src="./assets/img/filter.svg"></button>
      </div>
      <h6 class="pull-right" *ngIf="avrgMTBF && avrgMTBF > 0 && isFilterSelected"><b> MTBF: {{avrgMTBFString}}</b></h6>
    </form>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead">

    <ng-container *ngIf="displayMode === 'events'">
      <table class="table table-hover">
        <thead>
          <th></th>
          <th>Date</th>
          <th>TBF (Asset Uptime)</th>
        </thead>
        <!-- <tfoot *ngIf="avrgMTBF && avrgMTBF > 0 && isFilterSelected">
                <tr>
                  <td class="text-right" colspan="3"> MTBF</td>
                  <td colspan="2">{{avrgMTBFString}}</td>
                </tr>
              </tfoot> -->
        <tbody>
          <ng-container *ngIf="lifeCycleEvents.length > 0 && isFilterSelected">
            <tr *ngFor="let event of lifeCycleEvents; let i = index">
              <td>{{i + 1}}</td>
              <td *ngIf="originalFilterObj.date_frequency === 'weekly'">{{event.local_event_start_time}} to
                {{event.local_event_end_time}}</td>
              <td *ngIf="originalFilterObj.date_frequency === 'daily'">{{event.local_event_start_time}}</td>
              <td>{{event.mtbfString}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected">
            <tr>
              <td colspan="5">
                No TBF data found.
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">
            <tr>
              <td colspan="5">Select filter and press search button to load the TBF data.</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="isLifeCycleEventsLoading">
            <tr>
              <td colspan="5">
                <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="displayMode === 'history'">
      <ng-container *ngIf="isLifeCycleEventsLoading"> <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i></ng-container>
      <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">Select filter
        and press search button to load the TBF data.</ng-container>
      <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected"> No MTBF Data
        found.</ng-container>
      <div id="chartdiv" *ngIf="!isLifeCycleEventsLoading && lifeCycleEvents.length > 0"
        [ngStyle]="{'width': '100%', 'height': '26rem'}"></div>
    </ng-container>

  </div>
</div>
