<div class="tab-bar">
  <div class="">
<app-filter [filterObj]="filterObj" [componentState]="componentState" (filterSearch)="search($event)"></app-filter>
</div>
</div>

<app-notification *ngIf="originalFilterObj?.source === 'Notification' && device" [componentState]="componentState" [device]="device" [notificationFilter]="filterObj" ></app-notification>
<app-heartbeat *ngIf="originalFilterObj?.source === 'Heratbeat' && device" [componentState]="componentState" [device]="device" [heartBeatFilter]="filterObj"></app-heartbeat>
<app-rdmdevice-control-panel-error *ngIf="originalFilterObj?.source === 'Error' && device" [componentState]="componentState" [device]="device" [errorFilter]="filterObj">
</app-rdmdevice-control-panel-error>
<app-others *ngIf="originalFilterObj?.source === 'Other' && device" [device]="device" [otherFilter]="filterObj" [componentState]="componentState"></app-others>
<app-battery-messages *ngIf="originalFilterObj?.source === 'Battery' && device" [componentState]="componentState" [device]="device" [batteryMessageFilter]="filterObj">
</app-battery-messages>
