<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Cloud')"
          [ngClass]="{'active': selectedTab === 'Cloud'}">
          <i class="fa fa-fw fa-cloud"></i>
          Cloud Rules</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Edge')"
          [ngClass]="{'active': selectedTab === 'Edge'}">
          <i class="fab fa-fw fa-edge"></i>
          Edge Rules</a>
      </li> -->
      <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1">
        <a class="nav-link" (click)="addRule()" href="javascript:void(0)" [class.disabled]="assetModel.freezed"
          [ngClass]="{'active': isAddRule }">
          <i class="fa fa-fw fa-plus"></i>
          Add</a>
      </li>
      <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1">
        <a class="nav-link" (click)="cloneRule()" href="javascript:void(0)" [class.disabled]="assetModel.freezed"
          [ngClass]="{'active': isCloneRule }">
          <i class="fa fa-fw fa-clone"></i>
          Clone</a>
      </li>
    </ul>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead">
    <div *ngIf="isAddRule">
      <div class="tab-bar">
        Enter below details to create a cloud or edge rule.
      </div>
      <app-add-rule [isModel]="true" [name]="assetModel.name" [isEdit]="isEdit" [ruleData]="ruleData"
        (onCloseRuleModel)="onCloseRuleModel($event)"></app-add-rule>
    </div>
    <div *ngIf="isCloneRule">
      <div class="tab-bar">
        Select a existing rule to clone.
      </div>
      <app-add-rule [isModel]="true" [name]="assetModel.name" [isEdit]="isEdit" [isClone]="isCloneRule"
        [ruleData]="ruleData" (onCloseRuleModel)="onCloseRuleModel($event)"></app-add-rule>
    </div>
    <div *ngIf="!isAddRule && !isCloneRule">
      <p class="tab-bar mb-0">Following rules will run on all assets of this model.</p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Updated On</th>
            <th scope="col"*ngIf="selectedTab === 'Cloud'">Deployed On</th>
            <th scope="col"*ngIf="selectedTab === 'Edge'">Synced On</th>
            <!-- <th scope="col">Description</th> -->
            <!-- <th scope="col">Type</th> -->
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!isRulesLaoading && rules.length > 0">
            <ng-container *ngFor="let rule of rules; let i = index">
              <tr>
                <td class="pl-3">
                  <a href="javascript:void(0)" (click)="onToggleRows(i, rule, true)" class="mr-1">
                    <i [ngClass]="toggleRows[selectedTab + '_' + i] ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
                  </a>
                </td>
                <td>{{i + 1}}</td>
                <td>{{rule.name}}</td>
                <td>{{rule.code}}</td>
                <td>{{rule.local_updated_date}}</td>
                <td *ngIf="rule.type === 'Cloud'">{{rule.local_deployed_on ? rule.local_deployed_on :
                  'Not yet delployed'}}</td>
                <td *ngIf="rule.type === 'Edge'">{{rule.local_synced_on ? rule.local_synced_on :
                  'Not yet synced'}}</td>
                <!-- <td>{{rule.description}}</td> -->
                <!-- <td>{{rule.type}}</td> -->
                <td>
                  <a href="javascript:void(0)" (click)="onToggleRows(i, rule, true)" class="mr-1" placement="bottom"
                    tooltip="View">
                    <i class="fa fa-fw fa-eye"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="onToggleRows(i, rule, false, true)" class="mr-1"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 && rule.is_editable !== false"
                    [class.disabled]="assetModel.freezed" placement="bottom" tooltip="Edit">
                    <i class="fa fa-fw fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" (click)="onDeleteRule(rule)" class="mr-1"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 && rule.is_editable !== false"
                    placement="bottom" tooltip="Delete" [class.disabled]="assetModel.freezed">
                    <i class="fa fa-fw fa-trash"></i>
                  </a>
                  <ng-container *ngIf="rule.type === 'Cloud' ">
                    <a href="javascript:void(0)" (click)="deployRule(rule)" *ngIf="
              decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
              rule.is_editable !== false &&
              ( !rule.epoch_deployed_on || rule.epoch_updated_date - rule.epoch_deployed_on > 0)" placement="bottom"
                      tooltip="Deploy" [class.disabled]="assetModel.freezed">
                      <i class="fa fa-fw fa-sync"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="deployRule(rule, true)" *ngIf="
              decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
              rule.is_editable !== false &&
                ( rule.epoch_deployed_on && rule.epoch_updated_date - rule.epoch_deployed_on < 0)" placement="bottom"
                      tooltip="Revert" [class.disabled]="assetModel.freezed">
                      <i class="fa fa-fw fa-undo"></i>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="rule.type === 'Edge' ">
                    <a href="javascript:void(0)" (click)="deployEdgeRule(rule)" *ngIf="
                  decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                  rule.is_editable !== false &&
                  ( !rule.epoch_synced_on || rule.epoch_updated_date - rule.epoch_synced_on > 0)" placement="bottom"
                      tooltip="Sync" [class.disabled]="assetModel.freezed">
                      <i class="fa fa-fw fa-sync"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="deployEdgeRule(rule, true)" *ngIf="
                  decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                  rule.is_editable !== false &&
                    ( rule.epoch_synced_on && rule.epoch_updated_date - rule.epoch_synced_on < 0)" placement="bottom"
                      tooltip="Revert" [class.disabled]="assetModel.freezed">
                      <i class="fa fa-fw fa-undo"></i>
                    </a>
                  </ng-container>
                  <!-- <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isDeleteRuleLoading"></i> -->
                </td>
              </tr>
              <tr *ngIf="toggleRows[selectedTab + '_' + i]" style="background-color:#fdfeff;">
                <td colspan="7" class="accordion-border">
                  <div class="col-12  my-2 accordion-padding">
                    <app-add-rule [isModel]="true" [name]="assetModel.name" [isEdit]="isEdit" [isView]="isView"
                      [ruleData]="ruleData" (onCloseRuleModel)="onCloseRuleModel($event)"></app-add-rule>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <tr *ngIf="isRulesLaoading">
            <td colspan="7">
              <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
            </td>
          </tr>
          <tr *ngIf="!isRulesLaoading && rules.length === 0">
            <td colspan="7">No Rules available.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this rule?'"
      [headerMessage]="'Remove Rule'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
