<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Cloud')"
          [ngClass]="{'active': selectedTab === 'Cloud'}">
          <em class="fa fa-fw fa-cloud"></em>
          Cloud Rules</a>
      </li>
      <li class="nav-item" *ngIf="contextApp.app!='Indygo'">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Edge')"
          [ngClass]="{'active': selectedTab === 'Edge'}">
          <em class="fab fa-fw fa-edge"></em>
          Edge Rules</a>
      </li>
      <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1">
        <a class="nav-link" (click)="addRule()" href="javascript:void(0)" [class.disabled]="assetModel.freezed"
          [ngClass]="{'active': isAddRule }">
          <em class="fa fa-fw fa-plus"></em>
          Add</a>
      </li>
      <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1">
        <a class="nav-link" (click)="cloneRule()" href="javascript:void(0)" [class.disabled]="assetModel.freezed"
          [ngClass]="{'active': isCloneRule }">
          <em class="fa fa-fw fa-clone"></em>
          Clone</a>
      </li>
    </ul>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead">
    <div *ngIf="isAddRule">
      <div class="tab-bar">
        Enter below details to create a cloud or edge rule.
      </div>
      <app-add-rule [isModel]="true" [name]="assetModel.name" [isEdit]="isEdit" [ruleData]="ruleData"
        (onCloseRuleModel)="onCloseRuleModel($event)"></app-add-rule>
    </div>
    <div *ngIf="isCloneRule">
      <div class="tab-bar">
        Select a existing rule to clone.
      </div>
      <app-add-rule [isModel]="true" [name]="assetModel.name" [isEdit]="isEdit" [isClone]="isCloneRule"
        [ruleData]="ruleData" (onCloseRuleModel)="onCloseRuleModel($event)"></app-add-rule>
    </div>
    <div *ngIf="!isAddRule && !isCloneRule">
      <p class="tab-bar mb-0">Following rules will run on all assets of this model.</p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Updated On</th>
            <th scope="col" *ngIf="selectedTab === 'Cloud'">Deployed On</th>
            <th scope="col" *ngIf="selectedTab === 'Edge'">Synced On</th>
            <!-- <th scope="col">Description</th> -->
            <!-- <th scope="col">Type</th> -->
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="!isRulesLaoading && rules.length > 0">
            <ng-container *ngFor="let rule of rules; let i = index">
              <tr>
                <td class="pl-3">
                  <a href="javascript:void(0)"
                    (click)="toggleRows[selectedTab + '_' + i] && isView ? onToggleRows(i, rule, true, false, 'toggle') : onToggleRows(i, rule, true, false, 'notoggle')"
                    class="mr-1">
                    <em [ngClass]="toggleRows[selectedTab + '_' + i] ? 'fa fa-angle-up' : 'fa fa-angle-down'"></em>
                  </a>
                </td>
                <td>{{i + 1}}</td>
                <td>{{rule.name}}</td>
                <td>{{rule.code}}</td>
                <td>{{rule.local_updated_date}}</td>
                <td *ngIf="rule.type === 'Cloud'">
                  <div *ngIf="rule.rule_category!=='KPIX Analytics'">{{rule.local_deployed_on ? rule.local_deployed_on :
                  'Not yet delployed'}}</div><div *ngIf="rule.rule_category==='KPIX Analytics'">-</div></td>
                <td *ngIf="rule.type === 'Edge'">{{rule.local_synced_on ? rule.local_synced_on :
                  'Not yet synced'}}</td>
                <!-- <td>{{rule.description}}</td> -->
                <!-- <td>{{rule.type}}</td> -->
                <td>
                 <a href="javascript:void(0)"
                    (click)="toggleRows[this.selectedTab + '_' + i] && isView ? onToggleRows(i, rule, true, false, 'toggle') : onToggleRows(i, rule, true, false, 'notoggle')"
                    class="mr-1" placement="bottom" tooltip="View">
                    <em class="fa fa-fw fa-eye"></em>
                  </a>
                  <a href="javascript:void(0)"
                    (click)="toggleRows[this.selectedTab + '_' + i] && isEdit ? onToggleRows(i, rule, false, true, 'toggle') : onToggleRows(i, rule, false, true, 'notoggle')"
                    class="mr-1"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 && rule.is_editable !== false"
                    [class.disabled]="assetModel.freezed" placement="bottom" tooltip="Edit">
                    <em class="fa fa-fw fa-edit"></em>
                  </a>
                  <a href="javascript:void(0)" (click)="onDeleteRule(rule)" class="mr-1"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 && rule.is_editable !== false"
                    placement="bottom" tooltip="Delete" [class.disabled]="assetModel.freezed">
                    <em class="fa fa-fw fa-trash"></em>
                  </a>
                  <ng-container *ngIf="rule.type === 'Cloud' && rule.rule_category==='Stream Analytics'">
                    <a href="javascript:void(0)" (click)="deployRule(rule)" *ngIf="
              decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
              rule.is_editable !== false &&
              ( !rule.epoch_deployed_on || rule.epoch_updated_date - rule.epoch_deployed_on > 0)" placement="bottom"
                      tooltip="Deploy" [class.disabled]="assetModel.freezed">
                      <em class="fa fa-fw fa-sync"></em>
                    </a>
                    <a href="javascript:void(0)" (click)="deployRule(rule, true)" *ngIf="
              decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
              rule.is_editable !== false &&
                ( rule.epoch_deployed_on && rule.epoch_updated_date - rule.epoch_deployed_on < 0)" placement="bottom"
                      tooltip="Revert" [class.disabled]="assetModel.freezed">
                      <em class="fa fa-fw fa-undo"></em>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="rule.type === 'Cloud' && rule.rule_category==='KPIX Analytics'">
                    <a href="javascript:void(0)" (click)="deployRuleed(rule)" *ngIf="
                    decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                    rule.is_editable !== false &&
                    ( !rule.epoch_deployed_on)" placement="bottom"
                            tooltip="Click to Enable" [class.disabled]="assetModel.freezed">
                            <em class="fas fa-fw fa-toggle-off"></em>
                          </a>
                          <a href="javascript:void(0)" (click)="deployRuleed(rule, true)" *ngIf="
                    decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                    rule.is_editable !== false &&
                      ( rule.epoch_deployed_on)" placement="bottom"
                            tooltip="Click to Disable" [class.disabled]="assetModel.freezed">
                            <em class="fas fa-fw fa-toggle-on"></em>
                          </a>
                   </ng-container>
                  <ng-container *ngIf="rule.type === 'Edge' ">
                    <a href="javascript:void(0)" (click)="deployEdgeRule(rule)" *ngIf="
                  decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                  rule.is_editable !== false &&
                  ( !rule.epoch_synced_on || rule.epoch_updated_date - rule.epoch_synced_on > 0)" placement="bottom"
                      tooltip="Sync" [class.disabled]="assetModel.freezed">
                      <em class="fa fa-fw fa-sync"></em>
                    </a>
                    <a href="javascript:void(0)" (click)="deployEdgeRule(rule, true)" *ngIf="
                  decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                  rule.is_editable !== false &&
                    ( rule.epoch_synced_on && rule.epoch_updated_date - rule.epoch_synced_on < 0)" placement="bottom"
                      tooltip="Revert" [class.disabled]="assetModel.freezed">
                      <em class="fa fa-fw fa-undo"></em>
                    </a>
                  </ng-container>
                   <a href="javascript:void(0)"
                   (click)="onMappingRule(rule)" 
                    class="mr-1" placement="bottom" tooltip="Rule Mapping">
                     <em class="fa fa-fw fa-asterisk"></em>
                  </a>
                </td>
              </tr>
              <tr *ngIf="toggleRows[selectedTab + '_' + i]" style="background-color:#fdfeff;">
                <td colspan="7" class="accordion-border">
                  <div class="col-12  my-2 accordion-padding">
                    <app-add-rule [isModel]="true" [name]="assetModel.name" [isEdit]="isEdit" [isView]="isView"
                      [ruleData]="ruleData" [ruleTypee]="ruleType" (onCloseRuleModel)="onCloseRuleModel($event)"></app-add-rule>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <tr *ngIf="isRulesLaoading">
            <td colspan="7">
              <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
            </td>
          </tr>
          <tr *ngIf="!isRulesLaoading && rules.length === 0">
            <td colspan="7">No Rules available.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this rule?'"
      [headerMessage]="'Remove Rule'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>


<div class="modal right fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedrule" [headerMessage]="'Rule Mapping Model'"
      (modalEvents)="onJSONModalEvents($event)" [modalConfig]="modalConfig">
    </app-message-modal>
  </div>
</div>



<div class="modal right fade" id="RuleMappingModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rule Mapping for Rule {{selectedrule?.name}} - {{selectedrule?.code}} </h5>
        <button type="button" class="close"  aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ruleMappingBody">
        <form [formGroup]="ruleMappingForm">
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Select Rule For Mapping</label>
            <ng-select [items]="filteredRuleList"   [clearable]="false" [searchable]="true"
            bindLabel="name" [closeOnSelect]="true" placeholder="Select Rule" groupBy="type"
            [multiple]="true" dropdownPosition="bottom" name="selectedRuleList" id="selectedRuleList" bindValue="code"
            formControlName="selectedRuleList" required>
              <ng-template ng-option-tmp let-item="item">
                <span [tooltip]="item.name + ' - ' + item.code">
                  {{item.name}} - {{item.code}}
                </span>
              </ng-template>
            </ng-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button  [disabled]="isApiLoading || !this.ruleMappingForm.get('selectedRuleList')?.value" type="button" class="btn btn-primary" (click)="onSaveModal('save')">
          Save
          <em *ngIf="isApiLoading" class="fa fa-spinner fa-spin fa-fw"></em>
        </button>
        <button  type="button" class="btn btn-secondary" (click)="onCloseModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>