<div class="tab-bar">
  <div class="d-flex align-items-center">
    <div class="h6 m-0 p-0">Metadata
      <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Edit Tags" *ngIf="!isMetadataEditable"
      (click)="isMetadataEditable = true;"><i class="fa fa-edit"></i></a> -->
      <ng-container *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
        <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="isMetadataEditable = true;"
          *ngIf="!isMetadataEditable" placement="bottom" tooltip="Edit Metadata"><i
            class="fas fa-edit fa-sm"></i></button>
        <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isMetadataEditable"
      (click)="onCancelClick();"><i class="fa fa-times"></i></a> -->
        <button type="button" class="btn btn-sm searchBtn btn-secondary" (click)="onCancelClick()"
          *ngIf="isMetadataEditable" placement="bottom" tooltip="Cancel"><i class="fas fa-times fa-sm"></i></button>
      </ng-container>
    </div>
  </div>
</div>

<div class="tableFixHead table-responsive">
  <form #form="ngForm">
  <table class="table table-hover">
    <!--<thead>
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Employer</th>
      <th scope="col">Awards</th>
    </tr>
  </thead>-->
    <tfoot *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
      <tr>
        <th scope="col"colspan="3">
          <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="onSaveMetadata()"
            [disabled]="(!form.valid && (form.touched || !form.touched)) ||  saveMetadataAPILoading || isFileUploading || !isMetadataEditable">SAVE <i
              class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="saveMetadataAPILoading || isFileUploading"></i></button>
          <button type="button" class="btn btn-sm searchBtn btn-white ml-1" (click)="onCancelClick();"
            [disabled]="!isMetadataEditable">
            CANCEL</button>
        </th>

      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>App Name</td>
        <td>{{applicationData?.app}}</td>
      </tr>
      <tr>
        <td>App Description</td>
        <td>
          <ng-container *ngIf="!isMetadataEditable">{{applicationData?.metadata?.description ?
            applicationData?.metadata?.description : 'This application is designed to track assets & its data.'}}
          </ng-container>
          <div *ngIf="isMetadataEditable">
            <input #app_description="ngModel" validateText type="text" class="form-control form-control-sm w-75" name="app_description" id="app_description"
            [(ngModel)]="this.applicationData.metadata.description" [disabled]="!isMetadataEditable" >
            <div *ngIf="app_description.errors?.whitespace && app_description.touched" class="alert-danger">
              Please enter valid description.
            </div>
          </div>
        </td>
      </tr>
      <!-- <tr class="bg-white">
      <td>App Admin</td>
      <td>{{applicationData?.admin_email + ' (' + applicationData?.admin_name + ')'}}</td>
    </tr> -->
      <tr>

        <td>Header Logo</td>
        <td>
          <ng-container *ngIf="!isMetadataEditable">{{applicationData?.metadata?.header_logo ?
            applicationData?.metadata?.header_logo.name : 'Not yet uploaded'}}</ng-container>
          <!-- <input *ngIf="isMetadataEditable" type="file"  (change)="onHeaderLogoFileSelected($event.target.files)" #headerFileInput
        class="form-control" id="app_logo" name="app_logo" accept=".jpeg,.png,.svg,.jpg"> -->
          <div class="form-group input-group row col-4 p-0 m-0" *ngIf="isMetadataEditable">
            <div class="file-input form-control form-control-sm p-0 col-8">
              <input type="file" accept=".jpeg,.png,.svg,.jpg" id="header_logo" class="file"
                (change)="onFileSelected($event.target.files,'header_logo')">
              <label for="header_logo" class="overflow-text"
                [tooltip]="applicationData?.metadata?.header_logo?.name ? applicationData?.metadata?.header_logo.name : ''">
                {{applicationData?.metadata?.header_logo?.name ? applicationData?.metadata?.header_logo.name
                : 'Choose File'}}</label>
            </div>
            <div class="file-input form-control form-control-sm p-0 col-4" style="background-color:#ccc !important">
              <input type="file" accept=".jpeg,.png,.svg,.jpg" id="header_logo" class="file">
              <label for="header_logo" class="bg-secondary text-white">Browse</label>
            </div>
          </div>
        </td>
      </tr>
      <!-- <tr>
      <td>App Logo</td>
      <td>
        <ng-container *ngIf="!isMetadataEditable">{{applicationData?.metadata?.logo ? applicationData?.metadata?.logo.name : 'Not yet uploaded'}}</ng-container>
        <div class="form-group input-group row col-4 m-0" *ngIf="isMetadataEditable">
          <div class="file-input form-control form-control-sm p-0 col-8">
           <input type="file" accept=".jpeg,.png,.svg,.jpg" id="logo" class="file" (change)="onLogoFileSelected($event.target.files)">

           <label for="logo"  class="overflow-text" [tooltip]="applicationData?.metadata?.logo?.name ? applicationData?.metadata?.logo.name : ''">
             {{applicationData?.metadata?.logo?.name ? applicationData?.metadata?.logo.name : 'Choose File'}}</label>
          </div>
          <div class="file-input form-control form-control-sm p-0 col-4" style="background-color:#ccc !important">
          <input type="file" accept=".jpeg,.png,.svg,.jpg" id="logo" class="file" >
             <label for="logo" class="bg-secondary text-white">Browse</label>
          </div>
          </div>
      </td>
    </tr> -->
      <tr>
        <!--<td><a href="#">Work 3</a></td>-->
        <td>App Icon</td>
        <td>
          <ng-container *ngIf="!isMetadataEditable">{{applicationData?.metadata?.icon ?
            applicationData?.metadata?.icon.name : 'Not yet uploaded'}}</ng-container>
          <!-- <input  *ngIf="isMetadataEditable"  type="file"  (change)="onIconFileSelected($event.target.files)" #iconFileInput
        class="form-control" id="app_logo" name="app_logo" accept=".jpeg,.png,.svg,.jpg"> -->
          <div class="form-group input-group row col-4 p-0 m-0" *ngIf="isMetadataEditable">
            <!-- <label for="recipient-name" class="col-form-label required">Document:</label> -->
            <div class="file-input form-control form-control-sm p-0 col-8">
              <input type="file" accept=".jpeg,.png,.svg,.jpg" id="icon" class="file"
                (change)="onFileSelected($event.target.files,'icon')">
              <label for="icon" class="overflow-text"
                [tooltip]="applicationData?.metadata?.icon?.name ? applicationData?.metadata?.icon.name : ''">
                {{applicationData?.metadata?.icon?.name ? applicationData?.metadata?.icon.name : 'Choose File'}}</label>
            </div>
            <div class="file-input form-control form-control-sm p-0 col-4" style="background-color:#ccc !important">
              <input type="file" accept=".jpeg,.png,.svg,.jpg" id="icon" class="file">
              <label for="icon" class="bg-secondary text-white">Browse</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Default Map Point
        </td>
        <td>
          <div class="form-group input-group row col-4 p-0 m-0" >
            <ng-container *ngIf="applicationData.metadata?.latitude && applicationData.metadata?.longitude">
              <!-- {{latitude}} , {{longitude}} -->
              {{applicationData.metadata?.latitude}} , {{applicationData.metadata?.longitude}}
            </ng-container>
            <ng-container *ngIf="!applicationData.metadata?.latitude && !applicationData.metadata?.longitude && !isMetadataEditable">
              Not yet updated
            </ng-container>
            <a class="nav-link p-0 pl-2" href="javascript:void(0)" title="Update default map point" *ngIf="isMetadataEditable" (click)="openModal('changeLocationModal')">
              <i class="fa fa-fw fa-map-marker"></i>
              <span class="text-secondary delete-row">Change Asset Location</span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>

<div class="modal fade" id="changeLocationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Default Map Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="onModalClose('changeLocationModal')">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #locationform="ngForm">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
            value="latitude_longitude" [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios1">
            Enter Latitude Longitude
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="address"
            [(ngModel)]="changeLocationOption" (change)="onRadioChange()">
          <label class="form-check-label ml-2" for="exampleRadios2">
            Enter Address
          </label>
        </div>
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="address" [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios2">
            Enter Address
          </label>
        </div> -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="pick_from_map"
            [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios3">
            Pick Location From Map
          </label>
        </div>
        <ng-container *ngIf="changeLocationOption === 'address'">
          <div class="form-group mt-2 ">
            <label for="inputEmail4">Address:</label>
            <input placeholder="Search Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              class="form-control form-control-sm" #search>
          </div>
        </ng-container>
        <ng-container *ngIf="changeLocationOption === 'pick_from_map' || changeLocationOption === 'address'">
          <div class="mt-2">
            <agm-map #gm [latitude]="centerLatitude" [longitude]="centerLongitude" (mapReady)="mapReadyHandler($event)"
              [fitBounds]="true">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [agmFitBounds]="true">
              </agm-marker>
            </agm-map>
          </div>
        </ng-container>
        <ng-container *ngIf="changeLocationOption">
          <div class="form-row mt-2">
            <div class="form-group col-md-4 col-sm-6">
              <label for="inputEmail4">Latitude:</label>
              <input #latitude_value="ngModel" validateText type="text" class="form-control form-control-sm"
                [disabled]="changeLocationOption !== 'latitude_longitude'" [(ngModel)]="latitude"
                name="latitude" placeholder="Enter Latitude">
                <div *ngIf="latitude_value.errors?.whitespace && latitude_value.touched" class="alert-danger">
                  Please enter valid latitude.
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-6">
              <label for="inputPassword4">Longitude:</label>
              <input #longitude_value="ngModel" validateText type="text" class="form-control form-control-sm"
                [disabled]="changeLocationOption !== 'latitude_longitude'" [(ngModel)]="longitude"
                name="longitude" placeholder="Enter Longitude">
                <div *ngIf="longitude_value.errors?.whitespace && longitude_value.touched" class="alert-danger">
                  Please enter valid longitude.
                </div>
            </div>
          </div>
        </ng-container>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="(!locationform.valid &&
        (locationform.touched || !locationform.touched)) || !changeLocationOption"  (click)="setDefaultLocation()">
          Set Location</button>
        <button type="button" class="btn btn-white"
          (click)="onModalClose('changeLocationModal')">
          Cancel
        </button>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>