<div class="col-6">
<table class="table table-bordered table-striped" cellspacing="0">
  <!--<thead>
    <tr>
      <th>Project Name</th>
      <th>Employer</th>
      <th>Awards</th>
    </tr>
  </thead>-->
  <tfoot>
    <tr class="bg-transparent text-white">
      <th colspan="3">
        <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="onSaveMetadata()"
        [disabled]="saveMetadataAPILoading || isFileUploading">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="saveMetadataAPILoading || isFileUploading"></i></button>
        <button type="button" class="btn btn-white btn-sm mx-1 my-1"
        (click)="onCancelClick();">
        CANCEL</button>
      </th>

    </tr>
    </tfoot>
  <tbody>
      <tr>
      <td>App Name</td>
      <td>{{applicationData?.app}}</td>
    </tr>
    <tr class="bg-white">
      <td>App Admin</td>
      <td>{{applicationData?.admin_email + ' (' + applicationData?.admin_name + ')'}}</td>
    </tr>
    <tr>

      <td>Header Logo</td>
      <td>
        {{applicationData?.metadata?.header_logo ? applicationData?.metadata?.header_logo.name : 'Not yet uploaded'}}
        <input type="file"  (change)="onHeaderLogoFileSelected($event.target.files)" #headerFileInput
        class="form-control" id="app_logo" name="app_logo">
      </td>
    </tr>
    <tr>

      <td>App Logo</td>
      <td>{{applicationData?.metadata?.logo ? applicationData?.metadata?.logo.name : 'Not yet uploaded'}}
        <input  type="file"  (change)="onLogoFileSelected($event.target.files)" #logoFileInput
        class="form-control" id="app_logo" name="app_logo">
      </td>
    </tr>
    <tr class="bg-white">
      <!--<td><a href="#">Work 3</a></td>-->
      <td>App Icon</td>
      <td>{{applicationData?.metadata?.icon ? applicationData?.metadata?.icon.name : 'Not yet uploaded'}}
        <input type="file"  (change)="onIconFileSelected($event.target.files)" #iconFileInput
        class="form-control" id="app_logo" name="app_logo">
      </td>
    </tr>
  </tbody>
</table>
</div>
