<div class="blue-nav-bar">
    <div class="d-flex">
        <div class="d-flex">
            <div class="main-heading">{{tileData ? tileData['Title'] : ''}}</div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div class="tableFixHead" style="max-height: calc(100vh - 12.5rem)" id="table-wrapper">
        <table>
            <thead>
                <th>Device Id</th>
                <th>Type</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of nonProvisionedAssetsList">
                    <td>{{data.asset_id}}</td>
                    <td>{{data.type}}</td>
                    <td>{{data.status}}</td>
                    <td><i class="fa fa-edit fa-fw" (click)="editAssetModel(data);"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal right fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Edit Non Provisioned Asset
                </h5>
                <button type="button" class="close" (click)="closeAssetModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">App:</label>
                    <input type="text" class="form-control form-control-sm" id="app_name"
                        [defaultValue]="contextApp.app" disabled>
                </div>
                <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let hIndex = index">
                    <div class="form-group" *ngIf="hIndex !== 0">
                        <label for="message-text" class="col-form-label">{{level}}:</label>
                        <select class="form-control form-control-sm" id="hierarchy{{hIndex}}" name="hierarchy{{hIndex}}"
                            (change)="onChangeOfAddDeviceHierarchy(hIndex)" [(ngModel)]="configureHierarchy[hIndex]"
                            [disabled]="contextApp.user.hierarchy[level]">
                            <option [ngValue]="undefined"> Select {{level}}</option>
                            <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[hIndex]">{{tag}}</option>
                        </select>
                    </div>
                </ng-container>
                <div class="form-group">
                    <label for="message-text" class="col-form-label required">{{(tileData ? tileData.table_key : '')}}
                        Display Name:</label>
                    <input type="text" class="form-control form-control-sm" id="device_name" name="device_id"
                        [(ngModel)]="assetModel.display_name"
                        placeholder="Enter {{(tileData  ? tileData.table_key : '')}} Display Name">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label required">{{(tileData ? tileData.table_key : '')}}
                        Manager:</label>
                    <select class="form-control form-control-sm" id="user" name="user"
                        [(ngModel)]="assetModel.asset_manager">
                        <option [ngValue]="undefined">Select {{(tileData ? tileData.table_key : '')}} Manager
                        </option>
                        <option *ngFor="let user of appUsers" [ngValue]="user.user_email">{{user.user_name}}
                            ({{user.user_email}})
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label required">{{(tileData ? tileData.table_key : '')}}
                        Type:</label>
                    <select class="form-control form-control-sm" id="device_type" name="device_type"
                        [(ngModel)]="assetModel.asset_model">
                        <option [ngValue]="undefined"> Select {{(tileData ? tileData.table_key : '')}} Type</option>
                        <option *ngFor="let item of deviceTypes" [ngValue]="item.name">
                            {{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add-row" (click)="updateAsset();">Save</button>
                <button type="button" class="btn btn-secondary" (click)="closeAssetModal()">
                    Cancel
                </button>
                <!-- <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateDeviceAPILoading"></i> -->
            </div>
        </div>
    </div>
</div>