<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Tags</h1>
</div> -->
<div class="topnavbar bg-white py-2">
  <div class="row">

    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="updateDeviceTags()" [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-save"></i>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item" *ngIf="menuDetail?.accordion_value?.delete">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmdeleteTagsModal')" [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-trash"></i>
          <span class="text-secondary">Delete all</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmResetTagsModal')" [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-undo"></i>
          <span class="text-secondary delete-row">Revert Changes</span></a>
      </li>
      <li class="nav-item" *ngIf="isUpdateAPILoading">
      <a class="nav-link" href="javascript:void(0)">
        <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>

</div>

<div class="con-pad">

  <div class="row mt-1 mx-auto">

    <div class="col-xl-6 col-lg-7">
      <!-- Page Heading -->
      <h1 class="h6 mb-3 text-secondary-400">Reserved Tags:
        <a href="javascript:void(0)" title="Edit Tags" *ngIf="!isReservedTagsEditable" title="Edit"
          (click)="isReservedTagsEditable = true;"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0)" title="Cancel" *ngIf="isReservedTagsEditable" title="Cancel"
          (click)="isReservedTagsEditable = false;"><i class="fa fa-times"></i></a>
      </h1>


      <div class="table-responsive">
        <table class="table table-bordered  table-striped text-gray-800" id="dataTable" width="100%" cellspacing="0">

          <tbody>
            <tr>
              <td>{{tileData.value}} Display Name</td>
              <td>
                <ng-container *ngIf="!isReservedTagsEditable">{{device?.tags?.display_name}}</ng-container>
                <ng-container *ngIf="isReservedTagsEditable">
                  <input type="text" class="form-control form-control-sm bg-light border-0 small"
                    [(ngModel)]="device?.tags.display_name" name="display_name">
                </ng-container>
              </td>
            </tr>
            <tr >
              <td>Hierarchy</td>
              <td>{{device?.hierarchyString}}</td>
            </tr>
            <tr>
              <td>Created By</td>
              <td>{{device?.tags?.created_by}}</td>
            </tr>
            <tr>
              <td>Created On</td>
              <td>{{device?.tags?.local_created_date}}</td>
            </tr>

            <tr>
              <td>{{tileData.value}} Manager</td>
              <td><ul><li *ngFor="let user of device?.tags?.device_users_arr">{{user}}</li></ul></td>
            </tr>
            <tr>
              <td>Model</td>
              <td>{{device?.tags?.device_type}}</td>
            </tr>
            <tr>
              <td>Protocol</td>
              <td>{{device?.tags?.protocol}}</td>
            </tr>
            <tr>
              <td>Cloud Connectivity</td>
              <td>{{device?.tags?.cloud_connectivity}}</td>
            </tr>
            <tr *ngFor="let tag of deviceType?.tags?.reserved_tags">
              <td>{{tag.name}}</td>
              <td>
                <ng-container
                  *ngIf="!isReservedTagsEditable;else inputTemplate">
                  {{device?.tags[tag.key]}}
                </ng-container>
                <ng-template #inputTemplate>
                  <input type="text" class="form-control form-control-sm bg-light border-0 small"
                    [(ngModel)]="device?.tags[tag.key]" name="{{tag.name}}">
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xl-6 col-lg-5">
      <!-- Page Heading -->
      <div class="row col-12 d-sm-inline-block">
        <h1 class="h6 mb-3 text-secondary-800">Custom Tags:
          <a href="javascript:void(0)" title="Edit Custom Tags" *ngIf="!isCustomTagsEditable && deviceCustomTags.length > 1" (click)="isCustomTagsEditable = true;"><i class="fa fa-edit"></i></a>
      <a href="javascript:void(0)" title="Cancel" *ngIf="isCustomTagsEditable" (click)="isCustomTagsEditable = false;"><i class="fa fa-times"></i></a>
        </h1>

        <!-- <span class="float-right">
      <i class="fa fa-check mr-2" (click)="updateDeviceTags()"></i>
      <i class="fa fa-times " (click)="resetDeviceTags()"></i>
      </span> -->
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped text-black-800 table-striped" id="dataTable" width="100%"
          cellspacing="0">

          <tbody>
            <tr *ngFor="let tag of deviceCustomTags;let i = index">
              <ng-container *ngIf="!tag.editable; else lastRowTemplate">
                <ng-container *ngIf="!isCustomTagsEditable">
                  <td>{{tag.name}}</td>
                  <td>{{tag.value}}</td>
                </ng-container>
                <ng-container *ngIf="isCustomTagsEditable">
                  <td>
                    <input type="text" class="form-control bg-light border-0 small mr-3" aria-label="Search"
                      aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name" (focusout)="checkKeyDuplicacy(tag, i)">
                  </td>
                  <td><input type="text" class="form-control bg-light border-0 small mr-3" aria-label="Value"
                      aria-describedby="basic-addon3" [(ngModel)]="tag.value" name="value"></td>
                </ng-container>
              </ng-container>
              <ng-template #lastRowTemplate>
                <td>
                  <input type="text" class="form-control bg-light border-0 small mr-3" placeholder="Name"
                    aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                    (input)="onCustomTagInputChange()" (focusout)="checkKeyDuplicacy(tag, i)">
                </td>
                <td><input type="text" class="form-control bg-light border-0 small mr-3" placeholder="Value"
                    aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.value" name="value"
                    (input)="onCustomTagInputChange()"></td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="confirmResetTagsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal
    [bodyMessage]="'All the unsaved tags will get reverted. Are you sure you want to reset the tags?'"
     [headerMessage]="'Reset ' + this.tileData.value + ' Tags'"
      (modalEvents)="resetDeviceTags($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>


<div class="modal fade" id="confirmdeleteTagsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal
    [bodyMessage]="'All the custom tags will get deleted. Are you sure you want to delete the tags?'"
     [headerMessage]="'Delete ' + this.tileData.value + ' Tags'"
      (modalEvents)="deleteAllDeviceTags($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
