<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Tags</h1>
</div> -->

<div class="topnavbar bg-white py-2" >
  <button id="sidebar1ToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="onSideBarClick()">
    <i class="fa fa-bars"></i>
  </button>
  <div class="col-xl-12 col-lg-3  mx-auto">

    <ul class="nav ml-n4">
      <!-- <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fas fa-fw fa-eye"></i>
          <span class="text-secondary">View</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="updateDeviceTags()">
          <i class="fas fa-fw fa-save"></i>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="deleteAllDeviceTags()">
          <i class="fas fa-fw fa-trash"></i>
          <span class="text-secondary">Delete all</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="resetDeviceTags()">
          <i class="fas fa-fw fa-undo"></i>
          <span class="text-secondary delete-row">Revert Changes</span></a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
</div>
<div class="con-pad">

<div class="">

  <div class="">
    <!-- Page Heading -->
    <h1 class="h6 mb-3 text-secondary-400">Reserved Tags:</h1>


    <div class="table-responsive">
      <table class="table table-bordered  table-striped text-gray-800" id="dataTable" width="100%" cellspacing="0">

        <tbody>
          <!-- <tr>
            <td>Created By</td>
            <td>{{device?.tags?.created_by}}</td>
          </tr>
          <tr>
            <td>Created On</td>
            <td>{{device?.tags?.created_date}}</td>
          </tr>
          <tr>
            <td>Device Manager</td>
            <td>{{device?.tags?.device_manager}}</td>
          </tr>
          <tr>
            <td>Device Type</td>
            <td>{{device?.tags?.device_type}}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{device?.tags?.location}}</td>
          </tr>
          <tr>
            <td>Location Coordinates</td>
            <td>{{device?.tags?.location_coordinates}}</td>
          </tr>
          <tr>
            <td>Manufacturer</td>
            <td>{{device?.tags?.manufacturer}}</td>
          </tr>
          <tr>
            <td>Serial No</td>
            <td>{{device?.tags?.serial_number}}</td>
          </tr>
          <tr>
            <td>MAC ID</td>
            <td>{{device?.tags?.mac_address}}</td>
          </tr>
          <tr>
            <td>Protocol</td>
            <td>{{device?.tags?.protocol}}</td>
          </tr> -->
          <tr *ngFor="let tag of reservedTags">
            <td>{{tag.name}}</td>
            <td>
              <ng-container *ngIf="tag.key === 'created_date' || tag.key === 'created_by';else inputTemplate">
                {{device?.tags[tag.key]}}
              </ng-container>
              <ng-template #inputTemplate>
                <input type="text" class="form-control bg-light border-0 small"
                [(ngModel)]="device?.tags[tag.key]" name="{{tag.name}}">
              </ng-template>
            </td>
          </tr>
          <tr *ngFor="let tag of reservedTagsBasedOnProtocol">
            <td>{{tag.name}}</td>
            <td><input type="text" class="form-control bg-light border-0 small"
              [(ngModel)]="device?.tags[tag.key]" name="{{tag.name}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="">
    <!-- Page Heading -->
    <div class="row col-12 d-sm-inline-block">
      <h1 class="h6 mb-3 text-secondary-800">Custom Tags:</h1>
      <!-- <span class="float-right">
      <i class="fa fa-check mr-2" (click)="updateDeviceTags()"></i>
      <i class="fa fa-times " (click)="resetDeviceTags()"></i>
      </span> -->
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped text-black-800 table-striped" id="dataTable" width="100%" cellspacing="0">

        <tbody>
          <tr *ngFor="let tag of deviceCustomTags;">
            <ng-container *ngIf="!tag.editable; else lastRowTemplate">
            <td >{{tag.name}}</td>
            <td>{{tag.value}}</td>
            </ng-container>
            <ng-template #lastRowTemplate>
              <td>
                <input type="text" class="form-control bg-light border-0 small mr-3" placeholder="Name"
                aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name" (input)="onCustomTagInputChange()">
              </td>
              <td><input type="text" class="form-control bg-light border-0 small mr-3" placeholder="Value"
                aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.value" name="value"  (input)="onCustomTagInputChange()"></td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>
