<div class="tab-bar">
  <div class="">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="updateDeviceTags()"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-save"></i>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item" *ngIf="menuDetail?.accordion_value?.delete">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmdeleteTagsModal')"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-trash"></i>
          <span class="text-secondary">Delete all</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmResetTagsModal')"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-undo"></i>
          <span class="text-secondary delete-row">Revert Changes</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('changeLocationModal')"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-map-marker"></i>
          <span class="text-secondary delete-row">Change {{tileData.value}} Location</span></a>
      </li>
      <li class="nav-item" *ngIf="isUpdateAPILoading">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <div class="tableFixHead">
    <accordion [closeOthers]="true">
      <accordion-group heading="">
        <ng-container accordion-heading>
          <a class="btn">
            Reserved Tags
          </a>
        </ng-container>

            <h1 class="h6 mb-3 text-secondary-400">Reserved Tags:
              <a href="javascript:void(0)" title="Edit Tags" *ngIf="!isReservedTagsEditable" title="Edit"
                (click)="isReservedTagsEditable = true;"><i class="fa fa-edit"></i></a>
              <a href="javascript:void(0)" title="Cancel" *ngIf="isReservedTagsEditable" title="Cancel"
                (click)="isReservedTagsEditable = false;"><i class="fa fa-times"></i></a>
            </h1>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>{{tileData.value}} Display Name</td>
                  <td>
                    <ng-container *ngIf="!isReservedTagsEditable">{{device?.tags?.display_name}}</ng-container>
                    <ng-container *ngIf="isReservedTagsEditable">
                      <input type="text" class="form-control form-control-sm bg-light border-0 small"
                        [(ngModel)]="device?.tags.display_name" name="display_name">
                    </ng-container>
                  </td>
                </tr>
                <tr>
                  <td>Hierarchy</td>
                  <td>{{device?.hierarchyString}}</td>
                </tr>
                <tr>
                  <td>Created By</td>
                  <td>{{device?.tags?.created_by}}</td>
                </tr>
                <tr>
                  <td>Created On</td>
                  <td>{{device?.tags?.local_created_date}}</td>
                </tr>

                <tr>
                  <td>{{tileData.value}} Manager</td>
                  <td>
                    <ul>
                      <li *ngFor="let user of device?.tags?.device_users_arr">{{user}}</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Partition Key</td>
                  <td>{{device?.tags?.partition_key}}</td>
                </tr>
                <tr>
                  <td>Latitude</td>
                  <td>{{device?.tags?.latitude}}
                    <!-- <ng-container *ngIf="isReservedTagsEditable">
                    <input type="text" class="form-control form-control-sm bg-light border-0 small"
                      [(ngModel)]="device?.tags.latitude" name="latitude"  placeholder="Enter Latitude">
                  </ng-container> -->
                  </td>
                </tr>
                <tr>
                  <td>Longitude</td>
                  <td>{{device?.tags?.longitude}}
                    <!-- <ng-container *ngIf="isReservedTagsEditable">
                    <input type="text" class="form-control form-control-sm bg-light border-0 small"
                      [(ngModel)]="device?.tags.longitude" name="longitude" placeholder="Enter Longitude">
                  </ng-container> -->
                  </td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td>{{device?.tags?.device_type}}</td>
                </tr>
                <tr>
                  <td>Protocol</td>
                  <td>{{device?.tags?.protocol}}</td>
                </tr>
                <tr>
                  <td>Cloud Connectivity</td>
                  <td>{{device?.tags?.cloud_connectivity}}</td>
                </tr>
                <tr *ngFor="let tag of deviceType?.tags?.reserved_tags">
                  <td>{{tag.name}}</td>
                  <td>
                    <ng-container *ngIf="!isReservedTagsEditable;else inputTemplate">
                      {{device?.tags[tag.key]}}
                    </ng-container>
                    <ng-template #inputTemplate>
                      <input type="text" class="form-control form-control-sm bg-light border-0 small"
                        [(ngModel)]="device?.tags[tag.key]" name="{{tag.name}}">
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>

      </accordion-group>
      <accordion-group heading="">
        <ng-container accordion-heading>
          <a class="btn">
            Custom Tags
          </a>
        </ng-container>

            <h1 class="h6 mb-3 text-secondary-800">Custom Tags:
              <a href="javascript:void(0)" title="Edit Custom Tags"
                *ngIf="!isCustomTagsEditable && deviceCustomTags.length > 1" (click)="isCustomTagsEditable = true;"><i
                  class="fa fa-edit"></i></a>
              <a href="javascript:void(0)" title="Cancel" *ngIf="isCustomTagsEditable"
                (click)="isCustomTagsEditable = false;"><i class="fa fa-times"></i></a>
            </h1>
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">

              <tbody>
                <tr *ngFor="let tag of deviceCustomTags;let i = index">
                  <ng-container *ngIf="!tag.editable; else lastRowTemplate">
                    <ng-container *ngIf="!isCustomTagsEditable">
                      <td>{{tag.name}}</td>
                      <td>{{tag.value}}</td>
                    </ng-container>
                    <ng-container *ngIf="isCustomTagsEditable">
                      <td>
                        <input type="text" class="form-control-sm bg-light border-0 small mr-3" aria-label="Search"
                          aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                          (focusout)="checkKeyDuplicacy(tag, i)">
                      </td>
                      <td><input type="text" class="form-control-sm bg-light border-0 small mr-3" aria-label="Value"
                          aria-describedby="basic-addon3" [(ngModel)]="tag.value" name="value"></td>
                    </ng-container>
                  </ng-container>
                  <ng-template #lastRowTemplate>
                    <td>
                      <input type="text" class="form-control-sm bg-light border-0 small mr-3" placeholder="Name"
                        aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                        (input)="onCustomTagInputChange()" (focusout)="checkKeyDuplicacy(tag, i)">
                    </td>
                    <td><input type="text" class="form-control-sm bg-light border-0 small mr-3" placeholder="Value"
                        aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.value" name="value"
                        (input)="onCustomTagInputChange()"></td>
                  </ng-template>
                </tr>
              </tbody>
            </table>

      </accordion-group>

    </accordion>
  </div>
</div>


<div class="modal fade" id="confirmResetTagsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal
      [bodyMessage]="'All the unsaved tags will get reverted. Are you sure you want to reset the tags?'"
      [headerMessage]="'Reset ' + this.tileData.value + ' Tags'" (modalEvents)="resetDeviceTags($event)"
      [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>


<div class="modal fade" id="confirmdeleteTagsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="'All the custom tags will get deleted. Are you sure you want to delete the tags?'"
      [headerMessage]="'Delete ' + this.tileData.value + ' Tags'" (modalEvents)="deleteAllDeviceTags($event)"
      [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>


<div class="modal fade" id="changeLocationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change {{tileData.value}} Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="onModalClose('changeLocationModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
            value="latitude_longitude" [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios1">
            Enter Latitude Longitude
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="address"
            [(ngModel)]="changeLocationOption" (change)="onRadioChange()">
          <label class="form-check-label ml-2" for="exampleRadios2">
            Enter Address
          </label>
        </div>
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="address" [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios2">
            Enter Address
          </label>
        </div> -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="pick_from_map"
            [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios3">
            Pick Location From Map
          </label>
        </div>
        <ng-container *ngIf="changeLocationOption === 'address'">
          <div class="form-group mt-2 ">
            <label for="inputEmail4">Address:</label>
            <input placeholder="Search Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              class="form-control form-control-sm" #search>
          </div>
        </ng-container>
        <ng-container *ngIf="changeLocationOption === 'pick_from_map' || changeLocationOption === 'address'">
          <div class="mt-2">
            <agm-map #gm [latitude]="centerLatitude" [longitude]="centerLongitude" (mapReady)="mapReadyHandler($event)"
              [zoom]="zoom">
              <agm-marker [latitude]="device?.tags.latitude" [longitude]="device?.tags.longitude"></agm-marker>
            </agm-map>
          </div>
        </ng-container>
        <ng-container *ngIf="changeLocationOption">
          <div class="form-row mt-2">
            <div class="form-group col-md-4 col-sm-6">
              <label for="inputEmail4">Latitude:</label>
              <input type="text" class="form-control form-control-sm"
                [disabled]="changeLocationOption !== 'latitude_longitude'" [(ngModel)]="device?.tags.latitude"
                name="latitude" placeholder="Enter Latitude">
            </div>
            <div class="form-group col-md-4 col-sm-6">
              <label for="inputPassword4">Longitude:</label>
              <input type="text" class="form-control form-control-sm"
                [disabled]="changeLocationOption !== 'latitude_longitude'" [(ngModel)]="device?.tags.longitude"
                name="longitude" placeholder="Enter Longitude">
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="isUpdateAPILoading" (click)="updateDeviceTags()">
          Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isUpdateAPILoading"
          (click)="onModalClose('changeLocationModal')">
          Cancel
        </button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUpdateAPILoading"></i>
      </div>
    </div>
  </div>
</div>
