<div class="" id="intro" style="margin-top:3.5rem">
  <div class="row mr-0">
    <div class="col-lg-1 d-none d-lg-block"></div>
    <div class="col-lg-5 d-none d-lg-block align-self-center">
      <div class="text-center">
        <h5 class="h5 mb-3 text-white">{{uiMessages.LOGIN_TITLE}}</h5>
      </div>
      <div class="row justify-content-md-center"><img src="../../assets/img/rdm.png"></div>
    </div>
    <div class="col-md-2 col-lg-1"></div>
    <div class="col-md-8 col-lg-4">
      <div class="card o-hidden border-1 my-2"
        style="-moz-box-shadow: 0 0 3px #9fc0ef; -webkit-box-shadow: 0 0 3px #9fc0ef; box-shadow: 0 0 3px #9fc0ef;">
        <div class="card-body p-0">
          <div class="p-4 bg-primary">
            <div class="text-center">
              <h1 class="h4 mb-4" style="color:#1a5a9e">{{uiMessages.WELCOME}}!!</h1>
            </div>
            <form class="user" [formGroup]="loginForm" (submit)="onLogin()">
              <div class="form-group">
                <input type="email" class="form-control form-control-user bg-white" id="exampleInputEmail"
                  aria-describedby="emailHelp" placeholder="{{uiMessages.EMAIL_PLACEHOLDER}}" formControlName="email"
                  name="email">
                <div *ngIf="(loginForm.get('email').errors && loginForm.get('email').touched)" class="alert-danger">
                  <div *ngIf="loginForm.get('email').errors.required">
                    {{uiMessages.EMAIL_LABEL}} {{uiMessages.IS_REQUIRED}}
                  </div>
                  <div *ngIf="loginForm.get('email').errors.pattern">
                    {{uiMessages.EMAIL_LABEL}} {{uiMessages.IS_INVALID}}
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <input id="exampleInputPassword" type="{{this.isPasswordVisible ? 'text' : 'password'}}"
                    class="form-control form-control-user  bg-white" name="exampleInputPassword"
                    placeholder="{{uiMessages.PASSWORD_PLACEHOLDER}}" formControlName="password">
                  <i class="fa fa-fw  field-icon toggle-password" (click)="togglePasswordVisibility()"
                    [ngClass]="{'fa-eye' : !this.isPasswordVisible, 'fa-eye-slash': this.isPasswordVisible}"></i>
                  <div *ngIf="loginForm.get('password').errors &&  loginForm.get('password').touched"
                    class="alert-danger">
                    <div *ngIf="loginForm.get('password').errors.required">
                      {{uiMessages.PASSWORD_LABEL}} {{uiMessages.IS_REQUIRED}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox small">
                  <input type="checkbox" class="custom-control-input" id="customCheck" />
                  <label class="custom-control-label" for="customCheck">{{uiMessages.REMEMBER_ME}}</label>
                </div>
              </div>
              <button type="submit" style="background-color:#1a5a9e"
                class="btn btn-primary btn-user btn-block text-white "
                [disabled]="(!loginForm?.valid) || isLoginAPILoading">
                {{uiMessages.LOGIN_LABEL}}
                <i class="fa fa-fw fa-spinner fa-spin" *ngIf="isLoginAPILoading"></i>
              </button>
            </form>
            <hr>
            <div class="text-center">
              <a class="pointer" (click)="forgotPassword();">{{uiMessages.FORGOT_PASSWORD_LABEL}}?</a>
              <i class="fa fa-fw fa-spinner fa-spin" *ngIf="isForgotAPILoading"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-1"></div>
    </div>
  </div>

  <app-reset-password [isFirstTimeLogin]="true" [isForgotPassword]="false" (modalClose)="onResetModalClose()"
    [loginData]="loginForm.value" *ngIf="isResetPassword"></app-reset-password>
  <app-reset-password [isFirstTimeLogin]="true" [isForgotPassword]="true" (modalClose)="onResetModalClose()"
    [loginData]="loginForm.value" *ngIf="isForgotPassword"></app-reset-password>
