<div class="tab-bar">
    <div class="d-flex align-items-center">
        <div class="h6 m-0 p-0">Filter Settings
            <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Edit Tags" *ngIf="!isConfigEditable"
        (click)="isConfigEditable = true;"><em class="fa fa-edit"></em></a> -->
            <ng-container *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
                <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="isConfigEditable = true;"
                    *ngIf="!isConfigEditable" placement="bottom" tooltip="Edit Filter Settings"><em
                        class="fas fa-edit fa-sm"></em></button>
                <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isConfigEditable"
        (click)="onCancelClick();"><em class="fa fa-times"></em></a> -->
                <button type="button" class="btn btn-sm searchBtn btn-secondary" (click)="onCancelClick()"
                    *ngIf="isConfigEditable" placement="bottom" tooltip="Cancel"><em
                        class="fas fa-times fa-sm"></em></button>
            </ng-container>
        </div>
    </div>
</div>

<div class="tableFixHead table-responsive">
    <table class="table table-hover">
        <!--<thead>
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Employer</th>
        <th scope="col">Awards</th>
      </tr>
    </thead>-->
        <tfoot>
            <tr *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
                <th scope="col"colspan="3">
                    <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="onSaveMetadata()"
                        [disabled]="saveConfigAPILoading || !isConfigEditable">SAVE
                        <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="saveConfigAPILoading"></em></button>
                    <button type="button" class="btn btn-sm searchBtn btn-white ml-1" (click)="onCancelClick();"
                        [disabled]="!isConfigEditable">
                        CANCEL</button>
                </th>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Default Main Menu search duration
                </td>
                <td>
                    <ng-container *ngIf="!isConfigEditable">{{applicationData.metadata?.filter_settings?.search_duration}}</ng-container>
                    <app-date-range-picker *ngIf="isConfigEditable" [filterObj]="mainFilterObj"
                    (selectedDateApplyEmitter)="selectedDate($event,'search_duration')" id="search_duration"
                     [selectedDateRange]="applicationData.metadata?.filter_settings.search_duration" [options]="options">
                  </app-date-range-picker>
                </td>
            </tr>
            <tr>
                <td>Default Control Panel search duration
                </td>
                <td>
                    <ng-container *ngIf="!isConfigEditable">{{applicationData.metadata?.filter_settings?.search_duration_control_panel}}</ng-container>
                    <app-date-range-picker *ngIf="isConfigEditable" [filterObj]="controlPanelFilterObj"
                    (selectedDateApplyEmitter)="selectedDate($event,'search_duration_control_panel')" id="search_duration_control_panel"
                     [selectedDateRange]="applicationData.metadata?.filter_settings.search_duration_control_panel" [options]="options">
                  </app-date-range-picker>
                </td>
            </tr>
            <tr>
                <td>Default Record count
                </td>
                <td>
                    <ng-container *ngIf="!isConfigEditable">{{applicationData.metadata?.filter_settings?.record_count}}</ng-container>
                    <input type="number" class="form-control form-control-sm w-10" name="record_count" *ngIf="isConfigEditable" id="record_count" 
                    [(ngModel)]="applicationData.metadata?.filter_settings.record_count" min="10"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>