<div class="container" style="margin-top: 80px;">
    <div class="row text-center">
        <div class="col">
            <div class="card rounded-top total-gateway" style="border-bottom: 9px solid rgb(105, 100, 100);">
                <div class="card-body">
                    <h2 class="card-title">Total Gateway</h2>
                    <h1 class="font-weight-bold">{{countData.iot_assets}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-top online" style="border-bottom: 9px solid green;">
                <div class="card-body">
                    <h2 class="card-title">Online</h2>
                    <h1 class="font-weight-bold">{{countData.online}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-top offline">
                <div class="card-body" style="border-bottom: 9px solid #c10606f7;">
                    <h2 class="card-title">Offline</h2>
                    <h1 class="font-weight-bold">{{countData.offline}}</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="blue-nav-bar mt-3">
    <div class="d-flex align-items-center">
        <div class="main-heading pl-3">
            Gateway Monitoring&nbsp;
        </div>
       
        <!-- <button type="submit" class="btn btn-sm searchBtn btn-primary"  placement="bottom"
        tooltip="Add App"><em class="fas fa-plus fa-sm"></em></button> -->
        <div class="ml-auto">
            <div class="asset-nav-tabs">
                <nav>
                    <div class="nav nav-tabs nav-fill " id="nav-tab" role="tablist">
                        <!-- <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab"
                href="#" role="tab" aria-controls="nav-provisioned"
                aria-selected="true" >
                <em class="fab fa-mixcloud mr-2"></em>
                <span class="d-none d-md-inline-block">Provisioned</span></a>
              <a class="nav-item nav-link border-0" id="nav-profile-tab" data-toggle="tab"
                 href="#" role="tab"
                aria-controls="nav-unprovisioned" aria-selected="false" >
                <em class="fa fa-cloud mr-2" aria-hidden="true"></em>
                <span class="d-none d-md-inline-block">Un-Provisioned</span></a> -->
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-heading pr-3">
           {{countData.day_telemetry}} Telemetry/ Day | {{countData.total_telemetry}} &nbsp;
        </div>
    </div>
  
</div><br/>
<select class="col-sm-3 pl-3 form-control form-control-sm ml-3" [(ngModel)]="selectedApp" (change)="appName()">
    <option [ngValue]="undefined">Select App</option>
   <option value={{item}} *ngFor="let item of appsList">{{item}}</option>
</select>

<div *ngIf="!loader">
    <app-common-data-table [tableData]="applications" [tableConfig]="tableConfig"
      (btnClickEvent)="onTableFunctionCall($event)" ></app-common-data-table>

      <span class="pull-right mt-0 mr-1" *ngIf="!insideScrollFunFlag && applications.length > 0">
        <a href="javascript:;" class="mr-1"
            (click)="currentOffset = currentOffset + currentLimit;assetMonitor()"
            placement="bottom" tooltip="Load More Records...">{{'Load_More'}}</a>
    </span>
</div><br/>
<div class="text-center">
    <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="loader"></em>
</div>