.total-gateway:hover{
    box-shadow: 7px 0px 5px 0px gray;
    cursor: pointer;
}
.online:hover{
    box-shadow: 7px 0px 5px 0px gray;
    cursor: pointer;
}
.offline:hover{
    box-shadow: 7px 0px 5px 0px gray;
    cursor: pointer;
}

.table_class{
   overflow: auto !important;
   height: 16.625rem !important;
   margin-bottom: 28px !important;
}
