<ng-container *ngIf="obj.type?.toLowerCase() === 'number'">
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Min Value:</label>
      <input type="number" class="form-control form-control-sm" id="min" name="min" [(ngModel)]="obj.minValue"
        placeholder="Min Value">
    </div>
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Max Value:</label>
      <input type="number" class="form-control form-control-sm" id="max" name="max" [(ngModel)]="obj.maxValue"
        placeholder="Max Value">
    </div>
  </div>
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Precision:</label>
      <input type="number" class="form-control form-control-sm" min="0" id="precision" name="precision"
        [(ngModel)]="obj.precision" placeholder="Precision">
    </div>
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Default Value:</label>
      <input type="number" class="form-control form-control-sm" id="defaultValue" name="defaultValue"
        [(ngModel)]="obj.defaultValue" placeholder="Default Value">
    </div>
  </div>
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Unit:</label>
      <input type="text" class="form-control form-control-sm" id="unit" name="unit" [(ngModel)]="obj.units"
        placeholder="Unit">
    </div>
  </div>
</ng-container>
<ng-container *ngIf="obj.type?.toLowerCase() === 'string'">
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Min Length:</label>
      <input type="number" class="form-control form-control-sm" id="min" name="min" [(ngModel)]="obj.minLength"
        placeholder="Min Length">
    </div>
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Max Length:</label>
      <input type="number" class="form-control form-control-sm" id="max" name="max" [(ngModel)]="obj.maxLength"
        placeholder="Max Length">
    </div>
  </div>
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Default Value:</label>
      <input type="text" class="form-control form-control-sm" id="defaultValue" name="defaultValue"
        [(ngModel)]="obj.defaultValue" placeholder="Default Value">
    </div>
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Unit:</label>
      <input type="text" class="form-control form-control-sm" id="unit" name="unit" [(ngModel)]="obj.units"
        placeholder="Units">
    </div>
  </div>
</ng-container>
<ng-container *ngIf="obj.type?.toLowerCase() === 'boolean'">
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Default Value:</label>
      <select class="form-control form-control-sm" id="defaultValue" name="defaultValue" [(ngModel)]="obj.defaultValue">
        <option [ngValue]="null">Select Value</option>
        <option [ngValue]="true">True</option>
        <option [ngValue]="false">False</option>
      </select>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="obj.type?.toLowerCase() === 'enum'">
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-4">
      <label for="recipient-name" class="col-form-label">Enum Label:</label>
      <input type="text" class="form-control form-control-sm" id="min" name="min" [(ngModel)]="enumObj.label"
        placeholder="Enum Key">
    </div>
    <div class="form-group col-lg-3">
      <label for="recipient-name" class="col-form-label">Type:</label>
      <select class="form-control form-control-sm" id="template" name="model_type" [(ngModel)]="enumObj.data_type">
        <option [ngValue]="undefined">Select Type</option>
        <option [ngValue]="'number'">Number</option>
        <option [ngValue]="'string'">String</option>
        <option [ngValue]="'boolean'">Boolean</option>
      </select>
    </div>
    <div class="form-group col-lg-3" *ngIf="enumObj.data_type === 'string'">
      <label for="recipient-name" class="col-form-label">Enum Value:</label>
      <input type="text" class="form-control form-control-sm" id="max" name="max" [(ngModel)]="enumObj.value"
        placeholder="Enum Value">
    </div>
    <div class="form-group col-lg-3" *ngIf="enumObj.data_type === 'number'">
      <label for="recipient-name" class="col-form-label">Enum Value:</label>
      <input type="number" class="form-control form-control-sm" id="max" name="max" [(ngModel)]="enumObj.value"
        placeholder="Enum Value">
    </div>
    <div class="form-group col-lg-3" *ngIf="enumObj.data_type === 'boolean'">
      <label for="recipient-name" class="col-form-label">Enum Value:</label>
      <select class="form-control form-control-sm" id="defaultValue" name="defaultValue" [(ngModel)]="enumObj.value">
        <option [ngValue]="undefined">Select Value</option>
        <option [ngValue]="true">True</option>
        <option [ngValue]="false">False</option>
      </select>
    </div>
    <div class="form-group col-lg-2">
      <!-- <a href="javascript:void(0)" class="mx-1" (click)="addReferenceDocument()">
      <i class="fa fa-plus fa-sm"></i> </a> -->
      <label for="recipient-name" class="col-form-label"> &nbsp;</label>
      <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom" tooltip="Add"
        (click)="addEnumValue()">
        <i class="fa fa-plus fa-sm"></i></button>
    </div>
  </div>
  <div class="row col-lg-12">
    <div class="tagsinput my-2" style="width: auto; height: auto;min-height: auto;" *ngIf="obj.enum?.length > 0">
      <ng-container *ngFor="let item of obj.enum; let index = index">
        <span class="tag">
          <span class="tag-text">{{item.label}} : {{item.value}}</span>
          <button class="tag-remove" (click)="removeEnumValue(index)"></button>
        </span>
      </ng-container>
    </div>
  </div>
  <div class="row col-lg-12 p-0">
    <div class="form-group col-lg-6">
      <label for="recipient-name" class="col-form-label">Default Value:</label>
      <select class="form-control form-control-sm" id="defaultValue" name="defaultValue" [(ngModel)]="obj.defaultValue">
        <option [ngValue]="null">Select Value</option>
        <option *ngFor="let item of obj.enum" [ngValue]="item.value">{{item.label}}</option>
      </select>
    </div>
  </div>
</ng-container>
