<div class="">
  <div class="blue-nav-bar">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
        <div class="main-heading">Dashboard</div>
      </div>

      <!-- Main Tab -->
      <div class="ml-auto">
        <div class="main-tab-panel">
          <ul class="main-tab">
            <li class="active" [ngClass]="{ active: mainTab === 'assets' }">
              <a (click)="onMainTabChange('assets')"><i class="fab fa-mixcloud mr-2"></i>Assets</a>
            </li>
            <li [ngClass]="{ active: mainTab === 'alerts' }">
              <a (click)="onMainTabChange('alerts')"><i class="fa fa-bell fa-fw mr-2"></i>Alerts</a>
            </li>
          </ul>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- body -->
  <div class="tab-dashboard">
    <!-- Assets Tab -->
    <div id="assetsBlock" *ngIf="mainTab === 'assets'" class="row sub-tab-panel">
      <!-- Assets SubTabs -->
      <div class="col-12 multi-tab">
        <ul class="sub-tab">
          <li class="active" [ngClass]="{ active: subTab === 'map_view' }">
            <a (click)="onSubTabChange('map_view')"><i class="fa-fw fa-map fas"></i> Map View</a>
          </li>
          <li [ngClass]="{ active: subTab === 'list_view' }">
            <a (click)="onSubTabChange('list_view')"><i class="fa-fw fa-list fas"></i> List View</a>
          </li>
        </ul>
      </div>
      <!-- List View SubTab -->
      <div class="col-12 multi-tab" *ngIf="subTab === 'list_view'">
        <ul class="chilid-sub-tab status-per-tab py-0 pt-3">
          <li class="active" [ngClass]="{ active: childTab === 'status' }">
            <a (click)="onChildTabChange('status')"><i class="fa fa-cogs fa-fw"></i> Status</a>
          </li>
          <li [ngClass]="{ active: childTab === 'performance' }">
            <a (click)="onChildTabChange('performance')"><i class="fa fa-chart-line fa-fw"></i> Performance</a>
          </li>
        </ul>
      </div>
      <!-- Assets Map View Tab -->
      <div class="w-100 list-view-paddding" *ngIf="subTab === 'map_view'">
        <div class="mt-2" *ngIf="isGetAssetsAPILoading">Loading<em class="fa fa-spinner fa-spin fa-fw fa-2x"></em></div>
        <div class="asset-map-view" id="mapOfAssets" *ngIf=" !isGetAssetsAPILoading" >
          <div class="main-heading">
            <form class="form-inline">
              <ng-container *ngIf="environmentApp === 'SopanCMS'">
                <div class="form-group">
                  <div class="numberCircle" [ngClass]="{'active': activeCircle === 'all'}" tooltip="All Assets">
                    <a href="javascript:void(0)" (click)="onClickOfCount('all')">{{assets.length}}</a>
                  </div>
                </div>
                <div class="form-group">
                  <div class="greenNumberCircle" [ngClass]="{'active': activeCircle === 'healthy'}"
                    tooltip="Healthy Assets">
                    <a href="javascript:void(0)" class="text-white"
                      (click)="onClickOfCount('healthy')">{{healthyAssetCount}}</a>
                  </div>
                </div>
                <div class="form-group">
                  <div class="redNumberCircle" [ngClass]="{'active': activeCircle === 'unhealthy'}"
                    tooltip="Unhealthy Assets">
                    <a href="javascript:void(0)" class="text-white"
                      (click)="onClickOfCount('unhealthy')">{{unhealthyAssetCount}}</a>
                  </div>
                </div>
              </ng-container>
              <app-hierarchy-dropdown
                #hierarchyDropdown
                *ngIf="!isGetAssetsAPILoading"
                [showAsset]="false"
                [closeOnSelection]="false"
                [filterObj]="filterObj"
                [assets]="assets"
                (saveHierarchyEvent)="onSaveHierachy($event)"
                (clearHierarchyEvent)="onClearHierarchy($event)"
              >
              </app-hierarchy-dropdown>
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-sm searchBtn btn-primary"
                  (click)="onAssetFilterApply('assets_map')"
                >
                  <em class="fas fa-search fa-sm"></em>
                </button>
              </div>
            </form>
          </div>
          <!-- agm Map -->
          <div id="map-container-google-1" class="z-depth-1-half map-container"  >
            <!-- {{mapAssets | json}} -->
            <agm-map
              #gm
              [latitude]="centerLatitude"
              [longitude]="centerLongitude"
              [styles]="customMapStyle"
              [fitBounds]="mapFitBounds"
              [fullscreenControl]="true"
              [mapTypeControl]="true"
            >
              <agm-marker-cluster [imagePath]="imagePath" >
                <ng-container *ngFor="let asset of mapAssets; let i = index">
                  <agm-marker
                    *ngIf="asset?.latitude && asset?.longitude"
                    [agmFitBounds]="mapFitBounds"
                    [latitude]="asset.latitude"
                    [longitude]="asset.longitude"
                    (mouseOver)="onMarkerClick(infowindow, gm)"
                    [iconUrl]="asset.icon"
                  >
                  <agm-info-window #infowindow>
                    <div class="card border-0 border-top-1 border-primary" style="min-width:180px; max-width: 430px;">
                      <div class="card-header bg-white" style="padding: .75rem 1rem; border-bottom: 0; padding-bottom: 0;">
                        <strong class="mb-0 fw-bold">{{asset.display_name ? asset.display_name: asset.asset_id}}</strong>
                      </div>
                      <div class="card-body" style="padding: 1rem;">
                        <div class="row">

                          <div class="col-sm-12 col-md-12">
                            <div class="d-flex" style="gap: 12px;">
                              <a type="button"
                                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMV') > -1"
                                style="z-index: 1;" (click)="redirectToAsset(asset)"
                                class="text-primary d-flex align-items-center" style="gap: 6px;">
                                <em class="fa fa-fw fa-table me-4" title="View Control Panel"
                                  style="font-size: 15px;"></em>View Control Panel
                              </a>&nbsp;&nbsp;
                              <a type="button"
                                *ngIf="decodedToken?.privileges && (decodedToken.privileges.indexOf('ASMV') > -1 || decodedToken.privileges.indexOf('RMV') > -1 ) "
                                style="z-index: 1;" (click)="redirectToLiveDataHistorical(asset)"
                                class="text-primary d-flex align-items-center" style="gap: 6px;">
                                <em *ngIf="contextApp?.dashboard_config?.show_live_widgets &&  displayicon === true"
                                  class="fa fa-chart-bar fa-fw me-4" title="{{tooltipmapicon}}" style="font-size: 15px;"></em>
                                <em *ngIf="!(contextApp?.dashboard_config?.show_live_widgets)"
                                  class="fa fa-chart-bar fa-fw me-4" title="View Historic Data"
                                  style="font-size: 15px;"></em>Live Data
                              </a>&nbsp;&nbsp;
                              <a type="button"
                                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMV') > -1"
                                style="z-index: 1;" (click)="redirectToAssetControlPanel(asset,'control_properties')"
                                class="text-primary d-flex align-items-center" style="gap: 6px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-sliders" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd"
                                    d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
                                </svg>Control Properties
                              </a>

                              <div>
                                <a *ngIf="contextApp.app==='CMS_Dev'" type="button" (click)="onSave(asset)"
                                  class="btn text-primary open-unity-card d-flex align-items-center"
                                  style="gap: 6px; font-size: 13px;">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                    class="bi bi-unity" viewBox="0 0 16 16">
                                    <path
                                      d="M15 11.2V3.733L8.61 0v2.867l2.503 1.466c.099.067.099.2 0 .234L8.148 6.3c-.099.067-.197.033-.263 0L4.92 4.567c-.099-.034-.099-.2 0-.234l2.504-1.466V0L1 3.733V11.2v-.033.033l2.438-1.433V6.833c0-.1.131-.166.197-.133L6.6 8.433c.099.067.132.134.132.234v3.466c0 .1-.132.167-.198.134L4.031 10.8l-2.438 1.433L7.983 16l6.391-3.733-2.438-1.434L9.434 12.3c-.099.067-.198 0-.198-.133V8.7c0-.1.066-.2.132-.233l2.965-1.734c.099-.066.197 0 .197.134V9.8L15 11.2Z" />
                                  </svg>
                                  3D Model
                                </a>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-12 col-md-12">
                            <hr>
                            <div
                              *ngIf="asset?.map_content?.data && (asset.map_content.data | keyvalue)?.length > 0; else noSPCDTemplate">
                              <div *ngFor="let kpi of asset.map_content.data | keyvalue">
                                <p><b>{{kpi.key}}:</b> {{kpi.value}}</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-sm-12 col-md-12">
                            <ng-template #noSPCDTemplate>
                              <p class="mb-0">No data available.</p>
                            </ng-template>
                          </div>

                          <div class="col-sm-12 col-md-12">
                            <ng-container *ngIf="environmentApp === 'Kirloskar'">
                              <hr>
                              <p class="mb-1"><b>MTTR:</b> {{asset.mttr}}</p>
                              <p class="mb-1"><b>MTBF:</b> {{asset.mtbf}}</p>
                              <p class="mb-1"><b>Gas loss:</b>{{asset.gas}}</p>
                              <p class="mb-1"><b>Gas Consumption:</b>{{asset.power}}</p>
                            </ng-container>
                          </div>

                        </div>
                      </div>
                    </div>


                  </agm-info-window>
                  </agm-marker>
                </ng-container>
              </agm-marker-cluster>
            </agm-map>
          </div>
        </div>
        <div>
        </div>
      </div>
      <!--list_view-->
      <div class="w-100 list-view-paddding" *ngIf="subTab === 'list_view'">
        <!--Status Start-->
        <div class="asset-map-view" *ngIf="childTab === 'status'" id="statusOfAssets">
          <div class="container">
            <div class="row text-center">
              <div class="col">
                <div class="card rounded-top total-gateway" [style.border-top]="state === '' ? '2px solid black' : 'white'" style="border-bottom: 9px solid rgb(105, 100, 100);" (click)="fetchGateways('')">
                    <div class="card-body py-3">
                        <h2 class="card-title">Total Assets</h2>
                        <h1 class="font-weight-bold my-0">{{countData?.lagecy_count ? countData?.lagecy_count : 0}}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-top online" [style.border-top]="state === 'connected' ? '2px solid black' : 'white'" style="border-bottom: 9px solid green" (click)="fetchGateways('connected')">
                    <div class="card-body py-3">
                        <h2 class="card-title">Online</h2>
                        <h1 class="font-weight-bold my-0">{{countData?.online ? countData.online : 0}}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card rounded-top offline" [style.border-top]="state === 'disconnected' ? '2px solid black' : 'white'"style="border-bottom: 9px solid #c10606f7;"  >
                    <div class="card-body py-3" (click)="fetchGateways('disconnected')">
                        <h2 class="card-title">Offline</h2>
                        <h1 class="font-weight-bold my-0">{{countData?.offline ? countData.offline : 0 }}</h1>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <div class="blue-nav-bar my-1 px-0">
            <div class="d-flex align-items-center">
              <div class="main-heading">
                <form class="form-inline">
                  <app-hierarchy-dropdown
                    #hierarchyDropdown
                    [showAsset]="false"
                    [closeOnSelection]="false"
                    [filterObj]="filterObj"
                    [assets]="assets"
                    (saveHierarchyEvent)="onSaveHierachy($event)"
                    (clearHierarchyEvent)="onClearHierarchy($event)"
                  >
                  </app-hierarchy-dropdown>
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-sm searchBtn btn-primary"
                      (click)="onAssetFilterApply('assetMoniter')"
                    >
                      <em class="fas fa-search fa-sm"></em>
                    </button>
                  </div>
                </form>
              </div>
              <div class="ml-auto">
                <div class="asset-nav-tabs">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    </div>
                  </nav>
                </div>
              </div>
              <div class="main-heading pr-3">{{countData.day_telemetry}} Telemetry/ Day | {{countData.total_telemetry}} &nbsp;</div>
            </div>
          </div>
          <div class="dataTableHeight" *ngIf="!loader">
            <app-common-data-table [tableData]="applications" [tableConfig]="tableConfig"
                (btnClickEvent)="onTableFunctionCall($event)"></app-common-data-table>

            <span class="d-flex justify-content-center w-100 py-2" style="margin-top: -27px;margin-right:10px;"
                *ngIf="applications?.length > 0 && loadMoreVisibility && assetTotalcount!=currentOffset+currentLimit">
                <a href="javascript:;" style="text-decoration: none;color:blue;" class="mr-1"
                    (click)="currentOffset = currentOffset + currentLimit ; assetMonitor(state)" placement="bottom"  [ngStyle]="{'pointer-events': loader ? 'none' : 'auto', 'cursor': loader ? 'not-allowed' : 'pointer'}">Load More...</a><em class="fa fa-spinner fa-spin fa-fw fa" *ngIf="loader"></em>
            </span>
        </div><br />
        <div class="text-center" *ngIf="loader">
            <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
        </div>
        </div>
        <!--Status End-->
        <!--Performance Start-->
        <div class="asset-map-view" *ngIf="childTab === 'performance'" id="performanceOfAssets">
          <div class="blue-nav-bar my-0 p-0">
            <div class="d-flex align-items-center">
              <div class="main-heading">
                <form class="form-inline">
                  <app-hierarchy-dropdown
                    #hierarchyDropdown
                    [showAsset]="false"
                    [closeOnSelection]="true"
                    [filterObj]="filterObj"
                    [assets]="assets"
                    (saveHierarchyEvent)="onSaveHierachy($event)"
                    (clearHierarchyEvent)="onClearHierarchy($event)"
                  >
                  </app-hierarchy-dropdown>
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-sm searchBtn btn-primary"
                      (click)="onAssetFilterApply('performance')"
                    >
                      <em class="fas fa-search fa-sm"></em>
                    </button>
                  </div>
                </form>
              </div>
              <div class="ml-auto">
                <div class="asset-nav-tabs">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="dataTableHeight">
            <div class="tab-tbl tableFixHead custom-table table-responsive table_class_new" id="table">
              <table class="table table-hover mt-3">
                <thead class="table-header header-fix">
                  <tr>
                    <th scope="col">sNo.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">FM-101 (Suction) Diff. Kg</th>
                    <th scope="col">FM-102 (Discharge) Diff. Kg</th>
                    <th scope="col">FM-103 (IC) Diff. Kg</th>
                    <th scope="col">Vent Diff. Kg</th>
                    <th scope="col">Total Diff. FM(101-102-103-Vent) Kg</th>
                    <th scope="col">Fuel Consumption</th>
                    <th scope="col">Power Consumption</th>
                    <th scope="col">% Volumetric Eff.</th>
                    <th scope="col">Error %</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="dailyReportsData?.length">
                      <ng-container *ngFor="let report of dailyReportsData; let i = index;">
                          <tr>
                              <td> {{i+1}}</td>
                              <td> {{report?.assetName ? report.assetName : report?.assetId}} </td>
                              <td> {{report?.reportDate | date: 'dd-MM-yyyy'}} </td>
                              <td>{{report?.suctionDiff}}</td>
                              <td>{{report?.dischargeDiff}}</td>
                              <td>{{report?.fM103Diff}}</td>
                              <td>{{report?.ventDiff}}</td>
                              <td>{{report?.totalDiff}}</td>
                              <td>{{report?.volumetricEfficiency}}</td>
                              <td>{{report?.fuelConsumption}}</td>
                              <td>{{report?.powerConsumption}}</td>
                              <td>{{report?.error}}</td>
                              <td>
                                  <a type="button" role="button"
                                      *ngIf="report ? isTabVisible(report)?.visible : ''"
                                      tooltip="More Info" placement="auto" (click)="dailyReportViewMore(report)">
                                      <em class="fa fa-eye"></em>
                                  </a>
                              </td>
                          </tr>
                      </ng-container>
                  </ng-container>
                  <ng-container *ngIf="dailyReportsData?.length === 0 && !dailyReportApiLoading">
                      <tr>
                          <td colspan="12">Daily Reports not available.</td>
                      </tr>
                  </ng-container>
                  <ng-container *ngIf="dailyReportApiLoading">
                      <tr>
                          <td colspan="12">
                              <em class="fa fa-fw fa-2x  fa-spin fa-spinner"></em>
                          </td>
                      </tr>
                  </ng-container>
              </tbody>
              </table>
            </div>

          <div class="loadMoreBtn " *ngIf=" loadMoreVisible && !dailyReportApiLoading">
              <span class="pull-center " >
                  <a href="javascript:void(0)" class=" "
                      (click)="preOffset = preOffset + preLimit; loadMoreReports();" >Load More...</a>
              </span>
            </div>
          </div>

        </div>
        <!--Performance End-->
      </div>
    </div>
    <!-- Alerts Tab -->
    <div id="alertsBlock" *ngIf="mainTab === 'alerts'" class="row sub-tab-panel">
      <div class="col-12">
        <ul class="sub-tab">
          <li class="active" [ngClass]="{ active: subTab === 'map_view' }">
            <a (click)="onSubTabChange('map_view')"><i class="fa-fw fa-map fas"></i> Map View</a>
          </li>
          <li [ngClass]="{ active: subTab === 'list_view' }">
            <a (click)="onSubTabChange('list_view')"><i class="fa-fw fa-list fas"></i> List View</a>
          </li>
        </ul>
      </div>
      <div class="w-100 list-view-paddding">
        <div class="asset-map-view" *ngIf="childTab === 'status'" id="statusOfAssets">
          <div class="container">
            <div class="row text-center pt-2">
              <div class="col-md-4">
                <div
                class="card rounded-top online" [style.border-top]="alertCircleTbl === 'critical' ? '2px solid black' : 'white'"
                (click)="onAlertCircleTblChange('critical')"
                  style="border-bottom: 9px solid #c10606f7"
                  >
                  <div class="card-body">
                    <h2 class="card-title">Critical</h2>
                    <h1 class="font-weight-bold">{{getAlertCountObj?.critical?.not_acknowledged_alerts ?? 0}}</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card rounded-top offline"  [style.border-top]="alertCircleTbl === 'warning' ? '2px solid black' : 'white'"
                (click)="onAlertCircleTblChange('warning')">
                <div class="card-body" style="border-bottom: 9px solid #d78b13">
                  <h2 class="card-title">Warning</h2>
                    <h1 class="font-weight-bold">{{getAlertCountObj?.warning?.not_acknowledged_alerts ?? 0}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="asset-map-view mt-3 p-0" *ngIf="subTab === 'map_view'" id="mapOfAlerts">
            <div class="main-heading">
              <form class="form-inline">
                <app-hierarchy-dropdown #hierarchyDropdown [showAsset]="true" [closeOnSelection]="true" [filterObj]="filterObj" [assets]="assets" (saveHierarchyEvent)="onSaveHierachy($event)" (clearHierarchyEvent)="onClearHierarchy($event)">
                </app-hierarchy-dropdown>
                <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-sm searchBtn btn-primary"
                    (click)="onAssetFilterApply('alertMapView')"
                    [disabled]="isTelemetryDataLoading"
                  >
                    <em class="fas fa-search fa-sm"></em>
                  </button>
                </div>
              </form>
            </div>
            <div class="alertTabMap" style="min-height: 500px; z-index: 1;">

              <div class="map-container">
                <agm-map #gm [latitude]="centerLatitude" [longitude]="centerLongitude" [styles]="customMapStyle"
                  [fitBounds]="mapFitBounds" [fullscreenControl]="true" [mapTypeControl]="true">
                  <ng-container *ngFor="let asset of mapAssets; let i = index">
                      <agm-marker *ngIf="asset.latitude && asset.longitude" [agmFitBounds]="mapFitBounds"
                        [latitude]="asset.latitude" [longitude]="asset.longitude"
                        (markerClick)="markerDetails(asset)" [iconUrl]="asset.icon">
                      </agm-marker>
                    </ng-container>
                  <agm-overlay  [longitude]="selectedAlertObj?.longitude ?? mapAssets[0]?.longitude" [latitude]="selectedAlertObj?.latitude ?? mapAssets[0]?.latitude" >
                    <!-- <div [ngClass]="{'markerdisplay': !isWarningVisible, 'yellow-marker': isWarningVisible, 'blink': true} " ></div> -->
                  </agm-overlay>
                </agm-map>

                <div id="info-card"  *ngIf="isdisplayAlertCard">
                  <div class="card-table alert-card-table" >
                    <div class="card-header border-bottom-0">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="title-wrapper">
                          <h3>{{(chartTbl?.severity?.tolowerCase() == 'critical' ? 'Critical' : chartTbl?.severity?.tolowerCase() == 'warning' ? 'Warning' : '' ) + ' Alerts'}}</h3>
                        </div>
                        <button type="button" class="btn btn-link" (click)="hideNewAlertCard()">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="black" class="bi bi-x-lg" viewBox="0 0 16 16">
                              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                          </svg>
                      </button>
                      </div>
                    </div>

                    <div class="red-alert-block">
                      <div class="red-alert-data">
                          <table>
                          <tbody>
                            <tr>
                              <td class="col-4"><strong>Alert Type : </strong></td>
                              <td>{{chartTbl?.severity ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Asset : </strong></td>
                              <td>{{(chartTbl?.display_name ?? chartTbl?.asset_id) ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Hierarchy : </strong></td>
                              <td>{{(convertHierarchyJSONtoPlain(chartTbl?.hierarchy)) ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Alert Title : </strong></td>
                              <td>{{chartTbl?.message ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Alert Time : </strong></td>
                              <td>{{(commonService.convertUTCDateToLocalDate(chartTbl?.message_date , 'dd-MMM-yyy hh:mm:ss a')) ?? 'NULL'}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="alertListCard"><a *ngIf="chartTbl" href="javascript:void(0)" (click)="redirectAlertListview(chartTbl)">View More Details</a></div>
                      </div>
                      <div class="red-alert-img-data">
                        <img src="../../assets/img/card-circle-img.png" class="img-profile rounded-circle mr-3" />
                        <p><strong>Asset Status</strong></p>
                        <p><span>{{chartTbl?.connection_state ?? ''}}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!--Status List View-->
          <div class="asset-map-view mt-3 p-0" *ngIf="subTab === 'list_view'" id="statusOfAlerts">
            <div class="tab-tbl custom-table table-responsive alert-list-view p-0" id="table-top">
              <div class="blue-nav-bar mt-3 mb-3 pl-0 pr-0">
                <div class="d-flex align-items-center">
                  <div class="main-heading">
                    <form class="form-inline">
                      <app-hierarchy-dropdown
                        #hierarchyDropdown
                        *ngIf="filterObj"
                        [showAsset]="true"
                        [closeOnSelection]="true"
                        [filterObj]="filterObj"
                        [assets]="assets"
                        (saveHierarchyEvent)="onSaveHierachy($event)"
                        (clearHierarchyEvent)="onClearHierarchy($event)"
                      >
                      </app-hierarchy-dropdown>
                      <div class="form-group">
                        <button
                          type="button"
                          class="btn btn-sm searchBtn btn-primary"
                          (click)="onAssetFilterApply('alertListView')"
                          [disabled]="isTelemetryDataLoading"
                        >
                          <em class="fas fa-search fa-sm"></em>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="ml-auto">
                    <div class="asset-nav-tabs">
                      <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="tab-tbl tableFixHead custom-table table-responsive table_class_new_fixed-height">
                    <table *ngIf="alertCircleTbl" class="table table-hover"  >
                      <thead>
                        <tr>
                          <th scope="col">SlNo.</th>
                          <th scope="col">Assets</th>
                          <th scope="col">Alert Title</th>
                          <th scope="col">Alert Time</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let asset of alertData; let index = index">
                          <tr class="alertTbl" (click)="onChartTblChange(asset)" [style.background-color]="asset?.id == chartTbl?.id ? 'rgb(232, 227, 227)' : ''" >
                            <td>{{index+1}}</td>
                            <td>{{asset?.display_name ?? asset?.asset_id}}</td>
                            <td>{{asset?.message ?? 0}}</td>
                            <td>{{asset?.message_date | date: 'hh:mm:ss a'}}</td>
                            <td [class]="asset?.severity === 'Critical' ? 'critical-tbl' : 'warning-tbl' " [tooltip]="asset?.severity === 'Critical' ? 'Critical' : 'Warning'" ><span class="status-circle"></span></td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="card-table alert-card-table" *ngIf="alertCircleTbl">
                    <h3>{{(alertTabType == undefined ? 'All Critical And Warning' : alertCircleTbl === 'critical' ? 'Critical' : 'Warning') + ' Alerts'}}</h3>
                    <div class="red-alert-block">
                      <div class="red-alert-data">
                          <table>
                          <tbody>
                            <tr>
                              <td class="col-4"><strong>Alert Type : </strong></td>
                              <td>{{chartTbl?.severity ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Asset : </strong></td>
                              <td>{{(chartTbl?.display_name ?? chartTbl?.asset_id) ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Hierarchy : </strong></td>
                              <td>{{(convertHierarchyJSONtoPlain(chartTbl?.hierarchy)) ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Alert Title : </strong></td>
                              <td>{{chartTbl?.message ?? 'NULL'}}</td>
                            </tr>
                            <tr>
                              <td class="col-4"><strong>Alert Time : </strong></td>
                              <td>{{(commonService.convertUTCDateToLocalDate(chartTbl?.message_date , 'dd-MMM-yyy hh:mm:ss a')) ?? 'NULL'}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="alertListCard"><a *ngIf="chartTbl" href="javascript:void(0)" (click)="redirectAlertListview(chartTbl)">View More Details</a></div>
                      </div>
                      <div class="red-alert-img-data">
                        <img src="../../assets/img/card-circle-img.png" class="img-profile rounded-circle mr-3" />
                        <p><strong>Asset Status</strong></p>
                        <p><span>{{chartTbl?.connection_state ?? ''}}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
      </div>
    </div>

    <!-- DPR Popup Table -->
    <div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel">
      <div *ngIf="!dailyReportApiLoading" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="moreInfoModalLabel">{{reportBtnData?.assetName ? reportBtnData?.assetName : reportBtnData?.assetId }}</h5>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="tab-tbl tableFixHead custom-table table-responsive table_class_new" id="table" >
              <table class="table table-hover mt-3">
                <thead>
                  <tr>
                    <th scope="col">SNo.</th>
                    <th scope="col">Date</th>
                    <th scope="col">FM-101 (Suction) Diff. Kg</th>
                    <th scope="col">FM-102 (Discharge) Diff. Kg</th>
                    <th scope="col">FM-103 (IC) Diff. Kg</th>
                    <th scope="col">Vent Diff. Kg</th>
                    <th scope="col">Total Diff. FM(101-102-103-Vent) Kg</th>
                    <th scope="col">Fuel Consumption</th>
                    <th scope="col">Power Consumption</th>
                    <th scope="col">% Volumetric Eff.</th>
                    <th scope="col">Error %</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="dailyReportsData?.length">
                    <ng-container *ngFor="let report of assetDailyReport; let i = index;">
                        <tr>
                            <td> {{i+1}}</td>
                            <td> {{report?.reportDate | date: 'dd-MM-yyyy'}} </td>
                            <td>{{report?.suctionDiff}}</td>
                            <td>{{report?.dischargeDiff}}</td>
                            <td>{{report?.fM103Diff}}</td>
                            <td>{{report?.ventDiff}}</td>
                            <td>{{report?.totalDiff}}</td>
                            <td>{{report?.fuelConsumption}}</td>
                            <td>{{report?.powerConsumption}}</td>
                            <td>{{report?.volumetricEfficiency}}</td>
                            <td>{{report?.error}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="dailyReportsData?.length === 0 && !dailyReportApiLoading">
                    <tr>
                        <td colspan="12">Daily Reports not available.</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="dailyReportApiLoading">
                    <tr>
                        <td colspan="12">
                            <em class="fa fa-fw fa-2x  fa-spin fa-spinner"></em>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
