<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->
<div class="topnavbar bg-white py-2" >
<div class="row">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="openAddUserModal()">
        <i class="fa fa-fw fa-plus"></i>
        <span class="text-secondary">Add</span></a>
    </li>
     </ul>
  <!-- Divider
    <hr class="sidebar-divider d-none d-md-block mt-n1">-->

</div>
<div class="row">
  <div class="col-lg-12">
    <hr class="solid">
  </div>
</div>
</div>

<div class="con-pad">
<div class="table-responsive">
  <table class="table  table-bordered table-striped" id="dataTable"  width="100%" cellspacing="0">
    <thead class="bg-secondary text-white">
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of deviceUsers">

        <td>{{user.user_email}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user?.role || 'NA'}}</td>
        <td>
          <a href="javascript:void(0)" (click)="openConfirmModal(user)" class="mr-1"
            title="Delete User Access">
              <i class="fa fa-fw fa-trash" ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<div class="modal right fade" id="userAccessAddModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedUser">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add Role Assignment</h5>
      <button type="button" class="close" (click)="onModalClose()" aria-label="Close" [disabled]="isUpdateAPILoading">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">User:</label>
          <select class="custom-select" id="user" name="user" [(ngModel)]="selectedUser">
            <option [ngValue]="undefined">Select User</option>
            <option *ngFor="let user of appUsers" [ngValue]="user">{{user.user_name}} ({{user.user_email}})</option>
          </select>
        </div>
        <label for="or" >OR</label>
        <div class="form-group">
          <label for="message-text" class="col-form-label">User Name:</label>
          <input type="text" class="form-control form-control-sm" id="name"  name="name" [(ngModel)]="selectedUser.user_name" placeholder="Enter user name">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">User Email:</label>
          <input type="text" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="selectedUser.user_email" placeholder="Enter email address">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary add-row" [disabled]="isUpdateAPILoading" (click)="onAddUserAccess()">Save</button>
      <button type="button" class="btn btn-secondary" [disabled]="isUpdateAPILoading" (click)="onModalClose()">Cancel</button>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUpdateAPILoading"></i>
    </div>
  </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove User Access</h5>
        <button type="button" class="close"  aria-label="Close" [disabled]="isUpdateAPILoading" (click)="onCloseConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this user's access?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="isUpdateAPILoading" (click)="removeUserAccess()">
          Ok</button>
        <button type="button" class="btn btn-secondary" [disabled]="isUpdateAPILoading" (click)="onCloseConfirmModal()">
          Cancel
        </button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUpdateAPILoading"></i>
      </div>
    </div>

  </div>
</div>
