.report-table {
  height: calc(100vh - 14.5rem)
}
.w-16 {
  width: 16rem;
}

select.form-control {
  width: 11rem !important;
}
a.mr-1{
  display: flex;
  justify-content: center;
  color: blue;
  float: none;
}
.pull-right{
  float: none;
}