.report-table {
  height: calc(100vh - 14.5rem)
}
#table-top-1{
  height: calc(100vh - 13.5rem)
}
#table-top-2{
  height: calc(100vh - 14rem)
}
.w-16 {
  width: 16rem;
}

select.form-control {
  width: 11rem !important;
}
a.mr-1{
  display: flex;
  justify-content: center;
  color: blue;
  float: none;
}
.pull-right{
  float: none;
}
.icon-gray{
  color: #676c6e;
}


.over-lap{
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  /* position: absolute; */
  top: 0;
  z-index: 2;
}