<div class="table-responsive">
  <div class="tableFixHead" >
<i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAssetsAPILoading"></i>
  <table class="table table-hover" *ngIf="!isAssetsAPILoading">
    <thead>
      <tr>
        <th>Asset</th>
        <th>App</th>
        <th>Model</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="assets.length > 0 && !isAssetsAPILoading">
      <tr  *ngFor="let asset of assets; let i = index">
        <td>
            {{asset.display_name || asset.tags?.display_name}}
        </td>
        <td>{{asset?.metadata?.package_app || 'NA'}}</td>
        <!-- <td >{{asset.metadata?.package_app && assetTwin.twin_properties.reported.registered_assets[asset.metadata.package_app] ? (assetTwin.twin_properties.reported?.registered_assets[asset?.metadata?.package_app]?.indexOf(asset.asset_id) > -1 ? 'Registered' : 'Not Registered') : 'Not Registered'}}</td> -->
        <td>{{asset.asset_model || asset.tags?.asset_model}}</td>
        <td>
          {{asset.appObj && assetTwin ? (
            assetTwin.twin_properties.reported && assetTwin.twin_properties.reported[asset.appObj.type] &&
             assetTwin.twin_properties.reported[asset.appObj.type][asset.appObj.name]
             && assetTwin.twin_properties.reported[asset.appObj.type][asset.appObj.name].asset_configuration
              && assetTwin.twin_properties.reported[asset.appObj.type][asset.appObj.name].asset_configuration[asset.asset_id] ? 'Registered' : 'Not Registered') : 'Not Registered'}}
        </td>
        <td> <a
          class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2"
          href="javascript:void(0)" [class.disabled]="!asset.register_enabled"
          (click)="openRegisterPropModal(asset)"
          ><i class="fa fa- fa-sm text-white-50"></i> Register</a></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="assets.length === 0 && !isAssetsAPILoading">
      <tr>
        <td colspan="5">No assets available.</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <app-c2d-jobs [asset]="asset" [filterObj]="c2dJobFilter" ></app-c2d-jobs>
</div>
</div>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" style="z-index: 1400;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register Properties/Alerts</h5>
        <button type="button" class="close"  aria-label="Close"  (click)="onModalClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <ng-container *ngIf="selectedAsset">
            <p class="alert-warning" *ngIf="!selectedAsset.model_freeze">Please freeze asset model first.</p>
          </ng-container>
        <ng-container *ngIf="showPropOptions">
          <div>
            <input type="checkbox" name="alerts"
              id="alerts" [(ngModel)]="optionsValue.alerts" />
              <label class="ml-1 form-label">Alerts</label>
              &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="measured_properties"
                id="measured_properties" [(ngModel)]="optionsValue.measured_properties" />
            <label class="ml-1 form-label">Measured Properties</label>
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="configurable_properties"
            id="configurable_properties" [(ngModel)]="optionsValue.configurable_properties" />
            <label class="ml-1 form-label">Readable Properties</label>
            </div>
            <div>
              <input type="checkbox" name="controllable_properties"
                  id="controllable_properties" [(ngModel)]="optionsValue.controllable_properties" />
              <label class="ml-1 form-label">Writable Properties</label>
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="derived_properties"
              id="derived_properties" [(ngModel)]="optionsValue.derived_properties" />
              <label class="ml-1 form-label">Derived Properties</label>
              </div>
        </ng-container>
        <ng-container *ngIf="displyaMsgArr.length > 0">
          <ul>
            <li *ngFor="let msg of displyaMsgArr; let last = last;">
              {{msg.message}}
              <i class="fa fa-check" style="color: green;" *ngIf="!msg.error"></i>
              <i class="fa fa-times" style="color: red;" *ngIf="msg.error"></i>
              </li>
          </ul>
        </ng-container>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" *ngIf="showPropOptions" (click)="registerProperties()">
          Register
        </button>
        <button  type="button" class="btn btn-secondary" (click)="onModalClose()">
          Close
        </button>
      </div>
    </div>

  </div>
</div>
