
<div class="row ml-1" *ngIf="selectedWidget">

  <div class="col-lg-6 col-xl-6 align-self-center">
    <div class="row">
      <!-- <div><a href="javascript:void(0)" [class.disabled]="sentMessageData || !selectedWidget" (click)="validateMessage()" ><button type="button" class="btn btn-warning contact-form" > 1. Validate</button></a></div>
    <div class='px-1'><hr></div> -->
      <div><a href="javascript:void(0)" [class.disabled]="!selectedWidget && !isInvokeDirectMethod"
          (click)="invokeDirectMethod()">
          <button type="button" class="btn btn-warning"> Invoke Method
            <i class="fa fa-spinner fa-spin fa-fw " *ngIf="isInvokeDirectMethod"></i>
          </button>
        </a></div>
      <div class='px-1'>
        <hr>
      </div>
      </div>
      </div>
</div>

<div class="row mt-2" *ngIf="selectedWidget">
  <div class="col-lg-8 col-xl-8">
    <!-- Page Heading -->
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="dataTable" cellspacing="0">
        <thead>
          <tr class="bg-secondary text-white">
            <th>Key</th>
            <th class="border-left">Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Name</td>
            <td>{{selectedWidget.method_name}}
            </td>
          </tr>
          <ng-container *ngFor="let item of jsonModelKeys; let i = index;">
            <tr>
            <td >
            <label for="inputPassword" class="col-form-label">{{item.name}}</label>
            </td>
            <td>
            <div >
            <ng-container *ngIf="item.json.type === 'string'">
              <input type="text" class="form-control form-control-sm" name="{{item.name}}"
              [(ngModel)]="item.value" minlength="{{item.json.minLength ? item.json.minLength : 1}}"
              maxLength="{{item.json.maxLength ? item.json.maxLength : 50}}">
            </ng-container>
            <ng-container *ngIf="item.json.type === 'number'">
              <input type="number" class="form-control form-control-sm" name="{{item.name}}"
              [(ngModel)]="item.value" min="{{item.json.minValue ? item.json.minValue : 1}}"
              max="{{item.json.maxValue ? item.json.maxValue : 1000}}">
            </ng-container>
            <ng-container *ngIf="item.json.type === 'boolean'">
              <div class="btn-group"  name="booleandata">

                <ui-switch checkedLabel="{{item.json.trueValue}}"
                uncheckedLabel="{{item.json.falseValue}}" size="small"
                [(ngModel)]="item.value" id="{{item.name}}" name="{{item.name}}"
                uncheckedTextColor="red" defaultBgColor="red" checkedTextColor="white" uncheckedTextColor="white"></ui-switch>

              </div>
            </ng-container>
            <ng-container *ngIf="item.json.type === 'enum'">
              <select class="form-control form-control-sm custom-select" id="widget" name="acknowledge" [(ngModel)]="item.value"
              >
              <option [ngValue]="val" *ngFor="let val of item.json.enum">{{val}}</option>
              </select>
            </ng-container>
            </div>

          </td>
        </tr>
          </ng-container>
          <ng-container *ngIf="jsonModelKeys.length === 0">
            <tr>
              <td colspan="2">Please select widget.</td>
            </tr>

          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <h6><b> Connection Settings: </b></h6>
      <table class="table table-striped table-bordered" id="dataTable" cellspacing="0">
        <tbody>
          <tr>
            <td>Connection Timeout (In Seconds)</td>
            <td>
              <input type="number" class="form-control form-control-sm" name="connection_timeout"
              [(ngModel)]="selectedWidget.connection_timeout_in_sec">
            </td>
          </tr>
          <tr>
            <td>Response Timeout (In Seconds)</td>
            <td>
              <input type="number" class="form-control form-control-sm" name="response_timeout_in_sec"
              [(ngModel)]="selectedWidget.response_timeout_in_sec">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-4 col-xl-4 col-md-4 mt-n3" *ngIf="responseMessage">
    <div class="d-sm-flex align-items-center justify-content-between mb-2 pt-3">
      <h6 class="h6 mb-0 text-gray-800">Response:</h6>
    </div>

    <form id="contact-form">
      <div class="form-group mr-3">
        <textarea class="form-control" id="message" rows="13" name="message"
          disabled [defaultValue]="responseMessage | json"></textarea>
      </div>
    </form>
  </div>

</div>

<div class="row">

</div>
