<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column m-5 py-3" *ngIf="isAssetDataLoading">
    Loading Asset Data...
    <em class="fa fa-spinner fa-spin fa-fw fa-2x text-center"></em>
  </div>

  <!-- Sidebar -->
  <div class="sidebar1 sidebar-light mb-3 " *ngIf="!isAssetDataLoading">

    <div class="sidebar1-heading sidebar1-top-heading">
      <span>Control Panel </span>
      <!-- <button class="d-none d-md-inline mb-0" id="sidebar1Toggle" placement="bottom" tooltip="Minimize" (click)="onSidebarToggle()"></button> -->
      <em class="fa fa-fw fa">CP</em>
    </div>
    <div class="scrollbox scrollbox_delayed" tabindex="0">
      <ul class="navbar-nav scrollbox-content" id="controlPanelSidebar">
        <ng-container *ngFor="let menu of menuItems">
          <ng-container *ngIf="menu.isTitle && menu.isDisplay">
            <div class="sidebar1-heading">
              <span>{{menu.display_name}}</span>
            </div>
            <!-- Divider -->
            <hr class="sidebar1-divider">
          </ng-container>
          <ng-container *ngIf="!menu.isTitle && menu.visible">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item" [ngClass]="{'active': activeTab === menu.page}">
              <a class="nav-link collapsed" href="{{menu.url}}" data-toggle="tab" aria-expanded="false"
                (click)="setActiveTab(menu.page)" [tooltip]="menu.display_name" placement="top">
                <em class="{{menu.icon}}" placement="bottom"></em>
                <span>{{menu.display_name}}</span></a>
            </li>
          </ng-container>

        </ng-container>
        <!-- Divider -->
        <hr class="sidebar1-divider d-none d-md-block">

      </ul>
    </div>
  </div>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column" *ngIf="!isAssetDataLoading">

    <!-- Main Content -->
    <div id="content">

      <div class="container1-fluid">
        <div class="blue-nav-bar">

          <div class="d-flex">
            <div>
              <div class="main-heading">{{asset?.tags?.display_name || asset?.asset_id}}</div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'overview'}" id="asset_overview" role="tabpanel">
            <app-overview *ngIf="activeTab === 'overview' && asset" [componentState]="componentState"
              [tileData]="tileData" [asset]="asset" [menuDetail]="getMenuDetail('overview')"></app-overview>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'access_control'}" role="tabpanel"
            id="asset_access_control">
            <app-access-control *ngIf="activeTab === 'access_control'  && asset" [componentState]="componentState"
              [asset]="asset">
            </app-access-control>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'tags'}" role="tabpanel" id="asset_asset_tags">
            <app-tags *ngIf="activeTab === 'tags'  && asset" [componentState]="componentState" [tileData]="tileData"
              [asset]="asset" [menuDetail]="getMenuDetail('tags')"></app-tags>
          </div>
          <!-- <div class="tab-pane" [ngClass]="{'active': activeTab === 'heartbeat'}" role="tabpanel" id="asset_heartbeat">
            <app-heartbeat *ngIf="activeTab === 'heartbeat' && asset" [componentState]="componentState" [asset]="asset"></app-heartbeat>
          </div> -->

          <div class="tab-pane" [ngClass]="{'active': activeTab === 'telemetry'}" role="tabpanel" id="asset_telemetry">
            <app-telemetry *ngIf="activeTab === 'telemetry' && asset" [componentState]="componentState" [asset]="asset">
            </app-telemetry>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'alerts'}" role="tabpanel" id="asset_alerts">
            <app-alerts *ngIf="activeTab === 'alerts' && asset" [componentState]="componentState" [asset]="asset"
              [menuDetail]="getMenuDetail('alerts')">
            </app-alerts>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'notifications'}" role="tabpanel"
            id="asset_notifications">
            <app-asset-messages-wrapper *ngIf="activeTab === 'notifications' && asset" [asset]="asset">
            </app-asset-messages-wrapper>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'logs'}" role="tabpanel" id="asset_logs">
            <app-logs *ngIf="activeTab === 'logs' && asset" [asset]="asset"></app-logs>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'predictions'}" role="tabpanel" id="asset_progress">
            <app-work-progress *ngIf="activeTab === 'predictions' && asset" [asset]="asset"></app-work-progress>
          </div>
          <div class="tab-pane" [ngClass]="{'active':  activeTab === 'maintenance_schedule'}" role="tabpanel"
            id="asset_progress">
            <app-app-maintenance-list *ngIf="activeTab === 'maintenance_schedule' && asset"
              [componentState]="componentState" [isControl]="true"
              [assetFromControlPanel]="asset"></app-app-maintenance-list>
          </div>
          <div class="tab-pane" [ngClass]="{'active':  activeTab === 'cloud_derived_properties'}" role="tabpanel"
            id="asset_properties">
            <app-cloud-derived-properties *ngIf="activeTab === 'cloud_derived_properties' && asset" [asset]="asset">
            </app-cloud-derived-properties>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'derived_kpis'}" role="tabpanel"
            id="asset_derived_kpis">
            <app-derived-kpis *ngIf="activeTab === 'derived_kpis' && asset" [asset]="asset"></app-derived-kpis>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'rules'}" role="tabpanel" id="asset_rules">
            <app-rules *ngIf="activeTab === 'rules' && asset" [asset]="asset"
              [menuDetail]="getMenuDetail('rules')"></app-rules>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'trend-analysis'}" role="tabpanel"
            id="asset_trend_analysis">
            <app-trend-analysis *ngIf="activeTab === 'trend-analysis' && asset" [asset]="asset"></app-trend-analysis>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'alert-visualization'}" role="tabpanel"
            id="asset_trend_analysis">
            <app-application-visualization [pageType]="'history'" *ngIf="activeTab === 'alert-visualization' && asset"
              [asset]="asset"></app-application-visualization>
          </div>
          <div class="tab-pane"
            [ngClass]="{'active': activeTab === 'control_widgets'  || activeTab === 'configure_widgets'}"
            role="tabpanel" id="asset_control_widgets">
            <app-commands *ngIf="activeTab === 'control_widgets' || activeTab === 'configure_widgets' && asset"
              [asset]="asset" [componentState]="componentState" [pageType]="activeTab"
              [menuDetail]="getMenuDetail('control_widgets')"></app-commands>
          </div>

          <div class="tab-pane" [ngClass]="{'active': activeTab === 'control_properties'}" role="tabpanel"
            id="asset_control_properties">
            <app-asset-control-properties *ngIf="activeTab === 'control_properties' && asset" [asset]="asset"
              [componentState]="componentState">
            </app-asset-control-properties>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'mttr'}" role="tabpanel" id="asset_mttr">
            <app-asset-mttr *ngIf="activeTab === 'mttr' && asset" [asset]="asset" [componentState]="componentState">
            </app-asset-mttr>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'mtbf'}" role="tabpanel" id="asset_mtbf">
            <app-asset-mtbf *ngIf="activeTab === 'mtbf' && asset" [asset]="asset" [componentState]="componentState">
            </app-asset-mtbf>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'setup'}" role="tabpanel" id="asset_setup">
            <app-gateway-settings *ngIf="activeTab === 'setup'  && asset" [tileData]="tileData" [asset]="asset"
              [componentState]="componentState">
            </app-gateway-settings>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'uptime'}" role="tabpanel" id="asset_uptime">
            <app-asset-uptime *ngIf="activeTab === 'uptime'  && asset" [tileData]="tileData" [asset]="asset"
              [componentState]="componentState">
            </app-asset-uptime>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'package_management'}" role="tabpanel"
            id="asset_package_management">
            <app-asset-packages *ngIf="activeTab === 'package_management' && asset" [asset]="asset">
            </app-asset-packages>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'slave_info'}" role="tabpanel"
            id="asset_slave_info">
            <app-slaves-info *ngIf="activeTab === 'slave_info' && asset" [asset]="asset"></app-slaves-info>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'asset_life_cycle'}" role="tabpanel"
            id="asset_life_cycle_events">
            <app-asset-life-cycle-events *ngIf="activeTab === 'asset_life_cycle' && asset" [asset]="asset">
            </app-asset-life-cycle-events>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'alert_conditioning'}" role="tabpanel"
            id="asset_alert_conditioning">
            <app-asset-alert-conditions *ngIf="activeTab === 'alert_conditioning' && asset" [asset]="asset"
              [menuDetail]="getMenuDetail('alert_conditioning')">
            </app-asset-alert-conditions>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'cached_telemetry'}" role="tabpanel"
            id="asset_cached_telemetry">
            <app-gateway-cached-telemetry *ngIf="activeTab === 'cached_telemetry' && asset" [asset]="asset">
            </app-gateway-cached-telemetry>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'asset_uptime'}" role="tabpanel"
            id="asset_model_uptime">
            <app-asset-model-uptime [asset]="asset" *ngIf="activeTab === 'asset_uptime'"></app-asset-model-uptime>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'config_history'}" role="tabpanel"
            id="asset_config_history">
            <app-gateway-configuration-history *ngIf="activeTab === 'config_history' && asset" [asset]="asset">
            </app-gateway-configuration-history>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'current_config'}" role="tabpanel"
            id="asset_current_config">
            <app-gateway-current-configuration *ngIf="activeTab === 'current_config' && asset" [asset]="asset">
            </app-gateway-current-configuration>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'cached_alerts'}" role="tabpanel"
            id="asset_cached_alerts">
            <app-gateway-cached-alerts *ngIf="activeTab === 'cached_alerts' && asset" [asset]="asset">
            </app-gateway-cached-alerts>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'daily_report'}" role="tabpanel"
            id="daily_report" >
            <app-asset-daily-reports *ngIf="commonService.appPrivilegesPermission('RV') &&
            decodedToken?.app === 'Kirloskar' || decodedToken?.app === 'VNHierarchyTests' && 
            activeTab === 'daily_report'" [asset]="asset">
            </app-asset-daily-reports>
          </div>
          <!-- /.container1-fluid -->

        </div>
      </div>
    </div>
  </div>

</div>