<div class="pb-4 text-orange">
  *Note: You can define more asset hierarchy levels based on your business needs. (For ex: City, Store, Plant, etc.,)
  <a href="javascript:void(0)" title="Edit Tags" *ngIf="!isAppSetingsEditable" title="Edit"
      (click)="isAppSetingsEditable = true;"><i class="fa fa-edit"></i></a>
    <a href="javascript:void(0)" title="Cancel" *ngIf="isAppSetingsEditable" title="Cancel"
      (click)="onCancelClick();"><i class="fa fa-times"></i></a>
</div>
<div class="row">
  <div class="col-lg-5 col-xl-5">
    <form>
      <table id="mytable" class="table table-bordered">
        <thead>
          <tr>
            <th style="font-size:1rem; border-right-color:#f8f9fc;" colspan="2">Hierarchy
              <i class="fa fa-info-circle" title="Hierarchy name will not allow ' ', '.', '#' and '$'"></i> </th>
            <th style="padding:0.2rem 0.5rem;"><button type="button" id="insert-more"
                class="btn btn-red btn-sm mx-1 my-1" style="float:right" (click)="onAddNewHierarchyObj()"
                title="Add Hierarchy" [disabled]="!isAppSetingsEditable">
                <i class="fa fa-plus fa-sm"></i></button></th>
            <!--<a href="#" id="insert-more" ><i class="fa fa-fw fa-plus" style="color:red"></i></a>-->
          </tr>

        </thead>
        <tfoot>
          <tr>
            <th colspan="3">
              <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="onSaveHierarchyTags()"
                [disabled]="saveHierarchyAPILoading || !isAppSetingsEditable">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x"
                  *ngIf="saveHierarchyAPILoading"></i></button>
              <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="onCancelClick()" [disabled]="!isAppSetingsEditable">CANCEL</button>

          </tr>
        </tfoot>
        <tbody class="bg-white">
          <tr *ngFor="let item of applicationData.hierarchy?.levels; let i = index; trackBy:trackByFn">
            <td width="25%"> Level - {{i + 1}}:</td>
            <td width="60%">
              <ng-container *ngIf="!editableHierarchy[i + 1]"> {{item}}</ng-container>
              <ng-container *ngIf="editableHierarchy[i + 1]">
                <input type="text" name="hierarchyName{{i}}" id="hierarchyName{{i}}" [(ngModel)]="applicationData.hierarchy.levels[i]"
                  class="form-control form-control-sm" placeholder="Enter Level Name">
              </ng-container>
            </td>
            <td width="15%" *ngIf="i !== 0">
              <a href="javascript:void(0)" [class.disabled]="!applicationData.hierarchy.levels[i] || (applicationData.hierarchy.levels[i].trim()).length === 0" (click)="onArrowClick(i)">
                <i class="fa fa fa-arrow-circle-right" ></i></a>
                <a [class.disabled]="!applicationData.hierarchy.levels[i] || (applicationData.hierarchy.levels[i].trim()).length === 0 || !isAppSetingsEditable" class="ml-2" href="javascript:void(0)" (click)="openConfirmHierarchyDeleteModal(item)">
                  <i class="fa fa-trash"  title="Delete Hierarchy"></i>
                </a>
            </td>
            <td width="15%" *ngIf="i === 0"></td>
          </tr>
          <tr>
            <td>Level - {{applicationData.hierarchy.levels.length + 1}}:</td>
            <td>Asset</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="col-lg-5 col-xl-5" *ngIf="selectedHierarchyItem">
    <div id="showdiv">

      <table id="mytable" width="80%" class="table table-bordered table-sm">
        <thead>
          <tr>
            <th  colspan="2">{{applicationData.hierarchy.levels[selectedHierarchyItem]}} </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td colspan="2">
              <div class="form-group row mb-0">
                <label for="message-text" class="col-form-label col-3"
                  >App: </label
                >
                <label class="col-form-label col-8">{{applicationData.app}}</label>
              </div></td>
          </tr>
          <ng-container *ngFor="let level of applicationData.hierarchy.levels; let i = index;">
          <tr *ngIf="i !== 0 && i < selectedHierarchyItem">
            <td colspan="2">
              <div class="form-group row  mb-0">
                <label for="message-text" class="col-form-label col-3"
                  >{{level}}: </label
                >
                <select class=" form-control form-control-sm col-8" id="{{level}}" name="{{level}}" [(ngModel)]="configureHierarchy[i]"
                  (change)="onHierarchyConfigurationChange(i)">
                  <option [ngValue]="undefined">Select {{level}}</option>
                  <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[i]">{{tag}}</option>
                </select>
              </div>

            </td>
          </tr>
        </ng-container>
          <tr >
            <td>
              <input id="tag" name="tag" type="text" class="form-control form-control-sm" placeholder="Add Tag"
                [(ngModel)]="addedTagItem" [disabled]="!isAppSetingsEditable">
              <div class="tagsinput" style="width: auto; height: auto;min-height: auto;" *ngIf="hierarchyArr[selectedHierarchyItem].length > 0">
                <span class="tag" *ngFor="let tag of hierarchyArr[selectedHierarchyItem]; let tagIndex = index">
                  <span class="tag-text">{{tag}}</span>
                  <button class="tag-remove" (click)="onRemoveTag(tagIndex)" *ngIf="isAppSetingsEditable"></button>
                </span>
              </div>
            </td>
            <td width="10%"><button type="button" id="insert-more" class="btn btn-red btn-sm mx-1 my-1"
                (click)="onAddNewTag()" [disabled]="!addedTagItem || (addedTagItem.trim()).length === 0 || !isAppSetingsEditable" title="Add Tag">
                <i class="fa fa-plus fa-sm"></i></button>
              </td>


          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Hierarchy</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        All the users and roles with this hierarchy will get impacted. Are you sure you want to remove this hierarchy?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteHierarchy()">
          Ok</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseModal()">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
