<div class="tab-bar">
  <div class="d-flex d-flex align-items-center">
    <div class="h6 m-0 p-0">
      Application Hierarchy
        <a href="javascript:void(0)" placement="bottom" class="ml-1" tooltip="Edit Hierarchy" *ngIf="!isAppSetingsEditable"
          (click)="isAppSetingsEditable = true;"><i class="fa fa-edit"></i></a>
        <a href="javascript:void(0)" placement="bottom" class="ml-2" tooltip="Cancel" *ngIf="isAppSetingsEditable"
          (click)="onCancelClick();"><i class="fa fa-times"></i></a>
        <a href="javascript:void(0)" placement="bottom" class="ml-2" tooltip="Save Hierarchy" *ngIf="isAppSetingsEditable"
        (click)="onSaveHierarchyTags();"><i class="fa fa-check"></i></a>
    </div>
</div>
</div>
<!-- <div class="tableFixHead table-responsive">
<div class="row col-lg-12">
  <div class="col-lg-5 col-xl-5">

      <table class="table table-hover">
        <tfoot>
          <tr>
            <th colspan="3">
              <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="onSaveHierarchyTags()"
                [disabled]="saveHierarchyAPILoading || !isAppSetingsEditable">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x"
                  *ngIf="saveHierarchyAPILoading"></i></button>
              <button type="button" class="btn btn-sm searchBtn btn-white ml-1" (click)="onCancelClick()" [disabled]="!isAppSetingsEditable">CANCEL</button>

          </tr>
        </tfoot>
        <tbody >
          <tr *ngFor="let item of applicationData.hierarchy?.levels; let i = index; trackBy:trackByFn">
            <td width="25%"> Level - {{i + 1}}:</td>
            <td width="60%">
              <ng-container *ngIf="!editableHierarchy[i + 1]"> {{item}}</ng-container>
              <ng-container *ngIf="editableHierarchy[i + 1]">
                <input type="text" name="hierarchyName{{i}}" id="hierarchyName{{i}}" [(ngModel)]="applicationData.hierarchy.levels[i]"
                  class="form-control form-control-sm" placeholder="Enter Level Name">
              </ng-container>
            </td>
            <td width="15%" *ngIf="i !== 0">
              <a href="javascript:void(0)" [class.disabled]="!applicationData.hierarchy.levels[i] || (applicationData.hierarchy.levels[i].trim()).length === 0" (click)="onArrowClick(i)">
                <i class="fa fa fa-arrow-circle-right" ></i></a>
                <a [class.disabled]="!isAppSetingsEditable" class="ml-2"
                href="javascript:void(0)" (click)="openConfirmHierarchyDeleteModal(item, i)">
                  <i class="fa fa-trash" placement="bottom" tooltip="Delete Hierarchy"></i>
                </a>
            </td>
            <td width="15%" *ngIf="i === 0"></td>
          </tr>
          <tr>
            <td>Level - {{applicationData.hierarchy.levels.length + 1}}:</td>
            <td>Asset</td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="col-lg-5 col-xl-5" *ngIf="selectedHierarchyItem">
  <div id="showdiv">

    <table class="table table-hover">
      <thead>
        <tr>
          <th  colspan="2">{{applicationData.hierarchy.levels[selectedHierarchyItem]}} </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <div class="form-group row mb-0">
              <label for="message-text" class="col-form-label col-3"
                >App: </label
              >
              <label class="col-form-label col-8">{{applicationData.app}}</label>
            </div></td>
        </tr>
        <ng-container *ngFor="let level of applicationData.hierarchy.levels; let i = index;">
        <tr *ngIf="i !== 0 && i < selectedHierarchyItem">
          <td colspan="2">
            <div class="form-group row  mb-0">
              <label for="message-text" class="col-form-label col-3"
                >{{level}}: </label
              >
              <select class=" form-control form-control-sm col-8" id="{{level}}" name="{{level}}" [(ngModel)]="configureHierarchy[i]"
                (change)="onHierarchyConfigurationChange(i)">
                <option [ngValue]="undefined">Select {{level}}</option>
                <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[i]">{{tag}}</option>
              </select>
            </div>

          </td>
        </tr>
      </ng-container>
        <tr >
          <td>
            <input id="tag" name="tag" type="text" class="form-control form-control-sm" placeholder="Add Tag"
              [(ngModel)]="addedTagItem" [disabled]="!isAppSetingsEditable">
            <div class="tagsinput" style="width: auto; height: auto;min-height: auto;" *ngIf="hierarchyArr[selectedHierarchyItem].length > 0">
              <span class="tag" *ngFor="let tag of hierarchyArr[selectedHierarchyItem]; let tagIndex = index">
                <span class="tag-text">{{tag}}</span>
                <button class="tag-remove" (click)="onRemoveTag(tagIndex)" *ngIf="isAppSetingsEditable"></button>
              </span>
            </div>
          </td>
          <td width="10%">
            <a href="javascript:void(0)"  [class.disabled]="!addedTagItem || (addedTagItem.trim()).length === 0 || !isAppSetingsEditable" placement="bottom" tooltip="Add Tag"
          (click)="onAddNewTag()"><i class="fa fa-plus-circle"></i></a>
            </td>


        </tr>

      </tbody>
    </table>
  </div>
</div>
</div>


</div> -->
<div class="p-3 scrolling-wrapper-flexbox" >

  <div class="row">
    <ng-container  *ngFor="let level of applicationData.hierarchy.levels; let i = index; trackBy:trackByFn">
    <div class="col-3 pr-3" *ngIf="i !== 0">

          <div class="card card-full-height">
            <div class="card-header p-2">
               <div class="d-flex align-items-center">
                <div class="hierarchy-heading">{{level}}</div>
                 <div class="ml-auto" *ngIf="selectedHierarchyData[i]">
                   <button type="submit" class="btn btn-sm searchBtn1 btn-primary" *ngIf="isAppSetingsEditable && !isAddHierarchyThere"
                   (click)="addTag(i)">
                   <i class="fas fa-plus fa-sm"></i></button></div>
              </div>
            </div>
            <div class="card-body-p0" style="overflow-y:auto;">
              <ul class="hierarchy_list list-group list-unstyled" *ngIf="selectedHierarchyData[i]">
                <li class="list-group-item" [ngClass]="{'active': configureHierarchy[i] === tag}"
                *ngFor="let tag of hierarchyArr[i];let tagIndex = index; trackBy:trackByFn1">
                  <a href="javascript:void(0)" id="tag{{tagIndex}}" class=""
                  *ngIf="originalHierarchyArr[i] && originalHierarchyArr[i][tagIndex]">
                    <div class="media">
                    <div class="overflow" *ngIf="applicationData.hierarchy.levels[i+1]" (click)="onHierarchyConfigurationChange(i, tag)">{{tag}}</div>
                    <div class="overflow" *ngIf="!applicationData.hierarchy.levels[i+1]" >{{tag}}</div>
                    <a href="javascript:void(0)" class="ml-2" *ngIf="isAppSetingsEditable"
                    (click)="onRemoveTag(i, tagIndex)"><i class="fa fa-trash"></i></a>
                    <span class="ml-auto">
                      <i class="fa fa-angle-right fa-lg" ></i>

                    </span> <!--fa fa-fw fa-angle-right-->
                  </div></a>
                  <ng-container *ngIf="originalHierarchyArr[i] && !originalHierarchyArr[i][tagIndex]">
                    <div class="media">
                  <input type="text" class="form-control form-control-sm w-10"  name="tag_{{level}}_{{i}}"
                    [(ngModel)]="addedTagItem"/>
                  <a href="javascript:void(0)" placement="bottom" class="ml-2"
                    (click)="onAddNewTag(i, tagIndex)"><i class="fa fa-check"></i></a>
                  <a href="javascript:void(0)" placement="bottom" class="ml-2" tooltip="Cancel"
                    (click)="onAddTagCancel(i, tagIndex);"><i class="fa fa-times"></i></a>
                    </div>
                  </ng-container>
                </li>
              </ul>
            </div>
          </div>

    </div>
  </ng-container>
  </div>
</div>



