<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"  (click)="onClickOfTab('Cloud')"
        [ngClass]="{'active': selectedTab === 'Cloud'}">
          <i class="fa fa-fw fa-cloud"></i>
          Cloud Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"  (click)="onClickOfTab('Edge')"
        [ngClass]="{'active': selectedTab === 'Edge'}">
          <i class="fab fa-fw fa-edge"></i>
          Edge Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"  (click)="addRule()"
        [class.disabled]="deviceType.freezed">
          <i class="fa fa-fw fa-plus"></i>
          Add</a>
      </li>
    </ul>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="rules" [tableConfig]="rulesTableConfig" [isTableFilterSelected]="true"
    [isTableDataLoading]="isRulesLaoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
  </div>
