
<div class="filter-bar" >
  <div class="col-lg-6 col-xl-6 align-self-center">
    <div class="row">
      <nav>
        <ol class="cd-multi-steps text-top count mb-0">
          <li class="" [ngClass]="{'visited': selectedLevel === 1 || selectedLevel > 1}">
            <a  href="javascript:void(0)" [class.disabled]="sentMessageData || !selectedWidget"
            (click)="sentC2DMessage()">Send
            <i class="fa fa-spinner fa-spin fa-fw " *ngIf="isSendC2DMessageAPILoading"></i></a></li>
          <!-- <li class="" ><a href="#">Compose</a></li> -->
          <li class=""  [ngClass]="{'visited': selectedLevel === 2 || selectedLevel > 2}">
            <a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
            (click)="onClickOfFeedback()">Feedback</a></li>
          <li  [ngClass]="{'visited': selectedLevel === 3}">
            <a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
            (click)="onClickOfResponse()">Response</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="col-lg-6 col-xl-6 border">
    <div class="row">
      <div class="bg-light px-1 py-1" style="writing-mode: tb-rl; transform: rotate(-180deg); font-size:0.75rem; color:black;">STATUS</div>
      <div class="justify-content-center align-self-center px-2 red-font" *ngIf="isMessageValidated === 'invalid'">
        <i class="fa fa-times"></i> Please verify JSON.</div>
      <div class="justify-content-center align-self-center px-2 green-font" *ngIf="isMessageValidated === 'valid'">
        <i class="fa fa-check"></i> Successfully Validated.</div>
      <div class="justify-content-center align-self-center px-2" *ngIf="sendMessageStatus && sendMessageResponse"
        [ngClass]="{'green-font': sendMessageStatus === 'success', 'red-font': sendMessageStatus === 'error'}">
        <i class="fa"
          [ngClass]="{'fa-check': sendMessageStatus === 'success', 'fa-times': sendMessageStatus === 'error'}"></i>
        {{sendMessageResponse}}</div>
      <div class="bg-light px-1 py-1" *ngIf="timerObj" style="writing-mode: tb-rl; transform: rotate(-180deg); font-size:0.75rem; color:black;">&nbsp;TIMER</div>
      <div class="justify-content-center align-self-center px-3">
        <div class="timer" *ngIf="timerObj">
          <div>
            <span class="hours" id="hour">{{timerObj?.hours}}</span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes" id="minute">{{timerObj?.minutes}}</span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span class="seconds" id="second">{{timerObj?.seconds}}</span>
            <div class="smalltext">Seconds</div>
          </div>
          <p id="time-up"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-scroll content-scroll-control-c2d">
<!-- <div class="row col-lg-12 mt-2">

  <div class="col-lg-6 col-xl-6 align-self-center">
    <div class="row col-lg-12">
      <div><a href="javascript:void(0)" [class.disabled]="sentMessageData || !selectedWidget"
          (click)="sentC2DMessage()">
          <button type="button" class="btn btn-primary"> 1. Send
            <i class="fa fa-spinner fa-spin fa-fw " *ngIf="isSendC2DMessageAPILoading"></i>
          </button>
        </a></div>
      <div class='px-1'>
        <hr>
      </div>
      <div><a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
          (click)="onClickOfFeedback()">
          <button type="button" class="btn btn-primary"> 2. Feedback</button></a></div>
      <div class='px-1'>
        <hr>
      </div>
      <div><a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
          (click)="onClickOfResponse()">
          <button type="submit" class="btn btn-primary"> 3. Response</button></a></div>
    </div>
  </div>


</div> -->

<!-- <div class="" *ngIf="!sentMessageData">
  <div class="col-lg-12">
    <hr class="solid" /></div>
</div> -->

<div class="row col-lg-12" *ngIf="displayType === 'compose'">
  <div class="col-lg-12 col-xl-12 col-md-12">
    <div class="d-sm-flex align-items-center justify-content-between my-2">
      <h6 class="h6 mb-0">Meta Data:</h6>
    </div>


      <table class="table table-hover table-bordered" >
        <tbody>
          <tr>
            <td>Asset ID</td>
            <td *ngIf="componentState !== constantData.IP_GATEWAY">{{c2dMessageData.device_id}}
            </td>
            <td *ngIf="componentState === constantData.IP_GATEWAY">
              <select class="custom-select" id="device_id" name="device_id" [(ngModel)]="c2dMessageData.device_id">

                <option *ngFor="let device of devices" [ngValue]="device.device_id">
                  {{device?.display_name ? device?.display_name : device.device_id}}
                </option>
                <option [ngValue]="device.device_id"> {{device.device_id}}</option>
              </select>
            </td>
          </tr>
          <tr *ngIf="componentState === constantData.NON_IP_DEVICE">
            <td>Gateway ID</td>
            <td>{{c2dMessageData.gateway_id}}</td>
          </tr>
          <tr>
            <td>Job ID</td>
            <td>{{c2dMessageData.job_id}}</td>
          </tr>
          <tr>
            <td>TTL (In minutes)</td>
            <td>
              <input class="form-control form-control-sm" type="number" min="0" name="expire_in_min"
                [(ngModel)]="c2dMessageData.expire_in_min">
            </td>
          </tr>
          <tr>
            <td>ACK</td>
            <td>
              <select class="custom-select" id="acknowledge" name="acknowledge"
                [(ngModel)]="c2dMessageData.acknowledge">
                <option value="Full">Full</option>
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
                <option value="None">None</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="col-lg-12 col-xl-12">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between my-2">
      <h6 class="h6 mb-0">Message Body / Message JSON:</h6>
    </div>
        <table class="table table-hover table-bordered">
          <tbody>
        <ng-container *ngFor="let item of jsonModelKeys; let i = index;">
          <tr>
          <td >
          <label for="inputPassword" class="col-form-label">{{item.name}}:</label>
          </td>
          <td>
          <div >
          <ng-container *ngIf="item.json.type === 'string'">
            <input type="text" class="form-control form-control-sm" name="{{item.name}}"
            [(ngModel)]="item.value" minlength="{{item.json.minLength ? item.json.minLength : 1}}"
            maxLength="{{item.json.maxLength ? item.json.maxLength : 50}}">
          </ng-container>
          <ng-container *ngIf="item.json.type === 'number'">
            <input type="number" class="form-control form-control-sm" name="{{item.name}}"
            [(ngModel)]="item.value" min="{{item.json.minValue ? item.json.minValue : 1}}"
            max="{{item.json.maxValue ? item.json.maxValue : 1000}}">
          </ng-container>
          <ng-container *ngIf="item.json.type === 'boolean'">
            <div class="btn-group"  name="booleandata">

              <ui-switch checkedLabel="{{item.json.trueValue}}"
              uncheckedLabel="{{item.json.falseValue}}" size="small"
              [(ngModel)]="item.value" id="{{item.name}}" name="{{item.name}}"
              uncheckedTextColor="red" defaultBgColor="red" checkedTextColor="white" uncheckedTextColor="white"></ui-switch>

            </div>
          </ng-container>
          <ng-container *ngIf="item.json.type === 'enum'">
            <select class="form-control form-control-sm" id="widget" name="acknowledge" [(ngModel)]="item.value"
            >
            <option [ngValue]="val" *ngFor="let val of item.json.enum">{{val}}</option>
            </select>
          </ng-container>
          </div>

        </td>
      </tr>
        </ng-container>
        <ng-container *ngIf="jsonModelKeys.length === 0">
          <tr>
            <td colspan="2">No {{pageType?.includes('control') ? 'control' : 'configure'}} parameters available.</td>
          </tr>

        </ng-container>
      </tbody>
        </table>
  </div>
</div>
<div *ngIf="displayType === 'feedback'">
  <app-c2d-message [device]="device" [type]="displayType" [message]="sentMessageData"></app-c2d-message>
</div>
<div *ngIf="displayType === 'response'">
  <app-c2d-message [device]="device" [type]="displayType" [message]="sentMessageData"></app-c2d-message>
</div>
</div>
<!-- <div class="" style="position:fixed; bottom:1.5rem;">
  <div class="form-group px-3"><button type="button" placement="bottom" class="btn btn-sm searchBtn btn-primary" onclick="changeClass()">Next</button></div>
</div> -->
