
<div class="tab-bar">
  <div class="d-flex align-items-center">
    <div class="h6 m-0 p-0">Dashboard Configuration
      <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Edit Tags" *ngIf="!isConfigEditable"
      (click)="isConfigEditable = true;"><i class="fa fa-edit"></i></a> -->
      <ng-container  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
      <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="isConfigEditable = true;" *ngIf="!isConfigEditable"
      placement="bottom" tooltip="Edit Tags"><i class="fas fa-edit fa-sm"></i></button>
      <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isConfigEditable"
      (click)="onCancelClick();"><i class="fa fa-times"></i></a> -->
      <button type="button" class="btn btn-sm searchBtn btn-secondary" (click)="onCancelClick()" *ngIf="isConfigEditable"
      placement="bottom" tooltip="Cancel"><i class="fas fa-times fa-sm"></i></button>
    </ng-container>
    </div>
</div>
</div>
<div class="tableFixHead table-responsive">
<table class="table table-hover">
  <!--<thead>
    <tr>
      <th>Project Name</th>
      <th>Employer</th>
      <th>Awards</th>
    </tr>
  </thead>-->
  <tfoot >
    <tr *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('APMM') > -1">
      <th colspan="3" >
        <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="onSaveMetadata()"
        [disabled]="saveConfigAPILoading || !isConfigEditable">SAVE
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="saveConfigAPILoading"></i></button>
        <button type="button" class="btn btn-sm searchBtn btn-white ml-1"
        (click)="onCancelClick();" [disabled]="!isConfigEditable">
        CANCEL</button>
      </th>

    </tr>
    </tfoot>
  <tbody>
    <tr>
      <td>Historical Widgets on Dashboard?
      </td>
      <td>
        <ng-container *ngIf="!isConfigEditable">{{applicationData.dashboard_config.show_historical_widgets ? 'Yes': 'No'}}</ng-container>
        <input type="checkbox" name="historical_widgets" *ngIf="isConfigEditable"
        id="historical_widgets"
        (change)="toggleHistoryCheckbox()"
        [checked]="applicationData.dashboard_config.show_historical_widgets" />

        </td>
    </tr>
    <tr>
      <td>Live Widgets on Dashboard?</td>
      <td>
        <ng-container *ngIf="!isConfigEditable">{{applicationData.dashboard_config.show_live_widgets ? 'Yes': 'No'}}</ng-container>
        <input type="checkbox" name="live_widgets" *ngIf="isConfigEditable"
        id="live_widgets" (change)="toggleLiveCheckbox()"
        [checked]="applicationData.dashboard_config.show_live_widgets"/>
        </td>
    </tr>
  </tbody>
</table>
</div>
