<div class="selection-page-scroll">
  <div class="container p-0">
    <div class="col-12 pt-3">
      <h3>{{ uiMessages.WELCOME }} {{userData?.name}}</h3>
      <p>{{ uiMessages.APP_SELECTION_STATEMENT_FOR_LOGIN }}...</p>
    </div>
    <div class="row pl-3">
      <ng-container *ngIf="!isUserApplicationLoading && userData?.apps.length > 0">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let app of userData?.apps; let index = index">
          <a href="javascript:void(0)" [class.disabled]="isAppDataLoading" (click)="redirectToApp(app, index)" class="card card-hover">
            <div class="overlay"></div>
            <div style="z-index:0">
              <img class="img-fluid px-2 mt-2 mb-3 img-szsm" src="{{ blobStorageURL + (
                app?.metadata?.icon?.url
                  ? app?.metadata?.icon?.url + blobToken
                  : constantData.DEFAULT_APP_ICON  + blobToken)
              }}" alt="" />
            </div>
            <p>{{app.app}} <i class="fa fa-spinner fa-spin fa-fw fa-2x"
              *ngIf="isAppDataLoading && isAppDataLoading[index]"></i></p>
            <p class="mx-3 mt-3 text-center text-xs truncate" style="font-size:0.9rem">
              {{app.metadata.description ? app.metadata.description: 'This application is designed to track assets & its data.'}}</p>   
          </a>
        </div>
      </ng-container>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUserApplicationLoading"></i>
    </div>
  </div>
</div>
