<div id="wrapper">
  <!-- Sidebar -->
  <div class="sidebar1 sidebar-light mb-3">
    <div class="sidebar1-heading bg-warning text-white py-2">
			<span style="font-size:0.9rem; margin-right:2rem;">Control Panel </span>
<button class="d-none d-md-inline rounded-circle border-0 mb-0" id="sidebar1Toggle" (click)="onSidebarToggle()"></button>
<i class="fas fa-fw fa" style="font-size:1rem; margin-top:0.5rem;margin-left:0.3rem">CP</i>
</div>

    <ul class="navbar-nav bg-white" id="controlPanelSidebar">


      <!-- Nav Item - Dashboard -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'overview'}">
        <a class="nav-link collapsed" href="#overview" data-toggle="tab" aria-expanded="false"
          (click)="setActiveTab('overview')">
          <i class="fas fa-fw fa-life-ring"></i>
          <span>Overview</span></a>
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'access_control'}">
        <a class="nav-link collapsed" href="#access_control" data-toggle="tab" aria-expanded="false"
          (click)="setActiveTab('access_control')">
          <i class="fas fa-fw fa-users"></i>
          <span>Access Control (IAM)</span></a>
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'tags'}">
        <a class="nav-link collapsed" href="#tags" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('tags')">
          <i class="fas fa-fw fa-tags"></i>
          <span>Tags</span></a>
      </li>

      <li class="nav-item" [ngClass]="{'active': activeTab === 'manage'}">
        <a class="nav-link" href="#setting" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('manage')">
          <i class="fas fa-fw fa-cog"></i>
          <span>Manage</span></a>
      </li>




      <!-- Heading -->
      <div class="sidebar1-heading ">
        D2C
      </div>
      <!-- Divider -->
      <hr class="sidebar1-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'heartbeat'}">
        <a class="nav-link" href="#heartbeat" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('heartbeat')">

          <i class="fas fa-fw fa-heartbeat"></i>
          <span>Heartbeat</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'notifications'}">
        <a class="nav-link" href="#notifications" data-toggle="tab" aria-expanded="false"
          (click)="setActiveTab('notifications')">
          <i class="fas fa-fw fa-bell"></i>
          <span>Notifications</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'alerts'}">
        <a class="nav-link" href="#alerts" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('alerts')">

          <i class="fas fa-fw fa-bolt"></i>
          <span>Alerts</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'telemetry'}">
        <a class="nav-link" href="#telemetry" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('telemetry')">
          <i class="fas fa-fw fa-file"></i>
          <span>Telemetry</span></a>
      </li>

      <li class="nav-item" [ngClass]="{'active': activeTab === 'error'}">
        <a class="nav-link" href="#error" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('error')">
          <i class="fas fa-fw fa-exclamation-triangle"></i>
          <span>Error</span></a>
      </li>

      <li class="nav-item"  [ngClass]="{'active': activeTab === 'liveData'}">
        <a class="nav-link" href="#liveData"  data-toggle="tab" aria-expanded="false" (click)="setActiveTab('liveData')">
          <i class="fas fa-fw fa-stream"></i>
          <span>Live</span></a>
    </li>


      <!-- Heading -->
      <div class="sidebar1-heading">
        C2D
      </div>
      <!-- Divider -->
      <hr class="sidebar1-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'commands'}">
        <a class="nav-link" href="#commands" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('commands')">

          <i class="fas fa-fw fa-angle-right"></i>
          <span>General Commands</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'purge'}">
        <a class="nav-link" href="#purge" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('purge')">
          <i class="fas fa-fw fa-trash"></i>
          <span>Purge</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar1-divider d-none d-md-block">

    </ul>
  </div>
  <!-- End of Sidebar -->
   <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
  <div  class="container1-fluid bg-white pb-3 mb-3" *ngIf="isDeviceDataLoading">
    <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
  </div>
  <div class="container1-fluid bg-white pb-3 mb-3" *ngIf="!isDeviceDataLoading">

    <!-- <div class="topnavbar bg-white py-2" >
    <button id="sidebar1ToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="onSideBarToggleTopClick()">
      <i class="fa fa-bars"></i>
    </button> -->


      <div [ngClass]="{'active': activeTab === 'overview'}" id="overview" role="tabpanel">
        <app-overview *ngIf="activeTab === 'overview'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-overview>
      </div>
      <div [ngClass]="{'active': activeTab === 'access_control'}" role="tabpanel" id="access_control">
        <app-access-control *ngIf="activeTab === 'access_control'" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-access-control>
      </div>
      <div [ngClass]="{'active': activeTab === 'tags'}" role="tabpanel" id="tags">
        <app-tags *ngIf="activeTab === 'tags'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-tags>
      </div>
      <div [ngClass]="{'active': activeTab === 'manage'}" role="tabpanel" id="setting">
        <app-settings *ngIf="activeTab === 'manage'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-settings>
      </div>
      <div [ngClass]="{'active': activeTab === 'heartbeat'}" role="tabpanel" id="heartbeat">
        <app-heartbeat *ngIf="activeTab === 'heartbeat'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-heartbeat>
      </div>
      <div [ngClass]="{'active': activeTab === 'notifications'}" role="tabpanel" id="notifications">
        <app-notification *ngIf="activeTab === 'notifications'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-notification>
      </div>
      <div [ngClass]="{'active': activeTab === 'telemetry'}" role="tabpanel" id="telemetry">
        <app-telemetry *ngIf="activeTab === 'telemetry'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-telemetry>
      </div>
      <div [ngClass]="{'active': activeTab === 'alerts'}" role="tabpanel" id="alerts">
        <app-alerts *ngIf="activeTab === 'alerts'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-alerts>
      </div>
      <div [ngClass]="{'active': activeTab === 'error'}" role="tabpanel" id="error">
        <app-rdmdevice-control-panel-error *ngIf="activeTab === 'error'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-rdmdevice-control-panel-error>
      </div>
      <div [ngClass]="{'active': activeTab === 'liveData'}" role="tabpanel" id="liveData">
        <app-live-data *ngIf="activeTab === 'liveData'" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-live-data>
      </div>
      <div [ngClass]="{'active': activeTab === 'commands'}" role="tabpanel" id="commands">
        <app-commands *ngIf="activeTab === 'commands'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-commands>
      </div>
      <div [ngClass]="{'active': activeTab === 'purge'}" role="tabpanel" id="purge">
        <app-c2d-purge *ngIf="activeTab === 'purge'" [device]="device" (sidebarClickEvent)="onSideBarToggleTopClick()"></app-c2d-purge>
      </div>
      <!-- /.container1-fluid -->


  </div>
  </div>
  </div>

</div>
