<i class="fa fa-spinner fa-spin fa-fw fa-2x text-center" *ngIf="isDeviceDataLoading"></i>
<div id="wrapper" *ngIf="!isDeviceDataLoading">
  <!-- Sidebar -->
  <div class="sidebar1 sidebar-light mb-3 ">

    <div class="sidebar1-heading sidebar1-top-heading">
      <span style="font-size:0.9rem; margin-right:2rem;">Control Panel </span>
      <button class="d-none d-md-inline rounded-circle border-0 mb-0" id="sidebar1Toggle" title="Minimize"
        (click)="onSidebarToggle()"></button>
      <i class="fa fa-fw fa" style="font-size:1rem; margin-top:0.5rem;margin-left:0.3rem">CP</i>
    </div>
    <div class="scrollbox scrollbox_delayed" tabindex="0">
      <ul class="navbar-nav scrollbox-content" id="controlPanelSidebar">
        <ng-container *ngFor="let menu of menuItems">
          <ng-container *ngIf="menu.isTitle">
            <div class="sidebar1-heading ">
              {{menu.display_name}}
            </div>
            <!-- Divider -->
            <hr class="sidebar1-divider">
          </ng-container>
          <ng-container *ngIf="!menu.isTitle && menu.visible">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item" [ngClass]="{'active': activeTab === menu.page}">
              <a class="nav-link collapsed" href="{{menu.url}}" data-toggle="tab" aria-expanded="false"
                (click)="setActiveTab(menu.page)">
                <i class="{{menu.icon}}" title="{{menu.display_name}}"></i>
                <span>{{menu.display_name}}</span></a>
            </li>
          </ng-container>

        </ng-container>
        <!-- Divider -->
        <hr class="sidebar1-divider d-none d-md-block">

      </ul>
    </div>
  </div>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <div class="container1-fluid">
        <div class="blue-nav-bar">

          <div class="d-flex">
            <div>
              <div class="main-heading">{{device?.display_name || device?.device_id}}</div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'overview'}" id="device_overview" role="tabpanel">
            <app-overview *ngIf="activeTab === 'overview' && device" [componentState]="componentState" [tileData]="tileData" [device]="device"
              [menuDetail]="getMenuDetail('overview')"></app-overview>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'access_control'}" role="tabpanel"
            id="device_access_control">
            <app-access-control *ngIf="activeTab === 'access_control'  && device" [componentState]="componentState" [device]="device">
            </app-access-control>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'tags'}" role="tabpanel" id="device_device_tags">
            <app-tags *ngIf="activeTab === 'tags'  && device" [componentState]="componentState" [tileData]="tileData" [device]="device"
              [menuDetail]="getMenuDetail('tags')"></app-tags>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'heartbeat'}" role="tabpanel" id="device_heartbeat">
            <app-heartbeat *ngIf="activeTab === 'heartbeat' && device" [componentState]="componentState" [device]="device"></app-heartbeat>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'notifications'}" role="tabpanel"
            id="device_notifications">
            <app-notification *ngIf="activeTab === 'notifications' && device" [componentState]="componentState" [device]="device"></app-notification>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'telemetry'}" role="tabpanel" id="device_telemetry">
            <app-telemetry *ngIf="activeTab === 'telemetry' && device"  [componentState]="componentState" [device]="device"></app-telemetry>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'alerts'}" role="tabpanel" id="device_alerts">
            <app-alerts *ngIf="activeTab === 'alerts' && device"  [componentState]="componentState" [device]="device"></app-alerts>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'alertendevents'}" role="tabpanel"
            id="device_alert_end_events">
            <app-alert-end-event *ngIf="activeTab === 'alertendevents' && device" [componentState]="componentState" [device]="device">
            </app-alert-end-event>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'error'}" role="tabpanel" id="device_error">
            <app-rdmdevice-control-panel-error *ngIf="activeTab === 'error' && device" [componentState]="componentState" [device]="device">
            </app-rdmdevice-control-panel-error>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'other'}" role="tabpanel" id="device_other">
            <app-others *ngIf="activeTab === 'other' && device" [device]="device" [componentState]="componentState"></app-others>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'battery_message'}" role="tabpanel"
            id="device_battery_message">
            <app-battery-messages *ngIf="activeTab === 'battery_message' && device" [componentState]="componentState" [device]="device">
            </app-battery-messages>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'logs'}" role="tabpanel" id="device_logs">
            <app-logs *ngIf="activeTab === 'logs' && device" [device]="device"></app-logs>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'trend-analysis'}" role="tabpanel"
            id="device_trend_analysis">
            <app-trend-analysis *ngIf="activeTab === 'trend-analysis' && device" [device]="device"></app-trend-analysis>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'alert-visualization'}" role="tabpanel"
            id="device_trend_analysis">
            <app-application-visualization [pageType]="'history'" *ngIf="activeTab === 'alert-visualization' && device"
              [device]="device"></app-application-visualization>
          </div>
          <div class="tab-pane"
            [ngClass]="{'active': activeTab === 'control_widgets'  || activeTab === 'configure_widgets'}"
            role="tabpanel" id="device_control_widgets">
            <app-commands *ngIf="activeTab === 'control_widgets' || activeTab === 'configure_widgets' && device"
              [device]="device" [pageType]="activeTab" [menuDetail]="getMenuDetail('control_widgets')"></app-commands>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'predictiveMaintenance'}" role="tabpanel"
            id="device_predictive_mainteance">
            <app-predictive-maintenance *ngIf="activeTab === 'predictiveMaintenance' && device" [device]="device">
            </app-predictive-maintenance>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'mttr'}" role="tabpanel" id="device_mttr">
            <app-device-mttr *ngIf="activeTab === 'mttr' && device" [device]="device" [componentState]="componentState">
            </app-device-mttr>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'mtbf'}" role="tabpanel" id="device_mtbf">
            <app-device-mtbf *ngIf="activeTab === 'mtbf' && device" [device]="device" [componentState]="componentState">
            </app-device-mtbf>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'maintenance_data'}" role="tabpanel"
            id="device_mainteance">
            <app-device-maintenance *ngIf="activeTab === 'maintenance_data' && device" [device]="device">
            </app-device-maintenance>
          </div>
          <div class="tab-pane" [ngClass]="{'active': activeTab === 'settings'}" role="tabpanel" id="device_settings">
            <app-settings *ngIf="activeTab === 'settings'  && device" [device]="device"></app-settings>
          </div>
          <!-- /.container1-fluid -->

        </div>
      </div>
    </div>
  </div>

</div>
