<div class="tab-bar" *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="updateAssetTags()" [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-save"></i>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item" *ngIf="menuDetail?.accordion_value?.delete">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmdeleteTagsModal')"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-trash"></i>
          <span class="text-secondary">Delete all</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmResetTagsModal')"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-undo"></i>
          <span class="text-secondary delete-row">Revert Changes</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('changeLocationModal')"
          [class.disabled]="isUpdateAPILoading">
          <i class="fa fa-fw fa-map-marker"></i>
          <span class="text-secondary delete-row">Change Asset Location</span></a>
      </li>
      <li class="nav-item" *ngIf="isUpdateAPILoading">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fa fa-spinner fa-spin fa-fw"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <div class="tableFixHead">
    <accordion [closeOthers]="true" class="p-3">
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Reserved Tags
          </a>
        </ng-container>
        <h1 class="h6 mb-3 text-secondary-400">
          <ng-container *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
            Edit Reserved Tags : 
            <a href="javascript:void(0)" placement="bottom" tooltip="Edit Tags" *ngIf="!isReservedTagsEditable"
              (click)="isReservedTagsEditable = true;"><i class="fa fa-edit"></i></a>
            <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isReservedTagsEditable"
              (click)="isReservedTagsEditable = false;"><i class="fa fa-times"></i></a>
          </ng-container>
        </h1>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Asset Display Name</td>
              <td>
                <ng-container *ngIf="!isReservedTagsEditable">{{asset?.tags?.display_name}}</ng-container>
                <ng-container *ngIf="isReservedTagsEditable">
                  <input type="text" class="form-control form-control-sm bg-light border-0 small"
                    [(ngModel)]="asset?.tags.display_name" name="display_name">
                </ng-container>
              </td>
            </tr>
            <tr>
              <td>Hierarchy</td>
              <td>{{asset?.hierarchyString}}</td>
            </tr>
            <tr>
              <td>Created By</td>
              <td>{{asset?.tags?.created_by}}</td>
            </tr>
            <tr>
              <td>Created On</td>
              <td>{{asset?.tags?.local_created_date}}</td>
            </tr>

            <tr>
              <td>Asset Manager</td>
              <td>
                <span *ngFor="let user of asset?.tags?.asset_users_arr">{{user}}<br /></span>
              </td>
            </tr>
            <tr *ngIf="contextApp.metadata?.partition?.telemetry?.partition_strategy !== 'Asset ID'">
              <td>Partition Key</td>
              <td>{{asset?.tags?.partition_key}}</td>
            </tr>
            <tr>
              <td>Latitude</td>
              <td>{{asset?.tags?.latitude}}
                <!-- <ng-container *ngIf="isReservedTagsEditable">
                    <input type="text" class="form-control form-control-sm bg-light border-0 small"
                      [(ngModel)]="asset?.tags.latitude" name="latitude"  placeholder="Enter Latitude">
                  </ng-container> -->
              </td>
            </tr>
            <tr>
              <td>Longitude</td>
              <td>{{asset?.tags?.longitude}}
                <!-- <ng-container *ngIf="isReservedTagsEditable">
                    <input type="text" class="form-control form-control-sm bg-light border-0 small"
                      [(ngModel)]="asset?.tags.longitude" name="longitude" placeholder="Enter Longitude">
                  </ng-container> -->
              </td>
            </tr>
            <tr>
              <td>Model</td>
              <td>{{asset?.tags?.asset_model}}</td>
            </tr>
            <!-- <tr>
                  <td>Protocol</td>
                  <td>{{asset?.tags?.protocol}}</td>
                </tr>
                <tr>
                  <td>Cloud Connectivity</td>
                  <td>{{asset?.tags?.cloud_connectivity}}</td>
                </tr> -->
            
          </tbody>
        </table>

      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Model Tags
          </a>
        </ng-container>
        <h1 class="h6 mb-3 text-secondary-400">
          <ng-container *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
            Edit Model Tags : 
            <a href="javascript:void(0)" placement="bottom" tooltip="Edit Tags" *ngIf="!isModelTagsEditable"
              (click)="isModelTagsEditable = true;"><i class="fa fa-edit"></i></a>
            <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isModelTagsEditable"
              (click)="isModelTagsEditable = false;"><i class="fa fa-times"></i></a>
          </ng-container>
        </h1>
        <table class="table table-hover">
          <tbody>
            <ng-container *ngIf="asset.tags.model_tags || assetModel?.tags?.reserved_tags">
              <tr *ngFor="let tag of assetModelTags">
                <td>{{tag.name}}</td>
                <td>
                  <ng-container *ngIf="(!isModelTagsEditable || (tag.name == 'Protocol' || tag.name == 'Cloud Connectivity')) || tag.nonEditable;else inputTemplate">
                    {{tag.value}}
                  </ng-container>
                  <ng-template #inputTemplate >
                    <input type="text"  class="form-control form-control-sm bg-light border-0 small"
                      [(ngModel)]="tag.value" name="{{tag.name}}">
                  </ng-template>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Custom Tags
          </a>
        </ng-container>
        <h1 class="h6 mb-3 text-secondary-800">
          <ng-container *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
            <span *ngIf="!isCustomTagsEditable && assetCustomTags.length > 1">
              Edit Custom Tags : 
            </span> 
            <a href="javascript:void(0)" placement="bottom" tooltip="Edit Custom Tags"
              *ngIf="!isCustomTagsEditable && assetCustomTags.length > 1" (click)="isCustomTagsEditable = true;"><i
                class="fa fa-edit"></i></a>
            <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isCustomTagsEditable"
              (click)="isCustomTagsEditable = false;"><i class="fa fa-times"></i></a>
          </ng-container>
        </h1>
        <!-- {{assetCustomTags |json}} -->
        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
          <tbody>
            <tr *ngIf="!assetCustomTags || assetCustomTags.length  == 1 ">
              <ng-container>
                Custom tags not available
              </ng-container>
            </tr>
            <tr *ngFor="let tag of assetCustomTags;let i = index">
              <ng-container *ngIf="!tag.editable ; else lastRowTemplate">
                <ng-container *ngIf="!isCustomTagsEditable">
                  <td>{{tag.name}}</td>
                  <td>{{tag.value}}</td>
                  <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
                    <a href="javascript:void(0)" (click)="deleteCustomTag(i)">
                      <i class="fa fa-fw fa-trash"></i>
                    </a>
                  </td>
                </ng-container>
                <ng-container *ngIf="isCustomTagsEditable">
                  <td>
                    <input type="text" class="form-control form-control-sm bg-light border-0 small" aria-label="Search"
                      aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                      (focusout)="checkKeyDuplicacy(tag, i,'custom_tags')"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMM') === -1">
                  </td>
                  <td><input type="text" class="form-control form-control-sm bg-light border-0 small" aria-label="Value"
                      aria-describedby="basic-addon3" [(ngModel)]="tag.value" name="value"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMM') === -1"></td>
                  <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1"></td>
                </ng-container>
              </ng-container>
              <ng-template #lastRowTemplate>
                <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
                  <input type="text" class="form-control form-control-sm bg-light border-0 small" placeholder="Name"
                    aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                    (input)="onCustomTagInputChange()" (focusout)="checkKeyDuplicacy(tag, i,'custom_tags')">
                </td>
                <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1"><input type="text"
                    class="form-control form-control-sm bg-light border-0 small" placeholder="Value" aria-label="Search"
                    aria-describedby="basic-addon2" [(ngModel)]="tag.value" name="value"
                    (input)="onCustomTagInputChange()"></td>
                <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1"></td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </accordion-group>

      <accordion-group heading="" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <a class="btn">
            Variables 
          </a>
        </ng-container>
        <h1 class="h6 mb-3 text-secondary-800">
          <ng-container *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
            <span *ngIf="!isVariablesEditable && assetVariables.length > 1">
              Edit Variables : 
            </span> 
            <a href="javascript:void(0)" placement="bottom" tooltip="Edit Variables"
              *ngIf="!isVariablesEditable && assetVariables.length > 1" (click)="isVariablesEditable = true;"><i
                class="fa fa-edit"></i></a>
            <a href="javascript:void(0)" placement="bottom" tooltip="Cancel" *ngIf="isVariablesEditable"
              (click)="isVariablesEditable = false;"><i class="fa fa-times"></i></a>
          </ng-container>
        </h1>
        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
          <tbody>
            <tr *ngIf="!assetVariables || assetVariables.length  == 1 ">
              <ng-container>
                Variables not available
              </ng-container>
            </tr>
            <tr *ngFor="let tag of assetVariables;let i = index">
              <ng-container *ngIf="!tag.editable ; else lastRowTemplate1">
                <ng-container *ngIf="!isVariablesEditable">
                  <td>{{tag.name}}</td>
                  <td>{{tag.value}}</td>
                  <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
                    <a href="javascript:void(0)" (click)="deleteVariable(i)">
                      <i class="fa fa-fw fa-trash"></i>
                    </a>
                  </td>
                </ng-container>
                <ng-container *ngIf="isVariablesEditable">
                  <td>
                    <input type="text" class="form-control form-control-sm bg-light border-0 small" aria-label="Search"
                      aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                      (focusout)="checkKeyDuplicacy(tag, i,'variable')"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMM') === -1">
                  </td>
                  <td><input type="text" class="form-control form-control-sm bg-light border-0 small" aria-label="Value"
                      aria-describedby="basic-addon3" [(ngModel)]="tag.value" name="value"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMM') === -1"></td>
                  <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1"></td>
                </ng-container>
              </ng-container>
              <ng-template #lastRowTemplate1>
                <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1">
                  <input type="text" class="form-control form-control-sm bg-light border-0 small" placeholder="Name"
                    aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="tag.name" name="name"
                    (input)="onVariableTagInputChange()" (focusout)="checkKeyDuplicacy(tag, i,'variable')">
                </td>
                <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1"><input type="text"
                    class="form-control form-control-sm bg-light border-0 small" placeholder="Value" aria-label="Search"
                    aria-describedby="basic-addon2" [(ngModel)]="tag.value" name="value"
                    (input)="onVariableTagInputChange()"></td>
                <td *ngIf="decodedToken?.privileges?.indexOf('ASMM') > -1"></td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </accordion-group>
    </accordion>
  </div>
</div>

<div class="modal fade" id="confirmResetTagsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal
      [bodyMessage]="'All the unsaved tags will get reverted. Are you sure you want to reset the tags?'"
      [headerMessage]="'Reset Asset Tags'" (modalEvents)="resetAssetTags($event)" [modalConfig]="modalConfig">
    </app-message-modal>
  </div>
</div>

<div class="modal fade" id="confirmdeleteTagsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="'All the custom tags will get deleted. Are you sure you want to delete the tags?'"
      [headerMessage]="'Delete Asset Tags'" (modalEvents)="deleteAllAssetTags($event)" [modalConfig]="modalConfig">
    </app-message-modal>
  </div>
</div>

<div class="modal fade" id="changeLocationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Asset Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="onModalClose('changeLocationModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
            value="latitude_longitude" [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios1">
            Enter Latitude Longitude
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="address"
            [(ngModel)]="changeLocationOption" (change)="onRadioChange()">
          <label class="form-check-label ml-2" for="exampleRadios2">
            Enter Address
          </label>
        </div>
        <!-- <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="address" [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios2">
            Enter Address
          </label>
        </div> -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="pick_from_map"
            [(ngModel)]="changeLocationOption">
          <label class="form-check-label ml-2" for="exampleRadios3">
            Pick Location From Map
          </label>
        </div>
        <ng-container *ngIf="changeLocationOption === 'address'">
          <div class="form-group mt-2 ">
            <label for="inputEmail4">Address:</label>
            <input placeholder="Search Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
              class="form-control form-control-sm" #search>
          </div>
        </ng-container>
        <ng-container *ngIf="changeLocationOption === 'pick_from_map' || changeLocationOption === 'address'">
          <div class="mt-2">
            <agm-map #gm [latitude]="centerLatitude" [longitude]="centerLongitude" (mapReady)="mapReadyHandler($event)"
              [fitBounds]="true">
              <agm-marker [latitude]="asset?.tags.latitude" [longitude]="asset?.tags.longitude" [agmFitBounds]="true">
              </agm-marker>
            </agm-map>
          </div>
        </ng-container>
        <ng-container *ngIf="changeLocationOption">
          <div class="form-row mt-2">
            <div class="form-group col-md-4 col-sm-6">
              <label for="inputEmail4">Latitude:</label>
              <input type="text" class="form-control form-control-sm"
                [disabled]="changeLocationOption !== 'latitude_longitude'" [(ngModel)]="asset?.tags.latitude"
                name="latitude" placeholder="Enter Latitude">
            </div>
            <div class="form-group col-md-4 col-sm-6">
              <label for="inputPassword4">Longitude:</label>
              <input type="text" class="form-control form-control-sm"
                [disabled]="changeLocationOption !== 'latitude_longitude'" [(ngModel)]="asset?.tags.longitude"
                name="longitude" placeholder="Enter Longitude">
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="isUpdateAPILoading || !changeLocationOption"
          (click)="updateAssetTags()">
          Save</button>
        <button type="button" class="btn btn-white" [disabled]="isUpdateAPILoading "
          (click)="onModalClose('changeLocationModal')">
          Cancel
        </button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isUpdateAPILoading"></i>
      </div>
    </div>
  </div>
</div>