<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onTabClick('Cloud')"
          [ngClass]="{'active': selectedTab === 'Cloud'}">
          <em class="fa fa-fw fa-cloud"></em>
          Cloud Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onTabClick('Edge')"
          [ngClass]="{'active': selectedTab === 'Edge'}">
          <em class="fab fa-fw fa-edge"></em>
          Edge Rules</a>
      </li>
      <li class="nav-item" *ngIf="decodedToken?.privileges?.indexOf('RKPIM') > -1">
        <a class="nav-link" (click)="addRule()" href="javascript:void(0)" [ngClass]="{'active': isAddRule }">
          <em class="fa fa-fw fa-plus"></em>
          Add</a>
      </li>
      <li class="nav-item" *ngIf="decodedToken?.privileges?.indexOf('RKPIM') > -1">
        <a class="nav-link" (click)="cloneRule()" href="javascript:void(0)" [ngClass]="{'active': isCloneRule }">
          <em class="fa fa-fw fa-clone"></em>
          Clone</a>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <div class="tableFixHead">
    <div *ngIf="isAddRule">
      <div class="tab-bar">
        Enter below details to create a cloud or edge rule.
      </div>
      <app-add-rule [isModel]="false" [asset]="asset" [name]="asset.asset_id" [isEdit]="isEdit" [ruleData]="ruleData"
        (onCloseRuleModel)="onCloseRuleModel($event)">
      </app-add-rule>
    </div>
    <div *ngIf="isCloneRule">
      <div class="tab-bar">
        Select a existing rule to clone.
      </div>
      <app-add-rule [isModel]="false" [asset]="asset" [name]="asset.asset_id" [isEdit]="isEdit" [isClone]="isCloneRule"
        [ruleData]="ruleData" (onCloseRuleModel)="onCloseRuleModel($event)">
      </app-add-rule>
    </div>

    <div *ngIf="!isAddRule && !isCloneRule" style="height: 100%;overflow: hidden;">
      <accordion [closeOthers]="'true'" class="mb-2 p-3">
        <accordion-group heading="" [panelClass]="'customClass assetRuleAccordion'"
          [isOpen]="selectedAccrodionType === 'Model'">
          <ng-container accordion-heading>
            <button class="btn" type="button" (click)="onAccordionClick('Model')">
              Asset Model Level Rules
            </button>
          </ng-container>
          <div class="table-responsive">
            <p class="tab-bar mb-0"> Following rules running on this asset are derived from the model.</p>
            <div class="tableFixHead tableFixHead-asset-rules-list">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">No</th>
                    <th scope="col"style="width: 20%;">Name</th>
                    <!-- <th scope="col">Category</th>
            <th scope="col">Type</th> -->
                    <th scope="col">Code</th>
                    <!-- <th scope="col">Source</th> -->
                    <th scope="col">Updated On</th>
                    <th scope="col"*ngIf="selectedTab === 'Cloud'">Deployed On</th>
                    <th scope="col"*ngIf="selectedTab === 'Edge'">Synced On</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!isRulesLoading && modelrules.length > 0">
                    <ng-container *ngFor="let rule of modelrules; let i = index">
                      <ng-container>
                        <tr>
                          <td class="pl-3">
                            <a href="javascript:void(0)" (click)="onToggleRows(i, rule, 'model', true, false, '')" class="mr-1">
                              <em
                                [ngClass]="toggleRows[selectedTab + '_model_' + i] ? 'fa fa-angle-up' : 'fa fa-angle-down'"></em>
                            </a>
                          </td>
                          <td>{{i + 1}}</td>
                          <td>{{rule.name}}</td>
                          <td>{{rule.code}}</td>
                          <!-- <td>{{rule.source}}</td> -->
                          <td>{{rule.local_updated_date}}</td>
                          <td *ngIf="rule.type === 'Cloud'">{{rule.local_deployed_on ? rule.local_deployed_on :
                            'Not yet deployed'}}</td>
                          <td *ngIf="rule.type === 'Edge'">{{rule.local_synced_on ? rule.local_synced_on :
                            'Not yet synced'}}</td>
                          <td>
                            <a href="javascript:void(0)" (click)="onToggleRows(i, rule, 'model', true, false, '')" class="mr-1"
                              placement="bottom" tooltip="View">
                              <em class="fa fa-fw fa-eye"></em>
                            </a>
                          </td>
                        </tr>
                        <tr *ngIf="toggleRows[selectedTab + '_model_' + i]" style="background-color:#fdfeff;">
                          <td colspan="8" class="accordion-border">
                            <div class="col-12 my-2 accordion-padding">
                              <app-add-rule [isModel]="false" [asset]="asset" [name]="asset.asset_id" [isEdit]="isEdit"
                                [isView]="isView" [ruleData]="ruleData" (onCloseRuleModel)="onCloseRuleModel($event)">
                              </app-add-rule>
                            </div>
                          </td>
                        </tr>
                      </ng-container>

                    </ng-container>
                  </ng-container>
                  <tr *ngIf="isRulesLoading">
                    <td colspan="8">
                      <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
                    </td>
                  </tr>
                  <tr *ngIf="!isRulesLoading && modelrules.length === 0">
                    <td colspan="8">No Rules available.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </accordion-group>
        <accordion-group heading="" [panelClass]="'customClass assetRuleAccordion'"
          [isOpen]="selectedAccrodionType === 'Asset'">
          <ng-container accordion-heading>
            <button class="btn" type="button" (click)="onAccordionClick('Asset')">
              Asset Level Rules
            </button>
          </ng-container>
          <div class="table-responsive">
            <p class="tab-bar mb-0">Following rules are exclusively running on this asset.</p>
            <div class="tableFixHead tableFixHead-asset-rules-list">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">No</th>
                    <th scope="col"style="width: 20%;">Name</th>
                    <!-- <th scope="col">Category</th>
            <th scope="col">Type</th> -->
                    <th scope="col">Code</th>
                    <!-- <th scope="col">Source</th> -->
                    <th scope="col">Updated On</th>
                    <th scope="col"*ngIf="selectedTab === 'Cloud'">Deployed On</th>
                    <th scope="col"*ngIf="selectedTab === 'Edge'">Synced On</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!isRulesLoading && assetRules.length > 0">
                    <ng-container *ngFor="let rule of assetRules; let i = index">
                      <ng-container>
                        <tr>
                          <td class="pl-3">
                            <a href="javascript:void(0)" (click)="this.toggleRows[this.selectedTab + '_asset_' + i] && isView ? onToggleRows(i, rule, 'asset', true, false, 'toggle') : onToggleRows(i, rule, 'asset', true, false, 'notoggle')" class="mr-1">
                              <em
                                [ngClass]="toggleRows[selectedTab + '_asset_' + i] ? 'fa fa-angle-up' : 'fa fa-angle-down'"></em>
                            </a>
                          </td>
                          <td>{{i + 1}}</td>
                          <td>{{rule.name}}</td>
                          <td>{{rule.code}}</td>
                          <!-- <td>{{rule.source}}</td> -->
                          <td>{{rule.local_updated_date}}</td>
                          <td *ngIf="rule.type === 'Cloud'">{{rule.local_deployed_on ? rule.local_deployed_on :
                            'Not yet deployed'}}</td>
                          <td *ngIf="rule.type === 'Edge'">{{rule.local_synced_on ? rule.local_synced_on :
                            'Not yet synced'}}</td>
                          <td>
                            <a href="javascript:void(0)" (click)="this.toggleRows[this.selectedTab + '_asset_' + i] && isView ? onToggleRows(i, rule, 'asset', true, false, 'toggle') : onToggleRows(i, rule, 'asset', true, false, 'notoggle')" class="mr-1"
                              placement="bottom" tooltip="View">
                              <em class="fa fa-fw fa-eye"></em>
                            </a>
                            <a href="javascript:void(0)" (click)="this.toggleRows[this.selectedTab + '_asset_' + i] && isEdit ? onToggleRows(i, rule, 'asset', false, true, 'toggle') : onToggleRows(i, rule, 'asset', false, true, 'notoggle')"
                              class="mr-1" placement="bottom" tooltip="Edit"
                              *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 && rule.is_editable !== false">
                              <em class="fa fa-fw fa-edit"></em>
                            </a>
                            <a href="javascript:void(0)" (click)="onDeleteRule(rule)" class="mr-1" placement="bottom"
                              tooltip="Delete"
                              *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 && rule.is_editable !== false">
                              <em class="fa fa-fw fa-trash"></em>
                            </a>
                            <ng-container *ngIf="rule.type === 'Cloud' && rule.rule_category==='Stream Analytics'">
                              <a href="javascript:void(0)" (click)="deployRule(rule)" *ngIf="
                         decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                         rule.is_editable !== false &&
                          ( !rule.epoch_deployed_on || rule.epoch_updated_date - rule.epoch_deployed_on > 0)"
                                placement="bottom" tooltip="Deploy">
                                <em class="fa fa-fw fa-sync"></em>
                              </a>
                              <a href="javascript:void(0)" (click)="deployRule(rule, true)" *ngIf="
                        decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                        rule.is_editable !== false &&
                          ( rule.epoch_deployed_on && rule.epoch_updated_date - rule.epoch_deployed_on < 0)"
                                placement="bottom" tooltip="Revert">
                                <em class="fa fa-fw fa-undo"></em>
                              </a>
                            </ng-container>
                            <ng-container *ngIf="rule.type === 'Cloud' && rule.rule_category==='KPIX Analytics'">
                              <a href="javascript:void(0)" (click)="deployRuleed(rule)" *ngIf="
                         decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                         rule.is_editable !== false &&
                          ( !rule.epoch_deployed_on || rule.epoch_updated_date - rule.epoch_deployed_on > 0)"
                                placement="bottom" tooltip="Disable">
                                <em class="fas fa-fw fa-toggle-on"></em>
                              </a>
                              <a href="javascript:void(0)" (click)="deployRuleed(rule, true)" *ngIf="
                        decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                        rule.is_editable !== false &&
                          ( rule.epoch_deployed_on && rule.epoch_updated_date - rule.epoch_deployed_on < 0)"
                                placement="bottom" tooltip="Enable">
                                <em class="fas fa-fw fa-toggle-off"></em>
                              </a>
                            </ng-container>
                            <ng-container *ngIf="rule.type === 'Edge'">
                              <a href="javascript:void(0)" (click)="deployEdgeRule(rule)" *ngIf="
                         decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                         rule.is_editable !== false &&
                          ( !rule.epoch_synced_on || rule.epoch_updated_date - rule.epoch_synced_on > 0)"
                                placement="bottom" tooltip="Sync">
                                <em class="fa fa-fw fa-sync"></em>
                              </a>
                              <a href="javascript:void(0)" (click)="deployEdgeRule(rule, true)" *ngIf="
                        decodedToken?.privileges && decodedToken.privileges.indexOf('RKPIM') > -1 &&
                        rule.is_editable !== false &&
                          ( rule.epoch_synced_on && rule.epoch_updated_date - rule.epoch_synced_on < 0)"
                                placement="bottom" tooltip="Revert">
                                <em class="fa fa-fw fa-undo"></em>
                              </a>
                            </ng-container>
                          </td>
                        </tr>
                        <tr *ngIf="toggleRows[selectedTab + '_asset_' + i]" style="background-color:#fdfeff;">
                          <td colspan="8" class="accordion-border">
                            <div class="col-12 my-2 accordion-padding">
                              <app-add-rule [isModel]="false" [asset]="asset" [name]="asset.asset_id" [isEdit]="isEdit"
                                [isView]="isView" [ruleData]="ruleData" (onCloseRuleModel)="onCloseRuleModel($event)">
                              </app-add-rule>
                            </div>
                          </td>
                        </tr>
                      </ng-container>

                    </ng-container>
                  </ng-container>
                  <tr *ngIf="isRulesLoading">
                    <td colspan="8">
                      <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
                    </td>
                  </tr>
                  <tr *ngIf="!isRulesLoading && assetRules.length === 0">
                    <td colspan="8">No Rules available.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </accordion-group>
      </accordion>

    </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this rule?'"
      [headerMessage]="'Delete Rule'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
