<header id="header" class="fixed-top  main-div">
  <div class="container">

    <ng-container *ngIf="defaultAppName !== 'SopanCMS'">
      <div class="logo float-left"><a><img
          src="../../assets/img/logo.png" class="d-block img-fluid"></a>
      </div>
      <div class="logo float-right"><a><img
          src="../../assets/img/kaynes-logo.png" class="d-none d-md-block img-fluid"></a>
      </div>
    </ng-container>

  </div>
</header><!-- #header -->

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix main-div">
  <div class="container">

    <div class="intro-img" style="margin-top:-2rem; padding-left:1.5rem;">
      <img src="../../assets/img/intro.png" alt="" class="img-fluid">
    </div>

    <div class="intro-info">
      <!--<h2>We provide<br><span>solutions</span><br>for your business!</h2>-->
      <h2>Manage, Monitor & Control<br>Your IoT Assets<br>using Kemsys Azure RDM!</h2>
      <div>
        <a [routerLink]="['/login']" routerLinkActive="active" class="btn-get-started scrollto">Login</a>
        <!--<a href="#services" class="btn-services scrollto">Our Services</a>-->
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main" class=" main-div">

  <!--==========================
      About Us Section
    ============================
  <section id="about">
    <div class="container">

      <header class="section-header">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2 align-self-center">
          <h2>Remote Monitoring of Assets / Machines / Appliances.</h2>
          <p>

          </p>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="../../assets/img/Remote-Monitoring.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section> -->

  <!--==========================
      Services Section
    ============================--
  <section id="services" class="section-bg">
    <div class="container py-5">

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp align-self-center">
          <img src="../../assets/img/pre-defined-error-codes.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0 align-self-center">
          <h2>Continuous monitoring of the machines with pre-defined error codes using IOT</h2>
          <p>
          </p>
        </div>
      </div>

    </div>
  </section>

    ==========================
      Why Us Section
    ============================
  <section id="why-us" class="wow fadeIn">
    <div class="container">

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="../../assets/img/remote-diagnose.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1 align-self-center">
          <h2 class="text-white">Bringing the machine’s downtime lower by remotely diagnosing the machine</h2>
          <p class="text-white">
          </p>

        </div>

      </div>

    </div>
  </section>

    ==========================
      About Us Section
    ============================
  <section id="services">
    <div class="container py-5">

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="../../assets/img/predictive-maintenance.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0 align-self-center">
          <h2>Reducing the Operational expenses by undertaking predictive maintenance activities</h2>
          <p>
          </p>
        </div>
      </div>
    </div>
  </section>


     ==========================
      Services Section
    ============================

  <section id="services" class="section-bg">
    <div class="container">

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="../../assets/img/usage-trend.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1 align-self-center">
          <h2>Big Data Processing: Understanding customers’ usage trend & getting information on usage patterns</h2>
          <p>
          </p>

        </div>

      </div>


    </div>
  </section> -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container-fluid">

      <div class="section-header">
        <h3>Contact Us</h3>
      </div>

      <div class="row wow fadeInUp">

        <div class="col-lg-6">
          <div class="map mb-4 mb-lg-0">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.2685405375128!2d77.6522500143359!3d13.018563590825051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x110571c66dc58757%3A0x65f47d69bd9ecc20!2sKemsys%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1597849103070!5m2!1sen!2sin"
              width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-5 info">
              <i class="fa fa-map mt-2" style="font-size: 1.5rem;"></i>
              <p>2nd Floor, L.K.S Complex, No.309, 9th C Main Rd, HRBR Layout 1st Block, Kalyan Nagar, Bengaluru, Karnataka 560043</p>
            </div>
            <div class="col-md-4 info">
              <i class="fa fa-envelope mt-2" style="font-size: 1.5rem;"></i>
              <p>saleseds@kemsys.com</p>
            </div>
            <div class="col-md-3 info">
              <i class="fa fa-phone mt-2" style="font-size: 1.5rem;"></i>
              <p>+918025456596</p>
            </div>
          </div>

          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row mx-n1">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control form-control-sm" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control form-control-sm" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" tooltip="Send Message">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section>

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer" class=" main-div">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h5>Kemsys Technologies</h5>
          <p>We are a 100% product engineering company. We specializes in providing turnkey IoT product design services,
            in addition we proactively invest in creating our own IPs with aim to accelerate our customer’s time to
            market and reduce their implementation risks. </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="http://www.kemsys.com/about/">About us</a></li>
            <li><a href="http://www.kemsys.com/#services">Services</a></li>
            <li><a href="http://www.kemsys.com/products/">Products</a></li>
            <li><a href="http://www.kemsys.com/contact/">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="http://www.kemsys.com/#ip">IPs & Accelerators</a></li>
            <li><a href="http://www.kemsys.com/domains/">Domains</a></li>
            <li><a href="http://www.kemsys.com/platforms/">Platforms</a></li>
            <li><a href="http://www.kemsys.com/#solutions">Solutions</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Contact Us</h4>
          <p>
            2nd Floor, L.K.S Complex, <br>No.309, 9th C Main Rd, <br>HRBR Layout 1st Block, Kalyan Nagar, <br>Bengaluru,
            Karnataka 560043 <br>
            <strong>Phone:</strong> +918025456596<br>
            <strong>Email:</strong> <a href="mailto:saleseds@kemsys.com" style="color:#fff;">saleseds@kemsys.com</a><br>
          </p>

          <!--<div class="social-links">
              <a href="#" class="twitter"><i class="fab fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fab fa fa-facebook"></i></a>
              <a href="#" class="linkedin"><i class="fab fa fa-linkedin"></i></a>
            </div>-->
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Kemsys Technologies</strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- #footer -->
