<div class="table-responsive responsive-height app_manage_applications_Box">
  <div class="tableFixHead">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">App</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of applications; let i = index">

          <td>
              {{app.display_name}}
          </td>
          <td>{{
            assetTwin.twin_properties.reported[app.type][app.name]?.status || 'Not Installed'}}</td>
          <td><a
            class="d-none d-sm-inline-block btn btn-sm shadow-sm mb-1 mr-1"
            href="javascript:void(0)"  [class.disabled]="isAPILoading[i] || !app.is_start
            || assetTwin.twin_properties.reported[app.type][app.name] === undefined ||
            assetTwin.twin_properties.reported[app.type][app.name]?.status?.toLowerCase() === 'running'
            "
            (click)="startApp(app, i)" placement="bottom" tooltip="Start"
            ><img style="width: 12px;" src="./assets/img/start.svg"/></a>
            <a
            class="d-none d-sm-inline-block btn btn-sm shadow-sm mb-1 mr-1"
            href="javascript:void(0)"  [class.disabled]="isAPILoading[i] || !app.is_stop
            || assetTwin.twin_properties.reported[app.type][app.name] === undefined ||
            assetTwin.twin_properties.reported[app.type][app.name]?.status?.toLowerCase() === 'not running'"
            (click)="stopApp(app, i)" placement="bottom" tooltip="Stop"
            ><img style="width: 12px;" src="./assets/img/stop.svg"/></a>
            <a
            class="d-none d-sm-inline-block btn btn-sm shadow-sm mb-1 mr-1"
            href="javascript:void(0)"
            (click)="restartApp(app, i)" placement="bottom" tooltip="Restart" [class.disabled]="isAPILoading[i] || !app.is_restart
            || assetTwin.twin_properties.reported[app.type][app.name] === undefined"
            ><img style="width: 12px;" src="./assets/img/restart.svg"/></a>
            <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading && isAPILoading[i]"></em>
          </td>
        </tr>
      </tbody>
    </table>
    <app-c2d-jobs class="d-none d-xl-block" [asset]="asset" [filterObj]="c2dJobFilter" ></app-c2d-jobs>
</div>
</div>
