<div class="row" id="{{chartId}}" class="mapWidget">
    <div class="col-lg-12">
        <div class="card shadow mb-4 border-top-widget" id="card_{{chartId}}">
            <a href="#collapse_{{chartId}}" class="d-block card-header py-3" data-toggle="collapse" role="button">
                <h6 class="m-0 font-weight-bold text-primary">{{widgetTitle}}
                    <span class="btn btn-card-tool close-icon" data-widget="remove" id="remove_{{chartId}}">
                        <i class="fa fa-times"></i>
                    </span>
                </h6>

            </a>
            <div class="collapse show" id="collapse_{{chartId}}">
                <div class="card-body">
                    <div class="chart-area chart">
                        <div class="row">
                            <div class="col col-lg-12">
                                <input type="file" (change)="fileChanged($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-12 chart">
                                <google-map id="map_{{chartId}}" [zoom]="zoom" [center]="center" (mapClick)="click($event)">
                                    <map-marker *ngFor="let marker of markers" [position]="marker.position"
                                        [label]="marker.label" [title]="marker.title" [options]="marker.options">
                                    </map-marker>
                                </google-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- /.card-body -->
    </div>
</div>