<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->
<div class="tab-bar" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openAddWidgetModal()"
          [class.disabled]="assetModel.freezed">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary">Add Configuration Widget</span></a>
      </li>
    </ul>

    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
</div>

<div class="table-responsive">
  <div class="tableFixHead">
    <div *ngIf="isGetControlWidgetAPILoading">
      <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
    </div>
    <accordion [closeOthers]="'true'" *ngIf="controlWidgets.length > 0 && !isGetControlWidgetAPILoading"
      class="mb-2 p-3">
      <accordion-group heading="" *ngFor="let widget of controlWidgets" [panelClass]="'customClass'">
        <ng-container accordion-heading>
          <button class="btn" type="button">
            {{widget.name}}
          </button>
            <div class="float-right pull-right mt-2 mr-3" >
              <a href="javascript:void(0)" class="pr-2" [class.disabled]="assetModel.freezed"
                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1"
                (click)="openAddWidgetModal(widget)"><i class="fa fa-edit" placement="left" tooltip="Edit Widget"></i></a>
  
              <a  href="javascript:void(0)" [class.disabled]="assetModel.freezed"
                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1"
                (click)="openConfirmModal(widget)"><i class="fa fa-close" placement="left" tooltip="Remove Widget"></i></a>
            </div>
        </ng-container>
        <h6 *ngIf="widget?.metadata?.communication_technique">This configuration widget will process through
          {{widget?.metadata?.communication_technique}}.</h6>
        <div class="row">

          <div class="col-5">
            <div class="card shadow h-100">
              <div class="card-body">

                <div class="form-check" *ngFor="let prop of widget.properties;let i = index;">
                  <input class="form-check-input" type="checkbox" value="{{i}}" id="prop{{i}}" disabled checked>
                  <label class="form-check-label" for="prop{{i}}">
                    {{prop.name}}
                  </label>
                </div>

              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="card shadow">
              <div class="card-body">
                <textarea class="form-control" id="message" rows="5" name="message" [defaultValue]="widget.json | json"
                  disabled></textarea>

              </div>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <p class="m-3" *ngIf="controlWidgets.length === 0 && !isGetControlWidgetAPILoading">
      No configuration widgets are added.
    </p>
  </div>
</div>


<div class="modal right fade" id="createWidgetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{viewType == 'add' ? 'Create New Configuration Widget' : 'Update Configuration Widget'}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeCreateWidgetModal()"
          [disabled]="isCreateWidgetAPILoading">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="viewType === 'add' || viewType === 'edit'">
        <form #form="ngForm" *ngIf="viewType === 'add' || viewType === 'edit'">
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Configuration Widget Name:</label>
            <input #name="ngModel" validateText type="text" class="form-control form-control-sm" id="name" name="name"
              [(ngModel)]="controlWidget.name" placeholder="Enter Configuration Widget Name">
              <div *ngIf="name.errors?.whitespace && name.touched" class="alert-danger">
                Please enter valid widget name.
              </div>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <input #description="ngModel" validateText type="text" class="form-control form-control-sm" id="description" name="description"
              [(ngModel)]="controlWidget.metadata.description" placeholder="Enter Description">
              <div *ngIf="description.errors?.whitespace && description.touched" class="alert-danger">
                Please enter valid description.
              </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Widget Type:</label>
            <select class="form-control form-control-sm" id="widget_type" name="widget_type"
              [(ngModel)]="controlWidget.metadata.widget_type">
              <!-- <option [ngValue]="undefined" >Select Communication Technique</option> -->
              <option [ngValue]="undefined">Select Widget Type</option>
              <option [ngValue]="'Asset'" *ngIf="assetModel?.metadata?.model_type === constantData.IP_GATEWAY">Asset
              </option>
              <option [ngValue]="'Slave'">Slave</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Cloud to Asset Communication technique:</label>
            <select class="form-control form-control-sm" id="template" name="model_type"
              [(ngModel)]="controlWidget.metadata.communication_technique" (change)="onCommunicationTechniqueChange();">
              <!-- <option [ngValue]="undefined" >Select Communication Technique</option> -->
              <option [ngValue]="'C2D Message'">C2D Message</option>
              <option [ngValue]="'Direct Method'">Direct Method</option>
              <option [ngValue]="'Twin Change'">Twin Change</option>
            </select>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label required">Configure following
              {{(controlWidget?.metadata?.communication_technique === 'Direct Method' ? 'methods' :
              'properties')}}:</label>
            <ng-select *ngIf="controlWidget.metadata.communication_technique !== 'Direct Method'"
              [items]="properties?.configurable_properties" class="custom-dropdown sm" [clearable]="false"
              [searchable]="true" clearSearchOnAdd="true" [multiple]="true" bindLabel="name" [closeOnSelect]="false"
              placeholder="Select Property" dropdownPosition="bottom" name="propArr" ngDefaultControl
              [(ngModel)]="controlWidget.properties" (add)="onPropertyChecked($event)"
              (remove)="onPropertyChecked($event)">
              <ng-template ng-option-tmp let-item="item">
                <span [tooltip]="item.name">{{item.name}}</span>
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items">
                {{items.length}} selected
              </ng-template>
            </ng-select>
            <ng-select *ngIf="controlWidget.metadata.communication_technique === 'Direct Method'" [items]="assetMethods"
              class="custom-dropdown sm" [clearable]="false" [searchable]="true" bindLabel="name" [closeOnSelect]="true"
              placeholder="Select Direct Method" dropdownPosition="bottom" name="propArr" ngDefaultControl
              [(ngModel)]="controlWidget.properties" (change)="onPropertyChecked($event)">
              <ng-template ng-option-tmp let-item="item">
                <span [tooltip]="item.name">{{item.name}}</span>
              </ng-template>
            </ng-select>
            <ng-container *ngIf="controlWidget.metadata.communication_technique !== 'Direct Method'">
              <label for="message-text" class="col-form-label">OR </label>
              <ng-container *ngFor="let param of extraParams; let i = index;">
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Extra Parameters </label>
                  <a *ngIf="i === 0" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm  ml-2 mb-1"
                    href="javascript:void(0)" (click)="addParameter()" placement="bottom" tooltip="Add Property"><i
                      class="fa fa-plus fa-sm text-white"></i></a>
                  <a *ngIf="i !== 0" class="d-none d-sm-inline-block btn btn-sm btn-white shadow-sm  ml-2 mb-1"
                    href="javascript:void(0)" (click)="removeParameter(i)" placement="bottom"
                    tooltip="Remove Property"><i class="fa fa-trash fa-sm"></i></a>
                  <input #title="ngModel" validateText type="text" class="form-control form-control-sm" id="title{{i}}" name="title{{i}}"
                    [(ngModel)]="param.name" placeholder="Parameter Display Name">
                    <div *ngIf="title.errors?.whitespace && title.touched" class="alert-danger">
                      Please enter valid name.
                    </div>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Parameter Key:</label>
                  <input #key="ngModel" validateText type="text" class="form-control form-control-sm" id="key{{i}}" name="key{{i}}"
                    [(ngModel)]="param.key" (change)="onParamKeyChange(i)" placeholder="Parameter Key">
                    <div *ngIf="key.errors?.whitespace && key.touched" class="alert-danger">
                      Please enter valid key.
                    </div>
                </div>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label required">Data Type:</label>
                  <select class="form-control form-control-sm" id="template{{i}}" name="model_type{{i}}"
                    [(ngModel)]="param.data_type" (change)="onDataTypeChange(i)">
                    <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
                  </select>
                </div>
                <app-data-type-fields [obj]="param.json" *ngIf="param?.key && param?.data_type && param?.json">
                </app-data-type-fields>
              </ng-container>
            </ng-container>
          </div>
          <!-- <div class="form-group mr-3">
            <label for="message-text" class="col-form-label">JSON Format:</label>
            <json-editor [options]="editorOptions" name="json" [data]="controlWidget.json">
            </json-editor>
          </div> -->
        
      <div class="modal-footer fixed-bottom bg-white">
        <button type="button" class="btn btn-primary add-row" [disabled]="(!form.valid &&
        (form.touched || !form.touched)) || isCreateWidgetAPILoading"
          (click)="createControlWidget()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateWidgetAPILoading"
          (click)="closeCreateWidgetModal()">
          Cancel
        </button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateWidgetAPILoading"></i>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this configuration widget?'"
      [headerMessage]="'Remove Widget'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
