<app-columnchart-livedata-component [anchorAdditionalClass]="" [hideCancelButtonAddOnClass] = "'float-right pull-right'"
[dvRowCardHeaderClass]="'card shadow h-100'" [dvRowCardBodyClass]="'card-body1'"
[chartConfig]="chartConfig" [headerMessage]="headerMessage"  
[modalConfig]="modalConfig" [bodyMessage]="bodyMessage" 
(modalEvents)="onModalEvents($event)" (modalOpenEvents)="openConfirmRemoveWidgetModal()" [widgetStringFromMenu]="widgetStringFromMenu"
[decodedToken]="decodedToken" [chartId]="chartId" [chartTitle]="chartTitle" [hideCancelButton]="hideCancelButton"
[telemetryData] = [telemetryData] [loader]="loader" [loaderMessage]="loaderMessage" [chartWidth]="chartWidth"
[chartHeight]="chartHeight" [isOverlayVisible]="isOverlayVisible" ></app-columnchart-livedata-component>