<ng-container *ngIf="item.value_type === 'number'">
  <a href="javascript:void(0)" id="userDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-fw fa-search fa-sm ml-1"></i>
  </a>
  <div class="dropdown-menu dropdown-filter-content" aria-labelledby="userDropdown1">
  <div class="dropdown-filter-search">
    <input type="number" class="form-design" placeholder="Search {{item.header_name}} " id="{{item.header_name}} "
    (input)="onNumberValueChange($event)"/>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="item.value_type === 'string'">
  <a href="javascript:void(0)" id="userDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-fw fa-search fa-sm ml-1"></i>
  </a>
  <div class="dropdown-menu dropdown-filter-content" aria-labelledby="userDropdown1">
  <div class="dropdown-filter-search">
    <input type="text" class="form-design" placeholder="Search {{item.header_name}}111" id="{{item.header_name}}_{{headerIndex}}"
    (input)="onStringValueChange($event)" name="{{item.header_name}}_{{headerIndex}}"/>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="item.value_type === 'fixed_values'">
  <a href="#" id="userDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-filter fa-sm ml-1"></i></a>
  <div class="dropdown-menu dropdown-filter-content" id="table-filter" aria-labelledby="userDropdown2" >
  <div class="checkbox-container">
    <div class="dropdown-filter-item"><input type="checkbox" value="Select All" checked="checked" /> Select All</div>
    <div class="dropdown-divider"></div>
    <div class="dropdown-filter-item" *ngFor="let data of item.fixed_value_list"><input type="checkbox" value="{{data.value}}" checked="checked"  />{{data.name}}</div>
    </div>
  </div>
</ng-container>
