
<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Asset')"
          [ngClass]="{'active': selectedTab === 'Asset'}">
          <em class="fa fa-fw fa-laptop"></em>
          <span class="text-secondary">External Alerts
          </span></a>
      </li>
      <li class="nav-item" *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Edge')"
          [ngClass]="{'active': selectedTab === 'Edge'}">
          <em class="fab fa-fw fa-edge"></em>
          <span class="text-secondary">Edge Alerts
          </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="onClickOfTab('Cloud')"
          [ngClass]="{'active': selectedTab === 'Cloud'}">
          <em class="fa fa-fw fa-cloud"></em>
          <span class="text-secondary">Cloud Alerts
          </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openAddAlertConditionModal()"
          [class.disabled]="assetModel.freezed"
          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
          <em class="fa fa-fw fa-plus"></em>
          <span class="text-secondary">Add Alert Condition
          </span></a>
      </li>
    </ul>
  </div>
</div>

<div class="table-responsive">
  <p class="tab-bar mb-0" *ngIf="selectedTab === 'Asset'"> Following alerts are read from PLC/Modbus registers or from
    external sensors...</p>
  <p class="tab-bar mb-0" *ngIf="selectedTab === 'Edge'"> Following alerts are possible by executing rules on
    Gateways...</p>
  <p class="tab-bar mb-0" *ngIf="selectedTab === 'Cloud'"> Following alerts are possible by executing rules on Cloud...
  </p>

  <div class="tableFixHead table-fix-head-alert-conditions">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 3%;"></th>
          <th scope="col"></th>
          <th scope="col">Alert Code</th>
          <th scope="col">Alert Message</th>
          <th scope="col">Actions</th>
          <th scope="col" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!isAlertConditionsLoading && alertConditions.length > 0">
          <ng-container *ngFor="let alert of alertConditions; let i = index">
            <tr [ngClass]="{ 'accordion-bg' : alertObj?.code === alert.code }">
              <td>
                <a href="javascript:void(0)" (click)="onToggleRows(i)">
                  <em [ngClass]="toggleRows[selectedTab + '_' + i] ? 'fa fa-angle-up' : 'fa fa-angle-down'"></em>
                </a>
              </td>
              <td>{{i + 1}}</td>
              <td><em placement="bottom" [tooltip]="alert.severity" [style.color]="
                (alert?.severity?.toLowerCase() === 'critical' ? '#cc0000' :
                (alert?.severity?.toLowerCase() === 'error' ? '#fb5515' :
                (alert?.severity?.toLowerCase() === 'warning' ? '#f6c23e' :
                (alert?.severity?.toLowerCase() === 'informational' ? '#229954' : ''))
                )
                )" class="fa fa-exclamation-triangle"></em>
                {{alert.code}}</td>
              <td>{{alert.message}}</td>
              <td>
                <a href="javascript:void(0)" class="mr-2" placement="bottom" tooltip="Visualization"
                  (click)="onClickOfViewActionIcon('Visualization', i)">
                  <img class="img-icon" src="../../../../assets/img/visualization.png">
                </a>
                <a href="javascript:void(0)" class="mr-2" placement="bottom" tooltip="Recommendations"
                  (click)="onClickOfViewActionIcon('Recommendations', i)">
                  <img class="img-icon" src="../../../../assets/img/recommendation.png">
                </a>
                <a href="javascript:void(0)" class="mr-2" placement="bottom" tooltip="Attachments"
                  (click)="onClickOfViewActionIcon('Attachments', i)">
                  <em class="fa fa-paperclip"></em>
                </a>

                <a href="javascript:void(0)" placement="bottom" tooltip="Actions"
                  (click)="onClickOfViewActionIcon('Actions', i)">
                  <em class="fa fa-tasks"></em>
                </a>
              </td>
              <td *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
                <a href="javascript:void(0)" (click)="openAddAlertConditionModal(alert)" class="mr-1"
                  [class.disabled]="assetModel.freezed" placement="bottom" tooltip="Edit">
                  <em class="fa fa-fw fa-edit"></em>
                </a>
                <a href="javascript:void(0)" (click)="openConfirmModal('confirmMessageModal', alert)" placement="bottom"
                  tooltip="Delete Alert Condition" [class.disabled]="assetModel.freezed">
                  <em class="fa fa-fw fa-trash"></em>
                </a>
              </td>
            </tr>
            <tr *ngIf="toggleRows[selectedTab + '_' + i]" style="background-color:#fdfeff;">
              <td colspan="6" class="accordion-border" *ngIf="viewType === 'Visualization'">
                <div class="col-12  my-2 accordion-padding">
                  <!-- <p *ngIf="alertObj?.visualization_widgets?.length === 0"> No Visualization widgets defined yet.</p> -->
                  Following {{widgetStringFromMenu}} have been defined so far.
                  You can define more.

                  <!-- <button type="button" class="btn btn-primary btn-sm mx-1 mt-n2" [disabled]="isCreateAlertConditionLoading"
                    placement="bottom" tooltip="Add" (click)="addVisualizationWidget()" ><em class="fa fa-plus fa-sm"></em></button> -->
                  <!-- <button type="button" class="btn btn-danger btn-sm mx-1 mt-n2"
                    [disabled]="alertObj?.visualization_widgets?.length === 0 || isCreateAlertConditionLoading" placement="bottom" tooltip="Edit"
                    (click)="editWidgets()"><em class="fa fa-edit fa-sm"></em></button> -->
                  <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                    [disabled]="isCreateAlertConditionLoading || assetModel.freezed" placement="bottom" tooltip="Save"
                    (click)="onUpdateAlertConditions()"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1"><em
                      class="fa fa-save fa-sm"></em></button>
                  <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAlertConditionLoading"></em>

                </div>

                <div class="col-12  my-2 accordion-padding"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                  <div class="form-inline">
                    <ng-container>
                        <div class="form-group" #addVisulizationWidgetDiv>
                          <ng-select [items]="widgets" class="custom-dropdown w-12 sm" [searchable]="true"
                            clearSearchOnAdd="true" [multiple]="true" bindLabel="title" [closeOnSelect]="false"
                            groupBy="type" placeholder='Select {{widgetStringFromMenu}}' dropdownPosition="bottom" name="widget-dropdown1" id="template"
                            name="model_type" [(ngModel)]="selectedWidgets"
                            (onDeSelectAll)="onDeselectAll($event,'widget')">
                            <ng-template ng-multi-label-tmp let-items="items">
                              {{items.length}} widgets selected
                            </ng-template>
                            <ng-template ng-header-tmp>
                              <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                <li *ngIf="widgets.length !== selectedWidgets.length"> <a href="javascript:void(0)"
                                    (click)="selectedWidgets = widgets">Select All</a></li>
                                <li *ngIf="widgets.length === selectedWidgets.length"> <a href="javascript:void(0)"
                                    (click)="selectedWidgets = []">Deselect All</a></li>
                              </ul>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              <span [tooltip]="item.title">
                                {{item.title}}</span>
                            </ng-template>
                          </ng-select>
                        </div>
                        <div class="form-group">
                          <button type="button" class="addWidgetBtn btn btn-primary btn-sm  mx-2" placement="bottom" tooltip="Add"
                            (click)="addVisualizationWidget()">
                            <em class="fa fa-plus fa-sm"></em></button>
                        </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 my-2 accordion-padding" *ngIf="alertObj?.visualization_widgets?.length > 0">
                  <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
                    <ng-container *ngFor="let item of alertObj.visualization_widgets; let index = index">
                      <span class="tag">
                        <span class="tag-text">{{item}}</span>
                        <button class="tag-remove" (click)="removeVisualizationWidget(index)"
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed"></button>
                      </span>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td colspan="6" class="accordion-border" *ngIf="viewType === 'Recommendations'">
                <div class="col-12 my-3 accordion-padding">Following recommendations have been pre-configured. You can
                  configure more.
                  <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1" placement="bottom"
                    tooltip="Save" (click)="onUpdateAlertConditions()" [disabled]="assetModel.freezed"><em
                      class="fa fa-save fa-sm"></em></button>
                </div>
                <div class="col-12 my-2 accordion-padding">
                  <h6>Debugging Steps: </h6>
                  <!-- <a  class=" mx-1" href="javascript:void(0)"
                  placement="bottom" tooltip="Add" (click)="addRecommendationStep()" ><em class="fa fa-plus fa-sm"></em></a> -->
                  <!-- <button type="button" class="btn btn-danger btn-sm mx-1 mt-n2"
                   placement="bottom" tooltip="Edit" (click)="editSteps()"><em class="fa fa-edit fa-sm"></em></button> -->
                  <div class="">
                    <form #form="ngForm">
                    <table id="mytable" width="100%" class="">
                      <thead style="display: none;">
                        <tr>
                          <th scope="col">Step</th>
                          <th scope="col">Description</th>
                          <th scope="col">Activity</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container>
                          <tr *ngFor="let step of alertObj.recommendations; let i = index;"
                            style="background-color:transparent">
                            <ng-container>
                              <td style="width: 15%;">Step - {{i + 1}}</td>
                              <td style="width: 30%;">{{step.description}}</td>
                              <td style="width: 30%;">{{step.activity}} Activity</td>

                              <td style="width: 10%;"
                                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
                                <a href="javascript:void(0)" class="ml-2" (click)="removeRecommendationStep(i)"
                                  placement="bottom" tooltip="Remove" [class.disabled]="assetModel.freezed">
                                  <em class="fa fa-trash fa-sm"></em> </a>
                              </td>
                            </ng-container>
                          </tr>
                          <ng-container
                            *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                            <tr *ngIf="recommendationObj" style="background-color:transparent">
                              <ng-container>
                                <td style="width: 15%;">
                                  Step - {{alertObj.recommendations.length + 1}}
                                </td>
                                <td style="width: 30%;">
                                  <input #description="ngModel" validateText type="text" id="description" name="description" size="20"
                                    class="form-control form-control-sm" [(ngModel)]="recommendationObj.description">
                                    <div *ngIf="description.errors?.whitespace && description.touched" class="alert-danger">
                                      Please enter valid description.
                                    </div>
                                </td>
                                <td style="width: 30%;">
                                  <select class="form-control form-control-sm" id="template" name="model_type"
                                    [(ngModel)]="recommendationObj.activity">
                                    <option [ngValue]="undefined">Select Activity</option>
                                    <option [ngValue]="'Auto'">Auto Activity</option>
                                    <option [ngValue]="'Manual'">Manual Activity</option>
                                  </select>
                                </td>
                                <!-- <td style="width: 30%;" >
                            <select *ngIf="recommendationObj.activity === 'Auto'" class="form-control form-control-sm" id="template" name="model_type" [(ngModel)]="recommendationObj.command">
                              <option [ngValue]="undefined">Select Command</option>
                              <ng-container *ngFor="let method of assetMethods">
                                <option [ngValue]="method.name">
                                {{method.name}}</option>
                              </ng-container>
                            </select>
                            </td> -->
                                <td>
                                  <a href="javascript:void(0)" class="ml-2" [class.disabled]="assetModel.freezed"
                                    (click)="addRecommendationStep()" placement="bottom" tooltip="Add"  [class.disabled]="!form.valid">
                                    <em class="fa fa-plus fa-sm"></em> </a>
                                  <!-- <button type="button" class="btn btn-primary btn-sm mx-2" placement="bottom" tooltip="Add" (click)="addRecommendationStep()" >
                                <em class="fa fa-plus fa-sm"></em></button> -->
                                </td>

                              </ng-container>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </tbody>
                    </table>
                  </form>
                  </div>
                  <!-- <div class="row col-12">
                  <h6>Email / Whatsapp Attachments:
                    </h6>
                </div>

                <div class="col-12 mt-2">
                  <div class="form-inline row" >
                    <ng-container>
                    <div class="form-group" >
                      <select class="form-control form-control-sm" id="template" name="model_type" [(ngModel)]="docName"
                      >
                        <option [ngValue]="undefined">Select Document</option>
                        <ng-container *ngFor="let document of documents">
                          <option [ngValue]="document.name">
                          {{document.name}}</option>
                        </ng-container>
                      </select>
                      </div><div class="form-group" >
                        <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom" tooltip="Add" [disabled]="assetModel.freezed" (click)="addReferenceDocument()" >
                          <em class="fa fa-plus fa-sm"></em></button>
                    </div>

                  </ng-container>
                  </div>
                </div>

                <div class="tagsinput" style="width: auto; height: auto;min-height: auto;" *ngIf="alertObj?.reference_documents?.length > 0">
                  <ng-container *ngFor="let item of alertObj.reference_documents; let index = index">
                    <span class="tag" >
                      <span class="tag-text">{{item}}</span>
                      <button class="tag-remove" [disabled]="assetModel.freezed" (click)="removeDocument(index)"></button>
                    </span>
                  </ng-container>
                </div> -->
                </div>
              </td>
              <td colspan="6" class="accordion-border" *ngIf="viewType === 'Attachments'">

                <div class="col-12 accordion-padding my-2">Following attachments have been added. You can add more.

                  <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1" placement="bottom"
                    tooltip="Save" (click)="onUpdateAlertConditions()" [disabled]="assetModel.freezed"><em
                      class="fa fa-save fa-sm"></em></button>
                </div>
                <div class="col-12 my-3 accordion-padding " #documentSelectionDiv>

                  <div class=""
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed" #documentSelectionDiv>
                    <h6 *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">Email / Whatsapp Attachments: </h6>
                    <h6 *ngIf="contextApp.app=='Indygo'  || contextApp.app =='IndygoBeta'">Email Attachments: </h6>
                    <!-- <button type="button" class="btn btn-primary btn-sm mx-1 mt-n2"
                   placement="bottom" tooltip="Add" (click)="addReferenceDocument()"><em class="fa fa-plus fa-sm"></em></button>
                   <button type="button" class="btn btn-danger btn-sm mx-1 mt-n2"
                   placement="bottom" tooltip="Edit" (click)="editReferenceDocuments()"><em class="fa fa-edit fa-sm"></em></button> -->
                  </div>

                  <div class=""
                    *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                    <div class="form-inline" #documentSelectionDiv>
                      <ng-container>
                        <div class="form-group">
                          <ng-select [items]="documents" class="custom-dropdown w-12 sm" [searchable]="true"
                            clearSearchOnAdd="true" [multiple]="true" bindLabel="name" [closeOnSelect]="false"
                            groupBy="type" placeholder="Select Document" dropdownPosition="bottom" name="widget-dropdown1" id="template"
                            name="model_type" [(ngModel)]="selectedDocuments"
                            (onDeSelectAll)="onDeselectAll($event,'document')">
                            <ng-template ng-multi-label-tmp let-items="items">
                              {{items.length}} documents selected
                            </ng-template>
                            <ng-template ng-header-tmp>
                              <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                <li *ngIf="documents.length !== selectedDocuments.length"> <a href="javascript:void(0)"
                                    (click)="selectedDocuments = documents">Select All</a></li>
                                <li *ngIf="documents.length === selectedDocuments.length"> <a href="javascript:void(0)"
                                    (click)="selectedDocuments = []">Deselect All</a></li>
                              </ul>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                              <span [tooltip]="item.name">
                                {{item.name}}</span>
                            </ng-template>
                          </ng-select>
                        </div>
                        <div class="form-group">
                          <!-- <a href="javascript:void(0)" class="mx-1" (click)="addReferenceDocument()">
                        <em class="fa fa-plus fa-sm"></em> </a> -->
                          <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom" tooltip="Add"
                            (click)="addReferenceDocument()">
                            <em class="fa fa-plus fa-sm"></em></button>
                        </div>

                      </ng-container>
                    </div>
                  </div>
                  <!-- <h6 class="mt-1" *ngIf="alertObj?.reference_documents?.length === 0"> No Attachments added yet.</h6> -->

                  <div class="tagsinput my-2" style="width: auto; height: auto;min-height: auto;"
                    *ngIf="alertObj?.reference_documents?.length > 0">
                    <ng-container *ngFor="let item of alertObj.reference_documents; let index = index">
                      <span class="tag">
                        <span class="tag-text">{{item}}</span>
                        <button class="tag-remove" (click)="removeDocument(index)"
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed"></button>
                      </span>
                    </ng-container>
                  </div>
                </div>
              </td>


              <td colspan="6" class="accordion-border" *ngIf="viewType === 'Actions'">
                <div class="col-12  accordion-padding m-2">
                  <h6>Actions:
                    <button type="button" class="btn btn-success btn-sm mx-1"
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1"
                      placement="bottom" tooltip="Save" (click)="onUpdateAlertConditions()"
                      [disabled]="assetModel.freezed"><em class="fa fa-save fa-sm"></em></button>
                  </h6>
                </div>
                <div class="col-12 my-3">
                  <div class="form-group accordion-padding mx-3 ">
                    <input type="checkbox" class="form-check-input" id="email" name="email"
                      [(ngModel)]="alertObj.actions.email.enabled"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMMM') === -1 || assetModel.freezed">
                    <label class="form-check-label" for="email">Email</label>

                    <div class="row my-2" *ngIf="alertObj.actions.email.enabled">
                      <div class="col-auto">
                        <div class=""
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                          <div class="form-inline">
                            <ng-container>
                              <div class="form-group">
                                <ng-select [items]="userGroups" clearSearchOnAdd="true" [multiple]="true"
                                  class="custom-dropdown w-12 sm" [clearable]="false" [searchable]="true"
                                  placeholder="Select Group" bindLabel="group_name" dropdownPosition="bottom"
                                  name="group-dropdown" [(ngModel)]="selectedUserGroups['email']"
                                  [closeOnSelect]="false" required>
                                  <ng-template ng-header-tmp>
                                    <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                      <li *ngIf="userGroups.length !== selectedUserGroups['email'].length"> <a
                                          href="javascript:void(0)"
                                          (click)="selectedUserGroups['email'] = userGroups">Select All</a></li>
                                      <li *ngIf="userGroups.length === selectedUserGroups['email'].length"> <a
                                          href="javascript:void(0)" (click)="selectedUserGroups['email'] = []">Deselect
                                          All</a></li>
                                    </ul>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item">
                                    <span>
                                      {{item.group_name}}
                                    </span>
                                  </ng-template>
                                  <ng-template ng-multi-label-tmp let-items="items">
                                    {{items.length}} groups selected
                                  </ng-template>
                                </ng-select>


                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom"
                                  tooltip="Add" [disabled]="assetModel.freezed" (click)="addUserGroup('email')">
                                  <em class="fa fa-plus fa-sm"></em></button>
                              </div>
                            </ng-container>
                          </div>
                        </div>

                        <div class="tagsinput my-2" style="width: auto; height: auto;min-height: auto;"
                          *ngIf="alertObj?.actions?.email?.recipients?.length > 0">
                          <ng-container *ngFor="let item of alertObj.actions.email.recipients; let index = index">
                            <span class="tag">
                              <span class="tag-text">{{item}}</span>
                              <button class="tag-remove" (click)="removeUserGroup(index, 'email')"
                                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed"></button>
                            </span>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr *ngIf="contextApp.app!='Indygo' && contextApp.app!='IndygoBeta'">

                  <div class="form-group accordion-padding mx-3" *ngIf="contextApp.app!='Indygo' && contextApp.app!='IndygoBeta'">
                    <input type="checkbox" class="form-check-input" id="whatsapp" name="whatsapp"
                      [(ngModel)]="alertObj.actions.whatsapp.enabled"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMMM') === -1 || assetModel.freezed">
                    <label class="form-check-label" for="whatsapp">Whatsapp</label>

                    <div class="row my-2" *ngIf="alertObj.actions.whatsapp.enabled">
                      <div class="col-auto">
                        <div class=""
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                          <div class="form-inline">
                            <ng-container>
                              <div class="form-group">
                                <ng-select [items]="userGroups" clearSearchOnAdd="true" [multiple]="true"
                                  class="custom-dropdown w-12 sm" [clearable]="false" [searchable]="true"
                                  placeholder="Select Group" bindLabel="group_name" dropdownPosition="bottom"
                                  name="group-dropdown" [(ngModel)]="selectedUserGroups['whatsapp']"
                                  [closeOnSelect]="false" required>
                                  <ng-template ng-header-tmp>
                                    <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                      <li *ngIf="userGroups.length !== selectedUserGroups['whatsapp'].length"> <a
                                          href="javascript:void(0)"
                                          (click)="selectedUserGroups['whatsapp'] = userGroups">Select All</a></li>
                                      <li *ngIf="userGroups.length === selectedUserGroups['whatsapp'].length"> <a
                                          href="javascript:void(0)"
                                          (click)="selectedUserGroups['whatsapp'] = []">Deselect All</a></li>
                                    </ul>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item">
                                    <span>
                                      {{item.group_name}}
                                    </span>
                                  </ng-template>
                                  <ng-template ng-multi-label-tmp let-items="items">
                                    {{items.length}} groups selected
                                  </ng-template>
                                </ng-select>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom"
                                  tooltip="Add" (click)="addUserGroup('whatsapp')">
                                  <em class="fa fa-plus fa-sm"></em></button>
                              </div>
                            </ng-container>
                          </div>
                        </div>

                        <div class="tagsinput my-2" style="width: auto; height: auto;min-height: auto;"
                          *ngIf="alertObj?.actions?.whatsapp?.recipients?.length > 0">
                          <ng-container *ngFor="let item of alertObj.actions.whatsapp.recipients; let index = index">
                            <span class="tag">
                              <span class="tag-text">{{item}}</span>
                              <button class="tag-remove" (click)="removeUserGroup(index, 'whatsapp')"
                                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed"></button>
                            </span>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">

                  <div class="form-group accordion-padding mx-3" *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">

                    <input type="checkbox" class="form-check-input" id="sms" name="sms"
                      [(ngModel)]="alertObj.actions.sms.enabled"
                      [disabled]="decodedToken?.privileges?.indexOf('ASMMM') === -1 || assetModel.freezed">
                    <label class="form-check-label" for="sms">SMS</label>


                    <div class="row my-2"
                      *ngIf="alertObj.actions.sms.enabled && decodedToken?.privileges?.indexOf('APMV') > -1">

                      <div class="col-auto">
                        <div class=""
                          *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                          <div class="form-inline">
                            <ng-container>
                              <div class="form-group">
                                <ng-select [items]="userGroups" clearSearchOnAdd="true" [multiple]="true"
                                  class="custom-dropdown w-12 sm" [clearable]="false" [searchable]="true"
                                  placeholder="Select Group" bindLabel="group_name" dropdownPosition="bottom"
                                  name="group-dropdown" [(ngModel)]="selectedUserGroups['sms']" [closeOnSelect]="false"
                                  required>
                                  <ng-template ng-header-tmp>
                                    <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                      <li *ngIf="userGroups.length !== selectedUserGroups['sms'].length"> <a
                                          href="javascript:void(0)"
                                          (click)="selectedUserGroups['sms'] = userGroups">Select All</a></li>
                                      <li *ngIf="userGroups.length === selectedUserGroups['sms'].length"> <a
                                          href="javascript:void(0)" (click)="selectedUserGroups['sms'] = []">Deselect
                                          All</a></li>
                                    </ul>
                                  </ng-template>
                                  <ng-template ng-option-tmp let-item="item">
                                    <span>
                                      {{item.group_name}}
                                    </span>
                                  </ng-template>
                                  <ng-template ng-multi-label-tmp let-items="items">
                                    {{items.length}} groups selected
                                  </ng-template>
                                </ng-select>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom"
                                  tooltip="Add" (click)="addUserGroup('sms')">
                                  <em class="fa fa-plus fa-sm"></em></button>
                              </div>
                            </ng-container>
                          </div>
                        </div>

                        <div class="tagsinput my-2" style="width: auto; height: auto;min-height: auto;"
                          *ngIf="alertObj?.actions?.sms?.recipients?.length > 0">
                          <ng-container *ngFor="let item of alertObj.actions.sms.recipients; let index = index">
                            <span class="tag">
                              <span class="tag-text">{{item}}</span>
                              <button class="tag-remove" (click)="removeUserGroup(index, 'sms')"
                                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed"></button>
                            </span>
                          </ng-container>
                        </div>
                      </div>

                    </div>
                  </div>
                  <hr *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">
                  <div class="form-group accordion-padding mx-3" *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">
                    <input type="checkbox" class="form-check-input" id="push_notification" name="push_notification"
                    [(ngModel)]="alertObj.actions.push_notification.enabled"
                    [disabled]="decodedToken?.privileges?.indexOf('ASMMM') === -1 || assetModel.freezed">
                  <label class="form-check-label" for="push_notification">Push Notification</label>
                  <div class="row my-2"
                  *ngIf="alertObj.actions.push_notification.enabled && decodedToken?.privileges?.indexOf('APMV') > -1">
                  <div class="col-auto">
                    <div class=""
                      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed">
                      <div class="form-inline">
                        <ng-container>
                          <div class="form-group">
                            <ng-select [items]="userGroups" clearSearchOnAdd="true" [multiple]="true"
                              class="custom-dropdown w-12 sm" [clearable]="false" [searchable]="true"
                              placeholder="Select Group" bindLabel="group_name" dropdownPosition="bottom"
                              name="group-dropdown" [(ngModel)]="selectedUserGroups['push_notification']" [closeOnSelect]="false"
                              required>
                              <ng-template ng-header-tmp>
                                <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                                  <li *ngIf="userGroups.length !== selectedUserGroups['push_notification'].length"> <a
                                      href="javascript:void(0)"
                                      (click)="selectedUserGroups['push_notification'] = userGroups">Select All</a></li>
                                  <li *ngIf="userGroups.length === selectedUserGroups['push_notification'].length"> <a
                                      href="javascript:void(0)" (click)="selectedUserGroups['push_notification'] = []">Deselect
                                      All</a></li>
                                </ul>
                              </ng-template>
                              <ng-template ng-option-tmp let-item="item">
                                <span>
                                  {{item.group_name}}
                                </span>
                              </ng-template>
                              <ng-template ng-multi-label-tmp let-items="items">
                                {{items.length}} groups selected
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="form-group">
                            <button type="button" class="btn btn-primary btn-sm mx-1" placement="bottom"
                              tooltip="Add" (click)="addUserGroup('push_notification')">
                              <em class="fa fa-plus fa-sm"></em></button>
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <div class="tagsinput my-2" style="width: auto; height: auto;min-height: auto;"
                      *ngIf="alertObj?.actions?.push_notification?.recipients?.length > 0">
                      <ng-container *ngFor="let item of alertObj.actions.push_notification.recipients; let index = index">
                        <span class="tag">
                          <span class="tag-text">{{item}}</span>
                          <button class="tag-remove" (click)="removeUserGroup(index, 'push_notification')"
                            *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1 && !assetModel.freezed"></button>
                        </span>
                      </ng-container>
                    </div>
                  </div>
                  </div>  
                
                </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isAlertConditionsLoading">
          <tr>
            <td colspan="6"><em class="fa fa-spinner fa-spin fa-fw fa-2x"></em></td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isAlertConditionsLoading && alertConditions.length === 0">
          <tr>
            <td colspan="6"> No {{selectedTab}} Alerts added.</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="modal right fade" id="addAlertConditionModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="alertObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ !alertObj.id ? 'Add' : 'Edit'}} Alert
        </h5>
        <button type="button" class="close" [disabled]="isCreateAlertConditionLoading"
          (click)="onCloseAlertConditionModal()" aria-label="Close">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Alert Message:</label>
            <input type="text" class="form-control form-control-sm" id="message" name="message"
              [(ngModel)]="alertObj.message" placeholder="Enter Alert Message">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Alert Code:</label>
            <input type="text" class="form-control form-control-sm" id="code" name="code" [(ngModel)]="alertObj.code"
              placeholder="Enter Alert Code" [disabled]="alertObj.id">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Severity:</label>
            <select class="form-control form-control-sm" id="template" name="model_type"
              [(ngModel)]="alertObj.severity">
              <option [ngValue]="undefined">Select Severity</option>
              <option [ngValue]="'Critical'">Critical</option>
              <option [ngValue]="'Error'">Error</option>
              <option [ngValue]="'Warning'">Warning</option>
              <option [ngValue]="'Informational'">Informational</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Alert Source:</label>
            <select class="form-control form-control-sm" id="alert_type" name="alert_type"
              [(ngModel)]="alertObj.alert_type" (change)="onChangeOfAlertSource()">
              <option [ngValue]="undefined">Select Alert Source</option>
              <option [ngValue]="'Asset'">External Alert</option>
              <option [ngValue]="'Edge'" *ngIf="contextApp.app!='Indygo'  && contextApp.app!='IndygoBeta'">Edge Alert</option>
              <option [ngValue]="'Cloud'">Cloud Alert</option>
            </select>
          </div>
          <accordion [closeOthers]="'true'" *ngIf="alertObj.alert_type === 'Asset'">
            <accordion-group heading="" [panelClass]="'customClass'">
              <ng-container accordion-heading>
                <button class="btn" type="button">
                  Alert Register Details
                </button>
              </ng-container>
              <app-model-protocol-specific-details [setupForm]="setupForm" [dataObj]="alertObj?.metadata"
                [pageType]="!alertObj.id ? 'add' : 'edit'" [assetModel]="assetModel" [slaveData]="slaveData">
              </app-model-protocol-specific-details>
            </accordion-group>
          </accordion>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="alertObj.alert_type === 'Asset';else noSetupFormBtn" type="button"
          class="btn btn-primary add-row"
          [disabled]="(!setupForm?.valid && (setupForm?.touched || !setupForm?.touched)) || isCreateAlertConditionLoading"
          (click)="!alertObj.id ? onCreateAlertCondition() : onUpdateAlertConditions()">Save</button>
        <ng-template #noSetupFormBtn>
          <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAlertConditionLoading"
            (click)="!alertObj.id ? onCreateAlertCondition() : onUpdateAlertConditions()">Save</button>
        </ng-template>
        <button type="button" class="btn btn-white" [disabled]="isCreateAlertConditionLoading"
          (click)="onCloseAlertConditionModal()">Cancel</button>
        <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAlertConditionLoading"></em>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this alert condition?'"
      [headerMessage]="'Remove Alert Condition'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
