<div class="tab-bar">
  <ul class="nav nav-pills">
    <li class="nav-item">
     <a class="nav-link" href="javascript:void(0)" (click)="openDeviceCreateModal()" >
     <i class="fas fa-fw fa-plus-circle"></i>
     <span class="text-secondary">Provision</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="javascript:void(0)" (click)="onSingleOperationClick('Deprovision')" >
     <i class="fas fa-fw fa-times-circle"></i>
     <span class="text-secondary">Deprovision</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="javascript:void(0)"  (click)="onSingleOperationClick('Enable')">
     <i class="fas fa-fw fa-toggle-on"></i>
     <span class="text-secondary">Enable</span></a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="javascript:void(0)" (click)="onSingleOperationClick('Disable')">
     <i class="fas fa-fw fa-toggle-off"></i>
     <span class="text-secondary delete-row">Disable</span></a>
    </li>
   <li class="nav-item">
     <a class="nav-link" href="javascript:void(0)" (click)="onSingleOperationClick('Package Management')">
     <!--<i class="fad fa-fw fa-sync"></i>-->
     <i class="fas fa-fw fa">&#xf021;</i>
     <span class="text-secondary delete-row">Package Management</span></a>
    </li>
   </ul>

</div>

<!-- DataTales Example -->
<div class="table-responsive">

  <div class="tableFixHead" style="max-height: calc(100vh - 12.5rem)">
            <table class="table table-hover" >
          <thead>
            <th ><input type="checkbox" name="visibleall"
              id="visibleall" (change)="onClickOfDeviceAllCheckbox()" [(ngModel)]="isAllDeviceSelected"
              placement="bottom" [tooltip]="isAllDeviceSelected ? 'Deselect All' : 'Select All'"/></th>
            <th>No</th>
            <th>{{(tabData?.table_key || 'Asset') + ' Name' }}</th>
            <th>{{(tabData?.table_key || 'Asset') + ' ID' }}</th>
            <th>Hierarchy</th>
          </thead>
          <tbody>
            <ng-container *ngIf="devicesList.length > 0">
              <tr *ngFor="let device of devicesList; let i = index">
                <td  >
                  <input type="checkbox" name="visible{{i}}"
                      id="visible{{i}}" (change)="onDeviceSelection(device)"
                      [checked]="checkForDeviceVisibility(device)" />
                </td>
                <td>{{i + 1}}</td>
                <td>{{device.display_name}}</td>
                <td>{{device.device_id}}</td>
                <td>{{device.hierarchyString}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="devicesList.length === 0 && !isDeviceListLoading">
              <tr>
                <td colspan="5">
                  No {{(tabData?.table_key || 'Asset')}} data found.
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isDeviceListLoading">
              <tr>
                <td colspan="5">
                  <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <span class="pull-right mt-1 mr-1" *ngIf="!insideScrollFunFlag && devicesList.length > 0">
        <a href="javascript:void(0)" class="mr-1" (click)="currentOffset = currentOffset + currentLimit;getDevices();"
          placement="bottom" tooltip="Load More Records...">Load More...</a>
      </span>
      <!-- <app-common-table *ngIf="tableConfig" [tableData]="devicesList" [tableConfig]="tableConfig" [isTableFilterSelected]="isFilterSelected"
     [isTableDataLoading]="isDeviceListLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table> -->
    </div>

<app-add-device *ngIf="isOpenDeviceCreateModal"  [gateways]="gateways" (getDeviceEmit)="devicesList = [];getDevices()"
[componentState]="type" [tileData]="tabData" (cancelModal)="onCreateDeviceCancelModal()"></app-add-device>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" style="z-index: 1400;">
  <div class="modal-dialog" role="document">
    <!-- <app-message-modal
    [bodyMessage]="confirmBodyMessage"
     [headerMessage]="confirmHeaderMessage"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal> -->

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{confirmHeaderMessage}}</h5>
        <button type="button" class="close"  aria-label="Close"  (click)="onModalEvents('close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
        <ng-container *ngIf="modalConfig?.stringDisplay && displyaMsgArr.length === 0">{{confirmBodyMessage}}<i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading"></i></ng-container>
        <ng-container *ngIf="displyaMsgArr.length > 0">
          <ul>
            <li *ngFor="let msg of displyaMsgArr; let last = last;">
              {{msg.message}} <i class="fa fa-check" style="color: green;" *ngIf="!msg.error"></i> <i class="fa fa-times" style="color: red;" *ngIf="msg.error"></i>
              <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading && last"></i></li>
          </ul>
        </ng-container>

        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="modalConfig?.isDisplaySave" type="button" class="btn btn-primary" (click)="onModalEvents('save')">
          {{modalConfig?.saveBtnText ? modalConfig?.saveBtnText : 'Save'}}</button>
        <button *ngIf="modalConfig?.isDisplayCancel" type="button" class="btn btn-secondary" (click)="onModalEvents('close')">
          {{modalConfig?.cancelBtnText ? modalConfig?.cancelBtnText : 'Cancel'}}
        </button>
      </div>
    </div>

  </div>
</div>

<div class="modal right fade" id="packageManagementModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2"
style="z-index: 1200;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Package Management</h5>
        <button type="button" class="close"  aria-label="Close" [disabled]="isAPILoading" (click)="onModalEvents('close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!deviceTwin; else packageTemplate"><i class="fa fa-spinner fa-spin fa-fw fa-2x"></i></div>
        <ng-template #packageTemplate>
          <ng-container *ngIf="devicePackages.length === 0"> No Packages are added for this asset. Please add it first.</ng-container>
          <ng-container *ngIf="currentDeviceApps.length > 0">
            <h6> Currently, this asset is having below packages installed.</h6>
            <ul>
              <li  *ngFor="let app of currentDeviceApps"> {{app}} - {{deviceTwin.twin_properties.reported.installed_packages[app]}}</li>
            </ul>
          </ng-container>
          <ng-container *ngIf="currentDeviceApps.length === 0">
              <h6>No packages are installed in this asset.</h6>
          </ng-container>
          <hr/>
          <ng-container *ngIf="devicePackages.length > 0">
          <accordion [closeOthers]="'true'" class="mb-2">
            <accordion-group heading="" [panelClass]="'customClass'">
              <ng-container  accordion-heading>
                <button class="btn" type="button" (click)="selectedDevicePackage = undefined">
                  Install Package
                </button>
              </ng-container>
              <p class="" *ngIf="installPackages.length > 0">
              <a
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-1 float-right"
                  href="javascript:void(0)"
                  (click)="openConfirmDialog('Install')"
                  [class.disabled]="!selectedDevicePackage"
                  ><i class="fa fa- fa-sm text-white-50"></i> Install</a
                >
              </p>

                <table class="table table-hover">
                  <thead>
                    <th></th>
                    <th>App</th>
                    <th>Package</th>
                    <th>Version</th>
                  </thead>
                  <tbody >
                    <ng-container *ngIf="installPackages.length > 0">
                    <tr *ngFor="let package of installPackages; let i = index">
                    <td><input type="checkbox" name="install" [checked]="selectedDevicePackage?.id === package.id"
                      id="install{{i}}" (change)="onCheckboxChange($event, package)" [disabled]="!package.is_install"
                     /></td>
                    <td>{{package.name}}</td>
                    <td>{{package.display_name}}</td>
                    <td>{{package.version}}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="installPackages.length === 0">
                    <tr>
                      <td colspan="4">No packages are available to install.</td>
                    </tr>
                  </ng-container>
                  </tbody>

                </table>

            </accordion-group>
            <accordion-group heading="" [panelClass]="'customClass'">
              <ng-container  accordion-heading>
                <button class="btn" type="button" (click)="selectedDevicePackage = undefined">
                  Upgrade/Downgrade Package
                </button>
              </ng-container>
              <p class=" float-right" *ngIf="updatePackages.length > 0">
                <a
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2"
                  href="javascript:void(0)"
                  (click)="openConfirmDialog('Upgrade')"
                  [class.disabled]="!selectedDevicePackage"
                  ><i class="fa fa- fa-sm text-white-50"></i> Upgrade/Downgrade</a
                >

              </p>
              <div class="table-responsive table-wrapper" id="table-wrapper" style="max-height: 20rem;">

                <table class="table table-hover" >
                  <thead>
                    <th></th>
                    <th>App</th>
                    <th>Package</th>
                    <th>Version</th>
                  </thead>

                  <tbody >
                    <ng-container *ngIf="updatePackages.length > 0">
                    <tr *ngFor="let package of updatePackages; let i = index;">
                    <td><input type="checkbox" name="visible{{i}}" (change)="onCheckboxChange($event, package)"
                      id="visible{{i}}" [checked]="selectedDevicePackage?.id === package.id" [disabled]="!package.is_update"
                     /></td>
                    <td>{{package.name}}</td>
                    <td>{{package.display_name}}</td>
                    <td>{{package.version}}</td>
                  </tr>
                  </ng-container>
                  <ng-container *ngIf="updatePackages.length === 0">
                    <tr>
                      <td colspan="4">No packages are available to upgrade/downgrade.</td>
                    </tr>
                  </ng-container>
                  </tbody>

                </table>
              </div>
            </accordion-group>
            <accordion-group heading="" [panelClass]="'customClass'">
              <ng-container  accordion-heading>
                <button class="btn" type="button" (click)="selectedDevicePackage = undefined">
                  Uninstall Package
                </button>
              </ng-container>
              <p *ngIf="uninstallPackages.length > 0">
                <a
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-1 float-right"
                href="javascript:void(0)"
                (click)="openConfirmDialog('Uninstall')"
                [class.disabled]="!selectedDevicePackage"
                ><i class="fa fa- fa-sm text-white-50"></i> Uninstall</a
              >
              </p>
                <table class="table table-hover">
                  <thead>
                    <th></th>
                    <th>App</th>
                    <th>Package</th>
                    <th>Version</th>
                  </thead>
                  <tbody >
                    <ng-container *ngIf="uninstallPackages.length > 0">
                    <tr *ngFor="let package of uninstallPackages;let i = index;">
                    <td><input type="checkbox" name="visible{{i}}" (change)="onCheckboxChange($event, package)"
                      id="visible{{i}}" [checked]="selectedDevicePackage?.id === package.id" [disabled]="!package.is_uninstall"
                     /></td>
                    <td>{{package.name}}</td>
                    <td>{{package.display_name}}</td>
                    <td>{{package.version}}</td>
                  </tr>
                </ng-container>
                  <ng-container *ngIf="uninstallPackages.length === 0">
                    <tr>
                      <td colspan="4">No packages are available to uninstall.</td>
                    </tr>
                  </ng-container>
                  </tbody>

                </table>
            </accordion-group>
          </accordion>
          </ng-container>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary"  (click)="onModalEvents('close')">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
