<div class="row mx-auto">
  <div class="topnavbar bg-white py-2" style="margin-top: 3.1rem;height:6rem;">
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-12" >
          <form>
            <div class="form-group form-inline my-1">
              <angular2-multiselect [data]="dropdownPropList"
              id="y1AxisProperty"
              [(ngModel)]="y1AxisProps" name="y1AxisProperty"
              [settings]="{
                text: 'Select Y1 Axis',
                selectAllText: 'Select All',
                unSelectAllText: 'UnSelect All',
                classes: 'custom-class col-lg-3 p-0',
                enableSearchFilter: true,
                badgeShowLimit: 1,
                maxHeight: 200,
                labelKey: 'id'
              }"
              (onDeSelectAll)="onDeSelectAll('y1')">
            </angular2-multiselect>
            <angular2-multiselect [data]="dropdownPropList"
              id="y2AxisProp"
              [(ngModel)]="y2AxisProp" name="y2AxisProp"
              [settings]="{
                text: 'Select Y2 Axis',
                selectAllText: 'Select All',
                unSelectAllText: 'UnSelect All',
                classes: 'custom-class col-lg-3',
                enableSearchFilter: true,
                badgeShowLimit: 1,
                maxHeight: 200,
                labelKey: 'id'
              }"  (onDeSelectAll)="onDeSelectAll('y2')">
            </angular2-multiselect>

              <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search" (click)="searchData()" ><i class="fas fa-search fa-sm"></i></button>
              <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear" (click)="clear()"><i class="fas fa-trash  fa-sm"></i></button>
            </div>
           </form>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <hr class="solid">
        </div>
      </div>

  </div>

      <div>

      <google-chart  *ngIf="lineGoogleChartData.dataTable.length > 1 && !isHistoryAPILoading" [data]="lineGoogleChartData"></google-chart>
      <h6 *ngIf="historyData.length === 0 && isFilterSelected && !isHistoryAPILoading" >No data found.</h6>
      <h6 *ngIf="historyData.length === 0 && !isFilterSelected && !isHistoryAPILoading" >
        Select filter and press search button to load the chart.
      </h6>
      <i *ngIf="isHistoryAPILoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
    </div>

  </div>



