.w-12 {
  width: 12rem!important;
  /* height: 20px; */
}

.select-item {
  /* width: 10%!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.w-11 {
  width: 11.5%!important;
}





