<div class="topnavbar">
    <div class="d-sm-flex align-items-center justify-content-start mb-2 mt-n3 pl-1">
    <h5 class="h4 mb-0 text-gray-800">Compressor Overview</h5>
  </div>
<div id="telemetry-tabs" class="d-sm-flex justify-content-end" style="margin-right: 12rem;margin-top: -3rem;">
<nav>
<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Meta-data" role="tab" aria-controls="nav-home" aria-selected="true">Live Telemetry</a>
  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Device" role="tab" aria-controls="nav-profile" aria-selected="false">Live Alerts</a>
</div>
</nav>
</div>
</div>
<div class="container-tab-pad" style="margin-top: 7rem">

        <div class="row px-4">
    <div id="tabs">
      <div class="tab-content px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="Meta-data" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="card row bg-white" style="margin-left:-3rem">
            <div class="col-xl-12 col-md-12 mb-12 ml-5">
              <form>
                <div class="form-group form-inline my-2 mx-3">
                  <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let index = index;">
                  <select *ngIf="index !== 0" class="form-control form-control-sm mx-1 my-1" id="{{level}}"
                  [disabled]="contextApp?.user?.hierarchy[level]"
                  [(ngModel)]="configureHierarchy[index]" name="{{level}}" (change)="onChangeOfHierarchy(index)">
                    <option [ngValue]="undefined">Select {{level}}</option>
                    <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
                      {{tag}}
                    </option>
                  </select>
                  <input  type="text" *ngIf="index === 0"  defaultValue="{{contextApp.app}}" disabled class="form-control form-control-sm mx-1 my-1">
                </ng-container>
                <select class="form-control form-control-sm mx-1 my-1" id="deviceCategory" [(ngModel)]="filterObj.device"
                name="deviceCategory" (change)="onAssetSelection()">
                <option [ngValue]="undefined">Select Asset</option>
                <option [ngValue]="device" *ngFor="let device of devices">
                  {{device?.display_name ? device?.display_name: device.device_id}}
                </option>
                </select>
                <select class="form-control form-control-sm mx-1 my-1" id="deviceCategory1" [(ngModel)]="filterObj.non_ip_device"
                  name="deviceCategory1" *ngIf="filterObj.device?.cloud_connectivity.includes('Gateway')"
                  >
                  <option [ngValue]="undefined">Select Asset</option>
                  <option [ngValue]="device" *ngFor="let device of nonIPDevices">
                    {{device?.display_name ? device?.display_name: device.device_id}}
                  </option>
                </select>
                <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search" (click)="onFilterSelection()" ><i
                  class="fas fa-search fa-sm"></i></button>
                </div>
              </form>
            </div>

          </div>
          <div class="row" *ngIf="telemetryObj">
              <div class="col-xl-8 col-lg-8">
                <!-- Content Row -->
                  <div class="row">

                  <!-- Content Column -->
                <div class="col-lg-7  my-3">

                  <!-- Project Card Example -->
                  <div class="card ">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Pressure Parameters (Bar)</h6>
                  </div>
                  <div class="card-body1">
                    <div class="row">
                    <div class="col-4" >
                      <span class="text-xs mx-3">Discharge Pressure</span>
                      <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.Discharge_Pressure}}</span> <span class="text-xs">bar</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-4 border-left" >
                      <span class="text-xs mx-3">Suction Pressure</span>
                       <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.suction_pressure}}</span> <span class="text-xs">bar</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>
                       </div>
                    </div>

                    <div class="col-4 border-left" >
                      <span class="text-xs mx-3">High-bank Pressure</span>
                       <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.high_bank_pressure}}</span> <span class="text-xs">bar</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>

                  <div class="col-lg-5 my-3">

                   <!-- Project Card Example -->
                  <div class="card ">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Flow Rate Parameters (kg/hr)</h6>
                  </div>
                  <div class="card-body1">
                    <div class="row">
                    <div class="col-6" >
                      <span class="text-xs mx-3">Flow Rate Suction</span>
                      <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.Flow_rate_Suction}}</span> <span class="text-xs">Kg/hr</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-6 border-left" >
                      <span class="text-xs mx-3">Flow Rate Discharge</span>
                       <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.Flow_rate_Discharge}}</span> <span class="text-xs">kg/hr</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>
                       </div>
                    </div>

                    </div>
                  </div>
                  </div>

                  </div>


                 </div>

                <div class="row">

                <!-- Content Column -->
                <div class="col-lg-7 mb-3">

                  <!-- Project Card Example -->
                  <div class="card ">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Electric Parameters</h6>
                  </div>
                  <div class="card-body1">
                    <div class="row">
                    <div class="col-4" >
                      <span class="text-xs mx-3">Active Power</span>
                      <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.Active_Power}}</span> <span class="text-xs">KW</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-4 border-left" >
                      <span class="text-xs mx-3">Voltage R-Y</span>
                       <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.Voltage_R_Y}}</span> <span class="text-xs">V</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>
                       </div>
                    </div>

                    <div class="col-4 border-left" >
                      <span class="text-xs mx-3">Current R Phase</span>
                       <div class="text-center pt-3" >
                      <span class="text-darkblue display-5 font-weight-bold">{{telemetryObj.Current_R_Phase}}</span> <span class="text-xs">A</span>
                       <div class="pt-3">
                          <div>
                             <svg viewBox="0 0 200 150" class="line-chart">
                              <polyline
                               fill="none"
                               stroke="#8a0909"
                               stroke-width="5"
                               points="
                                 00,80
                                 20,70
                                 40,50
                                 60,60
                                 80,50
                                 100,80
                                 120,50
                                 140,70
                                 160,40
                                 180,90
                                 200,90
                                 220,70
                                 240,80
                                 260,60
                                 280,50
                                 300,80
                                 320,80
                                 340,50
                                 360,60
                                 380,70
                                 400,30
                                "
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                </div>

                <div class="col-lg-5 mb-3">

                  <!-- Illustrations -->
                  <div class="card ">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Gas Leak Parameters</h6>
                  </div>
                  <div class="card-body1">
                    <div class="row">
                    <div class="col-6" >
                       <div class="text-center" >
                      <img src="../../../../assets/img/meter.png" width="75%">
                       </div>
                      <span class="text-xs mx-3">Gas Leak Level-1</span>
                    </div>
                    <div class="col-6 border-left" >
                       <div class="text-center" >
                      <img src="../../../../assets/img/meter.png" width="75%">
                       </div>
                       <span class="text-xs mx-3">Gas Leak Level-2</span>
                    </div>

                    </div>
                  </div>
                  </div>
                </div>
                </div>
              </div>

              <!-- Area Chart -->
              <div class="col-xl-2 col-lg-2 my-3">
                <div class="card">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold">Temperature (&deg;C)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row text-center">
                    <div class="" >
                      <app-gauge-chart></app-gauge-chart>
                    </div>
                    <span class="text-xs mx-3">Discharge Gas Temperature</span>
                  </div>
                    <div class="row text-center">
                      <div class="pt-3" >
                        <app-gauge-chart></app-gauge-chart>
                    </div>
                    <span class="text-xs mx-3">Discharge Oil Temperature</span>
                  </div>
                </div>
                </div>
              </div>
              <!-- Area Chart -->
              <div class="col-xl-2 col-lg-2 my-3">
                <div class="card">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold">Running Hours</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body text-center">
                  <h4 class="font-weight-bold">ON</h4>
                  for
                  <h4 class="font-weight-bold mt-3">{{telemetryObj.Running_Hours}}</h4>
                  Hrs
                </div>
                </div>
              </div>
            </div>

        </div>
        <div class="tab-pane fade" id="Device" role="tabpanel" aria-labelledby="nav-profile-tab">
          <ng-container>
            <app-application-visualization></app-application-visualization>
          </ng-container>


        </div>
      </div>
    </div>
  </div>
</div>
