.contain-pad-dashboard {
  margin-top: 2.5rem;
  max-height: calc(100vh - 12rem)!important;
}

/* .overlay {
  width: 60rem;
  height: 6rem;
  color: black;
  position: absolute;
  top: 47%;
  left: 25%;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;

} */
