<div class="row">
  <div class="col-xl-4 col-lg-5">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card bg-warning text-white shadow">
          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid px-3 px-sm-2 mt-3 mb-4" style="width: 25rem;" src="../../../assets/img/pump1.svg"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card border-left-secondary shadow h-100">
          <div class="card-body">
            <a href="javascript:void(0)" (click)="redirectToDevice()" >
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                  src="../../../assets/img/pump.svg" alt="">
              </div>
              <div class="text-center">
                <i *ngIf="isDashboardSnapshotLoading" class="fa fa-spinner fa-spin fa-fw"></i>
                <span *ngIf="!isDashboardSnapshotLoading">{{dashboardSnapshot?.device_count}}</span> </div>
              <div class="text-black-50 text-center small">Devices</div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card border-left-success shadow h-100">
          <div class="card-body">
            <a href="javascript:void(0)" (click)="redirectToDevice('connected')">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                  src="../../../assets/img/pump.svg" alt="">
              </div>
              <div class="text-center">
                <i *ngIf="isDashboardSnapshotLoading" class="fa fa-spinner fa-spin fa-fw"></i>
                <span *ngIf="!isDashboardSnapshotLoading">{{dashboardSnapshot?.connected_device_count}}</span> </div>
              <div class="text-black-50 text-center small">Connected</div>
            </a>

          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card border-left-danger shadow h-100">
          <div class="card-body">
            <a href="javascript:void(0)" (click)="redirectToDevice('disconnected')">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                  src="../../../assets/img/pump.svg" alt="">
              </div>
              <div class="text-center">
                <i *ngIf="isDashboardSnapshotLoading" class="fa fa-spinner fa-spin fa-fw"></i>
                <span *ngIf="!isDashboardSnapshotLoading">{{dashboardSnapshot?.disconnected_device_count}}</span> </div>
              <div class="text-black-50 text-center small">Disconnected</div>
            </a>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">

    <!-- Bar Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">IoT Hub Overall Statistics</h6>
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link small font-weight-normal" data-toggle="tab" aria-expanded="false" href="#D2C">D2C
              Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link small font-weight-normal" data-toggle="tab" aria-expanded="false" href="#C2D">C2D
              Messages</a>
          </li>
        </ul>
        <div id="reportrange"
          style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; font-size:.75rem;">
          <i class="fa fa-calendar"></i>&nbsp;
          <span></span> <i class="fa fa-caret-down"></i>
        </div>

      </div>

      <div class="card-body">

        <div class="tab-content">
          <div class="tab-pane active" id="D2C">
            <div role="tabpanel" class="tab-pane active no-padding" id="home">
              <div>
                <canvas baseChart #d2cChart [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
              </div>

            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="C2D">
            <div>
              <canvas baseChart #c2dChart [datasets]="barChartData1" [labels]="barChartLabels"
                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <!-- /.tab-pane -->
        </div>


      </div>
    </div>
  </div>


</div>

<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-4 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Recent Notifications
          <span class="float-right">
            <a class="watch-eye"><i class="fa fa-eye" aria-hidden="true"></i></a>
          </span>
        </h6>

      </div>

      <div class="card-body">
        <div class="timeline-body notifications">
          <i *ngIf="isLastNotificationDataLoading" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
          <div class="timeline m-border" *ngIf="!isLastNotificationDataLoading">
            <div class="timeline-item border-info" *ngFor="let notification of lastGeneratedNotifications">
              <div class="item--content">
                <div class="text--muted">{{notification.device_id}} | {{notification.time_diff}}</div>
                <p>{{notification.message?.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 mb-4">

    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Recent Alerts
          <span class="float-right">
            <a class="watch-eye"><i class="fa fa-eye" aria-hidden="true"></i></a>
          </span>
        </h6>
      </div>
      <div class="card-body">
        <div class="timeline-body notifications">
          <i *ngIf="isLastAlertDataLoading" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
          <div class="timeline m-border" *ngIf="!isLastAlertDataLoading">

            <div class="timeline-item border-warning" *ngFor="let alert of lastGeneratedAlerts">
              <div class="item--content">
                <div class="text--muted">{{alert.device_id}} | {{alert.time_diff}}</div>
                <p>{{alert.message?.message}}</p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 mb-4">

    <!-- Approach -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Device Life Cycle Events
          <span class="float-right">
            <a class="watch-eye"><i class="fa fa-eye" aria-hidden="true"></i></a>
          </span>
        </h6>
      </div>
      <div class="card-body">
        <div class="timeline-body notifications">
          <i *ngIf="isLastEventDataLoading" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
          <div class="timeline m-border" *ngIf="!isLastEventDataLoading">

            <div class="timeline-item border-info" *ngFor="let event of lastGeneratedEvents">
              <div class="item--content">
                <div class="text--muted">{{event.device_id}} | {{event.time_diff}} </div>
                <p>{{event.event_type}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
