<div class="blue-nav-bar ">
  <div class="d-flex align-items-center">
    <div class="main-heading">{{(tileData && tileData[0] ? tileData[0]?.value : '')}}</div>
    <div class="ml-auto">
      <div class="">
        <form class="form-inline">
          <ng-container *ngIf="environmentApp === 'SopanCMS'">
            <div class="form-group">
              <div class="numberCircle" [ngClass]="{'active': activeCircle === 'all'}" tooltip="All Assets">
                <a href="javascript:void(0)" (click)="onClickOfCount('all')">{{assets.length}}</a>
              </div>
            </div>
            <div class="form-group">
              <div class="greenNumberCircle" [ngClass]="{'active': activeCircle === 'healthy'}"
                tooltip="Healthy Assets">
                <a href="javascript:void(0)" class="text-white"
                  (click)="onClickOfCount('healthy')">{{healthyAssetCount}}</a>
              </div>
            </div>
            <div class="form-group">
              <div class="redNumberCircle" [ngClass]="{'active': activeCircle === 'unhealthy'}"
                tooltip="Unhealthy Assets">
                <a href="javascript:void(0)" class="text-white"
                  (click)="onClickOfCount('unhealthy')">{{unhealthyAssetCount}}</a>
              </div>
            </div>
          </ng-container>
          <app-hierarchy-dropdown *ngIf="!isGetAssetsAPILoading" #hierarchyDropdown [showAsset]="false" [closeOnSelection]="false"
            [filterObj]="filterObj" [assets]="assets" (saveHierarchyEvent)="onSaveHierachy($event)"
            (clearHierarchyEvent)="onClearHierarchy($event)">
          </app-hierarchy-dropdown>
          <div class="form-group"><button type="button" class="btn btn-sm searchBtn btn-primary"
              (click)="onAssetFilterApply()"><em class="fas fa-search fa-sm"></em></button></div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="">
  <div id="map-container-google-1" class="z-depth-1-half map-container">
    <agm-map #gm [latitude]="centerLatitude" [longitude]="centerLongitude" [styles]="customMapStyle" [fitBounds]="mapFitBounds">
      <agm-marker-cluster imagePath="./assets/img/m">
        <ng-container *ngFor="let asset of mapAssets; let i = index; ">
          <agm-marker *ngIf="asset.latitude && asset.longitude" [agmFitBounds]="mapFitBounds"
            [latitude]="asset.latitude" [longitude]="asset.longitude" (mouseOver)="onMarkerClick(infowindow, gm)"
            [iconUrl]="asset.icon">
            <agm-info-window #infowindow>
              <!-- <b> <a class="blue-font" style="text-decoration: none;" href="javascript:void(0)" (click)="redirectToAsset(asset)">{{asset.display_name ? asset.display_name: asset.asset_id}}</a></b><br/> -->
                  <label>{{asset.display_name ? asset.display_name: asset.asset_id}}</label><br/>
        
                      <a *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMV') > -1" href="javascript:void(0)" style="z-index: 1;"
                        (click)="redirectToAsset(asset)" class="float-left" >
                        <em class="fa fa-fw fa-table" title="View Control Panel" style="font-size: 15px;padding-bottom: 10px;"></em>
                      </a>&nbsp;&nbsp;
                      <a *ngIf="decodedToken?.privileges && (decodedToken.privileges.indexOf('ASMV') > -1 || decodedToken.privileges.indexOf('RMV') > -1 )" href="javascript:void(0)" style="z-index: 1;margin-left: 10px;"
                        (click)="redirectToLiveData(asset)" class="float-left" >

                        <em *ngIf="contextApp?.dashboard_config?.show_live_widgets" class="fa fa-chart-bar fa-fw" title="View Live Data" style="font-size: 15px;padding-bottom: 10px;"></em>
                        <em *ngIf="!(contextApp?.dashboard_config?.show_live_widgets)" class="fa fa-chart-bar fa-fw" title="View Historic Data"  style="font-size: 15px;padding-bottom: 10px;"></em>
                      </a>
                
                  <br/>
              <ng-container>
                <hr>
                <div *ngIf="asset?.map_content?.data && (asset.map_content.data | keyvalue)?.length > 0; else noSPCDTemplate">
                  <div *ngFor="let kpi of asset.map_content.data | keyvalue">
                      <p><b>{{kpi.key}}:</b> {{kpi.value}}</p>
                  </div>
                </div>
                <ng-template #noSPCDTemplate>
                  <p>No data available.</p>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="environmentApp === 'KCMS'">
                <hr>
                <p><b>MTTR:</b> {{asset.mttr}}</p>
                <p><b>MTBF:</b> {{asset.mtbf}}</p>
                <p><b>Gas loss:</b>{{asset.gas}}</p>
                <p><b>Gas Consumption:</b>{{asset.power}}</p>
              </ng-container>
            </agm-info-window>
          </agm-marker>
        </ng-container>
      </agm-marker-cluster>
    </agm-map>
  </div>
</div>
