<div class="blue-nav-bar ">
  <div class="d-flex align-items-center">
  <div class="main-heading">Home</div>
  <div class="ml-auto">
    <div class="">
      <form class="form-inline">
        <ng-container *ngIf="contextApp.app === 'CMS_Dev'">
        <div class="form-group">
          <div class="numberCircle"  tooltip="All Assets">
            <a href="javascript:void(0)" (click)="onClickOfCount('all')">{{devices.length}}</a></div>
        </div>
        <div class="form-group">
          <div class="greenNumberCircle" tooltip="Healthy Assets">
            <a href="javascript:void(0)" class="text-white" (click)="onClickOfCount('healthy')">{{healthyDeviceCount}}</a></div>
        </div>
        <div class="form-group">
          <div class="redNumberCircle" tooltip="Unhealthy Assets">
            <a href="javascript:void(0)" class="text-white" (click)="onClickOfCount('unhealthy')">{{unhealthyDeviceCount}}</a></div>
        </div>
      </ng-container>
        <div class="form-group" >
          <button href="#" role="button" class="dropdown-btn" data-toggle="dropdown" [ngClass]="{'active': hierarchyString}"
                  [tooltip]="hierarchyString ? hierarchyString : 'Select Hierarchy'"
          (click)="onDeviceFilterBtnClick()" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-filter fa-sm button-divider"></i> {{hierarchyString ? displayHierarchyString : 'Select Hierarchy'}}</button>
        <div class="dropdown-menu dropdown-filter-content" id="liveDataSelectAssret">
          <ng-container *ngFor="
                      let level of contextApp?.hierarchy?.levels;
                      let index = index
                    ">
            <div class="">
              <select *ngIf="index !== 0" name="{{level}}_{{index}}" class="dropdown-form dropdown-open" id="{{ level }}"
                [disabled]="contextApp?.user?.hierarchy[level]" [(ngModel)]="configureHierarchy[index]"
                name="{{ level }}" (change)="onChangeOfHierarchy(index, true)">
                <option [ngValue]="undefined">
                  Select {{ level }}
                </option>
                <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
                  {{ tag }}
                </option>
              </select>
              <input type="text" *ngIf="index === 0" name="{{level}}_{{index}}" defaultValue="{{ contextApp.app }}"
                disabled class="dropdown-form dropdown-open" />
            </div>
          </ng-container>
          <!-- <ng-select [items]="devices" class="custom-dropdown" bindLabel="display_name" [clearable]="false"
            [searchable]="true" [closeOnSelect]="true" appendTo="#liveDataSelectAssret" placeholder="Select Asset"
            dropdownPosition="bottom" name="asset-dropdown" [(ngModel)]="filterObj.device">
          </ng-select> -->
          <div class="">
            <button class="btn btn-sm searchBtn btn-primary" type="button" (click)="onDeviceFilterApply()">Apply</button>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
  </div>

</div>
<div class="">
  <div id="map-container-google-1" class="z-depth-1-half map-container">

    <agm-map #gm [latitude]="centerLatitude" [longitude]="centerLongitude" [styles]="customMapStyle">
      <agm-marker-cluster
      imagePath="./assets/img/m">
    <ng-container  *ngFor="let device of mapDevices; let i = index; ">
      <agm-marker *ngIf="device.latitude && device.longitude"
      [latitude]="device.latitude" [longitude]="device.longitude"
      (mouseOver)="onMarkerClick(infowindow, gm)"
      [iconUrl]="device.icon"
     >
      <agm-info-window #infowindow >
        <b> <a class="blue-font ml-2" href="javascript:void(0)" (click)="redirectToDevice(device)">{{device.display_name ? device.display_name: device.device_id}}</a></b>
        <ng-container *ngIf="contextApp.app === 'CMS_Dev'">
        <hr>
        <p *ngIf="device.spcd !== undefined && device.spcd !== null; else noSPCDTemplate"><b>Specific Power Consumption:</b> {{device.spcd}}</p>
        <ng-template #noSPCDTemplate>
          <p>No data available.</p>
        </ng-template>
        </ng-container>
        <ng-container *ngIf="environmentApp === 'KCMS'">
          <hr>
          <p><b>MTTR:</b> {{device.mttr}}</p>
          <p><b>MTBF:</b> {{device.mtbf}}</p>
          <p><b>Gas loss:</b>{{device.gas}}</p>
          <p><b>Gas Consumption:</b>{{device.power}}</p>
        </ng-container>
      </agm-info-window>
      </agm-marker>
    </ng-container>
    </agm-marker-cluster>
    </agm-map>
  </div>
</div>

