<div class="tab-bar" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
  <div class="">
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <em class="fa fa-fw fa-eye"></em>
          <span class="text-secondary">View</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="addTagObject()"
          [class.disabled]="isUpdateTagsAPILoading || assetModel.freezed">
          <em class="fa fa-fw fa-plus"></em>
          <span class="text-secondary">Add</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="updateAssetModelTags()"
          [class.disabled]="isUpdateTagsAPILoading || assetModel.freezed">
          <em class="fa fa-fw fa-save"></em>
          <span class="text-secondary">Save</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmMessageModal', 'all', undefined)"
          [class.disabled]="isUpdateTagsAPILoading || assetModel.freezed">
          <em class="fa fa-fw fa-trash"></em>
          <span class="text-secondary">Delete all</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openModal('confirmMessageModal', 'reset', undefined)"
          [class.disabled]="isUpdateTagsAPILoading || assetModel.freezed">
          <em class="fa fa-fw fa-undo"></em>
          <span class="text-secondary delete-row">Revert Changes</span></a>
      </li>
      <li class="nav-item" *ngIf="isUpdateTagsAPILoading">
        <a class="nav-link" href="javascript:void(0)">
          <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Tags</h1>
</div> -->


<div class="table-responsive">
  <div class="tableFixHead">
    <!-- Page Heading -->
    <!-- <p class="mb-3 text-secondary-800">
        Following tags will be added when asset is instantiated with this model.
        <button type="button" class="btn btn-primary btn-sm mx-2 my-1"  [disabled]="assetModel.freezed"
        placement="bottom" tooltip="Add Tag" (click)="addTagObject()" >
          <em class="fa fa-plus fa-sm"></em></button>
      </p>
      <hr> -->

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Key</th>
          <th scope="col">Default Value</th>
          <th scope="col"*ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="assetModel?.tags?.reserved_tags?.length > 0">
          <tr *ngFor="let tag of assetModel?.tags?.reserved_tags; let i = index;">
            <td>{{i + 1}}</td>
            <td>{{tag.name}}</td>
            <td>{{tag.key}}</td>
            <td>{{tag.defaultValue}}</td>
            <td *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
              <a *ngIf="!tag.nonEditable" href="javascript:void(0)" class="mx-1" placement="bottom" tooltip="Delete"
                (click)="openModal('confirmMessageModal', 'single', i)" [class.disabled]="assetModel.freezed">
                <em class="fa fa-trash fa-sm"></em> </a>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="tagObj">
          <td></td>
          <td><input type="text" class="form-control form-control-sm mx-2 my-1" id="name" placeholder="Tag Name *"
              [(ngModel)]="tagObj.name" name="name"></td>
          <td><input type="text" class="form-control form-control-sm mx-2 my-1" id="key" placeholder="Tag Key *"
              [(ngModel)]="tagObj.key" name="key"></td>
          <td><input type="text" class="form-control form-control-sm mx-2 my-1" id="defaultValue"
              placeholder="Default Value" [(ngModel)]="tagObj.defaultValue" name="defaultValue"></td>
          <td></td>
        </tr>
        <tr *ngIf="assetModel?.tags?.reserved_tags?.length === 0 && !firstTagAdded">
          <td colspan="5">No Tags added.</td>
        </tr>
        <!-- <tr *ngFor="let tag of reservedTagsBasedOnProtocol">
              <td>{{tag.name}}</td>
              <td>
                <ng-container *ngIf="isReservedTagsEditable">
                  <input type="text" class="form-control form-control-sm bg-light border-0 small"
                  [(ngModel)]="assetModel?.tags[tag.key]" name="{{tag.name}}">
                </ng-container>
                <ng-container *ngIf="!isReservedTagsEditable">
                  {{assetModel?.tags[tag.key]}}
                </ng-container>
              </td>
            </tr> -->
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="message" [headerMessage]="'Remove Tags'"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
