<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="vie">Escalations</h5>
        <button type="button" class="close" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <div *ngIf="escalationDetails?.length === 0 || !escalationDetails"><b>No Escalations has been triggered.</b></div>
        <accordion class="mb-2" [closeOthers]="'true'" >
            <ng-container *ngFor="let escalation of escalationDetails; let i = index">
                <accordion-group heading="" [panelClass]="'customClass'">
                    <ng-container accordion-heading (click)="resetSelectedObj()">
                        <a class="btn" (click)="resetSelectedObj()">
                            Escalation {{i+1}}
                        </a>
                    </ng-container>
                    <div >
                       <p>Email Subject: <span [innerHTML]="escalation.email_subject"></span></p>
                       <p>Email Body: 
                        
                        <app-text-editor id="htmlEmail1"  [ngClass]="[ escalation?.email_body ? 'disabled':'disabled']" [inputItem]="escalation.email_body" >
                        </app-text-editor>
                        <!-- <span [innerHTML]="escalation.email_body"></span> -->
                    </p>
                       <p>Status: <span [innerHTML]="escalation.status"></span></p>
                       <p>Trigger Date: <span [innerHTML]="escalation.trigger_date"></span></p> 
                    </div>
                   </accordion-group>
            </ng-container>
        </accordion>
       
        
    </div>
  
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
    </div>
</div>