.assetList {
    width:300px;
    display: inline-block;
}
#selected_asset {
    width: 230px;
}
.new_value {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(118, 118, 118, 0.3);
    width: 160px;
}
.v-align-middle tr td{
    vertical-align: middle;
}  
/* input[type='checkbox'] {
    outline : 1px solid #000;
} */