
  <table  class="table table-hover" >
    <thead>
      <tr>
        <th >No</th>
        <ng-container *ngFor="let item of tableConfig?.data;let i = index;">
        <th class="{{item.headerClass}}" *ngIf="!item.isColumnHidden">
          {{item.name}}</th>
        </ng-container>
      </tr>
  </thead>
    <tbody>
      <ng-container *ngIf="tableData.length > 0 && !isTableDataLoading && isTableFilterSelected">
        <tr *ngFor="let data of tableData; let i = index;"
        [ngClass]="{ 'bg-danger text-white': (tableConfig.rowHighlight && data[tableConfig.rowHighlight.param] !== tableConfig.rowHighlight.value) ||
        (tableConfig.type === 'alert'
        && data?.severity?.toLowerCase() === 'critical')}">
          <td>{{i + 1}}</td>
          <ng-container *ngFor="let header of tableConfig?.data">
          <td *ngIf="!header.isColumnHidden" class="{{header.valueClass}}">
            <ng-container *ngIf="header.type === 'text'">

              <span *ngIf="header.key">
                <i class="fa fa-exclamation-triangle" *ngIf="tableConfig.type === 'alert' && header.key === 'code'" [style.color]="
                  (data?.severity?.toLowerCase() === 'critical' ? '#cc0000' :
                  (data?.severity?.toLowerCase() === 'error' ? '#fb5515' :
                  (data?.severity?.toLowerCase() === 'warning' ? '#f6c23e' :
                  (data?.severity?.toLowerCase() === 'informational' ? '#229954' : ''))
                  )
                  )" placement="bottom" [tooltip]="data?.severity"></i>&nbsp;{{resolve(data, header.key)}}  </span>
            </ng-container>
            <ng-container *ngIf="header.type === 'button'">
              <ng-container *ngFor="let btnData of header.btnData">
                <ng-container *ngIf="btnData.privilege_key; else normalBtns">
                <a href="javascript:void(0)" style="z-index: 1" class="{{btnData.valueclass}}" (click)="onClickOfButton(data, btnData.id)"
                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf(btnData.privilege_key) > -1 && resolve(data, 'source') !== 'Model'"
                [class.disabled]="tableConfig[btnData.disableConditions?.key] === btnData.disableConditions?.value">
                  <i class="{{btnData.icon}}" placement="bottom" [tooltip]="btnData.tooltip"
                  [style.color]="(tableConfig.rowHighlight && data[tableConfig.rowHighlight.param] !== tableConfig.rowHighlight.value) ||
                  (tableConfig.type === 'alert'
                  && data?.severity?.toLowerCase() === 'critical') ? 'white' : ''"></i>
                  {{btnData.text}}
                </a>
              </ng-container>
              <ng-template #normalBtns>
                <a href="javascript:void(0)" style="z-index: 1" class="{{btnData.valueclass}}" (click)="onClickOfButton(data, btnData.id)"
                [class.disabled]="tableConfig[btnData.disableConditions?.key] === btnData.disableConditions?.value">
                  <i class="{{btnData.icon}}" placement="bottom" [tooltip]="btnData.tooltip"
                  [style.color]="(tableConfig.rowHighlight && data[tableConfig.rowHighlight.param] !== tableConfig.rowHighlight.value) ||
                  (tableConfig.type === 'alert'
                  && data?.severity?.toLowerCase() === 'critical') ? 'white' : ''"></i>
                  {{btnData.text}}
                </a>
              </ng-template>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
        </tr>
      </ng-container>
    <ng-container *ngIf="tableData.length === 0 && !isTableDataLoading && isTableFilterSelected">
      <tr>
        <td [attr.colspan]="tableConfig.data.length + 1">No {{tableConfig.type}} data found <span *ngIf="tableConfig.hasOwnProperty('dateRange')">for {{tableConfig.dateRange}}. <p *ngIf="tableConfig.dateRange !== 'this selected range'; else differentMsg" class="pt-2">You can choose large time window.</p> <ng-template #differentMsg><p class="pt-2">You can choose different time window.</p></ng-template></span></td>
     </tr>
    </ng-container>
    <ng-container *ngIf="tableData.length === 0 && !isTableDataLoading && !isTableFilterSelected">
      <tr>
        <td [attr.colspan]="tableConfig?.data.length + 1">Select filter and press search button to load the {{tableConfig.type}} data.</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="isTableDataLoading">
      <tr>
        <td [attr.colspan]="tableConfig.data.length + 1">
          <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
        </td>
      </tr>
    </ng-container>
  </tbody>
  </table>
