<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': displayMode === 'events'}" href="javascript:void(0)"
          (click)="onTabChange('events');">
          <i class="fa fa-fw fa-angle-right"></i>
          <span>TBF Events</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': displayMode === 'history'}" href="javascript:void(0)"
          (click)="onTabChange('history');">
          <i class="fa fa-fw fa-eye"></i>
          <span>Historical MTBF</span></a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-bar" *ngIf="displayMode === 'events' || displayMode === 'history'">
  <div class="">
    <form class="form-inline">
      <app-date-range-picker *ngIf="filterObj.from_date && filterObj.to_date" [filterObj]="filterObj"
        (selectedDateApplyEmitter)="selectedDate($event)" [selectedDateRange]="selectedDateRange" [options]="options">
      </app-date-range-picker>
      <div class="form-group">
        <select class="form-control form-control-sm " id="date_frequency"
          [ngClass]="{'active': filterObj.date_frequency}" [(ngModel)]="filterObj.date_frequency" name="date_frequency">
          <option [ngValue]="undefined">Frequency </option>
          <option [ngValue]="'daily'">Daily</option>
          <option [ngValue]="'weekly'">Weekly</option>
        </select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm searchBtn btn-primary" placement="bottom" tooltip="Search"
          (click)="searchMTBFEvents(this.filterObj)"><i class="fa fa-search fa-sm"></i></button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm searchBtn btn-white" placement="bottom" tooltip="Clear Filters"
          (click)="clear();">
          <img class="filter-clear-icon" src="./assets/img/filter.svg"></button>
      </div>
      <h6 class="pull-right" *ngIf="avrgMTBF && avrgMTBF > 0 && isFilterSelected"><b> MTBF: {{avrgMTBFString}}</b></h6>
    </form>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead" style="max-height: calc(100vh - 13.5rem);">

    <ng-container *ngIf="displayMode === 'events'">
      <table class="table table-hover">
        <thead>
          <th></th>
          <th>Date</th>
          <th>TBF</th>
          <th>Asset Uptime</th>
        </thead>
        <!-- <tfoot *ngIf="avrgMTBF && avrgMTBF > 0 && isFilterSelected">
                <tr>
                  <td class="text-right" colspan="3"> MTBF</td>
                  <td colspan="2">{{avrgMTBFString}}</td>
                </tr>
              </tfoot> -->
        <tbody>
          <ng-container *ngIf="lifeCycleEvents.length > 0 && isFilterSelected">
            <tr *ngFor="let event of lifeCycleEvents; let i = index">
              <td>{{i + 1}}</td>
              <td *ngIf="originalFilterObj.date_frequency === 'weekly'">{{event.local_event_start_time}} to
                {{event.local_event_end_time}}</td>
              <td *ngIf="originalFilterObj.date_frequency === 'daily'">{{event.local_event_start_time}}</td>
              <td>{{event.mtbfString}}</td>
              <td>{{event.uptime}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected">
            <tr>
              <td colspan="4">
                No TBF data found for {{this.originalFilterObj.dateOption}}. <p
                  *ngIf="this.originalFilterObj.dateOption !== 'this selected range'; else differentMsg" class="pt-2">
                  You can choose large time window.</p>
                <ng-template #differentMsg>
                  <p class="pt-2">You can choose different time window.</p>
                </ng-template>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">
            <tr>
              <td colspan="4">Select filter and press search button to load the TBF data.</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="isLifeCycleEventsLoading">
            <tr>
              <td colspan="4">
                <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="displayMode === 'history'">
      <span *ngIf="loader"><i class="fa fa-spinner fa-spin fa-fw fa-2x"></i> {{loadingMessage}}</span>
      <p class="m-3" *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">Select
        filter
        and press search button to load the TBF data.</p>
      <p class="m-3" *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected"> No MTBF
        Data
        found for {{this.originalFilterObj.dateOption}}. <span
          *ngIf="this.originalFilterObj.dateOption !== 'this selected range'; else differentMsg">
          <p class="pt-2">You can choose large time window.</p>
        </span>
        <ng-template #differentMsg>
          <p class="pt-2">You can choose different time window.</p>
        </ng-template>
      </p>
      <div id="mtbfChart" class="mt-2" *ngIf="!isLifeCycleEventsLoading && lifeCycleEvents.length > 0"
        [ngStyle]="{'width': '100%', 'height': '25rem'}"></div>
    </ng-container>



  </div>
</div>
