
 <i class="fa fa-spinner fa-spin fa-fw fa-2x text-center"  *ngIf="isDeviceTypeDataLoading"></i>
<div id="wrapper"  *ngIf="!isDeviceTypeDataLoading">
  <!-- Sidebar -->
  <div class="sidebar1 sidebar-light mb-3 ">

    <div class="sidebar1-heading sidebar1-top-heading">
      <span>Model Definition </span>
      <!-- <button class="d-none d-md-inline mb-0" id="sidebar1Toggle" placement="bottom" tooltip="Minimize" (click)="onSidebarToggle()"></button> -->
      <i class="fa fa-fw fa" >MD</i>
		</div>
    <div class="scrollbox scrollbox_delayed" tabindex="0">
    <ul class="navbar-nav scrollbox-content" id="controlPanelSidebar">

      <ng-container *ngFor="let menu of menuItems">
        <ng-container *ngIf="menu.isTitle">
        <div class="sidebar1-heading ">
          {{menu.display_name}}
        </div>
        <!-- Divider -->
        <hr class="sidebar1-divider">
        </ng-container>
        <ng-container *ngIf="!menu.isTitle && menu.visible">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item" [ngClass]="{'active': activeTab === menu.page}">
          <a class="nav-link collapsed" href="{{menu.url}}" data-toggle="tab" aria-expanded="false"
            (click)="setActiveTab(menu.page)">
            <i class="{{menu.icon}}" placement="bottom" [tooltip]="menu.display_name"></i>
            <span>{{menu.display_name}}</span></a>
        </li>
        </ng-container>

      </ng-container>

      <!-- Divider -->
      <hr class="sidebar1-divider d-none d-md-block">
    </ul>
  </div>
  </div>
  <!-- End of Sidebar -->
   <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
    <div class="container1-fluid">
      <div class="blue-nav-bar">

        <div class="d-flex">
          <div>
            <div class="main-heading">

              {{deviceType?.name}}
              <i class="fa fa-fw fa-lock" placement="bottom" tooltip="Freezed" *ngIf="deviceType.freezed"></i>
              <i class="fa fa-fw fa-unlock"  placement="bottom" tooltip="Not Freezed"  *ngIf="!deviceType.freezed"></i></div>
          </div>
        </div>
      </div>

    <div class="">
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'overview'}" id="device_type_overview" role="tabpanel">
        <app-device-type-overview *ngIf="activeTab === 'overview' && deviceType" [deviceType]="deviceType"></app-device-type-overview>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'tags'}" role="tabpanel" id="device_type_tags">
        <app-device-type-tags *ngIf="activeTab === 'tags'  && deviceType" [deviceType]="deviceType"></app-device-type-tags>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'settings'}" role="tabpanel" id="device_type_settings">
        <app-device-type-settings *ngIf="activeTab === 'settings'  && deviceType" [deviceType]="deviceType"></app-device-type-settings>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab.includes('properties')}" role="tabpanel" id="device_type_properties">
        <app-device-type-properties *ngIf="activeTab.includes('properties') && deviceType" [type]="activeTab" [deviceType]="deviceType"></app-device-type-properties>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab.includes('direct_methods')}" role="tabpanel" id="device_type_methods">
        <app-device-type-device-methods *ngIf="activeTab.includes('direct_methods') && deviceType" [deviceType]="deviceType"></app-device-type-device-methods>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab.includes('package_management')}" role="tabpanel" id="device_type_package_management">
        <app-device-type-package-management *ngIf="activeTab.includes('package_management') && deviceType" [deviceType]="deviceType"></app-device-type-package-management>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab.includes('rules')}" role="tabpanel" id="device_type_rules">
        <app-device-type-rules *ngIf="activeTab.includes('rules') && deviceType" [deviceType]="deviceType"></app-device-type-rules>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'jsonpacket'}" role="tabpanel" id="device_type_jsonpacket">
        <app-device-type-json-packet-format *ngIf="activeTab === 'jsonpacket' && deviceType" [deviceType]="deviceType"></app-device-type-json-packet-format>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'alert_conditioning'}" role="tabpanel" id="device_type_alert_conditioning">
        <app-device-type-alert-conditions *ngIf="activeTab === 'alert_conditioning' && deviceType" [deviceType]="deviceType"></app-device-type-alert-conditions>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'control_widgets'}" role="tabpanel" id="device_type_control_widgets">
        <app-device-type-control-widgets *ngIf="activeTab === 'control_widgets' && deviceType" [deviceType]="deviceType"></app-device-type-control-widgets>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'configuration_widgets'}" role="tabpanel" id="device_type_configuration_widgets">
        <app-device-type-configuration-widgets *ngIf="activeTab === 'configuration_widgets' && deviceType" [deviceType]="deviceType"></app-device-type-configuration-widgets>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'layout'}" role="tabpanel" id="device_type_layout">
        <app-device-type-layout *ngIf="activeTab === 'layout' && deviceType" [deviceType]="deviceType"></app-device-type-layout>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'reference_material'}" role="tabpanel" id="device_type_reference_material">
        <app-device-type-reference-documents *ngIf="activeTab === 'reference_material' && deviceType" [deviceType]="deviceType"></app-device-type-reference-documents>
      </div>
      <!-- /.container1-fluid -->

    </div>
  </div>
  </div>
  </div>
  </div>
