<div id="wrapper">
  <!-- Sidebar -->
  <div class="sidebar1 sidebar-light mb-3 ">

    <div class="sidebar1-heading bg-warning text-white py-2">
      <span style="font-size:0.8rem; margin-right:1.5rem;">Model Definition </span>
      <button class="d-none d-md-inline rounded-circle border-0 mb-0" id="sidebar1Toggle" title="Minimize" (click)="onSidebarToggle()"></button>
      <i class="fas fa-fw fa" style="font-size:1rem; margin-top:0.5rem;margin-left:0.3rem">CP</i>
		</div>
    <ul class="navbar-nav bg-white" id="controlPanelSidebar">


      <!-- Nav Item - Dashboard -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'overview'}">
        <a class="nav-link collapsed" href="#device_type_overview" data-toggle="tab" aria-expanded="false"
          (click)="setActiveTab('overview')">
          <i class="fas fa-fw fa-life-ring" title="Overview"></i>
          <span>Overview</span></a>
      </li>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'tags'}">
        <a class="nav-link collapsed" href="#device_type_tags" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('tags')">
          <i class="fas fa-fw fa-tags" title="Tags"></i>
          <span>Tags</span></a>
      </li>

      <div class="sidebar1-heading ">
        Capabilities
      </div>
      <!-- Divider -->
      <hr class="sidebar1-divider">
      <li class="nav-item" [ngClass]="{'active': activeTab === 'measured_properties'}">
        <a class="nav-link collapsed" href="#device_type_properties" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('measured_properties')">
          <i class="fas fa-fw fa-history" title="Measured Properties"></i>
          <span>Measured Properties</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'readable_properties'}">
        <a class="nav-link collapsed" href="#device_type_properties" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('readable_properties')">
          <i class="fas fa-fw fa-book" title="Readable Properties"></i>
          <span>Readable Properties</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'writable_properties'}">
        <a class="nav-link collapsed" href="#device_type_properties" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('writable_properties')">
          <i class="fas fa-fw fa-pencil-square-o" title="Writable Properties"></i>
          <span>Writable Properties</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'device_methods'}">
        <a class="nav-link collapsed" href="#device_type_methods" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('device_methods')">
          <i class="fas fa-fw fa-terminal" title="Device Methods(commands)"></i>
          <span>Device Methods(commands)</span></a>
      </li>



      <!-- Heading -->
      <div class="sidebar1-heading ">
        D2C (Monitor)
      </div>
      <!-- Divider -->
      <hr class="sidebar1-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'jsonpacket'}">
        <a class="nav-link" href="#device_type_jsonpacket" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('jsonpacket')">

          <i class="fas fa-fw fa-heartbeat" title="JSON Packet Format"></i>
          <span>JSON Packet Format</span></a>
      </li>

      <!-- Heading -->
      <div class="sidebar1-heading">
        C2D (Control)
      </div>
      <!-- Divider -->
      <hr class="sidebar1-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'control_widgets'}">
        <a class="nav-link" href="#device_type_control_widgets" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('control_widgets')">

          <i class="fas fa-fw fa-angle-right" title="Control Widgets"></i>
          <span>Control Widgets</span></a>
      </li>

      <!-- Heading -->
      <div class="sidebar1-heading">
        Visualization
      </div>
      <!-- Divider -->
      <hr class="sidebar1-divider">
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': activeTab === 'layout'}">
        <a class="nav-link" href="#device_type_layout" data-toggle="tab" aria-expanded="false" (click)="setActiveTab('layout')">

          <i class="fas fa-fw fa-bar-chart" title="Layout"></i>
          <span>Widgets</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar1-divider d-none d-md-block">

    </ul>
  </div>
  <!-- End of Sidebar -->
   <!-- Content Wrapper -->
   <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
  <div  class="container1-fluid bg-white pb-3 mb-3" *ngIf="isDeviceTypeDataLoading">
    <div class="topnavbar bg-white py-2" >
    <i class="fa fa-spinner fa-spin fa-fw fa-2x text-center"></i>
  </div>
  </div>
  <div class="container1-fluid bg-white pb-3 mb-3" *ngIf="!isDeviceTypeDataLoading">

    <!-- Sidebar Toggle (Topbar) -->
    <!-- <button id="sidebar1ToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="onSideBarToggleTopClick()">
      <i class="fa fa-bars"></i>
    </button> -->
    <div class="">
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'overview'}" id="device_type_overview" role="tabpanel">
        <app-device-type-overview *ngIf="activeTab === 'overview' && deviceType" [deviceType]="deviceType"></app-device-type-overview>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'tags'}" role="tabpanel" id="device_type_tags">
        <app-device-type-tags *ngIf="activeTab === 'tags'  && deviceType" [deviceType]="deviceType"></app-device-type-tags>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab.includes('properties')}" role="tabpanel" id="device_type_properties">
        <app-device-type-properties *ngIf="activeTab.includes('properties') && deviceType" [type]="activeTab" [deviceType]="deviceType"></app-device-type-properties>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab.includes('device_methods')}" role="tabpanel" id="device_type_methods">
        <app-device-type-device-methods *ngIf="activeTab.includes('device_methods') && deviceType" [deviceType]="deviceType"></app-device-type-device-methods>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'jsonpacket'}" role="tabpanel" id="device_type_jsonpacket">
        <app-device-type-json-packet-format *ngIf="activeTab === 'jsonpacket' && deviceType" [deviceType]="deviceType"></app-device-type-json-packet-format>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'control_widgets'}" role="tabpanel" id="device_type_control_widgets">
        <app-device-type-control-widgets *ngIf="activeTab === 'control_widgets' && deviceType" [deviceType]="deviceType"></app-device-type-control-widgets>
      </div>
      <div class="tab-pane" [ngClass]="{'active': activeTab === 'layout'}" role="tabpanel" id="device_type_layout">
        <app-device-type-layout *ngIf="activeTab === 'layout' && deviceType" [deviceType]="deviceType"></app-device-type-layout>
      </div>
      <!-- /.container1-fluid -->

    </div>
  </div>
  </div>
  </div>

</div>
