<!-- <div class="tab-bar">
  <div class="">
<app-filter [filterObj]="notificationFilter" [componentState]="componentState" (filterSearch)="searchNotifications($event)"></app-filter>
</div>
</div> -->
<div class="table-responsive">
  <div class="tableFixHead" >
    <app-table [tableData]="notifications" [tableConfig]="notificationTableConfig" [isTableFilterSelected]="isFilterSelected"
    [isTableDataLoading]="isNotificationLoading" (viewMessageEvent)="openNotificationMessageModal($event)"></app-table>
  </div>
</div>
<div class="modal right fade" id="notificationMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="selectedNotification?.message" [headerMessage]="'Notification Message'"
    (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
