<div class="filter-bar">
  <div class="col-lg-6 col-xl-6 align-self-center">
    <div class="row">
      <nav>
        <ol class="cd-multi-steps text-top count mb-0">
          <li class="" [ngClass]="{'visited': selectedLevel === 1 || selectedLevel > 1}">
            <a href="javascript:void(0)" [class.disabled]="sentMessageData || !selectedWidget"
              (click)="sentC2DMessage()">Send
              <em class="fa fa-spinner fa-spin fa-fw " *ngIf="isSendC2DMessageAPILoading"></em></a>
          </li>
          <!-- <li class="" ><a href="#">Compose</a></li> -->
          <li class="" [ngClass]="{'visited': selectedLevel === 2 || selectedLevel > 2}">
            <a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
              (click)="onClickOfFeedback()">Job Detail</a>
          </li>
          <!-- <li [ngClass]="{'visited': selectedLevel === 3}">
            <a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
              (click)="onClickOfResponse()">Response</a>
          </li> -->
        </ol>
      </nav>
    </div>
  </div>
  <div class="col-lg-6 col-xl-6 border">
    <div class="row">
      <div class="bg-light px-1 py-1"
        style="writing-mode: tb-rl; transform: rotate(-180deg); font-size:0.75rem; color:black;">STATUS</div>
      <div class="justify-content-center align-self-center px-2 red-font" *ngIf="isMessageValidated === 'invalid'">
        <em class="fa fa-times"></em> Please verify JSON.
      </div>
      <div class="justify-content-center align-self-center px-2 green-font" *ngIf="isMessageValidated === 'valid'">
        <em class="fa fa-check"></em> Successfully Validated.
      </div>
      <div class="justify-content-center align-self-center px-2" *ngIf="sendMessageStatus && sendMessageResponse"
        [ngClass]="{'green-font': sendMessageStatus === 'success', 'red-font': sendMessageStatus === 'error'}">
        <em class="fa"
          [ngClass]="{'fa-check': sendMessageStatus === 'success', 'fa-times': sendMessageStatus === 'error'}"></em>
        {{sendMessageResponse}}
      </div>
      <div class="bg-light px-1 py-1" *ngIf="timerObj"
        style="writing-mode: tb-rl; transform: rotate(-180deg); font-size:0.75rem; color:black;">&nbsp;TIMER</div>
      <div class="justify-content-center align-self-center px-3">
        <div class="timer" *ngIf="timerObj">
          <div>
            <span class="hours" id="hour">{{timerObj?.hours}}</span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes" id="minute">{{timerObj?.minutes}}</span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span class="seconds" id="second">{{timerObj?.seconds}}</span>
            <div class="smalltext">Seconds</div>
          </div>
          <p id="time-up"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-scroll content-scroll-control-c2d">
  <!-- <div class="row col-lg-12 mt-2">

  <div class="col-lg-6 col-xl-6 align-self-center">
    <div class="row col-lg-12">
      <div><a href="javascript:void(0)" [class.disabled]="sentMessageData || !selectedWidget"
          (click)="sentC2DMessage()">
          <button type="button" class="btn btn-primary"> 1. Send
            <em class="fa fa-spinner fa-spin fa-fw " *ngIf="isSendC2DMessageAPILoading"></em>
          </button>
        </a></div>
      <div class='px-1'>
        <hr>
      </div>
      <div><a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
          (click)="onClickOfFeedback()">
          <button type="button" class="btn btn-primary"> 2. Feedback</button></a></div>
      <div class='px-1'>
        <hr>
      </div>
      <div><a href="javascript:void(0)" [class.disabled]="!sentMessageData  || !selectedWidget"
          (click)="onClickOfResponse()">
          <button type="submit" class="btn btn-primary"> 3. Response</button></a></div>
    </div>
  </div>


</div> -->

  <!-- <div class="" *ngIf="!sentMessageData">
  <div class="col-lg-12">
    <hr class="solid" /></div>
</div> -->

  <div class="row col-lg-12" *ngIf="displayType === 'compose'">
    <div class="col-lg-12 col-xl-12 col-md-12">
      <div class="d-sm-flex align-items-center justify-content-between my-2">
        <h6 class="h6 mb-0">Meta Data:</h6>
      </div>

      <table class="table table-hover table-bordered">
        <thead style="display: none;">
          <tr>
            <th scope="col">Asset ID</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Asset ID</td>
            <td>{{c2dMessageData.asset_id}}
            </td>
            <!-- <td *ngIf="componentState === constantData.IP_GATEWAY">
              <select class="custom-select" id="asset_id" name="asset_id" [(ngModel)]="c2dMessageData.asset_id">

                <option *ngFor="let asset of assets" [ngValue]="asset.asset_id">
                  {{asset?.display_name ? asset?.display_name : asset.asset_id}}
                </option>
                <option [ngValue]="asset.asset_id"> {{asset.asset_id}}</option>
              </select>
            </td> -->
          </tr>
          <tr *ngIf="componentState === constantData.NON_IP_ASSET">
            <td>Gateway ID</td>
            <td>{{c2dMessageData.gateway_id}}</td>
          </tr>
          <tr>
            <td>Job ID</td>
            <td>{{c2dMessageData.job_id}}</td>
          </tr>
          <tr>
            <td>TTL (In minutes)</td>
            <td>
              <input class="form-control form-control-sm" type="number" min="0" name="expire_in_min"
                [(ngModel)]="c2dMessageData.expire_in_min">
            </td>
          </tr>
          <tr>
            <td>ACK</td>
            <td>
              <select class="custom-select" id="acknowledge" name="acknowledge"
                [(ngModel)]="c2dMessageData.acknowledge">
                <option value="Full">Full</option>
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
                <option value="None">None</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-12 col-xl-12">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between my-2">
        <h6 class="h6 mb-0">Message Body / Message JSON:</h6>
      </div>
      <table class="table table-hover table-bordered">
        <thead style="display: none;">
          <tr>
            <th scope="col">Asset</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="selectedWidget?.metadata?.widget_type === 'Asset'">
            <td>Asset</td>
            <td>
              <select class="form-control form-control-sm" id="asset" name="asset" [(ngModel)]="selectedAssetValue">
                <option [ngValue]="undefined">Select Asset</option>
                <option [ngValue]="asset.asset_id" *ngFor="let asset of assets;">{{asset.asset_id}}</option>
              </select>
            </td>
          </tr>
          <tr *ngIf="selectedWidget?.metadata?.widget_type === 'Slave'">
            <td>Slave/Sensor</td>
            <td>
              <select class="form-control form-control-sm" id="slave" name="slave" [(ngModel)]="selectedSlaveValue">
                <!-- <option [ngValue]="undefined" >Select Communication Technique</option> -->
                <option [ngValue]="undefined">Select Slave/Sensor</option>
                <option [ngValue]="slave.slave_id" *ngFor="let slave of slaves;">{{slave.slave_name}}</option>
              </select>
            </td>
          </tr>
          <ng-container *ngFor="let item of jsonModelKeys; let i = index;">
            <div *ngIf="item?.json?.type">
            <tr>
              <td>
                <label for="inputPassword" class="col-form-label">{{item.name}}:</label>
              </td>
              <td>
                <div>
                  <ng-container *ngIf="item.json.type === 'string'">
                    <input type="text" class="form-control form-control-sm" name="{{item.name}}"
                      [(ngModel)]="item.value" minlength="{{item.json.minLength ? item.json.minLength : 1}}"
                      maxLength="{{item.json.maxLength ? item.json.maxLength : 50}}">
                  </ng-container>
                  <ng-container *ngIf="item.json.type === 'number'">
                    <input type="number" class="form-control form-control-sm" name="{{item.name}}"
                      [(ngModel)]="item.value"
                      min="{{item.json.minValue !== undefined || item.json.minValue !== null ? item.json.minValue : null}}"
                      max="{{item.json.maxValue !== undefined || item.json.maxValue !== null  ? item.json.maxValue : null}}"
                      step="any">
                  </ng-container>
                  <ng-container *ngIf="item.json.type === 'boolean'">
                    <div class="btn-group" name="booleandata">
                      <ui-switch checkedLabel="{{item.json.trueValue}}" uncheckedLabel="{{item.json.falseValue}}"
                        size="small" [(ngModel)]="item.value" id="{{item.name}}" name="{{item.name}}"
                        uncheckedTextColor="red" defaultBgColor="red" checkedTextColor="white"
                        uncheckedTextColor="white"></ui-switch>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="item.json.type === 'enum'">
                    <select class="form-control form-control-sm" id="widget" name="acknowledge"
                      [(ngModel)]="item.value">
                      <option [ngValue]="val.value" *ngFor="let val of item.json.enum">{{val.label}}</option>
                    </select>
                  </ng-container>
                </div>
              </td>
            </tr>
            </div>
          </ng-container>
          <ng-container *ngIf="jsonModelKeys.length === 0">
            <tr>
              <td colspan="2">No {{pageType?.includes('control') ? 'control' : 'configure'}} parameters available.</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="displayType === 'feedback'">
    <app-c2d-message [asset]="asset" [type]="displayType" [message]="sentMessageData"></app-c2d-message>
  </div>
  <!-- <div *ngIf="displayType === 'response'">
    <app-c2d-message [asset]="asset" [type]="displayType" [message]="sentMessageData"></app-c2d-message>
  </div> -->
</div>
<!-- <div class="" style="position:fixed; bottom:1.5rem;">
  <div class="form-group px-3"><button type="button" placement="bottom" class="btn btn-sm searchBtn btn-primary" onclick="changeClass()">Next</button></div>
</div> -->
