<div class="modal right fade" id="createAssetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{isAssetEditable ? ('Edit ' + (tileData?.table_key || 'Asset')) :
            ('Add New ' + (tileData?.table_key || 'Asset'))}}
        </h5>
        <button type="button" class="close" (click)="onCloseCreateAssetModal()" aria-label="Close"
          [disabled]="isCreateAssetAPILoading">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="assetDetail && assetDetail.tags">
        <form>
          <ng-container>
          <div class="form-group">
            <label for="message-text" class="col-form-label">App:</label>
            <input type="text" class="form-control form-control-sm" id="app_name" [defaultValue]="contextApp.app" disabled>
          </div>
          <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let hIndex = index">
            <div class="form-group" *ngIf="hIndex !== 0">
              <label for="message-text" class="col-form-label">{{level}}:</label>
              <select class="form-control form-control-sm" id="hierarchy{{hIndex}}" name="hierarchy{{hIndex}}"
                [(ngModel)]="addAssetConfigureHierarchy[hIndex]" [disabled]="contextApp.user.hierarchy[level]"
                (change)="onChangeOfAddAssetHierarchy(hIndex)">
                <option [ngValue]="undefined"> Select {{level}}</option>
                <option [ngValue]="tag" *ngFor="let tag of addAssetHierarchyArr[hIndex]">{{tag}}</option>
              </select>
            </div>
          </ng-container>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Name:</label>
            <input type="text" class="form-control form-control-sm" id="asset_id" name="asset_id"
              [(ngModel)]="assetDetail.asset_id"
              placeholder="Enter {{(tileData  ? tileData.table_key : '')}} Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Display Name:</label>
            <input type="text" class="form-control form-control-sm" id="asset_name" name="asset_name"
              [(ngModel)]="assetDetail.tags.display_name"
              placeholder="Enter {{(tileData  ? tileData.table_key : '')}} Display Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Manager:</label>
            <select class="form-control form-control-sm" id="user" name="user" [(ngModel)]="assetDetail.tags.asset_manager">
              <option [ngValue]="undefined">Select {{(tileData  ? tileData.table_key : '')}} Manager
              </option>
              <option *ngFor="let user of appUsers" [ngValue]="user.user_email">{{user.user_name}} ({{user.user_email}})</option>
            </select>
          </div>
          <div class="form-group" *ngIf="componentState === constantData.NON_IP_ASSET">
            <label for="message-text" class="col-form-label required">Gateway:</label>
            <select class="form-control form-control-sm" id="template" name="gateway_id" [(ngModel)]="assetDetail.gateway_id">
              <option [ngValue]="undefined"> Select Gateway</option>
              <option *ngFor="let item of gateways" [ngValue]="item.asset_id">
                {{item.display_name ? item.display_name : item.asset_id}}</option>
            </select>
          </div>
          <!-- <div class="form-group" *ngIf="componentState === constantData.NON_IP_ASSET">
            <label for="message-text" class="col-form-label required">Asset Category:</label>
            <select class="form-control form-control-sm" id="template" name="gateway_id"
            [(ngModel)]="assetDetail.tags.category">
              <option [ngValue]="undefined"> Select Asset Category</option>
            <option *ngFor="let item of assetCategory" [ngValue]="item.name">
              {{item.name}}</option>
            </select>
          </div> -->
          <div class="form-group" *ngIf="contextApp.metadata?.partition?.telemetry?.partition_strategy !== 'Asset ID'">
            <label for="recipient-name" class="col-form-label required">Partition Key:</label>
            <input type="text" class="form-control form-control-sm" id="partition_key" name="partition_key"
              [(ngModel)]="assetDetail.tags.partition_key" placeholder="Partition Key">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Model:</label>
            <select class="form-control form-control-sm" id="asset_model" name="asset_model"
              [(ngModel)]="assetDetail.tags.asset_model" (change)="onChangeAssetsModel()">
              <option [ngValue]="undefined"> Select {{(tileData  ? tileData.table_key : '')}} Model</option>
              <option *ngFor="let item of assetModels" [ngValue]="item.name">
                {{item.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Protocol:</label>
            <input type="text" class="form-control form-control-sm" id="protocol" name="protocol"
              [(ngModel)]="assetDetail.tags.protocol" placeholder="Protocol" disabled>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Cloud Connectivity followed by the {{(tileData  ? tileData.table_key : '')}}:</label>
            <input type="text" class="form-control form-control-sm" id="cloud_connectivity" name="cloud_connectivity"
              [(ngModel)]="assetDetail.tags.cloud_connectivity" placeholder="Cloud Connectivity" disabled>
          </div>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf="componentState === constantData.NON_IP_ASSET" type="button" class="btn btn-primary add-row" [disabled]="(!setupForm?.valid && (setupForm?.touched || !setupForm?.touched)) ||isCreateAssetAPILoading"
          (click)="isAssetEditable ? onEditAsset() : onCreateAsset()">Save</button> -->
          <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAssetAPILoading"
          (click)="isAssetEditable ? onUpdateAsset() : onCreateAsset()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateAssetAPILoading"
          (click)="onCloseCreateAssetModal()">
          Cancel
        </button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAssetAPILoading"></i>
      </div>
    </div>
  </div>
</div>

