<div class="modal right fade" id="createAssetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{isAssetEditable ? ('Edit ' + (tileData?.table_key || 'Asset')) :
            ('Add New ' + (tileData?.table_key || 'Asset'))}}
        </h5>
        <button type="button" class="close" (click)="onCloseCreateAssetModal()" aria-label="Close"
          [disabled]="isCreateAssetAPILoading">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="assetDetail">
        <form>
          <ng-container *ngIf="!isAssetEditable">
          <div class="form-group">
            <label for="message-text" class="col-form-label">App:</label>
            <input type="text" class="form-control form-control-sm" id="app_name" [defaultValue]="contextApp.app" disabled>
          </div>
          <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let hIndex = index">
            <div class="form-group" *ngIf="hIndex !== 0">
              <label for="message-text" class="col-form-label">{{level}}:</label>
              <select class="form-control form-control-sm" id="hierarchy{{hIndex}}" name="hierarchy{{hIndex}}"
                [(ngModel)]="addAssetConfigureHierarchy[hIndex]" [disabled]="contextApp.user.hierarchy[level]"
                (change)="onChangeOfAddAssetHierarchy(hIndex)">
                <option [ngValue]="undefined"> Select {{level}}</option>
                <option [ngValue]="tag" *ngFor="let tag of addAssetHierarchyArr[hIndex]">{{tag}}</option>
              </select>
            </div>
          </ng-container>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Name:</label>
            <input type="text" class="form-control form-control-sm" id="asset_name" name="asset_id"
              [(ngModel)]="assetDetail.asset_id"
              placeholder="Enter {{(tileData  ? tileData.table_key : '')}} Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Display Name:</label>
            <input type="text" class="form-control form-control-sm" id="asset_name" name="asset_id"
              [(ngModel)]="assetDetail.tags.display_name"
              placeholder="Enter {{(tileData  ? tileData.table_key : '')}} Display Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Manager:</label>
            <select class="form-control form-control-sm" id="user" name="user" [(ngModel)]="assetDetail.tags.asset_manager">
              <option [ngValue]="undefined">Select {{(tileData  ? tileData.table_key : '')}} Manager
              </option>
              <option *ngFor="let user of appUsers" [ngValue]="user">{{user.user_name}} ({{user.user_email}})</option>
            </select>
          </div>
          <div class="form-group" *ngIf="componentState === constantData.NON_IP_DEVICE">
            <label for="message-text" class="col-form-label">Gateway:</label>
            <select class="form-control form-control-sm" id="template" name="gateway_id" [(ngModel)]="assetDetail.gateway_id">
              <option [ngValue]="undefined"> Select Gateway</option>
              <option *ngFor="let item of gateways" [ngValue]="item.asset_id">
                {{item.display_name ? item.display_name : item.asset_id}}</option>
            </select>
          </div>
          <!-- <div class="form-group" *ngIf="componentState === constantData.NON_IP_DEVICE">
            <label for="message-text" class="col-form-label required">Asset Category:</label>
            <select class="form-control form-control-sm" id="template" name="gateway_id"
            [(ngModel)]="assetDetail.tags.category">
              <option [ngValue]="undefined"> Select Asset Category</option>
            <option *ngFor="let item of assetCategory" [ngValue]="item.name">
              {{item.name}}</option>
            </select>
          </div> -->
          <div class="form-group" *ngIf="contextApp.metadata?.partition?.telemetry?.partition_strategy !== 'Asset ID'">
            <label for="recipient-name" class="col-form-label">Partition Key:</label>
            <input type="text" class="form-control form-control-sm" id="partition_key" name="partition_key"
              [(ngModel)]="assetDetail.tags.partition_key" placeholder="Partition Key">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">{{(tileData  ? tileData.table_key : '')}} Type:</label>
            <select class="form-control form-control-sm" id="asset_model" name="asset_model"
              [(ngModel)]="assetDetail.tags.asset_model" (change)="onChangeThingsModel()">
              <option [ngValue]="undefined"> Select {{(tileData  ? tileData.table_key : '')}} Type</option>
              <option *ngFor="let item of assetModels" [ngValue]="item.name">
                {{item.name}}</option>

            </select>

          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Protocol:</label>
            <input type="text" class="form-control form-control-sm" id="protocol" name="protocol"
              [(ngModel)]="assetDetail.tags.protocol" placeholder="Protocol" disabled>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Cloud Connectivity followed by the {{(tileData  ? tileData.table_key : '')}}:</label>
            <input type="text" class="form-control form-control-sm" id="cloud_connectivity" name="cloud_connectivity"
              [(ngModel)]="assetDetail.tags.cloud_connectivity" placeholder="Cloud Connectivity" disabled>
          </div>
          </ng-container>
          <!-- <form *ngIf="assetDetail.tags.protocol && setupForm" [formGroup]="setupForm">
            <ng-container *ngIf="assetDetail.tags.protocol === 'ModbusTCPMaster'">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Host Address:</label>
                <div class="input-group">
                <input type="text" class="form-control form-control-sm" id="host_address" name="host_address"
                formControlName="host_address" placeholder="Host Address">
                </div>
                <div *ngIf="setupForm.get('host_address').invalid && (setupForm.get('host_address').dirty || setupForm.get('host_address').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('host_address').errors.required">
                  Host Address is required.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Port Number:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="port_number" name="port_number"
                  formControlName="port_number" placeholder="Port Number" min="0">
                </div>
                <div *ngIf="setupForm.get('port_number').invalid && (setupForm.get('port_number').dirty || setupForm.get('port_number').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('port_number').errors.required">
                  Port Number is required.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Slave ID:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="slave_id" name="slave_id"
                  formControlName="slave_id" placeholder="Slave ID">
                </div>
                <div *ngIf="setupForm.get('slave_id').invalid && (setupForm.get('slave_id').dirty || setupForm.get('slave_id').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('slave_id').errors.required">
                  Slave ID is required.
                </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="assetDetail.tags.protocol === 'SiemensTCPIP'">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Host Address:</label>
                <div class="input-group">
                <input type="text" class="form-control form-control-sm" id="host_address" name="host_address"
                formControlName="host_address" placeholder="Host Address">
                </div>
                <div *ngIf="setupForm.get('host_address').invalid && (setupForm.get('host_address').dirty || setupForm.get('host_address').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('host_address').errors.required">
                  Host Address is required.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Rack:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="rack" name="rack"
                  formControlName="rack" placeholder="Rack" min="0">
                </div>
                <div *ngIf="setupForm.get('rack').invalid && (setupForm.get('rack').dirty || setupForm.get('rack').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('rack').errors.required">
                  Rack is required.
                </div>
                <div *ngIf="setupForm.get('rack').errors.min || setupForm.get('rack').errors.max">
                  Rack value must be between 0 and 7.
                </div>
                </div>

              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Slot:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="slot" name="slot"
                  formControlName="slot" placeholder="Slot" min="0">
                </div>
                <div *ngIf="setupForm.get('slot').invalid && (setupForm.get('slot').dirty || setupForm.get('slot').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('slot').errors.required">
                  Slot is required.
                </div>
                <div *ngIf="setupForm.get('slot').errors.min || setupForm.get('slot').errors.max">
                  Slot value must be between 0 and 31.
                </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="assetDetail.tags.protocol === 'ModbusRTUMaster'">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Com Port:</label>
                <div class="input-group">
                <input type="text" class="form-control form-control-sm" id="com_port" name="com_port"
                formControlName="com_port" placeholder="Com Port">
                </div>
                <div *ngIf="setupForm.get('com_port').invalid && (setupForm.get('com_port').dirty || setupForm.get('com_port').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('com_port').errors.required">
                  Com Port is required.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Baud Rate:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="baud_rate" name="baud_rate"
                formControlName="baud_rate" placeholder="Baud Rate" min="0">
                </div>
                <div *ngIf="setupForm.get('baud_rate').invalid && (setupForm.get('baud_rate').dirty || setupForm.get('baud_rate').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('baud_rate').errors.required">
                  Baud Rate is required.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Data Bits:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="data_bits" name="data_bits"
                  formControlName="data_bits" placeholder="Data Bits" min="5" max="9">
                </div>
                <div *ngIf="setupForm.get('data_bits').invalid && (setupForm.get('data_bits').dirty || setupForm.get('data_bits').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('data_bits').errors.required">
                  Data Bits is required.
                </div>
                <div *ngIf="setupForm.get('data_bits').errors.min || setupForm.get('data_bits').errors.max">
                  Data Bits value must be between 5 and 9.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Slave ID:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="slave_id" name="slave_id"
                  formControlName="slave_id" placeholder="Slave ID" min="0">
                </div>
                <div *ngIf="setupForm.get('slave_id').invalid && (setupForm.get('slave_id').dirty || setupForm.get('slave_id').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('slave_id').errors.required">
                  Slave ID is required.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Parity:</label>
                <div class="input-group">
                <input type="number" class="form-control form-control-sm" id="parity" name="parity"
                  formControlName="parity" placeholder="Parity" min="0" max="2">
                </div>
                <div *ngIf="setupForm.get('parity').invalid && (setupForm.get('parity').dirty || setupForm.get('parity').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('parity').errors.required">
                  Parity is required.
                </div>
                <div *ngIf="setupForm.get('parity').errors.min || setupForm.get('parity').errors.max">
                  Parity value must be between 0 and 2.
                </div>
                </div>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label required">Stop Bits:</label>
                <div class="input-group">
                  <select class="form-control form-control-sm" id="stop_bits" name="stop_bits"
                  formControlName="stop_bits">
                  <option [ngValue]="null"> Select Stop Bits</option>
                  <option  [ngValue]="1">1</option>
                  <option  [ngValue]="1.5">1.5</option>
                  <option  [ngValue]="2">2</option>
                </select>
                </div>
                <div *ngIf="setupForm.get('stop_bits').invalid && (setupForm.get('stop_bits').dirty || setupForm.get('stop_bits').touched)"
                class="alert-danger">
                <div *ngIf="setupForm.get('stop_bits').errors.required">
                  Stop Bits is required.
                </div>
                </div>
              </div>
            </ng-container>

            </form> -->
            <!-- <ng-container  *ngIf="assetDetail.tags.protocol !== 'ModbusTCPMaster' && assetDetail.tags.protocol !== 'SiemensTCPIP' &&
            assetDetail.tags.protocol !== 'ModbusRTUMaster' && componentState === constantData.NON_IP_DEVICE && isAssetEditable">
            This protocol is not supported currently.
          </ng-container> -->
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf="componentState === constantData.NON_IP_DEVICE" type="button" class="btn btn-primary add-row" [disabled]="(!setupForm?.valid && (setupForm?.touched || !setupForm?.touched)) ||isCreateAssetAPILoading"
          (click)="isAssetEditable ? onEditAsset() : onCreateAsset()">Save</button> -->
          <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAssetAPILoading"
          (click)="isAssetEditable ? onEditAsset() : onCreateAsset()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateAssetAPILoading"
          (click)="onCloseCreateAssetModal()">
          Cancel
        </button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAssetAPILoading"></i>
      </div>
    </div>
  </div>
</div>
