<div class="tab-bar">
  <div class="">
    <form class="form-inline">
      <ng-container *ngIf="!isGetWidgetsAPILoading && liveWidgets.length === 0"> No Live {{widgetStringFromMenu}}
        added.&nbsp;
      </ng-container>
      <ng-container *ngIf="!isGetWidgetsAPILoading && liveWidgets.length !== 0">Following Live {{widgetStringFromMenu}}
        are already
        added.&nbsp;</ng-container>
      <div class="form-group" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
        <button class="btn btn-sm searchBtn btn-primary" [disabled]="assetModel.freezed"
          (click)="onOpenAddWidgetModal()" placement="bottom" tooltip="Add Live {{widgetStringFromMenu}}"><i
            class="fa fa-plus fa-sm"></i></button>
      </div>
      <div class="form-group" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
        <button class="btn btn-sm searchBtn btn-success" [disabled]="assetModel.freezed"
          (click)="onOpenConfigureDashboardModal()" placement="bottom"
          tooltip="Configure Dashboard {{widgetStringFromMenu}}"><i class="fa fa-cog fa-sm text-white"></i></button>
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
  <div class="tableFixHead modal-live-widget-container">
    <i *ngIf="isGetWidgetsAPILoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
    <ng-container *ngIf="!isGetWidgetsAPILoading && liveWidgets.length > 0">
      <div class="row col-md-12">
        <ng-container *ngFor="let widget of liveWidgets; let i = index;">
          <div [style]="{ 'width': widget?.widgetType === 'OnlyNumber' || widget?.widgetType === 'NumberWithTrend'
      || widget?.widgetType === 'NumberWithImage' || widget.widgetType === 'RectangleWidget' || widget.widgetType === 'CylinderWidget' || widget.widgetType === 'GaugeChart' || widget.widgetType === 'StringWidget'? (23 * widget.properties.length + (widget.properties.length > 1 ? (2 * (widget.properties.length - 1)) : 0) +'%') : '48%',
      'margin-left':'2%', 'margin-top': '2%'}">
            <app-only-number-widget *ngIf="widget?.widgetType === 'OnlyNumber' || widget?.widgetType === 'NumberWithTrend'
      || widget?.widgetType === 'NumberWithImage' || widget.widgetType === 'StringWidget'" [chartConfig]="widget"
              (removeWidget)="removeWidget($event)" [telemetryObj]="telemetryObj" [apiTelemetryObj]="telemetryObj">
            </app-only-number-widget>
            <app-gauge-chart [chartConfig]="widget" *ngIf="widget.widgetType === 'GaugeChart'"
              (removeWidget)="removeWidget($event)" [telemetryObj]="telemetryObj">
            </app-gauge-chart>
            <app-rectangle-widget [chartConfig]="widget" *ngIf="widget.widgetType === 'RectangleWidget'"
              (removeWidget)="removeWidget($event)" [telemetryObj]="telemetryObj">
            </app-rectangle-widget>
            <app-cylinder-widget [chartConfig]="widget" *ngIf="widget.widgetType === 'CylinderWidget'"
              (removeWidget)="removeWidget($event)" [telemetryObj]="telemetryObj">
            </app-cylinder-widget>
            <app-live-line-chart [chartConfig]="widget" [telemetryObj]="telemetryObj"
              (removeWidget)="removeWidget($event)"
              *ngIf="widget.widgetType === 'LineChart' || widget.widgetType === 'AreaChart'">
            </app-live-line-chart>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <!-- <p class="m-3" *ngIf="!isGetWidgetsAPILoading && liveWidgets.length === 0">
      No Live Widgets added. <button class="btn btn-sm btn-primary"  [disabled]="assetModel.freezed" (click)="onOpenAddWidgetModal()"
      ><i class="fa fa-plus fa-sm text-white"></i></button>
    </p> -->
  </div>
</div>



<div class="modal right fade" id="addWidgetsModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="widgetObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add {{widgetStringFromMenu}}</h5>
        <button type="button" class="close" [disabled]="isCreateWidgetAPILoading" (click)="onCloseAddWidgetModal()"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{widgetStringFromMenu}} Title:</label>
            <input type="text" class="form-control form-control-sm" id="name" name="name"
              [(ngModel)]="widgetObj.widgetTitle" placeholder="Enter {{widgetStringFromMenu}} Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">{{widgetStringFromMenu}} Type:</label>
            <select class="form-control form-control-sm" id="template" name="model_type"
              [(ngModel)]="widgetObj.widgetType" (change)="onWidgetTypeChange()">
              <option [ngValue]="undefined">Select {{widgetStringFromMenu}}</option>
              <option [ngValue]="'OnlyNumber'">Only Number {{widgetStringFromMenu}}</option>
              <option [ngValue]="'NumberWithTrend'">Number with Trend {{widgetStringFromMenu}}</option>
              <option [ngValue]="'NumberWithImage'">Number with Image {{widgetStringFromMenu}}</option>
              <option [ngValue]="'StringWidget'">String {{widgetStringFromMenu}}</option>
              <option [ngValue]="'GaugeChart'">Gauge Chart</option>
              <option [ngValue]="'LineChart'">Line Chart</option>
              <option [ngValue]="'AreaChart'">Area Chart</option>
              <option [ngValue]="'RectangleWidget'">Rectangle {{widgetStringFromMenu}}</option>
              <option [ngValue]="'CylinderWidget'">Cylinder {{widgetStringFromMenu}}</option>
              <!-- <option [ngValue]="'ColumnChart'" >Column Chart</option>
            <option [ngValue]="'BarChart'" >Bar Chart</option> -->
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label mr-2">Dashboard Visibility:</label>
            <input type="checkbox" name="visible" id="visible" [(ngModel)]="widgetObj.dashboardVisibility" />
          </div>
          <div class="form-group" *ngIf="widgetObj.widgetType === 'NumberWithTrend' || widgetObj.widgetType === 'LineChart' || widgetObj.widgetType === 'AreaChart'
        ">
            <label for="message-text" class="col-form-label">Data points in Chart:</label>
            <input type="number" class="form-control form-control-sm" id="data_points" name="data_points"
              [(ngModel)]="widgetObj.noOfDataPointsForTrend" placeholder="Enter No of data points">
          </div>
          <div class="form-group" *ngIf="widgetObj.widgetType === 'GaugeChart'">
            <label for="message-text" class="col-form-label">Gauge Start Angle:</label>
            <input type="number" class="form-control form-control-sm" id="start_angle" name="start_angle"
              [(ngModel)]="widgetObj.startAngle" placeholder="Gauge Start Angle">
          </div>
          <div class="form-group" *ngIf="widgetObj.widgetType === 'GaugeChart'">
            <label for="message-text" class="col-form-label">Gauge End Angle:</label>
            <input type="number" class="form-control form-control-sm" id="end_angle" name="end_angle"
              [(ngModel)]="widgetObj.endAngle" placeholder="Gauge End Angle">
          </div>
          <app-add-only-number-widget [assetModel]="assetModel" [widgetObj]="widgetObj"
            [propertyList]="filteredPropList">
          </app-add-only-number-widget>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" [disabled]="isCreateWidgetAPILoading"
          (click)="onSaveWidgetObj()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateWidgetAPILoading"
          (click)="onCloseAddWidgetModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateWidgetAPILoading"></i>
      </div>
    </div>
  </div>
</div>


<div class="modal right fade" id="configureDashboardWidgetsModal" tabindex="-1" role="dialog"
  aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configure Dashboard {{widgetStringFromMenu}}</h5>
        <button type="button" class="close" [disabled]="isCreateWidgetAPILoading"
          (click)="onCloseConfigureDashboardModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">

          <table class="table table-bordered table-striped" cellspacing="0" id="myFavTable">
            <thead>
              <tr class="bg-secondary text-white">
                <th scope="col">Index</th>
                <th scope="col"style="width: 60%">{{widgetStringFromMenu}} Name</th>
                <th scope="col">
                  <input type="checkbox" name="visibleall" id="visibleall" (change)="onClickOfCheckbox()"
                    [(ngModel)]="isAllWidgestSelectedForDashboard" placement="bottom"
                    [tooltip]="isAllWidgestSelectedForDashboard ? 'Deselect All' : 'Select All'" />
                  &nbsp;Visibility
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of configureDashboardWidgets; let index = index">
                <!-- <tr [ngClass]="{'handle': item.dashboardVisibility}"> -->
                <tr class=" cursor-move" id="{{item.dashboardVisibility ? item.chartId : ''}}"
                  [ngClass]="{'favoriteOrderId': item.dashboardVisibility}">
                  <td class="index">{{item.index}}
                    <!-- <input type="hidden" class="favoriteOrderId" value="{{item.chartId}}" *ngIf="item.dashboardVisibility"
                            #favOrder="ngModel" name="{{item.chartId}}" [(ngModel)]="item.chartId"> -->
                  </td>
                  <td>{{item.widgetTitle}}</td>
                  <td><input type="checkbox" name="visible{{index}}" id="visible{{index}}"
                      [(ngModel)]="item.dashboardVisibility" (change)="checkForAllWidgetVisibility()" /></td>
                </tr>
              </ng-container>
            </tbody>
          </table>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" [disabled]="isCreateWidgetAPILoading"
          (click)="onSaveConfigureDashboardWidgets()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateWidgetAPILoading"
          (click)="onCloseConfigureDashboardModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateWidgetAPILoading"></i>
      </div>
    </div>
  </div>
</div>
