<div class="tab-bar">
  <div class="">
  <app-filter [filterObj]="batteryMessageFilter" (filterSearch)="searchBatteryMessage($event)"></app-filter>
</div>
  </div>
  <div class="table-responsive">
    <div class="tableFixHead">

      <app-table [tableData]="batteryMessageList" [tableConfig]="batteryMessageTableConfig" [isTableFilterSelected]="isFilterSelected"
      [isTableDataLoading]="isBatteryMessageLoading" (viewMessageEvent)="openBatteryMessageModal($event)"></app-table>
    </div>
  </div>

  <div class="modal right fade" id="batteryMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedBatteryMessage?.message" [headerMessage]="'Battery Message'"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
    </div>
  </div>
