<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->

<div class="tab-bar"
  *ngIf="!type.includes('cloud_derived') && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openAddPropertiesModal()"
          [class.disabled]="assetModel.freezed">
          <em class="fa fa-fw fa-plus"></em>
          <span class="text-secondary">Add {{(type.includes('measured') ? 'Measured ' : (
            type.includes('controllable') ? 'Controllable ' : (
            type.includes('configurable') ? 'Configurable ' : (
            type.includes('edge_derived') ? 'Edge Derived ' : (
            type.includes('cloud_derived') ? 'Cloud Derived ' : ''
            )
            )
            )
            ))}}
            Property</span></a>
      </li>
    </ul>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="properties[type]" [tableConfig]="propertyTableConfig" [isTableFilterSelected]="true"
      [isTableDataLoading]="isPropertiesLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>

<div class="modal right fade" id="addPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="propertyObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{propertyObj.edit ? 'Edit' : 'Add'}}
          {{(type.includes('measured') ? 'Measured ' : (
          type.includes('controllable') ? 'Controllable ' : (
          type.includes('configurable') ? 'Configurable ' : (
          type.includes('edge_derived') ? 'Edge Derived ' : (
          type.includes('cloud_derived') ? 'Cloud Derived ' : ''
          )
          )
          )
          ))}}
          Property</h5>
        <button type="button" class="close" [disabled]="isCreatePropertyLoading" (click)="onCloseAssetsPropertyModal()"
          aria-label="Close">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Display Name:</label>
            <input #display_name="ngModel" validateText type="text" class="form-control form-control-sm" id="display_name" name="display_name"
              [(ngModel)]="propertyObj.name" placeholder="Enter Property Name" [disabled]="isDisabled">
              <div *ngIf="display_name.errors?.whitespace && display_name.touched" class="alert-danger">
                Please enter valid name.
              </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">JSON Key:</label>
            <input #name="ngModel" validateText type="text" class="form-control form-control-sm" id="name" name="name"
              [(ngModel)]="propertyObj.json_key" placeholder="Enter Key Name" (change)="onJSONKeyChange()"
              [disabled]="propertyObj.edit || isDisabled">
              <div *ngIf="name.errors?.whitespace && name.touched" class="alert-danger">
                Please enter valid key.
              </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Data Type:</label>
            <select class="form-control form-control-sm" id="template" name="model_type"
              [(ngModel)]="propertyObj.data_type" (change)="onDataTypeChange()"  [disabled]="isDisabled">
              <option value="undefined">Select Data Type</option>
              <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
            </select>
          </div>
          <app-data-type-fields [obj]="propertyObj.json_model[propertyObj.json_key]" [type]="type" [disabled]="isDisabled" 
            *ngIf="propertyObj.json_key && propertyObj.data_type && propertyObj?.json_model[propertyObj.json_key]">
          </app-data-type-fields>
          <div class="form-group" *ngIf="type.includes('measured')">
            <label for="recipient-name" class="col-form-label required">Group:</label>
            <select class="form-control form-control-sm" id="group" name="group" [(ngModel)]="propertyObj.group">
              <option value="undefined">Select Group</option>
              <option value="G1">G1</option>
              <option value="G2">G2</option>
              <option value="G3">G3</option>
            </select>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <label for="recipient-name" class="col-form-label">Thresholds:</label>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">

            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L1:</label> -->
              <input type="number" class="form-control form-control-sm" id="l1" name="l1"
                [(ngModel)]="propertyObj.threshold.l1" placeholder="Enter L1 Value">
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H1:</label> -->
              <input type="number" class="form-control form-control-sm" id="h1" name="h1"
                [(ngModel)]="propertyObj.threshold.h1" placeholder="Enter H1 Value">
            </div>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L2:</label> -->
              <input type="number" class="form-control form-control-sm" id="l2" name="l2"
                [(ngModel)]="propertyObj.threshold.l2" placeholder="Enter L2 Value">
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H2:</label> -->
              <input type="number" class="form-control form-control-sm" id="h2" name="h2"
                [(ngModel)]="propertyObj.threshold.h2" placeholder="Enter H2 Value">
            </div>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L3:</label> -->
              <input type="number" class="form-control form-control-sm" id="l3" name="l3"
                [(ngModel)]="propertyObj.threshold.l3" placeholder="Enter L3 Value">
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H3:</label> -->
              <input type="number" class="form-control form-control-sm" id="h3" name="h3"
                [(ngModel)]="propertyObj.threshold.h3" placeholder="Enter H3 Value">
            </div>
          </div>

          <ng-container *ngIf="type !== 'edge_derived_properties' && type !== 'cloud_derived_properties'">
            <accordion [closeOthers]="'true'">
              <accordion-group heading="" [panelClass]="'customClass'">
                <ng-container accordion-heading>
                  <button class="btn" type="button">
                    Property Register Details
                  </button>
                </ng-container>
                <app-model-protocol-specific-details [setupForm]="setupForm" [dataObj]="propertyObj.metadata"
                  [pageType]="propertyObj.edit ? 'edit' : 'add'" [assetModel]="assetModel" [slaveData]="slaveData"
                  *ngIf="setupForm && propertyObj">
                </app-model-protocol-specific-details>
              </accordion-group>
            </accordion>
          </ng-container>
          <!-- <ng-container *ngIf="type !== 'edge_derived_properties'">
            <div class="form-group mr-3">
              <label for="recipient-name" class="col-form-label">JSON Model:</label>
              <json-editor [options]="editorOptions" name="json" [data]="propertyObj.json">
              </json-editor>
            </div>
          </ng-container> -->
          <ng-container *ngIf="type == 'edge_derived_properties'">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label required">Conditions: </label>
              <button id="delete" class="btn btn-sm btn-light m-2 cursor-pointer" (click)="addPropertyToCondtion()"  [disabled]="isDisabled"><em
                  class="fas fa fa-plus"></em>
              </button>
              <div class="bg-light p-3">
                <ng-container
                  *ngFor="let propObj of propertyObj.metadata.properties; let propIndex = index; last as isLast">
                  <div class="form-group row">
                    <div class="col-5">
                      <ng-select [items]="dependentProperties"   class="custom-dropdown sm" bindLabel="name"
                        [clearable]="false" [searchable]="true" [closeOnSelect]="true" placeholder="Select Property"
                        groupBy="type" dropdownPosition="bottom" name="asset-dropdown{{propIndex}}"
                        [(ngModel)]="propObj.property" [disabled]="isDisabled">
                        <ng-template ng-option-tmp let-item="item">
                          <span [tooltip]="item.name"  > <em
                              [ngClass]="{'icon icon-function': item.type === 'Edge Derived Properties' || item.type === 'Cloud Derived Properties'}"></em>
                            {{item.name}}</span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-2 justify-center">
                      <label for="operator" class="h4 col-form-label ">OR</label>
                    </div>
                    <div class="col-5">
                      <input type="number" [disabled]="isDisabled" class="form-control form-control-sm" id="constant{{propIndex}}"
                        name="constant{{propIndex}}" placeholder="Enter Value/Constant" [(ngModel)]="propObj.value">
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="!isLast">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                      <select class="form-control form-control-sm" id="operator{{propIndex}}"
                        name="operator{{propIndex}}" [(ngModel)]="propObj.operator" [disabled]="isDisabled" >
                        <option [ngValue]="undefined">Select Operator</option>
                        <option [ngValue]="'+'">Add</option>
                        <option [ngValue]="'-'">Minus</option>
                        <option [ngValue]="'*'">Multiply</option>
                        <option [ngValue]="'/'">Divide</option>
                      </select>
                    </div>
                    <div class="col-2" *ngIf="propIndex > 0">
                      <a href="javascript:void(0)" (click)="deletePropertyCondtion(propIndex)">
                        <em class="fa fa-fw fa-trash"></em>
                      </a>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <div  *ngIf="type == 'edge_derived_properties'">
            <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading" *ngIf="isDisabled == false"
            (click)="selectedProperty ? updatePropertyDataValidate() :ValidateallInputField()">Validate</button>
          <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading" *ngIf="isDisabled == true"
          (click)="clearInputField()">Clear</button>
         
          
            <div class="form-group" *ngIf="isDisabled == true">
              <label for="message-text" class="col-form-label required">Formula Display:</label>
              <input #name="ngModel" validateText type="text" class="form-control form-control-sm" id="formula" name="formula"
                [(ngModel)]="formula" placeholder="Enter Key Name">
            </div>
          </div>
      
      <div class="modal-footer fixed-bottom bg-white"   >
        <button type="button" class="btn btn-primary "
          *ngIf="type !== 'edge_derived_properties' && type !== 'cloud_derived_properties'"
          [disabled]="!form.valid || (!setupForm?.valid && (setupForm?.touched || !setupForm?.touched)) || isCreatePropertyLoading"
          (click)="selectedProperty ? updatePropertyData() : onSavePropertyObj()">Save</button>
          <div *ngIf="displaybutton == false">
            <button type="button" class="btn btn-primary"
              *ngIf="type === 'edge_derived_properties' || type === 'cloud_derived_properties'" [disabled]="!form.valid || isDisabled "
              (click)="selectedProperty ? updatePropertyData() : onSavePropertyObj()">Save</button>
          </div>
          <div *ngIf="displaybutton == true">
            <button type="button" class="btn btn-primary"
              *ngIf="type === 'edge_derived_properties' || type === 'cloud_derived_properties'" [disabled]="!isDisabled"
              (click)="selectedProperty ? UpdatePropertyAfterValidate() : onSavePropertyObj()">Save</button>
          </div>
        
          <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading"
          (click)="onCloseAssetsPropertyModal()">Cancel</button>
        <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreatePropertyLoading"></em>
      </div>
    
    
    </form>
  </div>
    </div>
  </div>
</div>


<div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedProperty" [headerMessage]="'View JSON Model'"
      (modalEvents)="onJSONModalEvents($event)" [modalConfig]="modalConfig">
    </app-message-modal>
  </div>
</div>


<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="'Are you sure you want to remove this property?'"
      [headerMessage]="'Remove Property'" (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig">
    </app-confirm-modal>
  </div>
</div>
