<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->

<div class="tab-bar"
  *ngIf="!type.includes('derived') && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMMM') > -1">
  <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openAddPropertiesModal()"
          [class.disabled]="assetModel.freezed">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary">Add {{(type.includes('measured') ? 'Measured ' : (
            type.includes('controllable') ? 'Controllable ' : (
            type.includes('configurable') ? 'Configurable ' : (
            type.includes('edge_derived') ? 'Edge Derived ' : (
            type.includes('cloud_derived') ? 'Cloud Derived ' : ''
            )
            )
            )
            ))}}
            Property</span></a>
      </li>
    </ul>
  </div>
</div>


<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="properties[type]" [tableConfig]="propertyTableConfig" [isTableFilterSelected]="true"
      [isTableDataLoading]="isPropertiesLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>

<div class="modal right fade" id="addPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="propertyObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{propertyObj.edit ? 'Edit' : 'Add'}}
          {{(type.includes('measured') ? 'Measured ' : (
          type.includes('controllable') ? 'Controllable ' : (
          type.includes('configurable') ? 'Configurable ' : (
          type.includes('edge_derived') ? 'Edge Derived ' : (
          type.includes('cloud_derived') ? 'Cloud Derived ' : ''
          )
          )
          )
          ))}}
          Property</h5>
        <button type="button" class="close" [disabled]="isCreatePropertyLoading" (click)="onCloseAssetsPropertyModal()"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Display Name:</label>
            <input type="text" class="form-control form-control-sm" id="display_name" name="display_name"
              [(ngModel)]="propertyObj.name" placeholder="Enter Property Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">JSON Key:</label>
            <input type="text" class="form-control form-control-sm" id="name" name="name"
              [(ngModel)]="propertyObj.json_key" placeholder="Enter Key Name" (change)="onJSONKeyChange()"
              [disabled]="propertyObj.edit">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Data Type:</label>
            <select class="form-control form-control-sm" id="template" name="model_type"
              [(ngModel)]="propertyObj.data_type" (change)="onDataTypeChange()">
              <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
            </select>
          </div>

          <div class="form-group" *ngIf="type.includes('measured') || type.includes('edge_derived')">
            <label for="recipient-name" class="col-form-label required">Group:</label>
            <select class="form-control form-control-sm" id="group" name="group" [(ngModel)]="propertyObj.group">
              <option value="g1">G1</option>
              <option value="g2">G2</option>
              <option value="g3">G3</option>
            </select>
          </div>
          <ng-container
            *ngIf="type === 'measured_properties' || type === 'edge_derived_properties' || type === 'cloud_derived_properties'">
            <accordion [closeOthers]="'true'">
              <accordion-group heading="" [panelClass]="'customClass'">
                <ng-container accordion-heading>
                  <button class="btn" type="button">
                    Property Register Details
                  </button>
                </ng-container>
                <form *ngIf="setupForm" [formGroup]="setupForm">
                  <div class="form-group" *ngIf="setupForm.get('slave_id')">
                    <label for="recipient-name" class="col-form-label required">Slave:</label>
                    <div class="input-group">
                      <select class="form-control form-control-sm" id="slave_id" name="slave_id"
                        formControlName="slave_id">
                        <option [ngValue]="null">Select Slave</option>
                        <option [ngValue]="slave.slave_id" *ngFor="let slave of slaveData">{{slave.slave_name}}</option>
                      </select>
                    </div>
                    <div
                      *ngIf="setupForm.get('slave_id').invalid && (setupForm.get('slave_id').dirty || setupForm.get('slave_id').touched)"
                      class="alert-danger">
                      <div *ngIf="setupForm.get('slave_id').errors.required">
                        Slave is required.
                      </div>
                    </div>
                  </div>
                  <ng-container *ngIf="assetModel.tags.protocol === 'BlueNRG'">
                    <div class="form-group" *ngIf="setupForm.get('sa')">
                      <label for="message-text" class="col-form-label required">Register Address:</label>
                      <input type="number" class="form-control form-control-sm" id="sa" name="sa" formControlName="sa"
                        placeholder="Enter Register Address" min="0" max="99999">
                      <div
                        *ngIf="setupForm.get('sa').invalid && (setupForm.get('sa').dirty || setupForm.get('sa').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('sa').errors.required">
                          Register Address is required.
                        </div>
                        <div *ngIf="setupForm.get('sa').errors.min || setupForm.get('sa').errors.max">
                          Register Address value must be between 1 and 99999.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('p')">
                      <label for="message-text" class="col-form-label required">Precision:</label>
                      <input type="number" class="form-control form-control-sm" id="p" name="p" formControlName="p"
                        placeholder="Enter Precision" min="1" max="5">
                      <div
                        *ngIf="setupForm.get('p').invalid && (setupForm.get('p').dirty || setupForm.get('p').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('p').errors.required">
                          Precision is required.
                        </div>
                        <div *ngIf="setupForm.get('p').errors.min || setupForm.get('p').errors.max">
                          Precision value must be between 1 and 5.
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="assetModel.tags.protocol === 'AIOTInputs'">
                    <div class="form-group" *ngIf="setupForm.get('cn')">
                      <label for="message-text" class="col-form-label required">Channel Number:</label>
                      <input type="number" class="form-control form-control-sm" id="cn" name="cn" formControlName="cn"
                        placeholder="Enter Channel Number" min="0">
                      <div
                        *ngIf="setupForm.get('cn').invalid && (setupForm.get('cn').dirty || setupForm.get('cn').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('cn').errors.required">
                          Channel Number is required.
                        </div>
                        <div *ngIf="setupForm.get('cn').errors.min || setupForm.get('cn').errors.max">
                          Channel Number value must be greater than 0.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('d')">
                      <label for="recipient-name" class="col-form-label required">Type:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="datatype" name="datatype" formControlName="d"
                          (change)="onAIOTTypeChange()">
                          <option [ngValue]="null">Select Type</option>
                          <option [ngValue]="'a'">Analog</option>
                          <option [ngValue]="'d'">Digital</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('d').invalid && (setupForm.get('d').dirty || setupForm.get('d').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('d').errors.required">
                          Type is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="setupForm.get('p') && setupForm.get('d') && setupForm.get('d').value === 'a'">
                      <label for="message-text" class="col-form-label required">Precision:</label>
                      <input type="number" class="form-control form-control-sm" id="p" name="p" formControlName="p"
                        placeholder="Enter Precision" min="1" max="5">
                      <div
                        *ngIf="setupForm.get('p').invalid && (setupForm.get('p').dirty || setupForm.get('p').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('p').errors.required">
                          Precision is required.
                        </div>
                        <div *ngIf="setupForm.get('p').errors.min || setupForm.get('p').errors.max">
                          Precision value must be between 1 and 5.
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="assetModel.tags.protocol === 'ModbusTCPMaster' || assetModel.tags.protocol === 'ModbusRTUMaster'">
                    <div class="form-group" *ngIf="setupForm.get('d')">
                      <label for="recipient-name" class="col-form-label required">Type:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="datatype" name="datatype" formControlName="d"
                          (change)="onChangeOfSetupType()">
                          <option [ngValue]="null">Select Type</option>
                          <option [ngValue]="'a'">Analog</option>
                          <option [ngValue]="'d'">Digital</option>
                          <option [ngValue]="'s'">String</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('d').invalid && (setupForm.get('d').dirty || setupForm.get('d').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('d').errors.required">
                          Type is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="setupForm.get('sd') && setupForm.get('d') && setupForm.get('d').value === 'a'">
                      <label for="recipient-name" class="col-form-label required">Secondary Type:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="sd" name="sd" formControlName="sd"
                          (change)="onChangeOfSetupSecondaryType()">
                          <option [ngValue]="null">Select Secondary Type</option>
                          <option [ngValue]="1">SIGNED_16_INT</option>
                          <option [ngValue]="2">UNSIGNED_16_INT</option>
                          <option [ngValue]="7">SIGNED_64_INT </option>
                          <option [ngValue]="8">UNSIGNED_64_INT </option>
                          <option [ngValue]="3">LONG</option>
                          <option [ngValue]="4">LONG_REVERSE</option>
                          <option [ngValue]="5">FLOAT</option>
                          <option [ngValue]="6">FLOAT_REVERSE</option>
                          <option [ngValue]="9">BYTE</option>
                          <option [ngValue]="10">DECIMAL_FLOAT</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('sd')?.invalid && (setupForm.get('sd')?.dirty || setupForm.get('sd')?.touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('sd')?.errors.required">
                          Secondary Type is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('sa')">
                      <label for="message-text" class="col-form-label required">Register Address:</label>
                      <input type="number" class="form-control form-control-sm" id="sa" name="sa" formControlName="sa"
                        placeholder="Enter Register Address" min="0" max="99999">
                      <div
                        *ngIf="setupForm.get('sa').invalid && (setupForm.get('sa').dirty || setupForm.get('sa').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('sa').errors.required">
                          Register Address is required.
                        </div>
                        <div *ngIf="setupForm.get('sa').errors.min || setupForm.get('sa').errors.max">
                          Register Address value must be between 0 and 99999.
                        </div>
                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="setupForm.get('d') && setupForm.get('la') &&  setupForm.get('d').value === 's'">
                      <label for="message-text" class="col-form-label required">String Length:</label>
                      <input type="number" class="form-control form-control-sm" id="la" name="la" formControlName="la"
                        placeholder="Enter String Length" min="1" max="99999">
                      <div
                        *ngIf="setupForm.get('la').invalid && (setupForm.get('la').dirty || setupForm.get('la').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('la').errors.required">
                          String Length is required.
                        </div>
                        <div *ngIf="setupForm.get('la').errors.min || setupForm.get('la').errors.max">
                          String Length value must be between 1 and 99999.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('sd') && setupForm.get('p') && (setupForm.get('sd')?.value === 5 ||setupForm.get('sd')?.value === 6 )
                  && setupForm.get('d').value === 'a'">
                      <label for="message-text" class="col-form-label required">Precision:</label>
                      <input type="number" class="form-control form-control-sm" id="p" name="p" formControlName="p"
                        placeholder="Enter Precision" min="1" max="5">
                      <div
                        *ngIf="setupForm.get('p').invalid && (setupForm.get('p').dirty || setupForm.get('p').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('p').errors.required">
                          Precision is required.
                        </div>
                        <div *ngIf="setupForm.get('p').errors.min || setupForm.get('p').errors.max">
                          Precision value must be between 1 and 5.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('sd') && setupForm.get('bytn') && setupForm.get('sd')?.value === 9
                  && setupForm.get('d').value === 'a'">
                      <label for="message-text" class="col-form-label required">Byte Number:</label>
                      <select class="form-control form-control-sm" id="bytn" name="bytn" formControlName="bytn">
                        <option [ngValue]="null">Select Byte Number</option>
                        <option [ngValue]="0">LSB</option>
                        <option [ngValue]="1">MSB</option>
                      </select>
                      <div
                        *ngIf="setupForm.get('bytn').invalid && (setupForm.get('bytn').dirty || setupForm.get('bytn').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('bytn').errors.required">
                          Byte Number is required.
                        </div>

                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="assetModel.tags.protocol === 'ModbusTCPMaster' || assetModel.tags.protocol === 'ModbusRTUMaster'">
                      <label for="recipient-name" class="col-form-label required">Function Code:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="fc" name="fc" formControlName="fc"
                          (change)="onChangeOfSetupFunctionCode()">
                          <option [ngValue]="null">Select Function Code</option>
                          <option [ngValue]="1">Read Coil (DIGITAL)</option>
                          <option [ngValue]="2">Read Discrete Input (DIGITAL)</option>
                          <option [ngValue]="3"
                            *ngIf="setupForm.get('d').value === 'a' || setupForm.get('d').value === 's'">Read Holding
                            Registers (ANALOG)</option>
                          <option [ngValue]="4"
                            *ngIf="setupForm.get('d').value === 'a' || setupForm.get('d').value === 's'">Read Input
                            Registers (ANALOG)</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('fc').invalid && (setupForm.get('fc').dirty || setupForm.get('fc').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('fc').errors.required">
                          Function Code is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="setupForm.get('d').value === 'd' && (setupForm.get('fc').value === 3 || setupForm.get('fc').value === 4)">
                      <label for="message-text" class="col-form-label required">Bit Number:</label>
                      <input type="number" class="form-control form-control-sm" id="bn" name="bn" formControlName="bn"
                        placeholder="Enter Bit Number" min="0" max="15">
                      <div
                        *ngIf="setupForm.get('bn').invalid && (setupForm.get('bn').dirty || setupForm.get('bn').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('bn').errors.required">
                          Bit Number is required.
                        </div>
                        <div *ngIf="setupForm.get('bn').errors.min || setupForm.get('bn').errors.max">
                          Bit Number value must be between 0 and 15.
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="assetModel.tags.protocol === 'SiemensTCPIP'">
                    <div class="form-group" *ngIf="setupForm.get('d')">
                      <label for="recipient-name" class="col-form-label required">Type:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="datatype" name="datatype" formControlName="d"
                          (change)="onChangeOfSetupType()">
                          <option [ngValue]="null">Select Type</option>
                          <option [ngValue]="'a'">Analog</option>
                          <option [ngValue]="'d'">Digital</option>
                          <option [ngValue]="'s'">String</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('d').invalid && (setupForm.get('d').dirty || setupForm.get('d').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('d').errors.required">
                          Type is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="setupForm.get('sd') && setupForm.get('d') && setupForm.get('d').value === 'a'">
                      <label for="recipient-name" class="col-form-label required">Secondary Type:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="sd" name="sd" formControlName="sd"
                          (change)="onChangeOfSetupSecondaryType()">
                          <option [ngValue]="null">Select Secondary Type</option>
                          <option [ngValue]="1">SIGNED_16_INT</option>
                          <option [ngValue]="2">UNSIGNED_16_INT</option>
                          <option [ngValue]="7">SIGNED_64_INT </option>
                          <option [ngValue]="8">UNSIGNED_64_INT </option>
                          <option [ngValue]="3">LONG</option>
                          <option [ngValue]="4">LONG_REVERSE</option>
                          <option [ngValue]="5">FLOAT</option>
                          <option [ngValue]="6">FLOAT_REVERSE</option>
                          <option [ngValue]="9">BYTE</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('sd')?.invalid && (setupForm.get('sd')?.dirty || setupForm.get('sd')?.touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('sd')?.errors.required">
                          Secondary Type is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('sa')">
                      <label for="message-text" class="col-form-label required">Register Address:</label>
                      <input type="number" class="form-control form-control-sm" id="sa" name="sa" formControlName="sa"
                        placeholder="Enter Register Address" min="0" max="99999">
                      <div
                        *ngIf="setupForm.get('sa').invalid && (setupForm.get('sa').dirty || setupForm.get('sa').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('sa').errors.required">
                          Register Address is required.
                        </div>
                        <div *ngIf="setupForm.get('sa').errors.min || setupForm.get('sa').errors.max">
                          Register Address value must be between 0 and 99999.
                        </div>
                      </div>
                    </div>
                    <div class="form-group"
                      *ngIf="setupForm.get('d') && setupForm.get('la') &&  setupForm.get('d').value === 's'">
                      <label for="message-text" class="col-form-label required">String Length:</label>
                      <input type="number" class="form-control form-control-sm" id="la" name="la" formControlName="la"
                        placeholder="Enter String Length" min="1" max="99999">
                      <div
                        *ngIf="setupForm.get('la').invalid && (setupForm.get('la').dirty || setupForm.get('la').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('la').errors.required">
                          String Length is required.
                        </div>
                        <div *ngIf="setupForm.get('la').errors.min || setupForm.get('la').errors.max">
                          String Length value must be between 1 and 99999.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('sd') && setupForm.get('p') && (setupForm.get('sd')?.value === 5 ||setupForm.get('sd')?.value === 6 )
                  && setupForm.get('d').value === 'a'">
                      <label for="message-text" class="col-form-label required">Precision:</label>
                      <input type="number" class="form-control form-control-sm" id="p" name="p" formControlName="p"
                        placeholder="Enter Precision" min="1" max="5">
                      <div
                        *ngIf="setupForm.get('p').invalid && (setupForm.get('p').dirty || setupForm.get('p').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('p').errors.required">
                          Precision is required.
                        </div>
                        <div *ngIf="setupForm.get('p').errors.min || setupForm.get('p').errors.max">
                          Precision value must be between 1 and 5.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('sd') && setupForm.get('bytn') && setupForm.get('sd')?.value === 9
                  && setupForm.get('d').value === 'a'">
                      <label for="message-text" class="col-form-label required">Byte Number:</label>
                      <select class="form-control form-control-sm" id="bytn" name="bytn" formControlName="bytn">
                        <option [ngValue]="null">Select Byte Number</option>
                        <option [ngValue]="0">LSB</option>
                        <option [ngValue]="1">MSB</option>
                      </select>
                      <div
                        *ngIf="setupForm.get('bytn').invalid && (setupForm.get('bytn').dirty || setupForm.get('bytn').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('bytn').errors.required">
                          Byte Number is required.
                        </div>

                      </div>
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label required">Memory Type:</label>
                      <div class="input-group">
                        <select class="form-control form-control-sm" id="mt" name="mt" formControlName="mt"
                          (change)="onChageOfMemoryType()">
                          <option [ngValue]="null">Select Memory Type</option>
                          <option [ngValue]="'DB'">DB</option>
                          <option [ngValue]="'PE'">PE</option>
                          <option [ngValue]="'PA'">PA</option>
                          <option [ngValue]="'MK'">MK</option>
                          <option [ngValue]="'CT'">CT</option>
                          <option [ngValue]="'TM'">TM</option>
                        </select>
                      </div>
                      <div
                        *ngIf="setupForm.get('mt').invalid && (setupForm.get('mt').dirty || setupForm.get('mt').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('mt').errors.required">
                          Memory Type is required.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('mt').value === 'DB'">
                      <label for="message-text" class="col-form-label required">DB Number:</label>
                      <input type="number" class="form-control form-control-sm" id="dbn" name="dbn"
                        formControlName="dbn" placeholder="Enter DB Number" min="0">
                      <div
                        *ngIf="setupForm.get('dbn').invalid && (setupForm.get('dbn').dirty || setupForm.get('dbn').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('dbn').errors.required">
                          DB Number is required.
                        </div>
                        <div *ngIf="setupForm.get('dbn').errors.min || setupForm.get('dbn').errors.max">
                          DB Number value must be greater than 0.
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="setupForm.get('d').value === 'd'">
                      <label for="message-text" class="col-form-label required">Bit Number:</label>
                      <input type="number" class="form-control form-control-sm" id="bn" name="bn" formControlName="bn"
                        placeholder="Enter Bit Number" min="0" max="15">
                      <div
                        *ngIf="setupForm.get('bn').invalid && (setupForm.get('bn').dirty || setupForm.get('bn').touched)"
                        class="alert-danger">
                        <div *ngIf="setupForm.get('bn').errors.required">
                          Bit Number is required.
                        </div>
                        <div *ngIf="setupForm.get('bn').errors.min || setupForm.get('bn').errors.max">
                          Bit Number value must be between 0 and 15.
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </form>
              </accordion-group>
            </accordion>
          </ng-container>
          <ng-container
            *ngIf="type === 'measured_properties' || type === 'edge_derived_properties' || type === 'cloud_derived_properties'">
            <div class="row col-12">
              <label for="recipient-name" class="col-form-label">Thresholds:</label>
            </div>
            <div class="row col-12">

              <div class="form-group col-6">
                <!-- <label for="recipient-name" class="col-form-label required">L1:</label> -->
                <input type="number" class="form-control form-control-sm" id="l1" name="l1"
                  [(ngModel)]="propertyObj.threshold.l1" placeholder="Enter L1 Value">
              </div>
              <div class="form-group col-6">
                <!-- <label for="recipient-name" class="col-form-label required">H1:</label> -->
                <input type="number" class="form-control form-control-sm" id="h1" name="h1"
                  [(ngModel)]="propertyObj.threshold.h1" placeholder="Enter H1 Value">
              </div>
            </div>
            <div class="row col-12">
              <div class="form-group col-6">
                <!-- <label for="recipient-name" class="col-form-label required">L2:</label> -->
                <input type="number" class="form-control form-control-sm" id="l2" name="l2"
                  [(ngModel)]="propertyObj.threshold.l2" placeholder="Enter L2 Value">
              </div>
              <div class="form-group col-6">
                <!-- <label for="recipient-name" class="col-form-label required">H2:</label> -->
                <input type="number" class="form-control form-control-sm" id="h2" name="h2"
                  [(ngModel)]="propertyObj.threshold.h2" placeholder="Enter H2 Value">
              </div>
            </div>
            <div class="row col-12">
              <div class="form-group col-6">
                <!-- <label for="recipient-name" class="col-form-label required">L3:</label> -->
                <input type="number" class="form-control form-control-sm" id="l3" name="l3"
                  [(ngModel)]="propertyObj.threshold.l3" placeholder="Enter L3 Value">
              </div>
              <div class="form-group col-6">
                <!-- <label for="recipient-name" class="col-form-label required">H3:</label> -->
                <input type="number" class="form-control form-control-sm" id="h3" name="h3"
                  [(ngModel)]="propertyObj.threshold.h3" placeholder="Enter H3 Value">
              </div>
            </div>
          </ng-container>
          <div class="form-group mr-3">
            <label for="recipient-name" class="col-form-label">JSON Model:</label>
            <json-editor [options]="editorOptions" name="json" [data]="propertyObj.json">
            </json-editor>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary "
          *ngIf="type === 'measured_properties' || type === 'edge_derived_properties' || type === 'cloud_derived_properties'"
          [disabled]="(!setupForm?.valid && (setupForm?.touched || !setupForm?.touched)) || isCreatePropertyLoading"
          (click)="selectedProperty ? updatePropertyData() : onSavePropertyObj()">Save</button>
        <button type="button" class="btn btn-primary "
          *ngIf="type !== 'measured_properties' && type !== 'edge_derived_properties' && type !== 'cloud_derived_properties'"
          (click)="selectedProperty ? updatePropertyData() : onSavePropertyObj()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading"
          (click)="onCloseAssetsPropertyModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreatePropertyLoading"></i>
      </div>
    </div>
  </div>
</div>

<div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedProperty">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View JSON Model</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal('PropJSONModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>JSON Model: </label>
        <pre class="text-sm" [innerHTML]="selectedProperty.json_model | json"></pre>
        <label *ngIf="assetModel.metadata?.model_type === constantData.NON_IP_ASSET">Metadata: </label>
        <pre class="text-sm" *ngIf="assetModel.metadata?.model_type === constantData.NON_IP_ASSET"
          [innerHTML]="selectedProperty.metadata ? (selectedProperty.metadata | json) : ({} | json)"></pre>
        <label *ngIf="type === 'measured_properties'">Thresholds: </label>
        <pre class="text-sm" *ngIf="type === 'measured_properties'"
          [innerHTML]="selectedProperty.threshold ? (selectedProperty.threshold | json) : ({} | json)"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseModal('PropJSONModal')">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="confirmMessageModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Property</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal('confirmMessageModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this property?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteProperty()">
          Ok</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseModal('confirmMessageModal')">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
