<div class="" *ngIf="decodedToken?.app === 'VNHierarchyTests' " >
  <div class="blue-nav-bar">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
        <div class="main-heading ">Vibrations Chart</div>
      </div>
    </div>
  </div>
  <div class="tab-bar">
    <ng-container class="">
      <div class="form-group mb-0">
        <form class="form-inline">
          <div class="d-flex">
            <!-- Assets List -->
            <div class="pt-1">
              <ng-select [items]="allAssets" id="asset" class="custom-dropdown active sm" style="width: 10rem;"
              bindLabel="display_name" [clearable]="false" [searchable]="false" clearSearchOnAdd="true"
              [multiple]="false" [closeOnSelect]="true" placeholder="Select Asset" name="sId_selection"
              dropdownPosition="bottom" [(ngModel)]="selectedAsset" (change)="onSelectAssetSelection()">
            </ng-select>
            </div>
            <div class="pt-1" >
              <ng-select [items]="dataArray" id="sIdDt" class="custom-dropdown active sm" style="width: 8rem; padding: 0 .5rem !important;" bindLabel="sId" [clearable]="false" [searchable]="false" clearSearchOnAdd="true" [multiple]="false" [closeOnSelect]="true" placeholder="Select Sensor Id" name="sId_selection" dropdownPosition="bottom" [(ngModel)]="actualFilterData['sId']" (change)="onSelectSensorDate()" >
              </ng-select>
            </div>
            <div class="" >
              <app-date-range-picker [filterObj]="originalFilterObj" (selectedDateApplyEmitter)="selectedDate($event)" [selectedDateRange]="selectedDateRange">
              </app-date-range-picker>
            </div>

            <!-- Data Type -->
            <div class="pt-1" style="padding: 0 .5rem">
              <ng-select [items]="dataFilterType" name="data_Type" class="custom-dropdown active sm" style="width: 8rem;"bindLabel="name" [clearable]="false" [searchable]="true" clearSearchOnAdd="true" [multiple]="false" [closeOnSelect]="true" placeholder="Select Data Type" dropdownPosition="bottom" [(ngModel)]="actualFilterData.data_Type" (change)="onSelectDataType()" >
              </ng-select>
            </div>
            <!-- Frequency Type -->
            <div class="pt-1">
              <ng-select [items]="frequencyFilter" name="frequency_Type" class="custom-dropdown active sm" style="width: 8rem;"bindLabel="message" [clearable]="false" [searchable]="true" clearSearchOnAdd="false" [multiple]="false" [closeOnSelect]="true" placeholder="Select Frequency Type" dropdownPosition="bottom" [(ngModel)]="actualFilterData.frequency" (change)="onSelectFrequency()" >
              </ng-select>
            </div>

            <!-- Uploaded date Type -->
            <div class="pt-1" style="padding: 0 .5rem">
              <ng-select [items]="telemetryList" name="upload_date_Type" class="custom-dropdown active sm" style="width: 12rem;"bindLabel="upload_date" [clearable]="false" [searchable]="true" clearSearchOnAdd="true" [multiple]="false" [closeOnSelect]="true" placeholder="Select Packet Type" dropdownPosition="bottom" [(ngModel)]="actualFilterData.uploaded_date" (change)="onChangeUploadedDate($event)" >
              </ng-select>
            </div>

            <!-- Chart Type -->
            <div class="pt-1">
              <ng-select [items]="chartTypes" name="chart_Type" class="custom-dropdown active  sm" style="width: 8rem;"bindLabel="name" [clearable]="false" [searchable]="true" clearSearchOnAdd="true" [multiple]="true" [closeOnSelect]="true" placeholder="Select Chart Type" dropdownPosition="bottom" [(ngModel)]="actualFilterData.chart_Type" >
                <ng-template ng-multi-label-tmp let-items="items">
                  {{items.length}} selected
                </ng-template>
                <ng-template ng-header-tmp >
                  <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
                    <li *ngIf="chartTypes?.length !== actualFilterData['chart_Type']?.length">
                      <a href="javascript:void(0)" (click)="actualFilterData['chart_Type'] = chartTypes" >Select All</a>
                    </li>
                    <li *ngIf="chartTypes?.length === actualFilterData['chart_Type']?.length">
                      <a href="javascript:void(0)" (click)="actualFilterData['chart_Type'] = []" >DeSelect All</a>
                    </li>
                  </ul>
                </ng-template>
              </ng-select>
            </div>

            <!-- Search button -->
            <div class="pt-1" style="padding: 0 .5rem">
              <button type="button" class="btn btn-primary sm  m-0 p-0" style="height:1.9rem !important ; width:1.9rem !important" [disabled]="  !actualFilterData['asset_id'] || !actualFilterData['sId'] || !actualFilterData['chart_Type']?.length || !actualFilterData['data_Type']?.length || !actualFilterData['frequency'] || !this.actualFilterData?.uploaded_date" (click)="filterSearch()" >
                <em class="fa fa-search sm"></em>
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
  <div class="tableFixHead p-3">
    <ng-container class="py-4" *ngIf="!filterData?.asset_id || !searchData">
      <p class="h6 fw-bold">Select the filter Option</p>
    </ng-container>
    <ng-container class="py-4" *ngIf="(!searchData?.length && !telemetryList?.length && !actualFilterData?.length ) && filterData?.asset_id">
      <p class="h5">No Data Found</p>
    </ng-container>
    <ng-container *ngIf="filterData?.asset_id">

      <ng-container *ngIf="reloadCharts else chartComponent" >
        <div *ngIf="searchData;">
          <app-plotly-chart [bodyMessage]="searchData.data[0]" [messageType]="filterData?.type?.includes('Asset') ? 'asset' : 'gateway'"  [filterProperty]="filterData" ></app-plotly-chart>
        </div>
      </ng-container>
      <ng-template #chartComponent>
        <ng-container *ngIf="searchData && filterData" >
          <div *ngIf="searchData;">
            <app-plotly-chart [bodyMessage]="searchData.data[0]" [messageType]="filterData?.type?.includes('Asset') ? 'asset' : 'gateway'" [filterProperty]="filterData" ></app-plotly-chart>
          </div>
        </ng-container>
      </ng-template>

    </ng-container>

  </div>

</div>


