<div class="pb-3">
  <a href="#" data-toggle="modal" data-target="#roleassigmenModal">
  <i class="fas fa-fw fa-plus"></i>
  <span class="text-secondary">Add New Users</span></a>
 </div>
<table class="table table-bordered table-striped" cellspacing="0">
  <thead>
    <tr class="bg-secondary text-white">
      <th>Email</th>
      <th>Full Name</th>
      <th>Role</th>
      <th>Access Level</th>
    </tr>
  </thead>

  <tbody>
      <tr>
      <td>Somababu@kemsys.com</td>
      <td>Sombabu Gunithi</td>
      <td>App Admin</td>
      <td>/ NTT</td>
    </tr>
    <tr class="bg-white">
      <td>Urvisha@kemsys.com</td>
      <td>Urvisha Seladiya</td>
      <td>Manager</td>
      <td>/ NTT / Mumbai</td>
    </tr>
    <tr>

      <td>yash@kemsys.com</td>
      <td>Yash Mochi</td>
      <td>Supervisor</td>
      <td>/ NTT / Mumbai / Plant-1</td>
    </tr>
    <tr class="bg-white">
      <!--<td><a href="#">Work 3</a></td>-->
      <td>Somababu@gmail.com</td>
      <td>Sombabu Gunithi</td>
      <td>Operator</td>
      <td>/ NTT / Mumbai / Plant-1 / Machine Shop</td>
    </tr>
  </tbody>
</table>
