<div class="mt-1">
  <div class="card " id="{{chartConfig.chartId}}">
    <div class="card-header d-flex px-2">
      <div style="min-width: 0; flex:1">
        <h6 class="my-0 live-widget-title text-center w-100" placement="bottom" [tooltip]="chartConfig.widgetTitle"
          [ngClass]="{'w-11': !asset  && !chartConfig.freezed}" maxlength="10">
          {{chartConfig.widgetTitle}}
        </h6>
      </div>
      <div class="ml-auto">
        <div class="round-badge badge-navyblue" tooltip="Derived KPI" *ngIf="hasPropType(chartConfig, 'Derived KPIs')">
          DK</div>
        <div class="round-badge badge-darkblue" tooltip="Edge Derived Property"
          *ngIf="hasPropType(chartConfig, 'Edge Derived Properties')">
          ED</div>
        <div class="round-badge badge-lightblue" tooltip="Cloud Derived Property"
          *ngIf="hasPropType(chartConfig, 'Cloud Derived Properties')">CD</div>

        <div class="round-badge badge-blue" tooltip="Measured Property"
          *ngIf="hasPropType(chartConfig, 'Measured Properties')">M</div>
        <a *ngIf="!asset && !chartConfig.freezed && decodedToken?.privileges?.indexOf('ASMMM') > -1"
          href="javascript:void(0)" (click)="openConfirmRemoveWidgetModal()" placement="bottom"
          tooltip="Remove {{widgetStringFromMenu}}"><em class="fa fa-close"></em></a>

      </div>
    </div>
    <div class="card-body1 card-height">
      <div class="row text-center " *ngIf="telemetryObj">
        <div
          class="col-md-{{(chartConfig?.properties?.length>=6 ? ((12 / chartConfig?.properties?.length) + (chartConfig.widgetType === 'NumberWithTrend' || chartConfig.widgetType === 'NumberWithImage' ? 2 : 1)) : (12 / chartConfig?.properties?.length)) | number: '1.0-0'}} text-center widget-row-separator"
          *ngFor="let prop of chartConfig.properties; let i = index"
          [ngClass]="{'border-left': i > 0 && ((i % 6 != 0 && chartConfig.widgetType != 'NumberWithTrend' && chartConfig.widgetType != 'NumberWithImage') || (i % 4 != 0 && (chartConfig.widgetType === 'NumberWithTrend' || chartConfig.widgetType === 'NumberWithImage'))),'border-right' : i > 5 && i == chartConfig.properties.length -1}">

          <div class="mt-1 ml-1 mr-3" *ngIf="chartConfig.widgetType === 'NumberWithTrend'">
          </div>
          <div *ngIf="contextApp.app!='Kirloskar'"
            [ngClass]="{'mt-4': chartConfig.widgetType === 'SmallNumber' || chartConfig.widgetType === 'StringWidget'}">
            <span class="text-darkblue display-5 font-weight-bold"
              [ngStyle]="{'font-size': chartConfig.widgetType === 'SmallNumber' || chartConfig.widgetType === 'StringWidget' ? '1.3rem' : '' }">
              <ng-container *ngIf="prop.load_value_using !== 'api' else APIPropValTemplate">
                {{ telemetryObj && telemetryObj[prop.composite_key] &&
                telemetryObj[prop?.composite_key]?.value !== undefined &&
                telemetryObj[prop?.composite_key]?.value !== null
                ?
                (
                prop?.data_type === 'Number'
                ? (convertToNumber(telemetryObj[prop?.composite_key]?.value))
                : telemetryObj[prop?.composite_key]?.value
                )
                : telemetryObj[prop?.json_key]?.value ? telemetryObj[prop?.json_key]?.value: 'NA' }}

                <sub class="text-xs live-widget-title mb-0">
                  {{prop?.units ? ('(' +
                  prop?.units + ')') : ''}}
                </sub>
              </ng-container>

              <ng-template #APIPropValTemplate>
                {{ (apiTelemetryObj[prop.property?.composite_key] &&
                (apiTelemetryObj[prop.property?.composite_key]?.value !==
                undefined && apiTelemetryObj[prop.property?.composite_key]?.value !== null)) ?
                (prop.property?.data_type === 'Number' ?
                (apiTelemetryObj[prop.property?.composite_key]?.value?.toFixed(prop.digitsAfterDecimals)) :
                (apiTelemetryObj[prop.property?.composite_key].value))
                : 'NA'}} {{prop.unit}}
              </ng-template>
            </span>

            <p class="mb-0" style="font-size: 10px;">
              {{ telemetryObj && telemetryObj[prop.composite_key] &&
              telemetryObj[prop?.composite_key]?.date
              ? (telemetryObj[prop?.composite_key]?.value ? telemetryObj[prop?.composite_key].date : '')
              : telemetryObj[prop?.json_key]?.value !== null ? telemetryObj[prop?.json_key].date : 'NA' }}
            </p>
          </div>



          <div *ngIf="contextApp.app=='Kirloskar'"
            [ngClass]="{'mt-4': chartConfig.widgetType === 'SmallNumber' || chartConfig.widgetType === 'StringWidget'}">
            <span class="text-darkblue display-5 font-weight-bold"
              [ngStyle]="{'font-size': chartConfig.widgetType === 'SmallNumber' || chartConfig.widgetType === 'StringWidget' ? '1.3rem' : '' }">
              <ng-container *ngIf="prop.load_value_using !== 'api' else APIPropValTemplate">
                {{ (telemetryObj[prop?.composite_key] &&
                (telemetryObj[prop?.composite_key]?.value !==
                undefined
                && telemetryObj[prop?.composite_key]?.value !== null)) ?
                (prop?.data_type === 'Number' ?
                (telemetryObj[prop?.composite_key]?.value) :
                (telemetryObj[prop?.composite_key].value))
                : telemetryObj[prop?.json_key]?.value }}
                <sub class="text-xs live-widget-title mb-0">
                  {{prop?.units ? ('(' +
                  prop?.units + ')') : ''}}
                </sub>

              </ng-container>

              <ng-template #APIPropValTemplate>
                {{ (apiTelemetryObj[prop.property?.composite_key] &&
                (apiTelemetryObj[prop.property?.composite_key]?.value !==
                undefined && apiTelemetryObj[prop.property?.composite_key]?.value !== null)) ?
                (prop.property?.data_type === 'Number' ?
                (apiTelemetryObj[prop.property?.composite_key]?.value) :
                (apiTelemetryObj[prop.property?.composite_key]?.value))
                : 'NA'}} {{prop.unit}}
              </ng-template>
            </span>
            <p class="mb-0" style="font-size: 10px;">
              {{ telemetryObj && telemetryObj[prop.composite_key] &&
              telemetryObj[prop?.composite_key]?.date
              ? (telemetryObj[prop?.composite_key]?.value ? telemetryObj[prop?.composite_key].date :
              telemetryObj[prop?.composite_key].date)
              : telemetryObj[prop?.json_key]?.value !== null ? telemetryObj[prop?.json_key].date : 'NA' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmRemoveWidgetModal{{chartConfig.chartId}}" tabindex="-1" role="dialog"
  aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="bodyMessage" [headerMessage]="headerMessage"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-confirm-modal>
  </div>
</div>