<div class="mx-auto">
  <div class="topnavbar bg-white py-2" style="margin-top: 3.1rem;height:6rem">
    <div class="row">
      <div class="col-xl-10 col-lg-10 col-md-10 mb-12">
        <form>
          <div class="form-group form-inline my-1">
            <span class="badge badge-warning col-xl-2 col-lg-2"
              style="line-height:24px; font-size: 14px;">Add New Widget</span>
            <input type="text" id="chartTitle" class="form-control form-control-sm col-xl-2 col-lg-2 ml-2"
              name="chartTitle" placeholder="Display Name" [(ngModel)]="chartTitle" >
            <div class=" dropdown chartTypeDropdown col-xl-2 col-lg-2 ml-2 p-0 form-control form-control-sm"
             >
              <button class="btn btn-default dropdown-toggle col-xl-12 col-lg-12 col-md-12 pb-0 pt-1" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedChartType}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" *ngFor="let item of chartTypes;let i=index"
                  (click)="setChartType(i)">
                  <i class="fa {{chartIcons[i]}} chartTypeIcon"></i>
                  {{item}}
                </a>
              </div>
            </div>

          </div>
          <div class="form-group form-inline my-1">
            <input class="form-control form-control-sm col-xl-2 col-lg-2" type="text"
              placeholder="X-Axis parameter" id="xAxisProperty" [(ngModel)]="xAxisProps" name="xAxisProperty">
            <angular2-multiselect [data]="dropdownPropList" id="y1AxisProperty"
              [(ngModel)]="y1AxisProps" name="y1AxisProperty" [settings]="{
                text: 'Select Y1 Axis',
                selectAllText: 'Select All',
                unSelectAllText: 'UnSelect All',
                classes: 'col-lg-2 col-xl-2 p-0 ml-2',
                enableSearchFilter: true,
                badgeShowLimit: 1,
                maxHeight: 200,
                labelKey: 'id'
              }"
              (onDeSelectAll)="y1Deselect($event)">
            </angular2-multiselect>
            <!-- <input class="form-control form-control-sm col-xl-3 col-lg-3 mr-2 ml-1"  type="text" *ngIf="isLayout"
              placeholder="Comma separated list of Y1 parameters" id="y1AxisProperty" [(ngModel)]="y1AxisProps"
              name="y1AxisProperty"> -->
            <angular2-multiselect [data]="dropdownPropList" id="y2AxisProp" [(ngModel)]="y2AxisProp"
              name="y2AxisProp" [settings]="{
                text: 'Select Y2 Axis',
                selectAllText: 'Select All',
                unSelectAllText: 'UnSelect All',
                classes: 'col-lg-2 col-xl-2 p-0 ml-2',
                enableSearchFilter: true,
                badgeShowLimit: 1,
                maxHeight: 200,
                labelKey: 'id'
              }"
              (onDeSelectAll)="y2Deselect($event)" >
            </angular2-multiselect>
            <!-- <input class="form-control form-control-sm col-xl-3 col-lg-3 mr-2" type="text" *ngIf="isLayout"
              placeholder="Comma separated list of Y2 parameters" id="y2AxisProperty" [(ngModel)]="y2AxisProp"
              name="y2AxisProperty"> -->




            <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Add Chart"
              (click)="addChart()"><i class="fas fa-plus fa-sm"></i></button>
            <button type="button" class="btn btn-success btn-sm mx-1 my-1" title="Save"
              (click)="saveLayout()"><i class="fa fa-save fa-sm"></i></button>

            <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear" (click)="clear()"><i
                class="fas fa-trash  fa-sm"></i></button>
          </div>
        </form>
      </div>
    </div>
    <hr class="solid mb-4">

  </div>
  <div class="" style="margin-top: 6rem;">
    <h6 *ngIf="layoutJson.length === 0  && !isHistoryAPILoading">
      No Layout found
    </h6>
    <i *ngIf="isHistoryAPILoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
    <div id="layoutWidgetContainer" class="row showLayout">
    </div>
  </div>
</div>
