<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->
<div class="topnavbar bg-white py-2" >
  <div class="row">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"  (click)="openAddPropertiesModal()"
        [class.disabled]="deviceType.freeze">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary">Add {{(type.includes('measured') ? 'Measured ' : (
            type.includes('writable') ? 'Writable ' : (
              type.includes('readable') ? 'Readable ' : (
                type.includes('derived') ? 'Derived ' : ''
              )
            )
          ))}}
          Property</span></a>
      </li>
    </ul>
    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
  </div>

  <div class="con-pad">
  <div class="table-responsive">
    <app-common-table [tableData]="properties[type]" [tableConfig]="propertyTableConfig" [isTableFilterSelected]="true"
    [isTableDataLoading]="isPropertiesLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
  </div>

  <div class="modal right fade" id="addPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="propertyObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New
          {{(type.includes('measured') ? 'Measured ' : (
            type.includes('writable') ? 'Writable ' : (
              type.includes('readable') ? 'Readable ' : (
                type.includes('derived') ? 'Derived ' : ''
              )
            )
          ))}}
          Property</h5>
        <button type="button" class="close" [disabled]="isCreatePropertyLoading" (click)="onCloseThingsPropertyModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Display Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="propertyObj.name"
          placeholder="Enter Property Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">JSON Key:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="propertyObj.json_key"
            placeholder="Enter Key Name" (change)="onJSONKeyChange()">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Data Type:</label>
            <select class="custom-select" id="template" name="model_type" [(ngModel)]="propertyObj.data_type"
            (change)="onDataTypeChange()">
              <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="type.includes('read') || type.includes('writ')">
            <input type="checkbox" class="mx-1 my-1" id="checkbox" min="1"
            name="checkbox" [(ngModel)]="propertyObj.isAdd" >
            <label for="read_prop" class="col-form-label">Add as {{(type.includes('read') ? 'Writeable' : (type.includes('writ') ? 'Readable' : ''))}} Properties</label>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <label for="recipient-name" class="col-form-label">Thresholds:</label>
          </div>
          <div class="row" *ngIf="type === 'measured_properties'">

            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L1:</label> -->
              <input type="number" class="form-control" id="l1" name="l1" [(ngModel)]="propertyObj.threshold.l1"
              placeholder="Enter L1 Value" >
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H1:</label> -->
              <input type="number" class="form-control" id="h1" name="h1" [(ngModel)]="propertyObj.threshold.h1"
              placeholder="Enter H1 Value" >
            </div>
          </div>
          <div class="row" *ngIf="type === 'measured_properties'">
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L2:</label> -->
              <input type="number" class="form-control" id="l2" name="l2" [(ngModel)]="propertyObj.threshold.l2"
              placeholder="Enter L2 Value" >
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H2:</label> -->
              <input type="number" class="form-control" id="h2" name="h2" [(ngModel)]="propertyObj.threshold.h2"
              placeholder="Enter H2 Value" >
            </div>
          </div>
          <div class="row" *ngIf="type === 'measured_properties'">
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L3:</label> -->
              <input type="number" class="form-control" id="l3" name="l3" [(ngModel)]="propertyObj.threshold.l3"
              placeholder="Enter L3 Value" >
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H3:</label> -->
              <input type="number" class="form-control" id="h3" name="h3" [(ngModel)]="propertyObj.threshold.h3"
              placeholder="Enter H3 Value" >
            </div>
          </div>
          <div class="form-group mr-3">
            <label for="recipient-name" class="col-form-label">JSON Model:</label>
            <!-- <textarea
              class="form-control"
              id="message"
              rows="10"
              placeholder="Please type your JSON here.."
              name="message"
              [defaultValue]="propertyObj.json_model | json"
            ></textarea> -->
            <json-editor [options]="editorOptions" name="json"  [data]="propertyObj.json">
            </json-editor>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" [disabled]="isCreatePropertyLoading" (click)="onSavePropertyObj()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading" (click)="onCloseThingsPropertyModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreatePropertyLoading"></i>
      </div>
    </div>
    </div>
  </div>

  <div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedProperty">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View JSON Model</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('PropJSONModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>JSON Model: </label>
          <pre  [innerHTML]="selectedProperty.json_model | json"></pre>
          <label *ngIf="type === 'measured_properties'">Thresholds: </label>
          <pre *ngIf="type === 'measured_properties'" [innerHTML]="selectedProperty.threshold ? (selectedProperty.threshold | json) : ({} | json)"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCloseModal('PropJSONModal')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="confirmMessageModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Widget</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('confirmMessageModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this property?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteProperty()">
            Ok</button>
          <button type="button" class="btn btn-secondary" (click)="onCloseModal('confirmMessageModal')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>


  <div class="modal right fade" id="configureDerivedPropModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedProperty">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Configure Property</h5>
          <button type="button" class="close"  aria-label="Close" [disabled]="isCreatePropertyLoading" (click)="onCloseModal('configureDerivedPropModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Dependent Properties:</label>
            <angular2-multiselect [data]="dependentProperty" id="y1AxisProperty"
            [(ngModel)]="selectedProperty.dependent_properties" (onDeSelect)="onPropertyChecked($event)"
            (onSelectAll)="selectAllProps()" (onDeSelectAll)="deselectAllProps()"
            name="property" [settings]="{
                text: 'Select Property',
                classes: 'col-lg-2 col-xl-2 p-0 ml-2 w-100 modal-select',
                enableSearchFilter: true,
                badgeShowLimit: 2,
                maxHeight: 200,
                labelKey: 'name',
                primaryKey: 'name'
              }">
            </angular2-multiselect>
          </div>
          <div class="form-group">
            <label for="javascript" class="col-form-label">Derived Function</label>
            <div class="editor-container">
              <ngx-monaco-diff-editor [options]="options" ></ngx-monaco-diff-editor>
            </div>
          </div>
          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="isCreatePropertyLoading" (click)="updatePropertyData()">
            Ok</button>
          <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading" (click)="onCloseModal('configureDerivedPropModal')">
            Cancel
          </button>
          <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreatePropertyLoading"></i>
        </div>
      </div>
    </div>
  </div>
