<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->

    <div class="tab-bar" *ngIf="!type.includes('derived')">
      <div class="">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"  (click)="openAddPropertiesModal()"
        [class.disabled]="deviceType.freezed">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary">Add {{(type.includes('measured') ? 'Measured ' : (
            type.includes('Controllable') ? 'Controllable ' : (
              type.includes('Configurable') ? 'Configurable ' : (
                type.includes('derived') ? 'Edge Derived ' : ''
              )
            )
          ))}}
          Property</span></a>
      </li>
    </ul>
    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
  </div>


<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="properties[type]" [tableConfig]="propertyTableConfig" [isTableFilterSelected]="true"
    [isTableDataLoading]="isPropertiesLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
  </div>

  <div class="modal right fade" id="addPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="propertyObj">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{propertyObj.edit ? 'Edit' : 'Add'}}
          {{(type.includes('measured') ? 'Measured ' : (
            type.includes('Controllable') ? 'Controllable ' : (
              type.includes('Configurable') ? 'Configurable ' : (
                type.includes('derived') ? 'Derived ' : ''
              )
            )
          ))}}
          Property</h5>
        <button type="button" class="close" [disabled]="isCreatePropertyLoading" (click)="onCloseThingsPropertyModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">Display Name:</label>
            <input type="text" class="form-control form-control-sm" id="display_name" name="display_name" [(ngModel)]="propertyObj.name"
            placeholder="Enter Property Name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">JSON Key:</label>
            <input type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="propertyObj.json_key"
            placeholder="Enter Key Name" (change)="onJSONKeyChange()" [disabled]="propertyObj.edit">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">Data Type:</label>
            <select class="form-control form-control-sm" id="template" name="model_type" [(ngModel)]="propertyObj.data_type"
            (change)="onDataTypeChange()">
              <option [ngValue]="dataType.name" *ngFor="let dataType of dataTypeList">{{dataType.name}}</option>
            </select>
          </div>
          <accordion [closeOthers]="'true'" *ngIf="deviceType.metadata?.model_type === constantData.NON_IP_DEVICE">
            <accordion-group heading="" [panelClass]="'customClass'" >
              <ng-container  accordion-heading>
                <button class="btn" type="button">
                  Property Register Details
                </button>
              </ng-container>
              <form *ngIf="setupForm" [formGroup]="setupForm">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label required">Type:</label>
                  <div class="input-group">
                  <select class="form-control form-control-sm" id="datatype" name="datatype" formControlName="d"
                  (change)="onChangeOfSetupType()"> <option [ngValue]="null">Select Type</option>
                    <option [ngValue]="'a'" >Analog</option>
                    <option [ngValue]="'d'" >Digital</option>
                    <option [ngValue]="'s'" >String</option>
                  </select>
                  </div>
                  <div *ngIf="setupForm.get('d').invalid && (setupForm.get('d').dirty || setupForm.get('d').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('d').errors.required">
                      Type is required.
                    </div>
                    </div>
                </div>
                <div class="form-group" *ngIf="setupForm.get('d').value === 'a'">
                  <label for="recipient-name" class="col-form-label required">Secondary Type:</label>
                  <div class="input-group">
                  <select class="form-control form-control-sm" id="sd" name="sd" formControlName="sd"
                  (change)="onChangeOfSetupSecondaryType()"> <option [ngValue]="null">Select Secondary Type</option>
                    <option [ngValue]="1" >SIGNED_16_INT</option>
                    <option [ngValue]="2" >UNSIGNED_16_INT</option>
                    <option [ngValue]="3" >LONG</option>
                    <option [ngValue]="4" >LONG_REVERSE</option>
                    <option [ngValue]="5" >FLOAT</option>
                    <option [ngValue]="6" >FLOAT_REVERSE</option>
                  </select>
                  </div>
                  <div *ngIf="setupForm.get('sd')?.invalid && (setupForm.get('sd')?.dirty || setupForm.get('sd')?.touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('sd')?.errors.required">
                     Secondary Type is required.
                    </div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label required">PLC Register Address:</label>
                  <input type="number" class="form-control form-control-sm" id="sa" name="sa" formControlName="sa"
                  placeholder="Enter PLC Register Address">
                  <div *ngIf="setupForm.get('sa').invalid && (setupForm.get('sa').dirty || setupForm.get('sa').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('sa').errors.required">
                      PLC Register Address is required.
                    </div>
                    <div *ngIf="setupForm.get('sa').errors.min || setupForm.get('sa').errors.max">
                      PLC Register Address value must be between 0 and 99999.
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="setupForm.get('d').value === 's'">
                  <label for="message-text" class="col-form-label required">String Length:</label>
                  <input type="number" class="form-control form-control-sm" id="la" name="la" formControlName="la"
                  placeholder="Enter String Length">
                  <div *ngIf="setupForm.get('la').invalid && (setupForm.get('la').dirty || setupForm.get('la').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('la').errors.required">
                      String Length is required.
                    </div>
                    <div *ngIf="setupForm.get('la').errors.min || setupForm.get('la').errors.max">
                      String Length value must be between 1 and 99999.
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="(setupForm.get('sd')?.value === 5 ||setupForm.get('sd')?.value === 6 )
                && setupForm.get('d').value === 'a'">
                  <label for="message-text" class="col-form-label required">Precision:</label>
                  <input type="number" class="form-control form-control-sm" id="p" name="p" formControlName="p"
                  placeholder="Enter Precision">
                  <div *ngIf="setupForm.get('p').invalid && (setupForm.get('p').dirty || setupForm.get('p').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('p').errors.required">
                      Precision is required.
                    </div>
                    <div *ngIf="setupForm.get('p').errors.min || setupForm.get('p').errors.max">
                      Precision value must be between 1 and 5.
                    </div>
                  </div>
                </div>
                <ng-container  *ngIf="deviceType.tags.protocol === 'ModbusTCPMaster' || deviceType.tags.protocol === 'ModbusRTUMaster'">
                <div class="form-group" *ngIf="deviceType.tags.protocol === 'ModbusTCPMaster' || deviceType.tags.protocol === 'ModbusRTUMaster'">
                  <label for="recipient-name" class="col-form-label required">Function Code:</label>
                  <div class="input-group">
                  <select class="form-control form-control-sm" id="fc" name="fc" formControlName="fc"
                  (change)="onChangeOfSetupFunctionCode()"> <option [ngValue]="null">Select Function Code</option>
                    <option [ngValue]="1" >Read Coil (DIGITAL)</option>
                    <option [ngValue]="2" >Read Discrete Input (DIGITAL)</option>
                    <option [ngValue]="3" >Read Holding Registers (ANALOG)</option>
                    <option [ngValue]="4" >Read Input Registers (ANALOG)</option>
                  </select>
                  </div>
                  <div *ngIf="setupForm.get('fc').invalid && (setupForm.get('fc').dirty || setupForm.get('fc').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('fc').errors.required">
                      Function Code is required.
                    </div>
                    </div>
                </div>
                <div class="form-group" *ngIf="setupForm.get('d').value === 'd' && (setupForm.get('fc').value === 3 || setupForm.get('fc').value === 4)">
                  <label for="message-text" class="col-form-label required">Bit Number:</label>
                  <input type="number" class="form-control form-control-sm" id="bn" name="bn" formControlName="bn"
                  placeholder="Enter Bit Number">
                  <div *ngIf="setupForm.get('bn').invalid && (setupForm.get('bn').dirty || setupForm.get('bn').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('bn').errors.required">
                      Bit Number is required.
                    </div>
                    <div *ngIf="setupForm.get('bn').errors.min || setupForm.get('bn').errors.max">
                      Bit Number value must be between 0 and 15.
                    </div>
                  </div>
                </div>
                </ng-container>
                <ng-container  *ngIf="deviceType.tags.protocol === 'SiemensTCPIP'">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label required">Memory Type:</label>
                  <div class="input-group">
                  <select class="form-control form-control-sm" id="mt" name="mt" formControlName="mt"
                  (change)="onChageOfMemoryType()"> <option [ngValue]="null">Select Memory Type</option>
                    <option [ngValue]="'DB'" >DB</option>
                    <option [ngValue]="'PE'" >PE</option>
                    <option [ngValue]="'PA'" >PA</option>
                    <option [ngValue]="'MK'" >MK</option>
                    <option [ngValue]="'CT'" >CT</option>
                    <option [ngValue]="'TM'" >TM</option>
                  </select>
                  </div>
                  <div *ngIf="setupForm.get('mt').invalid && (setupForm.get('mt').dirty || setupForm.get('mt').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('mt').errors.required">
                      Memory Type is required.
                    </div>
                    </div>
                </div>
                <div class="form-group" *ngIf="setupForm.get('mt').value === 'DB'">
                  <label for="message-text" class="col-form-label required">DB Number:</label>
                  <input type="number" class="form-control form-control-sm" id="dbn" name="dbn" formControlName="dbn"
                  placeholder="Enter DB Number">
                  <div *ngIf="setupForm.get('dbn').invalid && (setupForm.get('dbn').dirty || setupForm.get('dbn').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('dbn').errors.required">
                      DB Number is required.
                    </div>
                    <div *ngIf="setupForm.get('dbn').errors.min || setupForm.get('dbn').errors.max">
                      DB Number value must be greater than 0.
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="setupForm.get('d').value === 'd'">
                  <label for="message-text" class="col-form-label required">Bit Number:</label>
                  <input type="number" class="form-control form-control-sm" id="bn" name="bn" formControlName="bn"
                  placeholder="Enter Bit Number">
                  <div *ngIf="setupForm.get('bn').invalid && (setupForm.get('bn').dirty || setupForm.get('bn').touched)"
                    class="alert-danger">
                    <div *ngIf="setupForm.get('bn').errors.required">
                      Bit Number is required.
                    </div>
                    <div *ngIf="setupForm.get('bn').errors.min || setupForm.get('bn').errors.max">
                      Bit Number value must be between 0 and 15.
                    </div>
                  </div>
                </div>
              </ng-container>
              </form>
            </accordion-group>
          </accordion>

          <div class="form-group" *ngIf="type.includes('read') || type.includes('writ')">
            <input type="checkbox" class="mx-1 my-1" id="checkbox" min="1"
            name="checkbox" [(ngModel)]="propertyObj.isAdd" >
            <label for="read_prop" class="col-form-label">Add as {{(type.includes('read') ? 'Controllable' : (type.includes('writ') ? 'Configurable' : ''))}} Properties</label>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <label for="recipient-name" class="col-form-label">Thresholds:</label>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">

            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L1:</label> -->
              <input type="number" class="form-control form-control-sm" id="l1" name="l1" [(ngModel)]="propertyObj.threshold.l1"
              placeholder="Enter L1 Value" >
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H1:</label> -->
              <input type="number" class="form-control form-control-sm" id="h1" name="h1" [(ngModel)]="propertyObj.threshold.h1"
              placeholder="Enter H1 Value" >
            </div>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L2:</label> -->
              <input type="number" class="form-control form-control-sm" id="l2" name="l2" [(ngModel)]="propertyObj.threshold.l2"
              placeholder="Enter L2 Value" >
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H2:</label> -->
              <input type="number" class="form-control form-control-sm" id="h2" name="h2" [(ngModel)]="propertyObj.threshold.h2"
              placeholder="Enter H2 Value" >
            </div>
          </div>
          <div class="row col-12" *ngIf="type === 'measured_properties'">
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">L3:</label> -->
              <input type="number" class="form-control form-control-sm" id="l3" name="l3" [(ngModel)]="propertyObj.threshold.l3"
              placeholder="Enter L3 Value" >
            </div>
            <div class="form-group col-6">
              <!-- <label for="recipient-name" class="col-form-label required">H3:</label> -->
              <input type="number" class="form-control form-control-sm" id="h3" name="h3" [(ngModel)]="propertyObj.threshold.h3"
              placeholder="Enter H3 Value" >
            </div>
          </div>
          <div class="form-group mr-3">
            <label for="recipient-name" class="col-form-label">JSON Model:</label>
            <json-editor [options]="editorOptions" name="json"  [data]="propertyObj.json">
            </json-editor>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="deviceType.metadata?.model_type === constantData.NON_IP_DEVICE" type="button" class="btn btn-primary " [disabled]="(!setupForm?.valid && (setupForm?.touched || !setupForm?.touched)) || isCreatePropertyLoading" (click)="selectedProperty ? updatePropertyData() : onSavePropertyObj()">Save</button>
        <button *ngIf="deviceType.metadata?.model_type !== constantData.NON_IP_DEVICE" type="button" class="btn btn-primary" [disabled]="isCreatePropertyLoading" (click)="selectedProperty ? updatePropertyData() : onSavePropertyObj()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading" (click)="onCloseThingsPropertyModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreatePropertyLoading"></i>
      </div>
    </div>
    </div>
  </div>

  <div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedProperty">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View JSON Model</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('PropJSONModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>JSON Model: </label>
          <pre  [innerHTML]="selectedProperty.json_model | json"></pre>
          <label *ngIf="deviceType.metadata?.model_type === constantData.NON_IP_DEVICE">Metadata: </label>
          <pre *ngIf="deviceType.metadata?.model_type === constantData.NON_IP_DEVICE" [innerHTML]="selectedProperty.metadata ? (selectedProperty.metadata | json) : ({} | json)"></pre>
          <label *ngIf="type === 'measured_properties'">Thresholds: </label>
          <pre *ngIf="type === 'measured_properties'" [innerHTML]="selectedProperty.threshold ? (selectedProperty.threshold | json) : ({} | json)"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCloseModal('PropJSONModal')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="confirmMessageModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Widget</h5>
          <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('confirmMessageModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this property?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteProperty()">
            Ok</button>
          <button type="button" class="btn btn-secondary" (click)="onCloseModal('confirmMessageModal')">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>




<div class="modal right fade" id="configureDerivedPropModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="selectedProperty && code">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Configure Property</h5>
          <button type="button" class="close"  aria-label="Close" [disabled]="isCreatePropertyLoading" (click)="onCloseModal('configureDerivedPropModal')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Dependent Properties:</label>
            <angular2-multiselect [data]="dependentProperty" id="y1AxisProperty"
            [(ngModel)]="selectedProperty.dependent_properties" (onSelect)="onPropParamAddedForFun()" (onDeSelect)="onPropertyChecked($event)"
            (onSelectAll)="selectAllProps()" (onDeSelectAll)="deselectAllProps()"
            name="property" [settings]="{
                text: 'Select Property',
                classes: 'col-lg-2 col-xl-2 p-0 ml-2 w-100 modal-select',
                enableSearchFilter: true,
                badgeShowLimit: 2,
                maxHeight: 200,
                labelKey: 'name',
                primaryKey: 'name'
              }">
            </angular2-multiselect>
          </div>
          <div class="form-group">
            <label for="javascript" class="col-form-label">Derived Function: </label>
            <div class="editor-container" *ngIf="code">
              <ngx-monaco-editor #jsEditor [options]="options" [(ngModel)]="code" name="code"></ngx-monaco-editor>
            </div>
          </div>
          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="isCreatePropertyLoading" (click)="updatePropertyData()">
            Ok</button>
          <button type="button" class="btn btn-secondary" [disabled]="isCreatePropertyLoading" (click)="onCloseModal('configureDerivedPropModal')">
            Cancel
          </button>
          <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreatePropertyLoading"></i>
        </div>
      </div>
    </div>
  </div>
