<!-- <div class="topnavbar bg-white py-2" style="height: 6.7rem;">
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-12" >
        <form>
          <div class="form-group form-inline my-1">
            <input type="number" min="1" class="form-control form-control-sm mr-1 my-1 record-input" id="inputEmail4" placeholder="No of Records"
            [(ngModel)]="telemetryFilter.count" name="count">
            <div class="bg-dateRow form-group form-inline" id="dateRow"
            [style.width]="(telemetryFilter.dateOption === 'date' ? '23rem' : (telemetryFilter.dateOption === 'date range' ? '33rem' : ''))">
            <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
            [(ngModel)]="telemetryFilter.dateOption" name="dateOptions" (change)="onDateOptionChange()">
              <option [ngValue]="undefined">Quick Date Options</option>
              <option [ngValue]="'5 mins'">Last 5 minutes</option>
              <option [ngValue]="'30 mins'">Last 30 minutes</option>
              <option [ngValue]="'1 hour'">Last 1 hour</option>
              <option [ngValue]="'24 hour'">Last 24 hours</option>
              <option [ngValue]="'date'">Select Date</option>
            <option [ngValue]="'date range'">Select Date Range</option>
            </select>
            <ng-container *ngIf="telemetryFilter.dateOption === 'date'">
              <input #dt2Input [owlDateTime]="dt2" [max]="today" (dateTimeChange)="onSingleDateChange($event);"
                class="form-control form-control-sm mx-2 my-1 w-10" [owlDateTimeTrigger]="dt2"
                placeholder="Select Date">
              <span [owlDateTimeTrigger]="dt2"  class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
            </ng-container>
            <ng-container  *ngIf="telemetryFilter.dateOption === 'date range'">

            <input  [owlDateTime]="dt1" [max]="today" [selectMode]="'range'" #dt1Input
            (dateTimeChange)="onDateChange($event)" class="form-control form-control-sm mx-1 my-1 date-range-picket-width" [owlDateTimeTrigger]="dt1" placeholder="Select Date Time">
            <span [owlDateTimeTrigger]="dt1" class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
            <owl-date-time #dt1></owl-date-time>
          </ng-container>
          </div>

          </div>
          <div class="form-group form-inline my-1">
            <input type="checkbox" class="mr-1 my-1 big-checkbox" id="checkbox" min="1"
            name="checkbox" [(ngModel)]="telemetryFilter.isTypeEditable" (change)="telemetryFilter.aggregation_format = undefined; telemetryFilter.aggregation_minutes = undefined;
            ">

            <fieldset [disabled]="!telemetryFilter.isTypeEditable" class="form-group form-inline my-1">

            <label class="mx-1 my-1">Sampling: </label>

            <ng-container >
            <input type="number" class="form-control form-control-sm ml-1 my-1 w-7" id="minutes" min="1"
              name="minutes" [(ngModel)]="telemetryFilter.sampling_time" placeholder="Sampling" disabled
              (change)="onNumberChange($event, 'sampling')" title="By default this is 1 minute. Right now this field is disabled. Dynamic selection of sampling frequency is under development.">
              <button class="btn btn-secondary btn-sm mr-1" style="pointer-events: none;">mins</button>

            </ng-container>
            </fieldset>
            <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search" (click)="searchTelemetry(this.telemetryFilter)"
            [disabled]="isTelemetryLoading"><i class="fa fa-search fa-sm"></i></button>
            <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear Filters" (click)="clear()">
              <img class="filter-clear-icon" src="./assets/img/filter.svg">
            </button>
          </div>
         </form>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr class="solid">
      </div>
    </div>

</div> -->

<div class="tab-bar">
  <div class="">

    <form class="form-inline">
      <div class="form-group">
        <input type="number" min="1" id="countId"
        name="count" class="form-control form-control-sm active record-input"
        [(ngModel)]="telemetryFilter.count" name="count" >
      </div>

      <div class="form-group" >
        <input type="text"  class="form-control form-control-sm active" daterangepicker name="daterangeInput"  [options]="options" (selected)="selectedDate($event, daterange)" />
      </div>

      <div class="form-group">
        <input type="checkbox" id="checkbox" min="1" name="checkbox" class="big-checkbox"
        [(ngModel)]="telemetryFilter.isTypeEditable" (change)="telemetryFilter.aggregation_format = undefined; telemetryFilter.aggregation_minutes = undefined;">&nbsp;Sampling:
        </div>
			<div class="form-group input-group">
        <input class="form-control form-control-sm bg-light" type="number" id="minutes" min="1"
        name="minutes" [(ngModel)]="telemetryFilter.sampling_time" placeholder="Sampling" disabled
        title="By default this is 1 minute. Right now this field is disabled. Dynamic selection of sampling frequency is under development." style="width: 3em;" >
        <div class="input-group-append"><span class="input-group-text bg-light">mins</span></div></div>
      <div class="form-group"><button type="button" title="Search" class="btn btn-sm searchBtn btn-primary" (click)="searchTelemetry(telemetryFilter)" ><i class="fas fa-search fa-sm"></i></button></div>
        <!-- <button type="button" class="btn btn-warning btn-sm ml-3 mr-1 my-1" title="Search" ><i class="fa fa-search fa-sm"></i></button> -->
        <div class="form-group"><button type="button" title="Search" class="btn btn-sm searchBtn btn-primary" title="Clear Filters" (click)="clear();" > <img class="filter-clear-icon" src="./assets/img/filter.svg"></button></div>
     </form>


  </div>
</div>
<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="telemetry" [tableConfig]="telemetryTableConfig" [isTableFilterSelected]="isFilterSelected"
    [isTableDataLoading]="isTelemetryLoading" (viewMessageEvent)="openTelemetryMessageModal($event)"></app-common-table>
  </div>
</div>
<div class="modal right fade" id="telemetryMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="selectedTelemetry?.message" [headerMessage]="'Telemetry Message'"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
