<div class="topnavbar bg-white py-2" >
<app-filter [filterObj]="telemetryFilter" (filterSearch)="searchTelemetry($event)"></app-filter>
</div>
<div class="con-pad">
<div class="row mx-auto">

  <div class="table-responsive">
    <!-- <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr class="bg-secondary text-white">
          <th>Time Stamp</th>
          <th>Message ID</th>
          <th>Telemetry Message</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="telemetry.length > 0 && !isTelemetryLoading">
          <tr *ngFor="let telemetryObj of telemetry">
            <td>{{telemetryObj.local_created_date}}</td>
            <td>{{telemetryObj.message_id}}</td>
            <td>
              <a (click)="selectedTelemetry = telemetryObj" href="javascript:void(0)" (click)="openTelemetryMessageModal()">
              <i class="fas fa-fw fa-eye"></i>
              </a>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="telemetry.length === 0 && !isTelemetryLoading && isFilterSelected">
          <tr>
            <td colspan="6">No telemetry data found.</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="telemetry.length === 0 && !isTelemetryLoading && !isFilterSelected">
          <tr>
            <td colspan="6">Select filter and press search button to load the telemetry data.</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isTelemetryLoading">
          <tr>
            <td colspan="6">
              <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table> -->
    <app-table [tableData]="telemetry" [tableConfig]="telemetryTableConfig" [isTableFilterSelected]="isFilterSelected"
    [isTableDataLoading]="isTelemetryLoading" (viewMessageEvent)="openTelemetryMessageModal($event)"></app-table>
  </div>
</div>
</div>
<div class="modal right fade" id="telemetryMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="selectedTelemetry?.message" [headerMessage]="'Telemetry Message'"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
