<div class="topnavbar bg-white py-2" style="height: 6.7rem;">
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-12" >
        <form>
          <div class="form-group form-inline my-1">
            <input type="number" min="1" class="form-control form-control-sm mr-1 my-1 record-input" id="inputEmail4" placeholder="No of Records"
            [(ngModel)]="telemetryFilter.count" name="count">
            <select *ngIf="pageType === 'gateway'" class="form-control form-control-sm mx-1 my-1" id="deviceCategory"
             [(ngModel)]="telemetryFilter.device_id" name="deviceCategory">
              <option [ngValue]="undefined">Select Asset</option>
              <option [ngValue]="device.device_id" *ngFor="let device of devices">
                {{device?.tags?.dislay_name ? device.tags?.display_name: device.device_id}}
              </option>
            </select>
            <div class="bg-dateRow form-group form-inline" id="dateRow"
            [style.width]="(telemetryFilter.dateOption === 'date' ? '23rem' : (telemetryFilter.dateOption === 'date range' ? '33rem' : ''))">
            <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
            [(ngModel)]="telemetryFilter.dateOption" name="dateOptions" (change)="onDateOptionChange()">
              <option [ngValue]="undefined">Quick Date Options</option>
              <option [ngValue]="'5 mins'">Last 5 minutes</option>
              <option [ngValue]="'30 mins'">Last 30 minutes</option>
              <option [ngValue]="'1 hour'">Last 1 hour</option>
              <option [ngValue]="'24 hour'">Last 24 hours</option>
              <option [ngValue]="'date'">Select Date</option>
            <option [ngValue]="'date range'">Select Date Range</option>
            </select>
            <!-- <label class="ml-1 mr-1">OR</label> -->
            <ng-container *ngIf="telemetryFilter.dateOption === 'date'">
              <input #dt2Input [owlDateTime]="dt2"  (dateTimeChange)="onSingleDateChange($event);"
                class="form-control form-control-sm mx-2 my-1 w-10" [owlDateTimeTrigger]="dt2"
                placeholder="Select Date">
              <span [owlDateTimeTrigger]="dt2"  class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
            </ng-container>
            <ng-container  *ngIf="telemetryFilter.dateOption === 'date range'">
              <!-- <mat-date-range-picker #picker></mat-date-range-picker>

              <mat-date-range-input [rangePicker]="picker" class="form-control form-control-sm mx-1 my-1 col-md-2"
              >
                <input matStartDate [(ngModel)]="filterObj.from_date" name="from_date" placeholder="Date Range">
                <input matEndDate [(ngModel)]="filterObj.to_date" name="to_date">
              </mat-date-range-input>

            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle> -->
            <input  [owlDateTime]="dt1" [selectMode]="'range'" #dt1Input
            (dateTimeChange)="onDateChange($event)" class="form-control form-control-sm mx-1 my-1 date-range-picket-width" [owlDateTimeTrigger]="dt1" placeholder="Select Date Time">
            <span [owlDateTimeTrigger]="dt1" class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
            <owl-date-time #dt1></owl-date-time>
          </ng-container>
          </div>
          <!-- <button type="button" class="btn btn-warning btn-sm ml-3 mr-1 my-1" title="Search" (click)="searchTelemetry(this.telemetryFilter)" ><i class="fa fa-search fa-sm"></i></button>
          <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear" (click)="clear();dt1Input.value = null;"><i class="fa fa-trash  fa-sm"></i></button> -->

          </div>
          <div class="form-group form-inline my-1">
            <input type="checkbox" class="mr-1 my-1 big-checkbox" id="checkbox" min="1"
            name="checkbox" [(ngModel)]="telemetryFilter.isTypeEditable" (change)="telemetryFilter.aggregation_format = undefined; telemetryFilter.aggregation_minutes = undefined;
            ">

            <fieldset [disabled]="!telemetryFilter.isTypeEditable" class="form-group form-inline my-1">
            <!-- <ui-switch size="small"  class="mr-1" [disabled]="!telemetryFilter.isTypeEditable"
            defaultBgColor="red" checkedTextColor="white" uncheckedTextColor="white"
            checkedLabel="Sampling" (valueChange)="telemetryFilter.aggregation_format = undefined; telemetryFilter.aggregation_minutes = undefined;
            telemetryFilter.sampling_format = undefined; telemetryFilter.sampling_time = undefined;"
            uncheckedLabel="Aggregation" [(ngModel)]="telemetryFilter.type" name="tpye"></ui-switch> -->
            <label class="mx-1 my-1">Sampling: </label>
            <ng-container *ngIf="!telemetryFilter.type">
            <input type="number" class="form-control form-control-sm my-1 w-7" id="minutes" min="1" disabled
              name="minutes" [(ngModel)]="telemetryFilter.aggregation_minutes" placeholder="Agreegation Time"
              (change)="onNumberChange($event, 'aggregation')">
            <button class="btn btn-secondary btn-sm mr-1" style="pointer-events: none;">mins</button>
            <select class="form-control form-control-sm mx-2 my-1" id="aggregationFormat" [(ngModel)]="telemetryFilter.aggregation_format"
            name="aggregationFormat" style="width: 11rem!important;" disabled>
            <option [ngValue]="undefined">Aggregartion Format</option>
            <option [ngValue]="'AVG'">Average</option>
            <option [ngValue]="'SUM'">Sum</option>
            <option [ngValue]="'MIN'">Min</option>
            <option [ngValue]="'MAX'">Max</option>
            <option [ngValue]="'COUNT'">Count</option>
            </select>
            </ng-container>
            <ng-container *ngIf="telemetryFilter.type">
            <input type="number" class="form-control form-control-sm ml-1 my-1 w-7" id="minutes" min="1"
              name="minutes" [(ngModel)]="telemetryFilter.sampling_time" placeholder="Sampling" disabled
              (change)="onNumberChange($event, 'sampling')" title="By default this is 1 minute. Right now this field is disabled. Dynamic selection of sampling frequency is under development.">
              <button class="btn btn-secondary btn-sm mr-1" style="pointer-events: none;">mins</button>
            <!-- <select class="form-control form-control-sm mx-2 my-1" id="samplingFrequency" [(ngModel)]="telemetryFilter.sampling_format"
            name="samplingFrequency" style="width: 11rem!important;" disabled>
            <option [ngValue]="undefined">Sampling Format</option>
            <option [ngValue]="'second'">Second</option>
            <option [ngValue]="'minute'">Minute</option>
            <option [ngValue]="'hour'">Hour</option>
            </select> -->
            </ng-container>
            </fieldset>
            <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search" (click)="searchTelemetry(this.telemetryFilter)"
            [disabled]="isTelemetryLoading"><i class="fa fa-search fa-sm"></i></button>
            <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear Filters" (click)="clear()">
              <img class="filter-clear-icon" src="./assets/img/filter.svg">
            </button>
          </div>
         </form>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr class="solid">
      </div>
    </div>

</div>
<div class="con-pad" style="margin-top: 12.5rem;max-height: calc(100vh - 13rem);">
<div class="row mx-auto">

  <div class="table-responsive">
    <!-- <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr class="bg-secondary text-white">
          <th>Time Stamp</th>
          <th>Message ID</th>
          <th>Telemetry Message</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="telemetry.length > 0 && !isTelemetryLoading">
          <tr *ngFor="let telemetryObj of telemetry">
            <td>{{telemetryObj.local_created_date}}</td>
            <td>{{telemetryObj.message_id}}</td>
            <td>
              <a (click)="selectedTelemetry = telemetryObj" href="javascript:void(0)" (click)="openTelemetryMessageModal()">
              <i class="fa fa-fw fa-eye"></i>
              </a>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="telemetry.length === 0 && !isTelemetryLoading && isFilterSelected">
          <tr>
            <td colspan="6">No telemetry data found.</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="telemetry.length === 0 && !isTelemetryLoading && !isFilterSelected">
          <tr>
            <td colspan="6">Select filter and press search button to load the telemetry data.</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isTelemetryLoading">
          <tr>
            <td colspan="6">
              <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table> -->
    <app-table [tableData]="telemetry" [tableConfig]="telemetryTableConfig" [isTableFilterSelected]="isFilterSelected"
    [isTableDataLoading]="isTelemetryLoading" (viewMessageEvent)="openTelemetryMessageModal($event)"></app-table>
  </div>
</div>
</div>
<div class="modal right fade" id="telemetryMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="selectedTelemetry?.message" [headerMessage]="'Telemetry Message'"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
