<div class="tab-bar">
  <div class="">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'Test Connection'}" href="javascript:void(0)"
        (click)="onClickOfTab('Test Connection')" [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-plug"></i>
          <span class="text-secondary">Test Connection</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'Manage Applications'}" href="javascript:void(0)"
        (click)="onClickOfTab('Manage Applications')" [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-microchip"></i>
          <span class="text-secondary">Manage Applications</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'Manage Devices'}" href="javascript:void(0)"
        (click)="onClickOfTab('Manage Devices')" [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-laptop"></i>
          <span class="text-secondary">Manage Devices</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'Register Properties'}" href="javascript:void(0)"
        (click)="onClickOfTab('Register Properties')" [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-building-o"></i>
          <span class="text-secondary">Register Properties</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'Settings'}" href="javascript:void(0)"
        (click)="onClickOfTab('Settings')" [class.disabled]="isSaveSettingAPILoading">
          <i class="fa fa-fw fa-cog"></i>
          <span class="text-secondary">Settings</span></a>
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <div class="tableFixHead  m-3" >
    <ng-container *ngIf="selectedTab === 'Test Connection'">
      <div class="row col-md-12 mt-1">
        Check gateway is connected or not, Gateway to respond within 30 seconds, else Gateway is considered as offline.
      </div>
      <div class="row col-md-12 mt-1">
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-1" href="javascript:void(0)"
        (click)="testConnectionWithGateway()" [class.disabled]="isTestConnectionAPILoading">
          Test Connection</a>  <i *ngIf="isTestConnectionAPILoading" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
      </div>
      <div class="row mt-1 col-md-12 pl-3" *ngIf="testConnectionMessage">
        <span [ngClass]="{'alert-success': testConnectionMessage.toLowerCase().includes('success'),
        'alert-danger': testConnectionMessage.toLowerCase().includes('not connected')}"> {{testConnectionMessage}} </span>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Manage Applications'">
      <app-manage-applications [device]="device" [deviceTwin]="deviceTwin" (refreshDeviceTwin)="getDeviceTwinData()"></app-manage-applications>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Manage Devices'">
      <app-register-devices [device]="device" [deviceTwin]="deviceTwin" (refreshDeviceTwin)="getDeviceTwinData()" [pageType]="'register-devices'"></app-register-devices>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Register Properties'">
      <app-register-properties [device]="device" [deviceTwin]="deviceTwin" (refreshDeviceTwin)="getDeviceTwinData()"></app-register-properties>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'Settings'">
      <app-gateway-devices-setting [device]="device" [deviceTwin]="deviceTwin" (refreshDeviceTwin)="getDeviceTwinData()"></app-gateway-devices-setting>
    </ng-container>
  </div>
</div>

