.loadMoreBtn {
    width : 80vw !important;
     display: flex !important;
     justify-content: center !important;
     z-index: 4;
     padding-right: 3rem !important;
  }
  .loadMoreBtn a {
    text-decoration: none !important;
    font-size: 14px !important;
    color: blue !important;
  }
  .table-header tr th {
    vertical-align: top !important;
  }
  .tableFixHead {
    overflow: auto !important;
    height: calc(100vh - 12.5rem) !important;
  }