<i class="fa fa-spinner fa-spin fa-fw fa-2x text-center" *ngIf="isDeviceDataLoading"></i>
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column m-5 py-3" *ngIf="isDeviceDataLoading">
    Loading Asset Data...
    <i class="fa fa-spinner fa-spin fa-fw fa-2x text-center"  ></i>
  </div>
  <!-- Sidebar -->
  <div class="sidebar1 sidebar-light mb-3 " *ngIf="!isDeviceDataLoading">

    <div class="sidebar1-heading sidebar1-top-heading">
      <span>Diagnosis Panel </span>
      <i class="fa fa-fw fa" style="font-size:1rem; margin-top:0.5rem;margin-left:0.3rem">DP</i>
    </div>
    <div class="scrollbox scrollbox_delayed" tabindex="0">
      <ul class="navbar-nav scrollbox-content" id="controlPanelSidebar">
        <ng-container *ngFor="let menu of menuItems">
          <ng-container *ngIf="menu.isTitle">
            <div class="sidebar1-heading ">
              {{menu.display_name}}
            </div>
            <!-- Divider -->
            <hr class="sidebar1-divider">
          </ng-container>
          <ng-container *ngIf="!menu.isTitle && menu.visible">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item" [ngClass]="{'active': activeTab === menu.page}">
              <a class="nav-link collapsed" href="{{menu.url}}" data-toggle="tab" aria-expanded="false"
                (click)="setActiveTab(menu.page)">
                <i class="{{menu.icon}}" placement="bottom" [tooltip]="menu.display_name"></i>
                <span>{{menu.display_name}}</span></a>
            </li>
          </ng-container>

        </ng-container>
        <!-- Divider -->
        <hr class="sidebar1-divider d-none d-md-block">

      </ul>
    </div>
  </div>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column" *ngIf="!isDeviceDataLoading">

    <!-- Main Content -->
    <div>

      <div id="content">
        <div class="container1-fluid">
          <div class="blue-nav-bar">

            <div class="d-flex">
              <div>
                <div class="main-heading">{{device?.display_name || device?.device_id}}</div>
              </div>
            </div>
          </div>
          <!-- Sidebar Toggle (Topbar) -->
          <!-- <button id="sidebar1ToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="onSideBarToggleTopClick()">
      <i class="fa fa-bars"></i>
    </button> -->
          <div class="">
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'overview'}" id="device_overview" role="tabpanel">
              <app-overview *ngIf="activeTab === 'overview' && device" [tileData]="tileData"
                [componentState]="componentState" [device]="device" [menuDetail]="getMenuDetail('overview')">
              </app-overview>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'tags'}" role="tabpanel" id="device_device_tags">
              <app-tags *ngIf="activeTab === 'tags'  && device" [tileData]="tileData" [device]="device"
                [menuDetail]="getMenuDetail('tags')"></app-tags>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'setup'}" role="tabpanel" id="device_settings">
              <app-gateway-settings *ngIf="activeTab === 'setup'  && device" [tileData]="tileData" [device]="device">
              </app-gateway-settings>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'notifications'}" role="tabpanel" id="device_notifications">
              <app-device-messages-wrapper *ngIf="activeTab === 'notifications' && device" [device]="device"></app-device-messages-wrapper>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'cached_telemetry'}" role="tabpanel"
              id="device_cached_telemetry">
              <app-gateway-cached-telemetry *ngIf="activeTab === 'cached_telemetry' && device" [device]="device">
              </app-gateway-cached-telemetry>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'cached_alerts'}" role="tabpanel"
              id="device_cached_alerts">
              <app-gateway-cached-alerts *ngIf="activeTab === 'cached_alerts' && device" [device]="device">
              </app-gateway-cached-alerts>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'device_life_cycle'}" role="tabpanel"
              id="device_life_cycle_events">
              <app-device-life-cycle-events *ngIf="activeTab === 'device_life_cycle' && device" [device]="device">
              </app-device-life-cycle-events>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'config_history'}" role="tabpanel"
              id="device_config_history">
              <app-gateway-configuration-history *ngIf="activeTab === 'config_history' && device" [device]="device">
              </app-gateway-configuration-history>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'current_config'}" role="tabpanel"
              id="device_current_config">
              <app-gateway-current-configuration *ngIf="activeTab === 'current_config' && device" [device]="device">
              </app-gateway-current-configuration>
            </div>

            <div class="tab-pane" [ngClass]="{'active': activeTab === 'control_widgets'}" role="tabpanel"
              id="device_control_widgets">
              <app-commands *ngIf="activeTab === 'control_widgets' && device" [device]="device"
                [menuDetail]="getMenuDetail('control_widgets')"></app-commands>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'count'}" role="tabpanel" id="device_count">
              <app-device-count *ngIf="activeTab === 'count' && device" [device]="device"></app-device-count>
            </div>
            <div class="tab-pane" [ngClass]="{'active': activeTab === 'package_management'}" role="tabpanel" id="device_package_management">
              <app-device-packages *ngIf="activeTab === 'package_management' && device" [device]="device"></app-device-packages>
            </div>
            <!-- /.container1-fluid -->

          </div>
        </div>
      </div>
    </div>

  </div>
