<!-- <div class="tab-bar">
  <div class="">
<app-filter [filterObj]="otherFilter" (filterSearch)="searchOther($event)"></app-filter>
</div>
</div> -->
<div class="table-responsive">
  <div class="tableFixHead">
    <app-table [tableData]="othersList" [tableConfig]="otherTableConfig" [isTableFilterSelected]="isFilterSelected"
    [isTableDataLoading]="isOthersLoading" (viewMessageEvent)="openOtherMessageModal($event)"></app-table>
  </div>
</div>
<div class="modal right fade" id="otherMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedOther?.message" [headerMessage]="'Other Message'"
    (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
