<!-- <div class="tab-bar">
  <ul class="nav nav-pills">
    <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMP') > -1">
     <a class="nav-link" href="javascript:void(0)" (click)="openAssetCreateModal()" >
     <i class="fas fa-fw fa-plus-circle"></i>
     <span class="text-secondary">Provision</span></a>
    </li>
   </ul>
</div> -->

<!-- DataTales Example -->
<div class="table-responsive">

  <div class="tableFixHead" style="max-height: calc(100vh - 10.5rem)">
    <table class="table table-hover">
      <thead>
        <!-- <th ><input type="checkbox" name="visibleall"
              id="visibleall" (change)="onClickOfAssetAllCheckbox()" [(ngModel)]="isAllAssetSelected"
              placement="bottom" [tooltip]="isAllAssetSelected ? 'Deselect All' : 'Select All'"/></th> -->
        <th>No</th>
        <th>{{(tabData?.table_key || 'Asset') + ' Name' }}</th>
        <th>{{(tabData?.table_key || 'Asset') + ' ID' }}</th>
        <th *ngIf="type !== constantData.NON_IP_ASSET">Provision Status</th>
        <!-- <th *ngIf="type !== constantData.NON_IP_ASSET">Status</th> -->
        <th>Hierarchy</th>
        <th>Action</th>
      </thead>
      <tbody>
        <ng-container *ngIf="assetsList.length > 0">
          <tr *ngFor="let asset of assetsList; let i = index">
            <!-- <td  >
                  <input type="checkbox" name="visible{{i}}"
                      id="visible{{i}}" (change)="onAssetSelection(asset)"
                      [checked]="checkForAssetVisibility(asset)" />
                </td> -->
            <td>{{i + 1}}</td>
            <td>{{asset.display_name}}</td>
            <td>{{asset.asset_id}}</td>
            <td *ngIf="type !== constantData.NON_IP_ASSET">{{asset.provision_status}}</td>
            <!-- <td *ngIf="type !== constantData.NON_IP_ASSET">{{asset.status}}</td> -->
            <td>{{asset.hierarchyString}}</td>
            <td>
              <!-- <a href="javascript:void(0)" (click)="openAssetCreateModal()"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMP') > -1">
                    <i class="fas fa-fw fa-plus-circle"></i>
                   </a> -->
              <a href="javascript:void(0)" (click)="openAssetCreateModal(asset);" tooltip="Edit"
                *ngIf="asset.provision_status !== 'Completed' && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMD') > -1">
                <i class="fas fa-fw fa-edit"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Deprovision', asset)" tooltip="Deprovision"
                *ngIf="asset.provision_status === 'Completed' && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMD') > -1">
                <i class="fas fa-fw fa-times-circle"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Enable', asset)" class="ml-2"
                tooltip="Enable" *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMM') > -1
                  && asset.status.toLowerCase() === 'disabled'">
                <i class="fas fa-fw fa-toggle-on"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Disable', asset)" class="ml-2"
                tooltip="Disable" *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMM') > -1
                   && asset.status.toLowerCase() === 'enabled'">
                <i class="fas fa-fw fa-toggle-off"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Package Management', asset)" class="ml-2"
                tooltip="Package Management"
                *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('RCC') > -1">
                <i class="fas fa-fw fa">&#xf021;</i>
              </a>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="assetsList.length === 0 && !isAssetListLoading">
          <tr>
            <td [attr.colspan]="type !== constantData.NON_IP_ASSET ? 7 : 5">
              No {{(tabData?.table_key || 'Asset')}} data found.
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isAssetListLoading">
          <tr>
            <td [attr.colspan]="type !== constantData.NON_IP_ASSET ? 7 : 5">
              <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <span class="pull-right mt-1 mr-1" *ngIf="!insideScrollFunFlag && assetsList.length > 0">
    <a href="javascript:void(0)" class="mr-1" (click)="currentOffset = currentOffset + currentLimit;getAssets(false);"
      placement="bottom" tooltip="Load More Records...">Load More...</a>
  </span>
  <!-- <app-common-table *ngIf="tableConfig" [tableData]="assetsList" [tableConfig]="tableConfig" [isTableFilterSelected]="isFilterSelected"
     [isTableDataLoading]="isAssetListLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table> -->
</div>

<app-add-asset *ngIf="isOpenAssetCreateModal" [gateways]="gateways" [assetDetail]="selectedAsset"
  (getAssetEmit)="assetsList = [];getAssets(true);" [componentState]="type" [tileData]="tabData"
  (cancelModal)="onCreateAssetCancelModal()"></app-add-asset>

<!-- <div class="modal right fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  Edit Non Provisioned Asset
              </h5>
              <button type="button" class="close" (click)="closeAssetModal()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="message-text" class="col-form-label">App:</label>
                  <input type="text" class="form-control form-control-sm" id="app_name"
                      [defaultValue]="contextApp.app" disabled>
              </div>
              <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let hIndex = index">
                <div class="form-group" *ngIf="hIndex !== 0">
                    <label for="message-text" class="col-form-label">{{level}}:</label>
                    <select class="form-control form-control-sm" id="hierarchy{{hIndex}}" name="hierarchy{{hIndex}}"
                        (change)="onChangeOfAddDeviceHierarchy(hIndex)" [(ngModel)]="configureHierarchy[hIndex]"
                        [disabled]="contextApp.user.hierarchy[level]">
                        <option [ngValue]="undefined"> Select {{level}}</option>
                        <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[hIndex]">{{tag}}</option>
                    </select>
                </div>
            </ng-container>
              <div class="form-group">
                  <label for="message-text" class="col-form-label required">
                      Display Name:</label>
                  <input type="text" class="form-control form-control-sm" id="device_name" name="device_id"
                      [(ngModel)]="assetModel.display_name"
                      placeholder="Enter Display Name">
              </div>
              <div class="form-group">
                  <label for="message-text" class="col-form-label required">
                      Manager:</label>
                  <select class="form-control form-control-sm" id="user" name="user"
                      [(ngModel)]="assetModel.asset_manager">
                      <option [ngValue]="undefined">Select Manager</option>
                      <option *ngFor="let user of appUsers" [ngValue]="user.user_email">{{user.user_name}}
                          ({{user.user_email}})
                      </option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="col-form-label required">
                      Type:</label>
                  <select class="form-control form-control-sm" id="device_type" name="device_type"
                      [(ngModel)]="assetModel.asset_model">
                      <option [ngValue]="undefined"> Select Type</option>
                      <option *ngFor="let item of deviceTypes" [ngValue]="item.name">
                          {{item.name}}</option>
                  </select>
              </div>
          </div>
          <div class="modal-footer">
              <i *ngIf="isUpdateAsset" class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
              <button type="button" class="btn btn-primary add-row" (click)="updateAsset();" [disabled]="isUpdateAsset">Save</button>
              <button type="button" class="btn btn-secondary" (click)="closeAssetModal()" [disabled]="isUpdateAsset">
                  Cancel
              </button>
          </div>
      </div>
  </div>
</div> -->

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2"
  style="z-index: 1400;">
  <div class="modal-dialog" role="document">
    <!-- <app-message-modal
    [bodyMessage]="confirmBodyMessage"
     [headerMessage]="confirmHeaderMessage"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal> -->

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{confirmHeaderMessage}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="onModalEvents('close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <ng-container *ngIf="modalConfig?.stringDisplay && displyaMsgArr.length === 0">{{confirmBodyMessage}}<i
              class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading"></i></ng-container>
          <ng-container *ngIf="displyaMsgArr.length > 0">
            <ul>
              <li *ngFor="let msg of displyaMsgArr; let last = last;">
                {{msg.message}} <i class="fa fa-check" style="color: green;" *ngIf="!msg.error"></i> <i
                  class="fa fa-times" style="color: red;" *ngIf="msg.error"></i>
                <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading && last"></i>
              </li>
            </ul>
          </ng-container>

        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="modalConfig?.isDisplaySave" type="button" class="btn btn-primary"
          (click)="onModalEvents('save')">
          {{modalConfig?.saveBtnText ? modalConfig?.saveBtnText : 'Save'}}</button>
        <button *ngIf="modalConfig?.isDisplayCancel" type="button" class="btn btn-secondary"
          (click)="onModalEvents('close')">
          {{modalConfig?.cancelBtnText ? modalConfig?.cancelBtnText : 'Cancel'}}
        </button>
      </div>
    </div>

  </div>
</div>

<div class="modal right fade" id="packageManagementModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2"
  style="z-index: 1200;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Package Management</h5>
        <button type="button" class="close" aria-label="Close" [disabled]="isAPILoading"
          (click)="onModalEvents('close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!assetTwin; else packageTemplate"><i class="fa fa-spinner fa-spin fa-fw fa-2x"></i></div>
        <ng-template #packageTemplate>
          <ng-container *ngIf="assetPackages.length === 0">
            <h6> No Packages are added for this asset. Please add it first.</h6>
          </ng-container>
          <ng-container *ngIf="currentAssetApps.length > 0">
            <h6> Currently, this asset is having below packages installed.</h6>
            <ul>
              <li *ngFor="let app of currentAssetApps"> {{app}} -
                {{assetTwin.twin_properties.reported.installed_packages[app]}}</li>
            </ul>
          </ng-container>
          <ng-container *ngIf="currentAssetApps.length === 0">
            <h6>No packages are installed in this asset.</h6>
          </ng-container>
          <hr />
          <ng-container *ngIf="assetPackages.length > 0">
            <accordion [closeOthers]="'true'" class="mb-2">
              <accordion-group heading="" [panelClass]="'customClass'">
                <ng-container accordion-heading>
                  <button class="btn" type="button" (click)="selectedAssetPackage = undefined">
                    Install Package
                  </button>
                </ng-container>
                <p class="" *ngIf="installPackages.length > 0">
                  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-1 float-right"
                    href="javascript:void(0)" (click)="openConfirmDialog('Install')"
                    [class.disabled]="!selectedAssetPackage"><i class="fa fa- fa-sm text-white-50"></i> Install</a>
                </p>

                <table class="table table-hover">
                  <thead>
                    <th></th>
                    <th>App</th>
                    <th>Package</th>
                    <th>Version</th>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="installPackages.length > 0">
                      <tr *ngFor="let package of installPackages; let i = index">
                        <td><input type="checkbox" name="install" [checked]="selectedAssetPackage?.id === package.id"
                            id="install{{i}}" (change)="onCheckboxChange($event, package)"
                            [disabled]="!package.is_install" /></td>
                        <td>{{package.name}}</td>
                        <td>{{package.display_name}}</td>
                        <td>{{package.version}}</td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="installPackages.length === 0">
                      <tr>
                        <td colspan="4">No packages are available to install.</td>
                      </tr>
                    </ng-container>
                  </tbody>

                </table>

              </accordion-group>
              <accordion-group heading="" [panelClass]="'customClass'">
                <ng-container accordion-heading>
                  <button class="btn" type="button" (click)="selectedAssetPackage = undefined">
                    Upgrade/Downgrade Package
                  </button>
                </ng-container>
                <p class=" float-right" *ngIf="updatePackages.length > 0">
                  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2" href="javascript:void(0)"
                    (click)="openConfirmDialog('Upgrade')" [class.disabled]="!selectedAssetPackage"><i
                      class="fa fa- fa-sm text-white-50"></i> Upgrade/Downgrade</a>

                </p>
                <div class="table-responsive table-wrapper" id="table-wrapper" style="max-height: 20rem;">

                  <table class="table table-hover">
                    <thead>
                      <th></th>
                      <th>App</th>
                      <th>Package</th>
                      <th>Version</th>
                    </thead>

                    <tbody>
                      <ng-container *ngIf="updatePackages.length > 0">
                        <tr *ngFor="let package of updatePackages; let i = index;">
                          <td><input type="checkbox" name="visible{{i}}" (change)="onCheckboxChange($event, package)"
                              id="visible{{i}}" [checked]="selectedAssetPackage?.id === package.id"
                              [disabled]="!package.is_update" /></td>
                          <td>{{package.name}}</td>
                          <td>{{package.display_name}}</td>
                          <td>{{package.version}}</td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="updatePackages.length === 0">
                        <tr>
                          <td colspan="4">No packages are available to upgrade/downgrade.</td>
                        </tr>
                      </ng-container>
                    </tbody>

                  </table>
                </div>
              </accordion-group>
              <accordion-group heading="" [panelClass]="'customClass'">
                <ng-container accordion-heading>
                  <button class="btn" type="button" (click)="selectedAssetPackage = undefined">
                    Uninstall Package
                  </button>
                </ng-container>
                <p *ngIf="uninstallPackages.length > 0">
                  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-1 float-right"
                    href="javascript:void(0)" (click)="openConfirmDialog('Uninstall')"
                    [class.disabled]="!selectedAssetPackage"><i class="fa fa- fa-sm text-white-50"></i> Uninstall</a>
                </p>
                <table class="table table-hover">
                  <thead>
                    <th></th>
                    <th>App</th>
                    <th>Package</th>
                    <th>Version</th>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="uninstallPackages.length > 0">
                      <tr *ngFor="let package of uninstallPackages;let i = index;">
                        <td><input type="checkbox" name="visible{{i}}" (change)="onCheckboxChange($event, package)"
                            id="visible{{i}}" [checked]="selectedAssetPackage?.id === package.id"
                            [disabled]="!package.is_uninstall" /></td>
                        <td>{{package.name}}</td>
                        <td>{{package.display_name}}</td>
                        <td>{{package.version}}</td>
                      </tr>
                    </ng-container>
                    <ng-container *ngIf="uninstallPackages.length === 0">
                      <tr>
                        <td colspan="4">No packages are available to uninstall.</td>
                      </tr>
                    </ng-container>
                  </tbody>

                </table>
              </accordion-group>
            </accordion>
          </ng-container>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onModalEvents('close')">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
