<!-- <div class="tab-bar">
  <ul class="nav nav-pills">
    <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMP') > -1">
     <a class="nav-link" href="javascript:void(0)" (click)="openAssetCreateModal()" >
     <em class="fas fa-fw fa-plus-circle"></em>
     <span class="text-secondary">Provision</span></a>
    </li>
   </ul>
</div> -->

<!-- DataTales Example -->
<div class="table-responsive">

  <div class="tableFixHead" style="max-height: calc(100vh - 10.5rem)">
    <table class="table table-hover">
      <thead>
        <!-- <th scope="col"><input type="checkbox" name="visibleall"
              id="visibleall" (change)="onClickOfAssetAllCheckbox()" [(ngModel)]="isAllAssetSelected"
              placement="bottom" [tooltip]="isAllAssetSelected ? 'Deselect All' : 'Select All'"/></th> -->
        <th scope="col">No</th>
        <th scope="col">{{(tabData?.table_key || 'Asset') + ' Name' }}</th>
        <th scope="col">{{(tabData?.table_key || 'Asset') + ' ID' }}</th>
        <th scope="col" *ngIf="type !== constantData.NON_IP_ASSET">Provision Status</th>
        <th scope="col" *ngIf="type !== constantData.NON_IP_ASSET">{{(tabData?.table_key || 'Asset') + ' Status' }}</th>
        <th scope="col">Hierarchy</th>
        <th scope="col">Action</th>
      </thead>
      <tbody>
        <ng-container *ngIf="assetsList.length > 0">
          <tr *ngFor="let asset of assetsList; let i = index">
            <!-- <td  >
                  <input type="checkbox" name="visible{{i}}"
                      id="visible{{i}}" (change)="onAssetSelection(asset)"
                      [checked]="checkForAssetVisibility(asset)" />
                </td> -->
            <td>{{i + 1}}</td>
            <td>{{asset.display_name}}</td>
            <td>{{asset.asset_id}}</td>
            <td *ngIf="type !== constantData.NON_IP_ASSET">{{asset.provision_status}}</td>
            <td *ngIf="type !== constantData.NON_IP_ASSET">{{asset.connection_state}}</td>
            <td>{{asset.hierarchyString}}</td>
            <td>
              <!-- <a href="javascript:void(0)" (click)="openAssetCreateModal()"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMP') > -1">
                    <em class="fas fa-fw fa-plus-circle"></em>
                   </a> -->
              <a href="javascript:void(0)" (click)="openAssetCreateModal(asset);" tooltip="Edit"
                *ngIf="asset.provision_status !== 'Completed' && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMM') > -1">
                <em class="fas fa-fw fa-edit"></em>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Deprovision', asset)" tooltip="Deprovision"
                *ngIf="asset.provision_status === 'Completed' && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMD') > -1">
                <em class="fas fa-fw fa-times-circle"></em>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Enable', asset)" class="ml-2"
                tooltip="Enable" *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMED') > -1
                  && asset.status.toLowerCase() === 'disabled'">
                <em class="fas fa-fw fa-toggle-on"></em>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Disable', asset)" class="ml-2"
                tooltip="Disable" *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMED') > -1
                   && asset.status.toLowerCase() === 'enabled'">
                <em class="fas fa-fw fa-toggle-off"></em>
              </a>
              <!-- <a href="javascript:void(0)" (click)="onSingleOperationClick('Package Management', asset)" class="ml-2"
                tooltip="Package Management"
                *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('RCC') > -1">
                <em class="fas fa-fw fa">&#xf021;</em>
              </a> -->
              <!-- Start Allocation & Deallocation -->
              <a href="javascript:void(0)" (click)="onOpenModelToAllocateDeallocate(true,asset)" class="ml-2"
                tooltip="Allocate">
                <em class="fas fa-plus fa-sm"></em>
              </a>
              <a href="javascript:void(0)" (click)="onOpenModelToAllocateDeallocate(false,asset)" class="ml-2"
                tooltip="DeAllocate">
                <em class="fas fa-fw fa-times-circle"></em>
              </a>
              <!-- End Allocation & Deallocation -->
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="assetsList.length === 0 && !isAssetListLoading">
          <tr>
            <td [attr.colspan]="type !== constantData.NON_IP_ASSET ? 7 : 5">
              No {{(tabData?.table_key || 'Asset')}} data found.
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isAssetListLoading">
          <tr>
            <td [attr.colspan]="type !== constantData.NON_IP_ASSET ? 7 : 5">
              <em class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <span class="pull-right mt-1 mr-1" *ngIf="!insideScrollFunFlag && assetsList.length > 0">
    <a href="javascript:void(0)" class="mr-1" (click)="currentOffset = currentOffset + currentLimit;getAssets(false);"
      placement="bottom" tooltip="Load More Records...">Load More...</a>
  </span>
  <!-- <app-common-table *ngIf="tableConfig" [tableData]="assetsList" [tableConfig]="tableConfig" [isTableFilterSelected]="isFilterSelected"
     [isTableDataLoading]="isAssetListLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table> -->
</div>

<app-add-asset *ngIf="isOpenAssetCreateModal" [gateways]="gateways" [assetDetail]="selectedAsset"
  (getAssetEmit)="assetsList = [];getAssets();" [componentState]="type" [tileData]="tabData"
  (cancelModal)="onCreateAssetCancelModal()"></app-add-asset>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="confirmBodyMessage" [headerMessage]="confirmHeaderMessage"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig" [isAPILoading]="isAPILoading">
    </app-message-modal>
  </div>
</div>

<!-- Start Allocation & Deallocation -->
<div class="modal right fade" *ngIf="allocationObj" id="allocateDeallocateModal" tabindex="-1" role="dialog"
  aria-labelledby="ModalLabel3" style="overflow-y: hidden;">
  <div class="modal-dialog modal-lg my-3" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{isAllocation ? 'Allocate' : 'De-Allocate'}} - {{selectedAsset ?
          selectedAsset.display_name : ''}}</h5>
        <button type="button" class="close" (click)="onCloseModal('allocateDeallocateModal')">
          <span aria-hidden="true" tooltip="Close" placement="left">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="isAllocation !== undefined">
        <div class="col-12">
          <form #form="ngForm">
            <div *ngIf="isAllocation">
              <div class="form-group">
                <label for="user" class="col-form-label required">User:</label>
                <select class="form-control form-control-sm" id="user" name="user" [(ngModel)]="allocationObj.userId">
                  <option [ngValue]="undefined">Select User
                  </option>
                  <option *ngFor="let user of filteredUsers" [ngValue]="user.user_email">{{user.user_name}}
                    ({{user.user_email}})</option>
                </select>
              </div>
              <div class="form-group">
                <label for="allocatedate" class="col-form-label required">Allocation Date:</label>
                <input type="datetime-local" class="form-control form-control-sm" id="allocationdate"
                  name="allocationdate" [(ngModel)]="allocationObj.allocationDate" 
                  placeholder="Choose Allocation Date">
              </div>
              <div class="form-group">
                <label for="deallocatedate" class="col-form-label required">De-Allocation Date:</label>
                <input type="datetime-local" class="form-control form-control-sm" id="deallocationDate"
                  name="deallocationDate" [(ngModel)]="allocationObj.deallocationDate"
                  placeholder="Choose De-Allocation Date">
              </div>
              <div class="form-group">
                <label for="hourlyRate" class="col-form-label required">Hourly Rate:</label>
                <input type="number" min="0" class="form-control form-control-sm" id="hourlyRate" name="hourlyRate"
                  [(ngModel)]="allocationObj.hourlyRate" placeholder="Hourly Rate">
              </div>              
            </div>
            <div *ngIf="!isAllocation">
              <div class="form-group">
                <label for="deallocatedate" class="col-form-label required">De-Allocation Date:</label>
                <input type="datetime-local" class="form-control form-control-sm" id="deallocationDate"
                  name="deallocationDate" [(ngModel)]="allocationObj.deallocationDate"
                  placeholder="Choose De-Allocation Date">
              </div>
            </div>
            <div class="modal-footer fixed-bottom bg-white">
              <button type="button" class="btn btn-primary add-row" [disabled]="isAPILoading"
                (click)="allocateDeAllocateAsset()">Save</button>
              <button type="button" class="btn btn-secondary" [disabled]="isAPILoading"
                (click)="onCloseModal('allocateDeallocateModal')">
                Close
              </button>
              <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading"></em>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- End Allocation & Deallocation -->