<!-- <div class="tab-bar">
  <ul class="nav nav-pills">
    <li class="nav-item" *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMP') > -1">
     <a class="nav-link" href="javascript:void(0)" (click)="openAssetCreateModal()" >
     <i class="fas fa-fw fa-plus-circle"></i>
     <span class="text-secondary">Provision</span></a>
    </li>
   </ul>
</div> -->

<!-- DataTales Example -->
<div class="table-responsive">

  <div class="tableFixHead" style="max-height: calc(100vh - 10.5rem)">
    <table class="table table-hover">
      <thead>
        <!-- <th ><input type="checkbox" name="visibleall"
              id="visibleall" (change)="onClickOfAssetAllCheckbox()" [(ngModel)]="isAllAssetSelected"
              placement="bottom" [tooltip]="isAllAssetSelected ? 'Deselect All' : 'Select All'"/></th> -->
        <th>No</th>
        <th>{{(tabData?.table_key || 'Asset') + ' Name' }}</th>
        <th>{{(tabData?.table_key || 'Asset') + ' ID' }}</th>
        <th *ngIf="type !== constantData.NON_IP_ASSET">Provision Status</th>
        <!-- <th *ngIf="type !== constantData.NON_IP_ASSET">Status</th> -->
        <th>Hierarchy</th>
        <th>Action</th>
      </thead>
      <tbody>
        <ng-container *ngIf="assetsList.length > 0">
          <tr *ngFor="let asset of assetsList; let i = index">
            <!-- <td  >
                  <input type="checkbox" name="visible{{i}}"
                      id="visible{{i}}" (change)="onAssetSelection(asset)"
                      [checked]="checkForAssetVisibility(asset)" />
                </td> -->
            <td>{{i + 1}}</td>
            <td>{{asset.display_name}}</td>
            <td>{{asset.asset_id}}</td>
            <td *ngIf="type !== constantData.NON_IP_ASSET">{{asset.provision_status}}</td>
            <!-- <td *ngIf="type !== constantData.NON_IP_ASSET">{{asset.status}}</td> -->
            <td>{{asset.hierarchyString}}</td>
            <td>
              <!-- <a href="javascript:void(0)" (click)="openAssetCreateModal()"
                  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASMP') > -1">
                    <i class="fas fa-fw fa-plus-circle"></i>
                   </a> -->
              <a href="javascript:void(0)" (click)="openAssetCreateModal(asset);" tooltip="Edit"
                *ngIf="asset.provision_status !== 'Completed' && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMD') > -1">
                <i class="fas fa-fw fa-edit"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Deprovision', asset)" tooltip="Deprovision"
                *ngIf="asset.provision_status === 'Completed' && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMD') > -1">
                <i class="fas fa-fw fa-times-circle"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Enable', asset)" class="ml-2"
                tooltip="Enable" *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMM') > -1
                  && asset.status.toLowerCase() === 'disabled'">
                <i class="fas fa-fw fa-toggle-on"></i>
              </a>
              <a href="javascript:void(0)" (click)="onSingleOperationClick('Disable', asset)" class="ml-2"
                tooltip="Disable" *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('ASMM') > -1
                   && asset.status.toLowerCase() === 'enabled'">
                <i class="fas fa-fw fa-toggle-off"></i>
              </a>
              <!-- <a href="javascript:void(0)" (click)="onSingleOperationClick('Package Management', asset)" class="ml-2"
                tooltip="Package Management"
                *ngIf="asset.provision_status === 'Completed' && type !== constantData.NON_IP_ASSET && decodedToken?.privileges && decodedToken.privileges.indexOf('RCC') > -1">
                <i class="fas fa-fw fa">&#xf021;</i>
              </a> -->
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="assetsList.length === 0 && !isAssetListLoading">
          <tr>
            <td [attr.colspan]="type !== constantData.NON_IP_ASSET ? 7 : 5">
              No {{(tabData?.table_key || 'Asset')}} data found.
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isAssetListLoading">
          <tr>
            <td [attr.colspan]="type !== constantData.NON_IP_ASSET ? 7 : 5">
              <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <span class="pull-right mt-1 mr-1" *ngIf="!insideScrollFunFlag && assetsList.length > 0">
    <a href="javascript:void(0)" class="mr-1" (click)="currentOffset = currentOffset + currentLimit;getAssets(false);"
      placement="bottom" tooltip="Load More Records...">Load More...</a>
  </span>
  <!-- <app-common-table *ngIf="tableConfig" [tableData]="assetsList" [tableConfig]="tableConfig" [isTableFilterSelected]="isFilterSelected"
     [isTableDataLoading]="isAssetListLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table> -->
</div>

<app-add-asset *ngIf="isOpenAssetCreateModal" [gateways]="gateways" [assetDetail]="selectedAsset"
  (getAssetEmit)="assetsList = [];getAssets();" [componentState]="type" [tileData]="tabData"
  (cancelModal)="onCreateAssetCancelModal()"></app-add-asset>

<div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal [bodyMessage]="confirmBodyMessage" [headerMessage]="confirmHeaderMessage"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
