<div class="" id="intro" style="margin-top:3.5rem">
  <div class="row mr-0">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 d-none d-lg-block align-self-center ">
      <div class="text-center">
        <h5 class="h5 mb-3 text-white">Azure RDM: Manage, Monitor, Control millions of IoT assets</h5>
      </div>
      <div class="row justify-content-md-center"><img src="../../assets/img/rdm.png"></div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4 ">
      <div class="card o-hidden border-1 my-2"
        style="-moz-box-shadow: 0 0 3px #9fc0ef; -webkit-box-shadow: 0 0 3px #9fc0ef; box-shadow: 0 0 3px #9fc0ef;">
        <div class="card-body p-0">
          <div class="p-4 bg-primary">
            <form class="g-user" [formGroup]="loginForm" (submit)="onSignUp()" *ngIf="!otpData?.user_id">
              <div class="text-center">
                <h1 class="h4 mb-4" style="color:#1a5a9e">Guest Login !!</h1>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="Name" placeholder="Name*"
                    formControlName="name" name="Name">
                  <div *ngIf="loginForm.get('name').errors && loginForm.get('name').touched" class="alert-danger">
                    <div *ngIf="loginForm.get('name').errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- <input type="phone" class="form-control form-control-user" id="phone" placeholder="Mobile Phone"
                    formControlName="phone" name="phone"> -->
                  <ngx-intl-tel-input [enableAutoCountrySelect]="true" [enablePlaceholder]="true" name="whatsapp_no"
                    [searchCountryFlag]="true" [cssClass]="'custom form-control-user'" formControlName="phone"
                    [phoneValidation]="true" [customPlaceholder]="'Enter Mobile No'" [inputId]="'phone'"
                    [selectedCountryISO]="countryISO.India" id="phone_control" [maxLength]="15"
                    [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]">
                  </ngx-intl-tel-input>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control form-control-user" id="inputEmail" placeholder="Work Email*"
                  formControlName="email" name="email">
                <div *ngIf="loginForm.get('email').errors && loginForm.get('email').touched" class="alert-danger">
                  <div *ngIf="loginForm.get('email').errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="loginForm.get('email').errors.pattern">
                    Email is not valid.
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="companyName" placeholder="Organization*"
                    formControlName="org" name="org">
                  <div *ngIf="loginForm.get('org').errors && loginForm.get('org').touched" class="alert-danger">
                    <div *ngIf="loginForm.get('org').errors.required">
                      Organization is required.
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="designation" placeholder="Designation"
                    formControlName="designation" name="designation">
                </div>
              </div>

              <button type="submit" style="background-color:#1a5a9e"
                class="btn btn-primary btn-user btn-block text-white " [disabled]=" (!loginForm.valid &&
                (loginForm.touched || !loginForm.touched)) || isLoginAPILoading">
                Login
                <i class="fa fa-fw fa-spinner fa-spin" *ngIf="isLoginAPILoading"></i>
              </button>
            </form>
            <form class="g-user" (submit)="onSignIn()" *ngIf="otpData?.user_id">
              <div class="form-group">
                <h3 class="text-center" style="color:#1a5a9e">Email Verification</h3>
                <p class="pt-2 mb-1 text-center">OTP is sent to your email address.</p>
                <p class="text-center">Keep an eye on your junk/spam folder</p>
                <input type="text" class="form-control form-control-user" id="otp" placeholder="One Time Password"
                  [(ngModel)]="otpForm.email_otp" name="otp">
              </div>
              <button type="submit" style="background-color:#1a5a9e"
                class="btn btn-primary btn-user btn-block text-white " [class.disabled]="isLoginAPILoading">
                Verify
                <i class="fa fa-fw fa-spinner fa-spin" *ngIf="isLoginAPILoading"></i>
              </button>
            </form>
            <hr>
            <div class="text-center mt-1">
              <a class="pointer" href="/login/">Already have an account?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

<app-reset-password [isFirstTimeLogin]="true" [isForgotPassword]="false" (modalClose)="onResetModalClose()"
  [loginData]="loginForm" *ngIf="isResetPassword"></app-reset-password>
<app-reset-password [isFirstTimeLogin]="true" [isForgotPassword]="true" (modalClose)="onResetModalClose()"
  [loginData]="loginForm" *ngIf="isForgotPassword"></app-reset-password>
