
<div class="topnavbar" >
  <!-- <div class="d-sm-flex align-items-center justify-content-start mb-4 pl-1">
    <h1 class="h3 mb-0 text-gray-800">Asset Model</h1>
  </div> -->
  <div class="d-sm-flex align-items-center justify-content-start mb-2 mt-n3 pl-1">
    <h5 class="h4 mb-0 text-gray-800">{{(tileData && tileData[0] ? tileData[0]?.value : '')}}</h5>
    <a
    class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm ml-4"
    href="javascript:void(0)"  (click)="openCreateDeviceTypeModal()" title="Add {{(tileData && tileData[1] ? tileData[1]?.value : '')}}"
    ><i class="fa fa- fa-sm fa-plus text-white"></i></a>
  </div>
  <div class="card row bg-white" style="margin-left:-1.5rem">
    <div class="col-xl-12 col-md-12 mb-12">
      <form>
        <div class="form-group form-inline  my-2 mx-2">

          <input type="text" class="form-control form-control-sm mx-1 my-1" id="app"
          placeholder="App" disabled [(ngModel)]="thingsModelFilterObj.app"
          name="app">
          <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputEmail4"
          [(ngModel)]="thingsModelFilterObj.name" name="name" placeholder="{{(tileData && tileData[1] ? tileData[1]?.value : '')}} Name">
          <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputPassword4"
          [(ngModel)]="thingsModelFilterObj.created_by" name="created_by" placeholder="Created By">
          <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
          [(ngModel)]="thingsModelFilterObj.model_type" name="status">
          <option [ngValue]="undefined">Model Type</option>
          <option [ngValue]="constantData.IP_DEVICE">{{constantData.IP_DEVICE}}</option>
          <option [ngValue]="constantData.IP_GATEWAY">{{constantData.IP_GATEWAY}}</option>
          <option [ngValue]="constantData.NON_IP_DEVICE">{{constantData.NON_IP_DEVICE}}</option>
          </select>
          <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="searchThingsModels()" [disabled]="isthingsModelsListLoading" title="Search">
            <i class="fa fa-search fa-sm"></i></button>
          <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="clearFilter()" title="Clear Filters">
            <img class="filter-clear-icon" src="./assets/img/filter.svg"></button>

        </div>
       </form>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-12">
    <hr class="solid">
  </div>
</div> -->
</div>
<!-- Content Row -->

<!-- DataTales Example -->
<div class="contain-pad">
<div class="mb-4 ">

  <div class="">
   <app-common-table [tableData]="thingsModels" [tableConfig]="tableConfig" [isTableFilterSelected]="isFilterSelected"
   [isTableDataLoading]="isthingsModelsListLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>
</div>

<div class="modal right fade" id="createDeviceTypeModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create {{(tileData && tileData[1] ? tileData[1]?.value : '')}}</h5>
      <button type="button" class="close"  (click)="onCloseThingsModelModal()" aria-label="Close" [disabled]="isCreateThingsModelAPILoading">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="thingsModel">
      <form name="createThingsModelForm">
        <div class="form-group">
          <label for="message-text" class="col-form-label">App:</label>
          <input type="text" class="form-control" id="app_name" [defaultValue]="contextApp.app" disabled>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">{{(tileData && tileData[1] ? tileData[1]?.value : '')}} Name:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="thingsModel.name"
          placeholder="Enter {{(tileData && tileData[1] ? tileData[1]?.value : '')}} Name">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label required">{{(tileData && tileData[1] ? tileData[1]?.value : '')}} Type:</label>
          <select class="custom-select" id="template" name="model_type" [(ngModel)]="thingsModel.metadata.model_type"
          (change)="getProtocolList()">
            <option [ngValue]="constantData.IP_DEVICE">{{constantData.IP_DEVICE}}</option>
            <option [ngValue]="constantData.IP_GATEWAY">{{constantData.IP_GATEWAY}}</option>
            <option [ngValue]="constantData.NON_IP_DEVICE">{{constantData.NON_IP_DEVICE}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label required">Protocol:</label>
          <select class="custom-select" id="protocol" name="protocol"
          (change)="getConnectivityData()" [(ngModel)]="thingsModel.tags.protocol">
            <option [ngValue]="undefined"> Select Protocol</option>
            <ng-container *ngFor="let protocol of protocolList">
              <option [ngValue]="protocol.name" *ngIf="protocol.display">{{protocol.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label required">Cloud Connectivity followed by the {{(tileData && tileData[1] ? tileData[1]?.value : '')}}:</label>
          <select class="custom-select" id="template" name="connectivity" [(ngModel)]="thingsModel.tags.cloud_connectivity">
            <option [ngValue]="undefined"> Select Connectivity</option>
          <option *ngFor="let item of connectivityList" [ngValue]="item">
            {{item}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Upload Image: </label>
          <input type="file"
          #typeLogoFileInput (change)="onLogoFileSelected($event.target.files)"
           class="form-control" id="app_logo" name="app_logo" >
        </div>

        <!-- <div class="form-group">
          <label for="message-text" class="col-form-label">Manufactured By:</label>
          <input type="text" class="form-control" id="manufactured_by" name="manufacturer"
          placeholder="Enter Manufacturer" [(ngModel)]="thingsModel.tags.manufacturer">
        </div> -->

      </form>
    </div>
    <div class="modal-footer" *ngIf="thingsModel">
      <button type="button" class="btn btn-primary add-row" [disabled]="isCreateThingsModelAPILoading" (click)="createThingsModel()">Save</button>
      <button type="button" class="btn btn-secondary" [disabled]="isCreateThingsModelAPILoading" (click)="onCloseThingsModelModal()">
        Cancel
      </button>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateThingsModelAPILoading"></i>
    </div>
  </div>
  </div>
</div>
