  #table-top-2{
    height: calc(100vh - 14rem)
  } 
  .table-header{
      opacity: 0.9;
      font-weight: 100;
      font-size: 12px;
  }
  .tableFixHead {
    overflow: auto !important;
    height: calc(100vh - 5rem) !important;
  }
  .loadMoreBtn {
    position: absolute !important;
    top:92.5% !important;
    left: 50% !important;
    z-index: 8 !important;
    width : 10vw !important;
    height : 1rem !important;
    display: flex !important;
    justify-content: center !important;

  }