<div class="pb-4 pt-2 text-orange ">
  *Note: Following is the default role.
  You can define user roles based on your organization needs. (For ex: Manager, Supervisor, Operator, etc.,)
 </div>
<div class="col-lg-6 col-xl-5">
<table id="mytable1" class="table table-bordered">
  <thead>
    <tr>
      <th  style="font-size:1rem; border-right-color:#f8f9fc">Roles </th>
      <th  style="padding:0.2rem 0.5rem; font-size:1rem; "><button type="button" id="insert-tb-row" class="btn btn-red btn-sm mx-1 my-1" style="float:right"><i class="fas fa-plus fa-sm"></i></button></th>
    <!--<a href="#" id="insert-more" ><i class="fas fa-fw fa-plus" style="color:red"></i></a>-->
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="2"><a href="#" class="text-secondary">SAVE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="text-secondary">CANCEL</a></th>

    </tr>
    </tfoot>
  <tbody class="bg-white">
      <tr>
      <td>
        App Admin
      </td>
      <td>
        Level: App
      </td>

      <!--<td>
        <input type="text" id="fee-2" class="fee" name="php-fee">
      </td>
      <td><a href="#">edit</a>
      </td>-->
    </tr>
    <tr>
      <td>
        <select name="code">
          <option value="1">Manager</option>
          <option value="2">Supervisor</option>
          <option value="3">Operator</option>
        </select>
      </td>
      <td>Level:
        <select name="code">
          <option value="1">City</option>
          <option value="2">Plant</option>
          <option value="3">Shop Floor</option>
        </select>
      </td>

      <!--<td>
        <input type="text" id="fee-2" class="fee" name="php-fee">
      </td>
      <td><a href="#">edit</a>
      </td>-->
    </tr>
  </tbody>
</table>
</div>
