<div class="pb-4 pt-2 text-orange ">
  *Note: Following is the default role.
  You can define user roles based on your organization needs. (For ex: Manager, Supervisor, Operator, etc.,)
 </div>
<div class="col-lg-5 col-xl-5">
<table id="mytable1" class="table table-bordered">
  <thead>
    <tr>
      <th  style="font-size:1rem; border-right-color:#f8f9fc">Roles </th>
      <th  style="padding:0.2rem 0.5rem; font-size:1rem; ">
        <button type="button" id="insert-tb-row" class="btn btn-red btn-sm mx-1 my-1" style="float:right"
        (click)="onAddNewRoleObj()">
          <i class="fas fa-plus fa-sm"></i></button></th>
    <!--<a href="#" id="insert-more" ><i class="fas fa-fw fa-plus" style="color:red"></i></a>-->
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="2">
        <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="onSaveRoles()"
        [disabled]="saveRoleAPILoading">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="saveRoleAPILoading"></i></button>
        <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="onCancelClick()">CANCEL</button>
      </th>

    </tr>
    </tfoot>
  <tbody class="bg-white">
      <tr *ngFor="let item of applicationData.roles; let i = index">
      <td>
        <ng-container *ngIf="!item.isEditable">{{item.name}}</ng-container>
        <ng-container *ngIf="item.isEditable">
          <input type="text" name="roleName{{i}}" [(ngModel)]="item.name" class="form-control form-control-sm">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="i === 0">Level: App</ng-container>
        <ng-container>
        <select *ngIf="i !== 0" class="form-control form-control-sm mx-1 my-1" id="deviceCategory"
         [(ngModel)]="item.level" name="deviceCategory" [disabled]="!item.isEditable">
          <option [ngValue]="hierarchy.level" *ngFor="let hierarchy of applicationData.hierarchy">
            {{hierarchy.name}}
          </option>
        </select>
      </ng-container>
      </td>
    </tr>
  </tbody>
</table>
</div>
