<div class="mt-1">
    <div class="card" id="{{chartConfig.chart_id}}">
        <div class="card-header d-flex px-2">
            <div style="min-width: 0; flex:1">
                <h6 class="my-0 live-widget-title" placement="bottom" [tooltip]="chartConfig.widget_title"
                    [ngClass]="{'w-11': !asset  && !chartConfig.freezed}">
                    {{chartConfig.widget_title}}
                </h6>
            </div>
            <div *ngIf="!asset" class="ml-auto">
                <div class="round-badge badge-navyblue" tooltip="Derived KPI" *ngIf="chartConfig.derived_kpis">DK</div>
                <div class="round-badge badge-darkblue" tooltip="Edge Derived Property"
                    *ngIf="chartConfig.edge_derived_props">
                    ED</div>
                <div class="round-badge badge-lightblue" tooltip="Cloud Derived Property"
                    *ngIf="chartConfig.cloud_derived_props">CD</div>

                <div class="round-badge badge-blue" tooltip="Measured Property" *ngIf="chartConfig.measured_props">M
                </div>

                <!-- <a *ngIf="!asset && !chartConfig.freezed && decodedToken?.privileges?.indexOf('ASMMM') > -1"
                    href="javascript:void(0)" (click)="openConfirmRemoveWidgetModal()" placement="bottom"
                    tooltip="Remove {{widgetStringFromMenu}}"><em class="fa fa-close"></em></a> -->

                <button (click)="$event.stopPropagation()" class="border-0 btnStyle" *ngIf="type != 'LogicalView'"
                    style="background-color: transparent;" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon button with a horizontal three dot icon">
                    <i class='fas fa-ellipsis-v'></i>
                </button>
                <mat-menu class="micon" #menu="matMenu">
                    <button mat-menu-item (click)="onMenu(0)"><i class="fa fa-edit"></i> Edit</button>
                    <button mat-menu-item (click)="onMenu(1)"><i class="fa fa-clone" aria-hidden="true"></i>
                        Clone</button>
                    <button mat-menu-item (click)="openConfirmRemoveWidgetModal()"
                        *ngIf="!asset && !chartConfig.freezed && decodedToken?.privileges?.indexOf('ASMMM') > -1">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="card-body1 card-height">
            <div class="row text-center " *ngIf="telemetryObj">
                <div *ngIf="!asset">
                    <div class="col-md-12" *ngFor="let prop of chartConfig.properties; let i = index">
                        {{evaluatePropConditionwithoutasset(telemetryObj,prop)}}




                        <div class="mt-1 ml-1 mr-3" *ngIf="chartConfig.widget_type === 'NumberWithTrend'">
                            <app-line-chart-without-axis [asset]="asset"
                                [chartId]="chartConfig.chart_id + '_' + (prop?.property?.json_key || prop.title) + '_' + i"
                                [chartConfig]="chartConfig" [telemetryObj]="telemetryObj"
                                [property]="prop.property?.json_key">
                            </app-line-chart-without-axis>
                        </div>
                        <div class="text-center" *ngIf="chartConfig.widget_type === 'NumberWithImage'">
                            <img class="img-fluid px-2 img-szmd" src="{{blobStorageURL + prop?.image?.url + blobToken
                  }}" alt="" />
                        </div>
                        <div *ngIf="(chartConfig.widget_type === 'ConditionalNumber' || chartConfig.widget_type === 'StringWidget') && !asset"
                            style="height:7rem;">
                            <div class="ConditionalNumber"></div>
                        </div>



                        <div [ngClass]="{'mt-4': chartConfig.widget_type === 'ConditionalNumber' || chartConfig.widget_type === 'StringWidget'}"
                            [ngStyle]="{'margin-top': chartConfig.widget_type === 'NumberWithTrend' && !asset ? '1rem' : '' }">
                            <span class="text-grey">
                                <ng-container *ngIf="prop.load_value_using !== 'api' else APIPropDateTemplate">
                                    {{telemetryObj[prop.json_Data[0]?.json_key]?.date ||
                                    telemetryObj[prop.json_Data[0]?.json_key]?.message_date}}
                                </ng-container>
                                <ng-template #APIPropDateTemplate>
                                    {{apiTelemetryObj[prop.json_Data?.json_key]?.date ||
                                    apiTelemetryObj[prop.json_Data?.json_key]?.message_date}}
                                </ng-template>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Code -->

            <div *ngIf="asset" class="d-flex flex-column justify-content-center align-items-center card-height2">
                <span class="status mb-4">
                    {{evaluatePropCondition(telemetryObj)}}
                </span>
                <span class="text-grey">
                    {{telemetryObj[chartConfig?.properties[0]?.json_key]?.date }}

                </span>
            </div>
            <!-- New Code -->


        </div>
    </div>
</div>

<div class="modal fade" id="confirmRemoveWidgetModal{{chartConfig.chart_id}}" tabindex="-1" role="dialog"
    aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
        <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="bodyMessage" [headerMessage]="headerMessage"
            (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-confirm-modal>
    </div>
</div>