<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-2 pt-3">
  <h1 class="h3 mb-0 text-gray-800">C2D</h1>
</div> -->
<div class="topnavbar bg-white py-2" >
<div class="row">

  <ul class="nav">
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link"  href="javascript:void(0)" (click)="displayMode = 'view'; timerObj = undefined;">
          <i class="fas fa-fw fa-eye"></i>
          <span>View</span></a>
      </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-edit"></i>
        <span>Send Specific Command</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="displayMode = 'general_commands'; timerObj = undefined;">
        <i class="fas fa-fw fa-edit"></i>
        <span>Send General Command</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" (click)="displayMode = 'purge'; timerObj = undefined;">
        <i class="fas fa-fw fa-trash"></i>
        <span>Purge</span></a>
    </li>



  </ul>
  <!-- <div class="timer" *ngIf="timerObj">
    <div>
       <span class="hours" id="hour">{{timerObj?.hours}}</span>
       <div class="smalltext">Hours</div>
    </div>
    <div>
       <span class="minutes" id="minute">{{timerObj?.minutes}}</span>
       <div class="smalltext">Minutes</div>
    </div>
    <div>
       <span class="seconds" id="second">{{timerObj?.seconds}}</span>
       <div class="smalltext">Seconds</div>
    </div>
    <p id="time-up"></p>
 </div> -->

</div>
<div class="row">
  <div class="col-lg-12">
    <hr class="solid">
  </div>
</div>
</div>
<div class="con-pad">
<ng-container *ngIf="displayMode === 'view'">

<app-c2d-message [device]="device"></app-c2d-message>
</ng-container>
<ng-container *ngIf="displayMode === 'general_commands'">
<app-compose-c2d-message [device]="device"></app-compose-c2d-message>
</ng-container>
<ng-container *ngIf="displayMode === 'purge'">
  <app-c2d-purge [device]="device"></app-c2d-purge>
  </ng-container>
</div>

