<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{assetModalname}}</h5>
                <button type="button" (click)="resetData()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                                        (change)="checkUncheckAll()" />
                                    <!-- <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"
                                        (change)="toggleAllSelection()"> -->
                                </div>
                            </th>
                            <th scope="col">Property Name</th>
                            <th scope="col">Latest Telemetry Value</th>
                            <th scope="col">New Value </th>
                            <th scope="col"><i class="bi bi-eye"></i></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let property of controlproperties; let i = index">
                        <tr>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" [(ngModel)]="property.isSelected" name="list_name"
                                        value="{{property.id}}" (change)="isAllSelected(property)" />
                                    <!-- <input class="form-check-input" type="checkbox" [(ngModel)]="property.isSelected"
                                        id="inlineCheckbox2" value="option1"> -->
                                </div>
                            </td>
                            <td>{{property?.name}}</td>
                            <td>{{ getTelemetryValue(property) }}</td>
                            <input
                                *ngIf="property?.data_type != 'Boolean' &&  property?.metadata.d != 'd' && property?.data_type != 'Boolean'"
                                maxlength="20" class="form-control my-2 mx-auto" type="text" placeholder="New Value"
                                [(ngModel)]="property.new_value" name="new_value" id="new_value{{i}}"
                                [ngModel]="property.json_model[property?.json_key]?.defaultValue"
                                (change)="inputBoxValueChange(property,property.new_value)" style="max-width: 150px;" />
                            <select placeholder="Select"
                                *ngIf="property?.data_type == 'Boolean'  || property?.metadata.d == 'd' || property?.data_type == 'Boolean'"
                                id="new_value{{i}}" class="form-control my-2 mx-auto" style="max-width: 150px;"
                                id="selected_asset" (change)="inputBoxValueChange(property,property.new_value)"
                                [(ngModel)]="property.new_value">
                                <option disabled [ngValue]="null">Select</option>
                                <option [ngValue]="false">False</option>
                                <option [ngValue]="true">True</option>

                            </select>
                            <!-- <td>New Record</td> -->
                            <td>
                                <p title="{{property?.auto_disable.disable_interval_in_sec ? 'Auto Revert - ' +
                                    property?.auto_disable.disable_interval_in_sec + ' (sec)' : property?.name }}"
                                    class="mb-0" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                    </svg>
                                </p>
                            </td>
                        </tr>
                    </tbody>


                </table>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="resetData()" class="btn btn-secondary"
                    data-dismiss="modal">Cancel</button>
                <button [disabled]="!isEnteredAnyValue || !checkBoxvalue" (click)=" SyncuoCall($event)" type="button"
                    class="btn btn-primary">Sync</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="passwordCheckModal" role="dialog" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{assetModalname}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="onCloseModal('passwordCheckModal')">
                    <span aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Close">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Please Enter your password to change Properties value.</h6>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label required">Email:</label>
                        <input type="text" class="form-control form-control-sm" id="email" name="email"
                            [(ngModel)]="userData.email" placeholder="Enter Email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label required">Password:</label>
                        <input type="{{this.isPasswordVisible ? 'text' : 'password'}}"
                            class="form-control form-control-sm" id="display_name" name="display_name"
                            [(ngModel)]="password" placeholder="Enter Your Password">
                        <em class="fa fa-fw  field-icon-small toggle-password" (click)="togglePasswordVisibility()"
                            [ngClass]="{'fa-eye' : !this.isPasswordVisible, 'fa-eye-slash': this.isPasswordVisible}"></em>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" [disabled]="isModelFreezeUnfreezeAPILoading"
                    (click)="twoFactorAuth()">
                    Update</button>
                <button type="button" class="btn btn-white" [disabled]="isModelFreezeUnfreezeAPILoading"
                    (click)="onCloseModal('passwordCheckModal')">
                    Cancel
                </button>
                <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isModelFreezeUnfreezeAPILoading"></em>
            </div>
        </div>
    </div>
</div>