<div class="blue-nav-bar">
  <div class="d-flex align-items-center">
    <div class="main-heading">{{(tileData && tileData[0] ? tileData[0]?.value : '')}}&nbsp;
    </div>
    <button type="submit" class="btn btn-sm searchBtn btn-primary" (click)="openCampaignCreateModal()"
      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('ASCMM') > -1" placement="bottom"
      tooltip="Add {{(tileData && tileData[1] ? tileData[1]?.value : '')}}"><i class="fas fa-plus fa-sm"></i></button>
  </div>
</div>

<div class="tab-bar" *ngIf="!isAddCampaignModalOpen">
  <form class="form-inline">
    <app-date-range-picker *ngIf="filterObj.from_date && filterObj.to_date" [filterObj]="filterObj"
      (selectedDateApplyEmitter)="selectedDate($event)" [selectedDateRange]="selectedDateRange">
    </app-date-range-picker>
    <div class="form-group">
      <button type="button" class="btn btn-sm searchBtn btn-primary" placement="bottom" tooltip="Search"
        (click)="getCampaignsList()"><i class="fa fa-search fa-sm"></i></button>
    </div>
  </form>
</div>

<div class="table-responsive">
  <div class="tableFixHead" id="table-top" [ngClass]="{'tableFixHead-campaign-create': isAddCampaignModalOpen}">
    <table class="table table-hover" *ngIf="!isAddCampaignModalOpen">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Code</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Actual End Date</th>
          <th scope="col">Objective</th>
          <th scope="col">Status</th>
          <th scope="col"*ngIf="decodedToken?.privileges?.indexOf('ASCMM') > -1">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="campaigns.length > 0">
          <tr *ngFor="let item of campaigns; let index = index">
            <td>{{index + 1}}</td>
            <td>
              {{item.code}}
            </td>
            <td>{{item.local_start_date}}</td>
            <td>{{item.local_end_date}}</td>
            <td>{{item.local_actual_end_date}}</td>
            <td>{{item.objective}}</td>
            <td>{{item.status}}</td>
            <td *ngIf="decodedToken?.privileges?.indexOf('ASCMM') > -1">
              <!-- <a href="javascript:void(0)" placement="bottom" tooltip="Explore" class="mr-2"><i
                  class="fa fa-sm fa-eye"></i></a> -->
              <a class="d-none d-sm-inline-block btn btn-sm shadow-sm mt-n1" href="javascript:void(0)"
                (click)="viewCampaign(item,'viewCampaignModal')" placement="bottom" tooltip="View Campaign">
                <i class="fa fa-fw fa-eye"></i></a>
              <a class="d-none d-sm-inline-block btn btn-sm shadow-sm mt-n1" href="javascript:void(0)"
                [class.disabled]="isAPILoading[index] || item.status?.toLowerCase() === 'running' || item.status?.toLowerCase() === 'completed'"
                (click)="startStopCampaign(item, index, 'start')" placement="bottom" tooltip="Start Campaign"><img
                  style="width: 10px;" src="./assets/img/start.svg" /></a>
              <a class="d-none d-sm-inline-block btn btn-sm shadow-sm mt-n1" href="javascript:void(0)"
                *ngIf="decodedToken?.privileges?.indexOf('ASCMM') > -1"
                [class.disabled]="isAPILoading[index] || item.status?.toLowerCase() === 'completed' || item.status?.toLowerCase() === 'pending'"
                (click)="startStopCampaign(item, index, 'end')" placement="bottom" tooltip="End Campaign"><img
                  style="width: 10px;" src="./assets/img/stop.svg" /></a>
              <i class="fa fa-fw fa-spin fa-spinner" *ngIf="isAPILoading[index]"></i>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="campaigns.length === 0 && !isGetCampaignAPILoading">
          <tr>
            <td colspan="8">No campaigns available for {{this.previousFilterObj.dateOption}}. <p
                *ngIf="this.previousFilterObj.dateOption !== 'this selected range'; else differentMsg" class="pt-2">You
                can choose large time window.</p>
              <ng-template #differentMsg>
                <p class="pt-2">You can choose different time window.</p>
              </ng-template>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isGetCampaignAPILoading">
          <tr>
            <td colspan="8">
              <i class="fa fa-fw fa-2x  fa-spin fa-spinner"></i>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <app-add-campaign (cancelEvent)="closeCampaignModal()" *ngIf="isAddCampaignModalOpen"></app-add-campaign>
  </div>
</div>
<div class="modal right fade" id="viewCampaignModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Campaign</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeViewModel('viewCampaignModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table mx-2 my-3" *ngIf="campaignViewObj">
          <thead style="display: none;">
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Objective</td>
              <td>{{campaignViewObj.objective}}</td>
            </tr>
            <tr>
              <td>Code</td>
              <td>{{campaignViewObj.code}}</td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td>{{campaignViewObj.expected_start_date | date:'longDate'}}</td>
            </tr>
            <tr>
              <td>End Date</td>
              <td>{{campaignViewObj.expected_end_date | date:'longDate'}}</td>
            </tr>
            <tr *ngIf="campaignViewObj.hierarchy && this.contextApp.hierarchy.levels">
              <td>Hierarchy</td>
              <td>
                <span *ngFor="let level of this.contextApp.hierarchy.levels; let hierarchyIndex=index">
                  <span *ngIf="campaignViewObj.hierarchy.hasOwnProperty(level)">{{campaignViewObj.hierarchy[level]}}<span *ngIf="countObjectPropertyLength(hierarchyIndex)">&nbsp;/&nbsp;</span></span>
                </span>
              </td>
            </tr>
            <tr>
              <td>Asset Model</td>
              <td>{{campaignViewObj.asset_model}}</td>
            </tr>
            <tr *ngIf="campaignViewObj?.metadata?.participated_assets">
              <td colspan="2">
                <accordion [closeOthers]="true">
                  <accordion-group heading="">
                    <ng-container accordion-heading>
                      <button class="btn" type="button">
                        Assets
                      </button>
                    </ng-container>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Asset Id</th>
                          <th scope="col">Asset Name</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let asset of getAssetNames(campaignViewObj.metadata.participated_assets); let index = index">
                        <tr>
                          <td>
                            {{asset.asset_id}}
                          </td>
                          <td>
                            {{asset.display_name}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </accordion-group>
                </accordion>
              </td>
            </tr>
            <ng-container *ngIf="campaignViewObj.objective === 'FOTA'">
              <tr *ngIf="campaignViewObj.request_type">
                <td>Command</td>
                <td>{{campaignViewObj.request_type}}</td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.package_obj">
                <td>Package</td>
                <td>{{campaignViewObj.job_request.package_obj?.name}}</td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.version">
                <td>Version</td>
                <td>{{campaignViewObj.job_request.version}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="campaignViewObj.objective === 'Sync Properties/Alerts'">
              <tr *ngIf="campaignViewObj.job_request?.type">
                <td>Sync Details</td>
                <td>{{campaignViewObj.job_request.type}} </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="campaignViewObj.objective === 'Change Telemetry Frequency'">
              <tr *ngIf="campaignViewObj.job_request?.g1_ingestion_frequency_in_ms">
                <td style="width: 50%;">G1 Normal mode Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g1_ingestion_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g1_turbo_mode_frequency_in_ms">
                <td style="width: 50%;">G1 Turbo mode Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g1_turbo_mode_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g2_ingestion_frequency_in_ms">
                <td style="width: 50%;">G2 Normal mode Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g2_ingestion_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g2_turbo_mode_frequency_in_ms">
                <td style="width: 50%;">G2 Turbo mode Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g2_turbo_mode_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g3_ingestion_frequency_in_ms">
                <td style="width: 50%;">G3 Normal mode Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g3_ingestion_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g3_turbo_mode_frequency_in_ms">
                <td style="width: 50%;">G3 Turbo mode Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g3_turbo_mode_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.turbo_mode_timeout_time">
                <td>Turbo mode Timeout (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.turbo_mode_timeout_time}}
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="campaignViewObj.objective === 'Change Measurement Frequency'">
              <tr *ngIf="campaignViewObj.job_request?.g1_measurement_frequency_in_ms">
                <td style="width: 50%;">G1 Measurement Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g1_measurement_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g2_measurement_frequency_in_ms">
                <td style="width: 50%;">G2 Measurement Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g2_measurement_frequency_in_ms}}
                </td>
              </tr>
              <tr *ngIf="campaignViewObj.job_request?.g3_measurement_frequency_in_ms">
                <td style="width: 50%;">G3 Measurement Frequency (In Sec): </td>
                <td>
                  {{campaignViewObj.job_request.g3_measurement_frequency_in_ms}}
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="campaignViewObj.objective === 'Change Asset Mode'">
              <tr *ngIf="campaignViewObj.job_request.mode">
                <td>Asset Mode</td>
                <td>{{campaignViewObj.job_request.mode ? 'Normal' : 'Turbo'}} </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeViewModel('viewCampaignModal')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>