<div class="p-3">
  <p *ngIf="ruleData.updated_date && (isEdit || isView)">This rule is {{ruleData.updated_date ==
    ruleData.created_date ? 'created' : 'updated'}} on {{ruleData.local_updated_date}} by
    {{ruleData.updated_by}}.</p>
  <p *ngIf="ruleData.deployed_on && (isEdit || isView)">This rule is last deployed on {{ruleData.local_deployed_on}} by
    {{ruleData.deployed_by}}.</p>
  <p *ngIf="ruleData.synced_on && (isEdit || isView)">This rule is last synced on {{ruleData.local_synced_on}} by
    {{ruleData.synced_by}}.</p>
  <div *ngIf="isClone">
    <div class="form-group row">
      <label for="examplePassword" class="col-3">Type</label>
      <div class="col-auto">
        <ui-switch size="small" class="mr-1" defaultBgColor="#f6c23e" checkedTextColor="white"
          uncheckedTextColor="white" (valueChange)="onSwitchValueChange($event);getRules()" checkedLabel="Edge Rule"
          [disabled]="isView" uncheckedLabel="Cloud Rule" name="tpye" [(ngModel)]="ruleModel.isEdgeRule">
        </ui-switch>
      </div>
    </div>
    <div class="form-group row">
      <label for="exampleEmail" class="h6 col-2 pl-3 required">Rule</label>
      <div class="col-6">
        <ng-select [items]="rules" class="custom-dropdown w-75 sm" name="rules" [clearable]="false" [searchable]="true"
          bindLabel="name" [disabled]="isView" [closeOnSelect]="true" placeholder="Select Rule" groupBy="type"
          (change)="onChangeOfRule()" dropdownPosition="bottom" name="rules-dropdown" bindValue="code"
          [(ngModel)]="ruleModel.rule_code" required>
          <ng-template ng-option-tmp let-item="item">
            <span [tooltip]="item.code + ' - ' + item.name">
              {{item.code}} - {{item.name}}
            </span>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-1 margin-left-loader">
        <em class="fa fa-spinner fa-spin fa-fw" *ngIf="isRulesLoading"></em>
      </div>
    </div>
  </div>
  <accordion class="mb-2" [closeOthers]="'true'">
    <accordion-group heading="" [panelClass]="'customClass modelRuleAccordion'">
      <ng-container accordion-heading>
        <a class="btn">
          Metadata
        </a>
      </ng-container>
      <div class="">
        <form #form1="ngForm">
          <div class="form-group row">
            <label for="exampleEmail" class="col-3 required">Name</label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" name="name" [(ngModel)]="ruleModel.name"
                placeholder="Enter Rule Name" [disabled]="isView">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleEmail" class="col-3 required">Code</label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" name="code" [disabled]="isView || isCloneEdit"
                [(ngModel)]="ruleModel.code" placeholder="Enter Rule Code" minlength="1" maxlength="6">
            </div>
          </div>
          <div class="form-group row">
            <label for="examplePassword" class="col-3 required">Description</label>
            <div class="col-6">
              <textarea type="text" rows="3" class="form-control form-control-sm" id="examplePassword"
                placeholder="Enter Rule Description" name="description" [disabled]="isView"
                [(ngModel)]="ruleModel.description"></textarea>
            </div>
          </div>
          <div class="form-group row" *ngIf="!isClone">
            <label for="examplePassword" class="col-3">Type</label>
            <div class="col-auto">
            <ui-switch size="small" class="mr-1" defaultBgColor="#f6c23e" checkedTextColor="white" id="test"
                uncheckedTextColor="white" (valueChange)="onSwitchValueChange($event)" checkedLabel="Edge Rule"
                [disabled]="isView"  uncheckedLabel="Cloud Rule" name="tpye1" [(ngModel)]="ruleModel.isEdgeRule">
              </ui-switch>
            </div>
          </div>
          <div class="form-group row" *ngIf="!ruleModel.isEdgeRule">
            <label for="examplePassword" class="col-3">Rule Category</label>
            <div class="col-auto">
              <ui-switch size="small" class="mr-1" defaultBgColor="#f6c23e" checkedTextColor="white" id="test1"
                uncheckedTextColor="white" (valueChange)="onRuleCategorySwitchChange($event)" checkedLabel="KPIX Analytics"
                [disabled]="isView"  uncheckedLabel="Stream Analytics" name="tpye" [(ngModel)]="ruleModel.isKpixCategory">
              </ui-switch>
            </div>
        </div>
          <div class="form-group row" *ngIf="!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway')">
            <label for="examplePassword" class="col-3">Rule Type</label>
            <div class="col-auto">
              <select [disabled]="isView || isCloneEdit"  (change)="getRuleType()" id="kpixruleType" placeholder="Select Rule" class="form-control form-control-sm w-auto">
                <option value="THS" selected>THS (Telemetry Threshold)</option>
                <option value="ICT">ICT (IOT Connectivity Threshold)</option>
                <option value="ILT">ILT (Ingestion Loss Threshold)</option>
                </select>
            </div>
          </div>
          <div class="form-group row"  *ngIf="!(!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))">
            <label for="slaveid" class="col-3">Slave</label>
            <div class="col-6">
              <select id="slave_id" [(ngModel)]="ruleModel.metadata.sid" name="slave_id" [disabled]="isView"
                class="form-control form-control-sm w-auto" (change)="onSlaveSelection()">
                <option [ngValue]="undefined">Select Slave</option>
                <option [ngValue]="item.slave_id" *ngFor="let item of slaveData">{{item.slave_name}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </accordion-group>
    <accordion-group heading="" [panelClass]="'customClass modelRuleAccordion'">
      <ng-container accordion-heading>
        <a class="btn">
          Conditions
        </a>
      </ng-container>
      <div class="row">
        <form #form2="ngForm">
          <div class="col-12">
            <div class="mb-3">Conditions define when your rule is triggered. Aggregation is
              optional - Use it to cluster your data and trigger rules based on a time window
            </div>
          </div>
          <div class="col-12" *ngIf="(!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))">
            <div class="row">
              <div class="col-auto">
                <div class="">
                  <div class="">
                    <label for="exampleEmail" class="required">Time Threshold</label>
                  </div>
                  <div class="">
                    <input id="timethreshold" placeholder="Time"
                    [(ngModel)]="ruleModel.escalation_time_in_sec"
                     name="threshold" type="number" min="5" max="1440" value="5"
                    class="form-control form-control-sm w-auto"/>
                </div>
              </div>
            </div>
          </div>
         </div>  
          <div class="col-12"  *ngIf="!(!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))">
            <div class="row">
              <div class="col-auto">
                <div class="">
                  <div class="">
                    <label for="exampleEmail" class="required">Trigger the rule if</label>
                  </div>
                  <div class="">
                    <select id="dateoptions" placeholder="Select Operator" name="operator"
                      class="form-control form-control-sm w-auto" [disabled]="isView" [(ngModel)]="ruleModel.operator"
                      required>
                      <option [ngValue]="undefined">Select</option>
                      <option [ngValue]="'&&'">All of the conditions are true</option>
                      <option [ngValue]="'||'">Any of the conditions are true</option>
                    </select>
                  </div>
                </div>
              </div>
               <div class="col-auto" *ngIf="(!ruleModel.isKpixCategory && !ruleModel.isEdgeRule)|| (ruleModel.isEdgeRule && ruleModel.isKpixCategory)"> 
                <div class="">
                  <div class="">
                    <label for="exampleEmail">Time Aggregation</label>
                  </div>
                  <div class="row">
                    <div class="col-3 mt-1">
                      <ui-switch size="small" class="mr-1" defaultBgColor="#f6c23e" checkedTextColor="white"
                        uncheckedTextColor="white" [disabled]="isView" checkedLabel="ON" uncheckedLabel="OFF"
                        name="aggregation_switch" [(ngModel)]="ruleModel.aggregation_enabled"
                        (valueChange)="onChangeTimeAggregation($event)">
                      </ui-switch>
                    </div>
                    <div class="col-9">
                      <select id="dateoptions" placeholder="Time Aggregation"
                        [(ngModel)]="ruleModel.aggregation_window_in_sec"
                        [disabled]="!ruleModel.aggregation_enabled || isView" name="aggregation"
                        class="form-control form-control-sm w-auto">
                        <option [ngValue]="null">Select Aggregation Time</option>
                        <option [ngValue]="300">5 minutes</option>
                        <option [ngValue]="600">10 minutes</option>
                        <option [ngValue]="900">15 minutes</option>
                        <option [ngValue]="1200">20 minutes</option>
                        <option [ngValue]="1800">30 minutes</option>
                        <option [ngValue]="3600">1 hour</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-auto">
                <div class="">
                  <div class="">
                    <label for="exampleEmail" [ngClass]="{'required': (!ruleModel.isKpixCategory && !ruleModel.isEdgeRule)|| (ruleModel.isEdgeRule && ruleModel.isKpixCategory)}">Escalation Time</label>
                  </div>
                  <div class="">
                    <!-- <input type="number" class="form-control form-control-sm"
                                                    placeholder="Escalation Time" name="escalation_time_in_sec"
                                                    [(ngModel)]="ruleModel.escalation_time_in_sec" required> -->
                    <select id="escalation_time_in_sec" [(ngModel)]="ruleModel.escalation_time_in_sec"
                      name="escalation_time_in_sec" [disabled]="isView" class="form-control form-control-sm w-auto">
                      <option [ngValue]="undefined">Select Escalation Time</option>
                      <!-- <option [ngValue]="0">0 minutes</option> -->
                      <option [ngValue]="60">1 minutes</option>
                      <option [ngValue]="300">5 minutes</option>
                      <option [ngValue]="600">10 minutes</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" >
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row"  >
        <div class="col-12">
          <form #form3="ngForm" >
            <div *ngIf="!(!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))">
            <div class="form-group row"  *ngFor="let condition of ruleModel.conditions; let i = index;">
              <div class="col-3" >
                <label for="examplePassword" class="mb-2 required">Telemetry</label>
                <!-- <select placeholder="Telemetry" name="telemetry_{{i}}"
                                                class="form-control form-control-sm" [(ngModel)]="condition.property"
                                                required>
                                                <option [ngValue]="''">Select Telemetry</option>
                                                <option *ngFor="let prop of dropdownPropList"
                                                    [ngValue]="prop.value.json_key">
                                                    {{prop.id}}</option>
                                            </select> -->
                  <ng-select [items]="dropdownPropList" class="custom-dropdown w-12 sm" required name="telemetry_{{i}}"
                  [clearable]="false" [searchable]="true" bindLabel="id" *ngIf="!isView" [closeOnSelect]="true"
                  placeholder="Select Property" groupBy="type" dropdownPosition="bottom" name="asset-dropdown"
                  bindValue="json_key" [(ngModel)]="condition.property" required (change) = "fillOperator(condition.property)">
                  <ng-template ng-option-tmp let-item="item">
                      <span [tooltip]="item.id">
                      <em [ngClass]="{'icon icon-function': item.value.type === 'Edge Derived Properties'  
                                                  ||   item.value.type === 'Cloud Derived Properties'}"></em>
                       {{item.id}}
                      </span>
                   </ng-template>
                </ng-select>
                <span class="form-control form-control-sm w-auto" *ngIf="isView">{{getPropertyName(condition.property)
                  || condition.property}}</span>
              </div>
             
              <div class="col-auto">
                <label for="exampleEmail" class="mb-2 required" *ngIf="getPropertyType(condition.property)!==null && getPropertyType(condition.property)!==undefined">Operator</label>
                <select placeholder="Operator" *ngIf="getPropertyType(condition.property)==='Number'" name="operator_{{i}}" required [disabled]="isView"
                  class="form-control form-control-sm w-auto required" [(ngModel)]="condition.operator">
                  <option [ngValue]="''">Select Operator</option>
                  <option *ngFor="let optr of operatorList;" [ngValue]="optr.id">
                    {{optr.value}}
                  </option>
                </select>
                <select placeholder="Operator" *ngIf="getPropertyType(condition.property)==='Boolean'" name="operator_{{i}}" required [disabled]="isView"
                class="form-control form-control-sm w-auto required" [(ngModel)]="condition.operator">
                <option [ngValue]="''">Select Operator</option>
                <option *ngFor="let optr of operatorList1;" [ngValue]="optr.id">
                  {{optr.value}}
                </option>
              </select>
              <select placeholder="Operator" *ngIf="getPropertyType(condition.property)==='String'" name="operator_{{i}}" required [disabled]="isView"
              class="form-control form-control-sm w-auto required" [(ngModel)]="condition.operator">
              <option [ngValue]="''">Select Operator</option>
              <option *ngFor="let optr of operatorList2;" [ngValue]="optr.id">
                {{optr.value}}
              </option>
            </select>
            </div>
              <div class="col-auto">
                <label for="examplePassword " *ngIf="getPropertyType(condition.property)!==null && getPropertyType(condition.property)!==undefined" class="mb-2 required">Value</label>
                <input type="number" class="mb-2 form-control form-control-sm" *ngIf="getPropertyType(condition.property)==='Number'" required style="width:60px;" required
                  placeholder="value" name="threshold_{{i}}" [disabled]="isView" [(ngModel)]="condition.threshold">
                  <select class="custom-dropdown w-12 form-control form-control-sm w-auto" style="width:74px !important" *ngIf="getPropertyType(condition.property)==='Boolean'" required style="width:60px;" required
                  placeholder="select value" id="selectbol" [disabled]="isView"  [(ngModel)]="condition.bolCon">
                  <option value="true" selected>True</option> 
                  <option value="false">False</option> 
                </select>
                <div class="col-8" *ngIf="getPropertyType(condition.property)==='String'">
                <input type="text" class="w-16 form-control form-control-sm"  *ngIf="getPropertyType(condition.property)==='String'" required style="width:160px;" required
                placeholder="value" name="threshold_{{i}}" [disabled]="isView" [(ngModel)]="condition.strText">
              </div>
            </div>
              <div class="col-auto" *ngIf="ruleModel.aggregation_enabled">
                <label for="examplePassword" class="mb-2 w-auto required">Aggregation Type</label>
                <select placeholder="Aggregation Type" name="aggregation_type_{{i}}"
                  class="form-control form-control-sm" required [disabled]="isView"
                  [(ngModel)]="condition.aggregation_type">
                  <option [ngValue]="null">Aggregartion Type</option>
                  <option [ngValue]="'AVG'">Average</option>
                  <option [ngValue]="'SUM'">Sum</option>
                  <option [ngValue]="'MIN'">Min</option>
                  <option [ngValue]="'MAX'">Max</option>
                  <option [ngValue]="'COUNT'">Count</option>
                </select>
              </div>
              <div class="col-auto" *ngIf="!isView">
                <button id="delete" class="btn btn-sm btn-light cursor-pointer" style="margin-top: 1.65rem;"
                  (click)="deleteCondition(i);" *ngIf="i!=0"><em class="fas fa fa-trash"></em>
                </button>
              </div>
            </div>
            <hr>
          
          </div>
          </form>
          <button *ngIf="!isView && !(!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))" id="insert-more" (click)="addNewCondition();"
            class="btn btn-sm btn-primary cursor-pointer"><em class="fas fa fa-plus-circle mr-1 my-1"></em>
            Condition</button>
        </div>
      </div>

    </accordion-group>
    <accordion-group heading="" [panelClass]="'customClass modelRuleAccordion'">
      <ng-container accordion-heading>
        <a class="btn">
          Actions
        </a>
      </ng-container>
      <div class="">
        <div class="">
          <div class="mb-3">Choose what action your rule should take.
          </div>
        </div>
        <div class="">
          <div class="col-lg-12 col-xl-12">
            <form #form4="ngForm">

              <div class="form-group row">
                <div class="required">
                  <label for="exampleEmail">Action Type</label>
                </div>
              </div>

              <!-- <div class="form-group">
                 <select name="aggregation_type" class="form-control form-control-sm  w-25" [disabled]="isView" multiple>
                    <option [ngValue]="undefined">Action Type</option>
                    <option [ngValue]="'Integrate with existing Alert Management Module'" selected>Integrate with existing
                      Alert
                      Management Module</option>
                    <option [ngValue]="'Send SMS / Email / Whatspp'">Send SMS / Email / Whatspp</option>
                    <option [ngValue]="'Create Ticket'">Create Ticket</option>
                    </select>
              </div>-->

              <div class="form-group mx-3">
                <input type="checkbox" class="form-check-input" id="alert_management" name="alert_management"
                  [(ngModel)]="ruleModel.actions.alert_management.enabled" [disabled]="isView"
                  (change)="onChangeOfSendAlertCheckbox()">
                <label class="form-check-label" for="alert_management">Send Alert</label>

                <div *ngIf="ruleModel.actions.alert_management.enabled">
                  <div>
                    <label for="exampleEmail" class="mt-3 required">Alert Code</label>
                    <div class="form-group">
                      <ng-select [items]="alertConditionList" class="custom-dropdown w-25 sm" name="alertCondition"
                        [clearable]="false" [searchable]="true" bindLabel="message" [disabled]="isView"
                        [closeOnSelect]="true" placeholder="Select Alert Condition" groupBy="type"
                        (change)="onChangeOfAssetCondition()" dropdownPosition="bottom" name="asset-dropdown"
                        bindValue="code" [(ngModel)]="ruleModel.actions.alert_management.alert_condition_code" required>
                        <ng-template ng-option-tmp let-item="item">
                          <span [tooltip]="item.code + ' - ' + item.message">
                            {{item.code}} - {{item.message}}
                          </span>
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>

              <hr *ngIf="!ruleModel.isEdgeRule">

              <div class="form-group mx-3" *ngIf="!ruleModel.isEdgeRule">
                <input type="checkbox" class="form-check-input" id="notification" name="notification"
                  [(ngModel)]="ruleModel.actions.notification.enabled" [disabled]="isView"
                  (change)="onChangeOfSendEmailCheckbox()">
                <label class="form-check-label" for="notification">Send Email to User Groups</label>
                <div class="col-12 my-3" *ngIf="ruleModel.actions.notification.enabled">
                  <div class="">
                    <div class="form-group row">
                      <label for="exampleEmail" class="col-2 required">UserGroup</label>
                      <div class="col-6">
                        <ng-select [items]="userGroups" clearSearchOnAdd="true" [multiple]="true"
                          class="custom-dropdown w-12 sm" [clearable]="false" [searchable]="true"
                          placeholder="Select Group" [disabled]="isView" bindLabel="group_name" bindValue="group_name"
                          dropdownPosition="bottom" name="group-dropdown"
                          [(ngModel)]="ruleModel.actions.notification.email.groups" [closeOnSelect]="false" required>
                          <ng-template ng-option-tmp let-item="item">
                            <span>
                              {{item.group_name}}
                            </span>
                          </ng-template>
                          <ng-template ng-multi-label-tmp let-items="items" *ngIf='!isView'>
                            {{items.length}} groups selected
                          </ng-template>
                          <ng-template ng-multi-label-tmp let-items="ruleModel.actions.notification.email.groups"
                            *ngIf='isView'>
                            {{ruleModel.actions.notification.email.groups}}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleEmail" class="col-2">Subject</label>
                      <div class="col-6">
                        <input type="text" class="form-control form-control-sm" name="subject"
                          [(ngModel)]="ruleModel.actions.notification.email.subject" placeholder="Enter Subject"
                          [disabled]="isView">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleEmail" class="col-2">Body</label>
                      <div class="col-6">
                        <textarea rows="3" class="form-control form-control-sm" name="body" [disabled]="isView"
                          [(ngModel)]="ruleModel.actions.notification.email.body"
                          placeholder="Enter Message"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr *ngIf="!ruleModel.isEdgeRule">

              <div class="form-group mx-3" *ngIf="!ruleModel.isEdgeRule">
                <input type="checkbox" class="form-check-input" id="asset_control" name="asset_control"
                  [(ngModel)]="ruleModel.actions.asset_control.enabled" (change)="onChangeOfDisableAssetCheckbox()"
                  [disabled]="isView">
                <label class="form-check-label" for="asset_control">Disable Asset</label>
              </div>

            </form>
          </div>
        </div>
      </div>
    </accordion-group>
  </accordion>
  <div *ngIf="!isView">
    <em *ngIf="isUpdateApiCall" class="fa fa-spinner fa-spin fa-fw fa-2x"></em>
    <button type="button" *ngIf="!isCloneEdit && !(ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))" class="btn btn-sm btn-primary add-row mr-2" (click)="createNewRule();"
      [disabled]="form1.invalid || form2.invalid || form3.invalid || form4.invalid || ruleModel.conditions.length <= 0">{{isEdit
      ? 'Update' :
      'Create'}}</button>
      <button type="button" *ngIf="!isCloneEdit && (!ruleModel.isEdgeRule && ruleModel.isKpixCategory && (addRuleCondition==='IoT Asset' || addRuleCondition==='IoT Gateway') && (ruleModel.rule_type==='ICT' || ruleModel.rule_type==='ILT'))" class="btn btn-sm btn-primary add-row mr-2" (click)="createNewRule_timeThre();"
      [disabled]="form1.invalid || form2.invalid || form4.invalid">{{isEdit
      ? 'Update' :
      'Create'}}</button>
      <button type="button" *ngIf="isCloneEdit" class="btn btn-sm btn-primary add-row mr-2" (click)="cloneRules();"
      [disabled]="form1.invalid || form2.invalid || form3.invalid || form4.invalid || ruleModel.conditions.length <= 0">{{isCloneEdit
      ? 'Override' : 'Clone'}}</button>
  </div>
</div>