
<div class="blue-nav-bar">
  <div class="d-flex">
    <div class="d-flex">
      <div class="main-heading">App Settings</div>
  </div>
  <i *ngIf="isApplicationDataLoading" class="fa fa-spinner fa-spin fa-fw fa-2x text-center"></i>
  <div class="ml-auto" *ngIf="!isApplicationDataLoading">
    <div class="asset-nav-tabs">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab" [ngClass]="{'active': activeTab === 'meta-data'}"
          href="#app-meta-data" role="tab" aria-controls="nav-home" aria-selected="true" (click)="setActiveTab('meta-data')">
          Metadata</a>
          <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab" [ngClass]="{'active': activeTab === 'database-configuration'}"
          href="#app-database-configuration" role="tab" aria-controls="nav-home" aria-selected="true" (click)="setActiveTab('database-configuration')">
          Database Configuration</a>
          <a class="nav-item nav-link border-0" id="nav-profile-tab" data-toggle="tab" [ngClass]="{'active': activeTab === 'device-hierarchy'}"
          href="#app-device-hierarchy" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="setActiveTab('device-hierarchy')">
          Asset Hierarchy</a>
          <a class="nav-item nav-link border-0" id="nav-contact-tab" data-toggle="tab" [ngClass]="{'active': activeTab === 'roles'}"
          href="#app-roles" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="setActiveTab('roles')">
          Roles</a>
          <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab" [ngClass]="{'active': activeTab === 'users'}"
          href="#app-users" role="tab" aria-controls="nav-about" aria-selected="false" (click)="setActiveTab('users')">
          Users</a>
          <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab" [ngClass]="{'active': activeTab === 'menu-settings'}"
          href="#app-menu-settings" role="tab" aria-controls="nav-about" aria-selected="false" (click)="setActiveTab('menu-settings')">
          Menu Settings</a>
        </div>
      </nav>
    </div>
  </div>
  </div>

</div>

<div class="">
  <div id="assetTabContent" class="tab-content">
    <div class="tab-pane" id="app-meta-data" role="tabpanel" aria-labelledby="nav-home-tab"
    [ngClass]="{'active': activeTab === 'meta-data'}">
      <app-application-metadata *ngIf="activeTab === 'meta-data' && applicationData" [applicationData]="applicationData"></app-application-metadata>
    </div>
    <div class="tab-pane" id="app-database-configuration" role="tabpanel" aria-labelledby="nav-home-tab"
    [ngClass]="{'active': activeTab === 'database-configuration'}">
      <app-application-database-configuration *ngIf="activeTab === 'database-configuration' && applicationData" [applicationData]="applicationData"></app-application-database-configuration>
    </div>
    <div class="tab-pane" id="app-device-hierarchy" role="tabpanel" aria-labelledby="nav-profile-tab"
    [ngClass]="{'active': activeTab === 'device-hierarchy'}">
      <app-application-device-hierarchy *ngIf="activeTab === 'device-hierarchy' && applicationData" [applicationData]="applicationData"></app-application-device-hierarchy>
    </div>
    <div class="tab-pane" id="app-roles" role="tabpanel" aria-labelledby="nav-contact-tab"
    [ngClass]="{'active': activeTab === 'roles'}">
      <app-application-roles *ngIf="activeTab === 'roles' && applicationData" [applicationData]="applicationData"></app-application-roles>
    </div>
    <div class="tab-pane" id="app-users" role="tabpanel" aria-labelledby="nav-about-tab"
    [ngClass]="{'active': activeTab === 'users'}">
       <app-application-users *ngIf="activeTab === 'users' && applicationData" [applicationData]="applicationData"></app-application-users>
    </div>
    <div class="tab-pane" id="app-menu-settings" role="tabpanel" aria-labelledby="nav-about-tab"
    [ngClass]="{'active': activeTab === 'menu-settings'}">
      <app-application-menu-settings *ngIf="activeTab === 'menu-settings' && applicationData" [applicationData]="applicationData"></app-application-menu-settings>
    </div>
  </div>
</div>
