<div class="blue-nav-bar">
  <div class="d-flex">
    <div class="d-flex">
      <div class="main-heading">Settings</div>
    </div>
    <div class="ml-auto width-50">
      <div class="asset-nav-tabs">
        <div class="settings-tabs">
          <ul class="nav nav-tabs " role="tablist" (click)="responsiveTabs()">
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'meta-data'}" href="#app-meta-data" role="tab"
                aria-controls="nav-home" aria-selected="true" (click)="setActiveTab('meta-data')">
                Metadata</a>
            </li>
            <li class="nav-item" *ngIf="!this.applicationData?.metadata?.settings?.hide_menu_setting === true">
              <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'database-configuration'}" href="#app-database-configuration"
                role="tab" aria-controls="nav-home" aria-selected="true"
                (click)="setActiveTab('database-configuration')">
                Database Config</a>
            </li>
            <li class="nav-item" *ngIf="!this.applicationData?.metadata?.settings?.hide_menu_setting === true">
              <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'dashboard-configuration'}" href="#app-dashboard-configuration"
                role="tab" aria-controls="nav-home" aria-selected="true"
                (click)="setActiveTab('dashboard-configuration')">
                Dashboard Config</a>
            </li>
            <li class="nav-item" *ngIf="!this.applicationData?.metadata?.settings?.hide_menu_setting === true">
              <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'menu-settings'}" href="#app-menu-settings" role="tab"
                aria-controls="nav-about" aria-selected="false" (click)="setActiveTab('menu-settings')">
                Menu Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'filter-settings'}" href="#app-filter-settings" role="tab"
                aria-controls="nav-about" aria-selected="false" (click)="setActiveTab('filter-settings')">
                Filter Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'org-tree'}" href="#app-org-tree" role="tab"
                aria-controls="nav-about" aria-selected="false" (click)="setActiveTab('org-tree')">
                Org Tree</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-profile-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'asset-hierarchy'}" href="#app-asset-hierarchy" role="tab"
                aria-controls="nav-profile" aria-selected="false" (click)="setActiveTab('asset-hierarchy')">
                Hierarchy</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-contact-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'roles'}" href="#app-roles" role="tab" aria-controls="nav-contact"
                aria-selected="false" (click)="setActiveTab('roles')">
                Roles</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'users'}" href="#app-users" role="tab" aria-controls="nav-about"
                aria-selected="false" (click)="setActiveTab('users')"
                *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('UMV') > -1">
                Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link border-0" id="nav-about-tab" data-toggle="tab"
                [ngClass]="{'active': activeTab === 'user-groups'}" href="#app-user-groups" role="tab"
                aria-controls="nav-about" aria-selected="false" (click)="setActiveTab('user-groups')">
                User Groups</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<em *ngIf="isApplicationDataLoading" class="fa fa-spinner fa-spin fa-fw fa-2x text-center"></em>
<div class="" *ngIf="!isApplicationDataLoading">
  <div id="assetTabContent" class="tab-content">
    <div class="tab-pane" id="app-meta-data" role="tabpanel" aria-labelledby="nav-home-tab"
      [ngClass]="{'active': activeTab === 'meta-data'}">
      <app-application-metadata *ngIf="activeTab === 'meta-data' && applicationData"
        [applicationData]="applicationData"></app-application-metadata>
    </div>
    <div class="tab-pane" id="app-dashboard-configuration" role="tabpanel" aria-labelledby="nav-home-tab"
      [ngClass]="{'active': activeTab === 'dashboard-configuration'}">
      <app-application-dashboard-configuration *ngIf="activeTab === 'dashboard-configuration' && applicationData"
        [applicationData]="applicationData"></app-application-dashboard-configuration>
    </div>
    <div class="tab-pane" id="app-database-configuration" role="tabpanel" aria-labelledby="nav-home-tab"
      [ngClass]="{'active': activeTab === 'database-configuration'}">
      <app-application-database-configuration *ngIf="activeTab === 'database-configuration' && applicationData"
        [applicationData]="applicationData"></app-application-database-configuration>
    </div>
    <div class="tab-pane" id="app-user-groups" role="tabpanel" aria-labelledby="nav-home-tab"
      [ngClass]="{'active': activeTab === 'user-groups'}">
      <app-application-email-alias *ngIf="activeTab === 'user-groups' && applicationData"
        [applicationData]="applicationData"></app-application-email-alias>
    </div>
    <div class="tab-pane" id="app-org-tree" role="tabpanel" aria-labelledby="nav-home-tab"
      [ngClass]="{'active': activeTab === 'org-tree'}">
      <app-application-org-tree *ngIf="activeTab === 'org-tree' && applicationData" [applicationData]="applicationData">
      </app-application-org-tree>
    </div>
    <div class="tab-pane" id="app-asset-hierarchy" role="tabpanel" aria-labelledby="nav-profile-tab"
      [ngClass]="{'active': activeTab === 'asset-hierarchy'}">
      <app-application-asset-hierarchy *ngIf="activeTab === 'asset-hierarchy' && applicationData"
        [applicationData]="applicationData"></app-application-asset-hierarchy>
    </div>
    <div class="tab-pane" id="app-roles" role="tabpanel" aria-labelledby="nav-contact-tab"
      [ngClass]="{'active': activeTab === 'roles'}">
      <app-application-roles *ngIf="activeTab === 'roles' && applicationData" [applicationData]="applicationData">
      </app-application-roles>
    </div>
    <div class="tab-pane" id="app-users" role="tabpanel" aria-labelledby="nav-about-tab"
      [ngClass]="{'active': activeTab === 'users'}"
      *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('UMV') > -1">
      <app-application-users *ngIf="activeTab === 'users' && applicationData" [applicationData]="applicationData">
      </app-application-users>
    </div>
    <div class="tab-pane" id="app-menu-settings" role="tabpanel" aria-labelledby="nav-about-tab"
      [ngClass]="{'active': activeTab === 'menu-settings'}">
      <app-application-menu-settings *ngIf="activeTab === 'menu-settings' && applicationData"
        [applicationData]="applicationData"></app-application-menu-settings>
    </div>

    <div class="tab-pane" id="app-filter-settings" role="tabpanel" aria-labelledby="nav-about-tab"
      [ngClass]="{'active': activeTab === 'filter-settings'}">
      <app-application-filter-settings *ngIf="activeTab === 'filter-settings' && applicationData"
        [applicationData]="applicationData"></app-application-filter-settings>
    </div>
  </div>
</div>
