<div class="tab-bar">
  <div class="">
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="fa fa-fw fa-eye"></i>
          <span class="text-secondary">View</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link"  [ngClass]="{'active': viewType === 'history'}" href="javascript:void(0)" (click)="setViewType('history')">
          <i class="fa fa-fw fa-history"></i>
          <span class="text-secondary">Historical Widgets</span></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [ngClass]="{'active': viewType === 'live'}" href="javascript:void(0)" (click)="setViewType('live')">
          <i class="fa fa-fw fa-bar-chart"></i>
          <span class="text-secondary">Live Widgets</span></a>
      </li>

    </ul>

  </div>
  </div>
  <div >
        <app-device-type-history-layout *ngIf="viewType === 'history'" [deviceType]="deviceType"></app-device-type-history-layout>
        <app-device-type-live-layout *ngIf="viewType === 'live'" [deviceType]="deviceType"></app-device-type-live-layout>
  </div>
