
<div class="topnavbar" >
  <div class="d-sm-flex align-items-center justify-content-start mb-4">
    <h1 class="h3 mb-0 text-gray-800">App Management</h1>

    <a

      class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm ml-4"
      href="javascript:void(0)" (click)="openCreateAppModal()"
      ><i class="fa fa- fa-sm text-white-50"></i> Add App</a
    >
  </div>
  <div class="card row shadow bg-light" style="margin-left:0rem">
    <div class="col-xl-12 col-md-12 mb-12 my-1">
<!-- Page Heading -->

      <form>
        <div class="form-group form-inline my-1">

          <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputEmail4" placeholder="App Name"
          [(ngModel)]="applicationFilterObj.app" name="app">
          <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputPassword4" placeholder="App Manager"
          [(ngModel)]="applicationFilterObj.admin_email" name="admin">

          <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="searchApplications()"  title="Search"><i class="fa fa-search fa-sm"></i></button>
          <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="clearFilter()" title="Clear Filters">
            <img class="filter-clear-icon" src="./assets/img/filter.svg">
          </button>

        </div>
       </form>
  </div>
</div>
</div>
<!-- Content Row -->

<!-- DataTales Example -->
<div class="con-pad" style="margin-top:13.5rem;">
<div class="mb-4 ">

  <div class="">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr  class="bg-secondary text-white">
            <th>App Name</th>
            <th>App Admin</th>
            <th>Devices</th>

            <th>Icons</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <!-- <tfoot>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </tfoot>-->
        <tbody>
          <ng-container *ngIf="applications.length > 0 && !isApplicationListLoading">
            <tr *ngFor="let app of applications">
              <td>{{app.app}}</td>
              <td>{{app.admin_email}} ({{app.admin_name}})</td>
              <td>
                <a href="javascript:void(0)" (click)="redirectToDevices(app)" title="View Devices">
                <i class="fa fa-fw fa-eye"></i></a></td>
              <td><a  href="javascript:void(0)" (click)="openViewIconModal(app)" title="View Icons" >
                <i class="fa fa-fw fa-eye"></i></a></td>
              <!-- <td><a href="javascript:void(0)" (click)="openEditAppModal(app)" title="Edit App" >
                <i class="fa fa-fw fa-edit"></i></a></td> -->
            </tr>
          </ng-container>
          <ng-container *ngIf="applications.length === 0 && !isApplicationListLoading">
            <tr>
              <td colspan="4">No Applications found.</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="isApplicationListLoading">
            <tr>
              <td colspan="4">
                <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div class="modal right fade" id="createAppModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" >{{appModalType}} {{appModalType === 'Create' ? 'New' : ''}} App {{appModalType === 'Edit' ? ('- ' + applicationDetail?.app) : ''}}</h5>
      <button type="button" class="close"  (click)="onCloseCreateAppModal('createAppModal')" aria-label="Close" [disabled]="isCreateAPILoading">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="applicationDetail">
      <form>
        <div class="form-group">
          <label for="message-text" class="col-form-label">App name:</label>
          <input type="text" class="form-control" id="app_name" name='app_name' [(ngModel)]="applicationDetail.app"
          placeholder="Enter App name">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">App Admin Full Name:</label>
          <input type="text" class="form-control"
          id="admin_name" name="admin_name" [(ngModel)]="applicationDetail.admin_name"
          placeholder="Enter App Admin">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">App Admin Email:</label>
          <input type="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          id="app_admin" name="app_admin" [(ngModel)]="applicationDetail.admin_email"
          placeholder="Enter App Admin Email">
        </div>
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="contains-gateway"
          name="contains-gateway" [(ngModel)]="applicationDetail.metadata.contain_gateways"
          (ngModelChange)="applicationDetail.metadata.contain_devices = false;">
          <label class="form-check-label" for="contains-gateway">Contains Gateways</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="contains-devices"
          name="contains-device" [(ngModel)]="applicationDetail.metadata.contain_devices"
          (ngModelChange)="applicationDetail.metadata.contain_gateways = false;">
          <label class="form-check-label" for="contains-devices">Contains Devices</label>
        </div> -->
        <div class="form-group">
          <label for="message-text" class="col-form-label">Customer Name:</label>
          <input type="text" class="form-control"
          id="customer_name" name="customer_name" [(ngModel)]="applicationDetail.metadata.customer.name"
          placeholder="Enter Customer Name">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">Customer Address:</label>
          <textarea type="text" rows="3" class="form-control" id="customer_address" name="customer_address" [(ngModel)]="applicationDetail.metadata.customer.address"
          placeholder="Enter Customer Address"></textarea>
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Header Logo: {{appModalType === 'Edit' ? applicationDetail?.metadata?.header_logo?.name : ''}}</label>
          <input type="file"
          #appHeaderLogoFileInput (change)="onHeaderLogoFileSelected($event.target.files)"
           class="form-control" id="app_logo" name="app_logo" >
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">App Logo: {{appModalType === 'Edit' ? applicationDetail?.metadata?.logo?.name : ''}}</label>
          <input type="file"
          #appLogoFileInput (change)="onLogoFileSelected($event.target.files)"
           class="form-control" id="app_logo" name="app_logo" >
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label">App Icon: {{appModalType === 'Edit' ? applicationDetail?.metadata?.icon?.name : ''}}</label>
          <input type="file" #appIconFileInput (change)="onIconFileSelected($event.target.files)"
           class="form-control" id="app_icon" name="app_icon" >
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="contains-db"
          name="contains-db" [(ngModel)]="applicationDetail.metadata.app_specific_db"
          (ngModelChange)="applicationDetail.metadata.app_specific_db = false;applicationDetail.metadata.partition.telemetry.partition_strategy = undefined;applicationDetail.metadata.partition.telemetry.sub_partition_strategy = undefined;">
          <label class="form-check-label" for="contains-gateway">Separate Database Required?</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="contains-app-schema"
          name="contains-app-schema" [(ngModel)]="applicationDetail.metadata.app_specific_schema"
          (ngModelChange)="applicationDetail.metadata.app_specific_schema = false;applicationDetail.metadata.partition.telemetry.partition_strategy = undefined;applicationDetail.metadata.partition.telemetry.sub_partition_strategy = undefined;">
          <label class="form-check-label" for="contains-app-schema">Separate App specific schema required?</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="contains-app-telemetry-schema"
          name="contains-app-telemetry-schema" [(ngModel)]="applicationDetail.metadata.app_telemetry_specific_schema"
          (ngModelChange)="applicationDetail.metadata.app_telemetry_specific_schema = false;applicationDetail.metadata.partition.telemetry.partition_strategy = undefined;applicationDetail.metadata.partition.telemetry.sub_partition_strategy = undefined;">
          <label class="form-check-label" for="contains-app-telemetry-schema">Separate App telemetry specific schema required?

          </label>
        </div>
        <div class="form-group" *ngIf="applicationDetail.metadata.app_specific_schema || applicationDetail.metadata.app_specific_db || applicationDetail.metadata.app_telemetry_specific_schema">
          <label for="recipient-name" class="col-form-label">Telemetry Partition Technique:</label>
          <select class="custom-select" id="alertReason" [(ngModel)]="applicationDetail.metadata.partition.telemetry.partition_strategy"
            name="alertReason">
            <option [ngValue]="undefined">Select Partition Technique</option>
            <option [ngValue]="'Device ID'">Device ID</option>
            <option [ngValue]="'Partition Key'">Partition Key</option>
          </select>
        </div>
        <div class="form-group" *ngIf="applicationDetail.metadata.app_specific_schema || applicationDetail.metadata.app_specific_db || applicationDetail.metadata.app_telemetry_specific_schema">
          <label for="recipient-name" class="col-form-label">Telemetry Sub-Partition Technique:</label>
          <select class="custom-select" id="alertReason" [(ngModel)]="applicationDetail.metadata.partition.telemetry.sub_partition_strategy"
            name="alertReason">
            <option [ngValue]="undefined">Select Sub-Partition Technique</option>
            <option [ngValue]="'day'">Daily</option>
            <option [ngValue]="'week'">weekly</option>
            <option [ngValue]="'month'">Monthly</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAPILoading || isFileUploading" (click)="createApp()"
      >Save</button>
      <button type="button" class="btn btn-secondary" [disabled]="isCreateAPILoading" (click)="onCloseCreateAppModal('createAppModal')">
        Cancel
      </button>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAPILoading"></i>
    </div>
  </div>
  </div>
</div>


<div class="modal right fade" id="viewAppIconModal" role="dialog" aria-labelledby="ModalLabel1" >
  <div class="modal-dialog" role="document" >
    <div class="modal-content" *ngIf="applicationDetail">
    <div class="modal-header">
      <h5 class="modal-title">View App Icons: {{applicationDetail.app}}</h5>
      <button type="button" class="close"  (click)="onCloseCreateAppModal('viewAppIconModal')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12">
        <h6><b>{{applicationDetail.app}} Logo</b></h6>
        <img class="icon-display" *ngIf="applicationDetail?.metadata?.logo?.url; else noFileUploaded" src="{{blobStorageURL + applicationDetail?.metadata?.logo?.url + blobSASToken}}"/>
      </div>
      <hr/>
      <div class="col-12">
        <h6><b>{{applicationDetail.app}} Icon</b></h6>
        <img class="icon-display" *ngIf="applicationDetail?.metadata?.icon?.url; else noFileUploaded" src="{{blobStorageURL + applicationDetail?.metadata?.icon?.url + blobSASToken}}"/>
      </div>
      <ng-template #noFileUploaded>
        <p>No File uploaded</p>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="onCloseCreateAppModal('viewAppIconModal')">
        Close
      </button>
    </div>
  </div>
  </div>
</div>


