<div class="blue-nav-bar">
  <div class="d-flex align-items-center">
    <div class="main-heading">App Management&nbsp;
    </div>
    <button type="submit" class="btn btn-sm searchBtn btn-primary" (click)="openCreateAppModal()" placement="bottom"
      tooltip="Add App"><em class="fas fa-plus fa-sm"></em></button>
    <div class="ml-auto">
      <div class="asset-nav-tabs">
        <nav>
          <div class="nav nav-tabs nav-fill " id="nav-tab" role="tablist">
            <a class="nav-item nav-link border-0" id="nav-home-tab" data-toggle="tab"
              (click)="isProvisioned = 'true';searchApplications()" href="#" role="tab" aria-controls="nav-provisioned"
              aria-selected="true" [ngClass]="{'active': isProvisioned == 'true'}">
              <em class="fab fa-mixcloud mr-2"></em>
              <span class="d-none d-md-inline-block">Provisioned</span></a>
            <a class="nav-item nav-link border-0" id="nav-profile-tab" data-toggle="tab"
              (click)="isProvisioned = 'false';searchApplications()" href="#" role="tab"
              aria-controls="nav-unprovisioned" aria-selected="false" [ngClass]="{'active': isProvisioned == 'false'}">
              <em class="fa fa-cloud mr-2" aria-hidden="true"></em>
              <span class="d-none d-md-inline-block">Un-Provisioned</span></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-common-data-table [tableData]="applications" [tableConfig]="tableConfig"
  (btnClickEvent)="onTableFunctionCall($event)"></app-common-data-table>

<div class="modal right fade" id="createAppModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create App </h5>
        <button type="button" class="close" (click)="onCloseCreateAppModal('createAppModal')" aria-label="Close"
          [disabled]="isCreateAPILoading">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="createApplicationForm">
        <form [formGroup]="createApplicationForm">
          <div class="form-group">
            <label for="message-text" class="col-form-label required">App name:</label>
            <input type="text" class="form-control form-control-sm" id="app" name="app" formControlName="app"
              placeholder="Enter App name">
            <div *ngIf="createApplicationForm.get('app').errors && createApplicationForm.get('app').touched"
              class="alert-danger">
              <div *ngIf="createApplicationForm.get('app').errors.required">
                App Name is required.
              </div>
              <div *ngIf="createApplicationForm.get('app').errors.pattern">
                App Name will only contains numbers, characters and spaces and starts with characters.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">App Admin Full Name:</label>
            <input type="text" class="form-control form-control-sm" id="admin_name" name="admin_name"
              placeholder="Enter App Admin" formControlName="admin_name">
            <div
              *ngIf="createApplicationForm.get('admin_name').errors &&  createApplicationForm.get('admin_name').touched"
              class="alert-danger">
              <div *ngIf="createApplicationForm.get('admin_name').errors.required">
                Admin Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label required">App Admin Email:</label>
            <input type="email" class="form-control form-control-sm" id="app_admin" name="app_admin"
              placeholder="Enter App Admin Email" formControlName="admin_email">
            <div
              *ngIf="createApplicationForm.get('admin_email').errors &&  createApplicationForm.get('admin_email').touched"
              class="alert-danger">
              <div *ngIf="createApplicationForm.get('admin_email').errors.required">
                Admin Email is required.
              </div>
              <div *ngIf="createApplicationForm.get('admin_email').errors.pattern">
                Admin Email is not valid.
              </div>
            </div>
          </div>
          <ng-container formGroupName="metadata">
            <div class="form-group">
              <label for="message-text" class="col-form-label">App Description:</label>
              <textarea type="text" rows="3" class="form-control form-control-sm" id="app_description"
                name="app_description" formControlName="description" placeholder="Enter App Description"></textarea>
            </div>
            <ng-container formGroupName="customer">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Customer Name:</label>
                <input type="text" class="form-control form-control-sm" id="customer_name" name="customer_name"
                  formControlName="name" placeholder="Enter Customer Name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Customer Address:</label>
                <textarea type="text" rows="3" class="form-control form-control-sm" id="customer_address"
                  name="customer_address" formControlName="address" placeholder="Enter Customer Address"></textarea>
              </div>
            </ng-container>
            <accordion class="mb-2" [closeOthers]="'true'">
              <accordion-group heading="" [panelClass]="'customClass'">
                <ng-container accordion-heading>
                  <a class="btn">
                    Database Configuration
                  </a>
                </ng-container>
                <div class="row">
                  <div class="col-12">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="contains-db-sp" name="contains-db-sp"
                        formControlName="app_specific_db" (change)="onCheckboxValueChange()">
                      <label class="form-check-label" for="contains-db-sp">Separate Database Required?</label>
                    </div>
                    <ng-container *ngIf="createApplicationForm.get('metadata').get('app_specific_db').value">
                      <ng-container formGroupName="db_info">
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Host name:</label>
                          <input type="text" class="form-control form-control-sm" id="host_name" name='host_name'
                            formControlName="host_name" placeholder="Enter Host name">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">User name:</label>
                          <input type="text" class="form-control form-control-sm" id="user_name" name='user_name'
                            formControlName="user_name" placeholder="Enter User name">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Database name:</label>
                          <input type="text" class="form-control form-control-sm" id="database_name"
                            name='database_name' formControlName="database_name" placeholder="Enter Database name">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Port:</label>
                          <input type="number" class="form-control form-control-sm" id="port" name='port'
                            formControlName="port" placeholder="Enter Port">
                        </div>
                      </ng-container>
                    </ng-container>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="contains-app-schema"
                        name="contains-app-schema" formControlName="app_specific_schema"
                        (change)="onShemaValueChange()">
                      <label class="form-check-label" for="contains-app-schema">Separate App specific schema
                        required?</label>
                    </div>
                    <ng-container *ngIf="createApplicationForm.get('metadata').get('app_specific_schema').value">
                      <ng-container formGroupName="schema_info">
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Schema name:</label>
                          <input type="text" class="form-control form-control-sm" id="schema_name" name='schema_name'
                            formControlName="schema_name" placeholder="Enter Schema name">
                        </div>
                      </ng-container>
                    </ng-container>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="contains-app-telemetry-schema"
                        name="contains-app-telemetry-schema" formControlName="app_telemetry_specific_schema"
                        (change)="onTelemetryShemaValueChange()">
                      <label class="form-check-label" for="contains-app-telemetry-schema">Separate App telemetry
                        specific
                        schema required?
                      </label>
                    </div>
                    <ng-container
                      *ngIf="createApplicationForm.get('metadata').get('app_telemetry_specific_schema').value">
                      <ng-container formGroupName="telemetry_schema_info">
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Schema name:</label>
                          <input type="text" class="form-control form-control-sm" id="schema_name" name='schema_name'
                            formControlName="schema_name" placeholder="Enter Schema name">
                        </div>
                      </ng-container>
                    </ng-container>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="contains-db-part" name="contains-db-part"
                        formControlName="partition_detach">
                      <label class="form-check-label" for="contains-db-part">Partition Detach Required?</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="contains-db-del" name="contains-db-del"
                        formControlName="partition_delete">
                      <label class="form-check-label" for="contains-db-del">Partition Delete Required?</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="contains-db-back" name="contains-db-back"
                        formControlName="backup_required">
                      <label class="form-check-label" for="contains-db-back">Backup Required?</label>
                    </div>
                    <ng-container
                      *ngIf="createApplicationForm.get('metadata').get('app_specific_schema').value || createApplicationForm.get('metadata').get('app_specific_db').value || createApplicationForm.get('metadata').get('app_telemetry_specific_schema').value">
                      <ng-container formGroupName="partition">
                        <ng-container formGroupName="telemetry">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Telemetry Partition Technique:</label>
                            <select class="form-control form-control-sm" id="alertReason"
                              formControlName="partition_strategy" name="alertReason">
                              <option [ngValue]="null">Select Partition Technique</option>
                              <option [ngValue]="'asset_id'">Asset ID</option>
                              <option [ngValue]="'partition_key'">Partition Key</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Telemetry Sub-Partition
                              Technique:</label>
                            <select class="form-control form-control-sm" id="alertReason"
                              formControlName="sub_partition_strategy" name="alertReason">
                              <option [ngValue]="null">Select Sub-Partition Technique</option>
                              <option [ngValue]="'daily'">Daily</option>
                              <option [ngValue]="'weekly'">Weekly</option>
                              <option [ngValue]="'monthly'">Monthly</option>
                            </select>
                          </div>
                        </ng-container>
                        <ng-container formGroupName="alert">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Alert Partition Technique:</label>
                            <select class="form-control form-control-sm" id="alertReason"
                              formControlName="partition_strategy" name="alertReason">
                              <option [ngValue]="null">Select Partition Technique</option>
                              <option [ngValue]="'asset_id'">Asset ID</option>
                              <option [ngValue]="'partition_key'">Partition Key</option>
                            </select>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <div class="form-group">
                      <label for="timezone-text" class="col-form-label required">Timezone:</label>
                      <ng-select formControlName="time_zone_hours" (change)="onTimeZoneChange()"
                        placeholder="Select Timezone" [clearable]="true">
                        <ng-option *ngFor="let item of timezones" [value]="item.value">{{item.label}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </ng-container>
          <accordion class="mb-2" [closeOthers]="'true'">
            <accordion-group heading="" [panelClass]="'customClass'">
              <ng-container accordion-heading>
                <a class="btn">
                  Privileges
                </a>
              </ng-container>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label required">App Privileges:</label>
                    <div>
                      <input type="checkbox" name="visibleall_add" id="visibleall_add"
                        (change)="onClickOfAllCheckbox('add')" [(ngModel)]="isAllprivilegeSelected['add']"
                        [ngModelOptions]="{standalone: true}" placement="bottom"
                        [tooltip]="isAllprivilegeSelected['add'] ? 'Deselect All' : 'Select All'" />
                      <label for="visibleall_add" class="ml-2 mb-0">{{isAllprivilegeSelected['add'] ? 'Deselect All' :
                        'Select All'}}</label>
                    </div>
                    <div *ngFor="let group of privilegeGroups | keyvalue">
                      <h6 class="my-3">{{group.key}}</h6>
                      <div *ngFor="let privilege of group.value" class="ml-3">
                        <input type="checkbox" name="{{privilegeObj['add'].privileges[privilege].display_name}}_add"
                          id="{{privilegeObj['add'].privileges[privilege].display_name}}_add"
                          (change)="onPrivilegeSelection('add')" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="privilegeObj['add'].privileges[privilege].enabled" />
                        <label for="{{privilegeObj['add'].privileges[privilege].display_name}}_add"
                          class="col-form-label">&nbsp;&nbsp;{{privilegeObj['add'].privileges[privilege].display_name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row"
          [disabled]="(!createApplicationForm?.valid && (createApplicationForm?.touched || !createApplicationForm?.touched)) || isCreateAPILoading"
          (click)="createApp()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateAPILoading"
          (click)="onCloseCreateAppModal('createAppModal')">
          Cancel
        </button>
        <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAPILoading"></em>
      </div>
    </div>
  </div>
</div>

<div class="modal right fade" id="viewAppIconModal" role="dialog" aria-labelledby="ModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedApp">
      <div class="modal-header">
        <h5 class="modal-title">View App Icons: {{selectedApp.app}}</h5>
        <button type="button" class="close" (click)="onCloseCreateAppModal('viewAppIconModal')">
          <span aria-hidden="true" tooltip="Close">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <h6><b>{{selectedApp.app}} header Logo</b></h6>
          <img class="icon-display" *ngIf="selectedApp?.metadata?.header_logo?.url; else noFileUploaded"
            src="{{blobStorageURL + selectedApp?.metadata?.header_logo?.url + blobSASToken}}" />
        </div>
        <hr />
        <div class="col-12">
          <h6><b>{{selectedApp.app}} Icon</b></h6>
          <img class="icon-display" *ngIf="selectedApp?.metadata?.icon?.url; else noFileUploaded"
            src="{{blobStorageURL + selectedApp?.metadata?.icon?.url + blobSASToken}}" />
        </div>
        <ng-template #noFileUploaded>
          <p>No File uploaded.</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseCreateAppModal('viewAppIconModal')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="viewPartitionIconModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2"
  style="overflow-y: hidden;">
  <div class="modal-dialog modal-lg my-3" role="document">
    <div class="modal-content" *ngIf="selectedApp">
      <div class="modal-header">
        <h5 class="modal-title">Database Partition: {{selectedApp.app}}</h5>
        <button type="button" class="close" (click)="onCloseCreateAppModal('viewPartitionIconModal')">
          <span aria-hidden="true" tooltip="Close" placement="left">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0" style="overflow-y: hidden;">
        <app-common-data-table [tableData]="partitionConfigs" [tableConfig]="databaseTableConfig">
        </app-common-data-table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseCreateAppModal('viewPartitionIconModal')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal right fade" id="editPrivilegeModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel3"
  style="overflow-y: hidden;">
  <div class="modal-dialog modal-lg my-3" role="document">
    <div class="modal-content" *ngIf="selectedApp">
      <div class="modal-header">
        <h5 class="modal-title">Update Privilege: {{selectedApp.app}}</h5>
        <button type="button" class="close" (click)="onCloseCreateAppModal('editPrivilegeModal')">
          <span aria-hidden="true" tooltip="Close" placement="left">&times;</span>
        </button>
      </div>
      <div class="modal-body"
        *ngIf="roleId > 0 && onValidateLength(appPrivilegeObj)  && onValidateLength(privilegeGroups)">
        <div class="col-12">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label required">App Privileges:</label>
            <div>
              <input type="checkbox" name="visibleall_add" id="visibleall_add" (change)="onClickOfAllCheckbox('add')"
                [(ngModel)]="isAllprivilegeSelected['add']" placement="bottom"
                [tooltip]="isAllprivilegeSelected['add'] ? 'Deselect All' : 'Select All'" />
              <label for="visibleall_add" class="ml-2 mb-0">{{isAllprivilegeSelected['add'] ? 'Deselect All' : 'Select
                All'}}</label>
            </div>
            <div *ngFor="let group of privilegeGroups | keyvalue">
              <h6 class="my-3">{{group.key}}</h6>
              <div *ngFor="let privilege of group.value" class="ml-3">
                <input type="checkbox" name="{{privilegeObj['add'].privileges[privilege].display_name}}_add"
                  id="{{privilegeObj['add'].privileges[privilege].display_name}}_add"
                  (change)="onPrivilegeSelection('add')"
                  [(ngModel)]="privilegeObj['add'].privileges[privilege].enabled" />
                <label for="{{privilegeObj['add'].privileges[privilege].display_name}}_add"
                  class="col-form-label">&nbsp;&nbsp;{{privilegeObj['add'].privileges[privilege].display_name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAPILoading"
          (click)="updatePrivilege()">Save</button>
        <button type="button" class="btn btn-secondary" [disabled]="isCreateAPILoading"
          (click)="onCloseCreateAppModal('editPrivilegeModal')">
          Close
        </button>
      </div>
    </div>
  </div>
</div>