<div class="tab-bar">
    <div class="">
      <ul class="nav">
       <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"  (click)="addReason()" [class.disabled]="isUpdateReasonsAPILoading || deviceType.freezed">
            <i class="fa fa-fw fa-plus"></i>
            <span class="text-secondary">Add</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="updateReason()" [class.disabled]="isUpdateReasonsAPILoading || deviceType.freezed">
            <i class="fa fa-fw fa-save"></i>
            <span class="text-secondary">Save</span></a>
        </li>
        <li class="nav-item" *ngIf="isUpdateReasonsAPILoading">
          <a class="nav-link" href="javascript:void(0)">
            <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
            </a>
          </li> 
      </ul>
    </div>
  </div>
  
  
  <div class="table-responsive">
    <div class="tableFixHead">
          <table class="table table-hover">
            <thead>
              <tr >
                <th>No</th>
                <th>Reason</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="ackReasons.length > 0">
              <tr *ngFor="let ack of ackReasons; let i = index;">
                <td>{{i + 1}}</td>
                <!-- <td >{{ack.reason}}</td> -->
                <td>
                  <ng-container *ngIf="isEnableEdit && !isEnableEdit[i]">
                    {{ack.reason}}
                  </ng-container> 
                  <ng-container *ngIf="isEnableEdit && isEnableEdit[i]">
                    <input type="text" class="form-control form-control-sm border-0 small"
                    [(ngModel)]="ack.reason" name="{{ack.reason}}">
                  </ng-container>
                </td>
                <td >
                  <a href="javascript:void(0)" placement="bottom" tooltip="Edit Reasons" *ngIf="isEnableEdit && !isEnableEdit[i]"><i class="fa fa-edit"
                  [class.disabled]="deviceType.freezed" (click)="enableEditMethod(i)"></i></a>
                  <a href="javascript:void(0)" placement="bottom" class="ml-2" tooltip="Cancel" *ngIf="isEnableEdit && isEnableEdit[i]"
                  (click)="onCancelClick(ack.reason, ack.id, i);"><i class="fa fa-times"></i></a>
                  <a href="javascript:void(0)" placement="bottom" class="ml-2" tooltip="Save Reason" *ngIf="isEnableEdit && isEnableEdit[i]"
                  (click)="onSaveReason(ack.reason, ack.id, i);"><i class="fa fa-check"></i></a>
                  <a href="javascript:void(0)" class="mx-1" placement="bottom" tooltip="Delete" 
                  [class.disabled]="deviceType.freezed"  (click)="openModal('confirmMessageModal', ack.id, i)">
                  <i class="fa fa-trash fa-sm"></i> </a></td>
              </tr>
            </ng-container>
              <tr *ngIf="reasonObj">
                <td></td>
                <td><input type="text" min="1" class="form-control form-control-sm mx-2 my-1" id="name" placeholder="Reason"
                  [(ngModel)]="reasonObj.reason" name="name"></td>
                <td></td>
              </tr>
              <tr *ngIf="ackReasons.length === 0 && !firstReasonAdded">
                <td colspan="3">No Acknowledge Reasons added.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal fade" id="confirmMessageModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Remove Reason</h5>
              <button type="button" class="close"  aria-label="Close" (click)="closeModal('confirmMessageModal')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to remove this reason?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="deleteReason()">
                Ok</button>
              <button type="button" class="btn btn-secondary" (click)="closeModal('confirmMessageModal')">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>