
<div class="topnavbar" >
  <!-- <div class="d-sm-flex align-items-center justify-content-start mb-4 pl-1">
    <h1 class="h3 mb-0 text-gray-800">{{(componentState.includes('Device') ? 'Assets' : 'Gateways')}}</h1>



  </div> -->
  <div class="d-sm-flex align-items-center justify-content-start mb-2 mt-n3 pl-1">
    <h5 class="h4 mb-0 text-gray-800" >{{tileData && tileData[0] ? tileData[0]?.value : ''}}</h5>
    <a
    class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm ml-3"
    href="javascript:void(0)" (click)="openCreateDeviceModal()"
    title="{{'Add ' + (tileData && tileData[1] ? tileData[1]?.value: '')}}"
    ><i class="fa fa-plus fa-sm text-white"></i></a
  >
  </div>
  <div class="card row bg-white" style="margin-left:-2rem">
    <div class="col-xl-12 col-md-12 mb-12">
<!-- Page Heading -->
      <form>
        <div class="form-group form-inline my-2 mx-3">
          <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let index = index;">
          <select *ngIf="index !== 0" class="form-control form-control-sm mx-1 my-1" id="{{level}}"
          [disabled]="contextApp?.user?.hierarchy[level]"
          [(ngModel)]="configureHierarchy[index]" name="{{level}}" (change)="onChangeOfHierarchy(index)">
            <option [ngValue]="undefined">Select {{level}}</option>
            <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
              {{tag}}
            </option>
          </select>
          <input  type="text" *ngIf="index === 0"  defaultValue="{{contextApp.app}}" disabled class="form-control form-control-sm  mx-1 my-1">
        </ng-container>
        </div>
        <div class="form-group form-inline my-2 mx-3">
          <!-- <input type="text" class="form-control form-control-sm mx-1 my-1" id="hierarchy"
          placeholder="Hierarchy" disabled [(ngModel)]="deviceFilterObj.hierarchyString"
             name="hierarchy" title="{{deviceFilterObj.hierarchyString}}"> -->
          <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputEmail4"
          placeholder="{{(tileData && tileData[1] ? tileData[1]?.value: '')}} Name"
          [(ngModel)]="deviceFilterObj.name" name="name">
          <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputPassword4"
          placeholder="{{(tileData && tileData[1] ? tileData[1]?.value: '')}} Manager"
          [(ngModel)]="deviceFilterObj.device_manager" name="device_manager">
          <select class="form-control form-control-sm mx-1 my-1" id="gateway_id" *ngIf="componentState === constantData.NON_IP_DEVICE"
          [(ngModel)]="deviceFilterObj.gateway_id" name="gateway_id">
            <option [ngValue]="undefined">Reporting Via GW</option>
            <option [ngValue]="gateway.device_id" *ngFor="let gateway of gateways">
              {{gateway.display_name ? gateway.display_name : gateway.device_id}}
            </option>
          </select>
          <!-- <input type="email" class="form-control form-control-sm mx-1 my-1" id="inputEmail4" placeholder="Device Status"
          [(ngModel)]="deviceFilterObj.status" name="status"> -->
          <!-- <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
          [(ngModel)]="deviceFilterObj.status" name="status">
          <option [ngValue]="undefined">Status</option>
          <option [ngValue]="'enabled'">Enabled</option>
          <option [ngValue]="'disabled'">Disabled</option>
          <option [ngValue]="'connected'">Online</option>
          <option [ngValue]="'disconnected'">Offline</option>
          </select> -->
          <!-- <input type="email" class="form-control form-control-sm mx-1 my-1" id="inputEmail4" placeholder="Connection State"
          [(ngModel)]="deviceFilterObj.connection_state" name="connection_state"> -->

          <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="searchDevices()" [disabled]="isDeviceListLoading" title="Search"><i class="fa fa-search fa-sm"></i></button>
          <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="clearFilter()" title="Clear Filters">
            <img class="filter-clear-icon" src="./assets/img/filter.svg">
          </button>

        </div>
       </form>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-12">
    <hr class="solid">
  </div>
</div> -->
</div>
<!-- Content Row -->

<!-- DataTales Example -->
<div class="contain-pad" style="margin-top: 14.5rem;">
<div class="mb-4 ">

  <div class="">
   <app-common-table *ngIf="tableConfig" [tableData]="devicesList" [tableConfig]="tableConfig" [isTableFilterSelected]="isFilterSelected"
   [isTableDataLoading]="isDeviceListLoading" (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>
</div>

<div class="modal right fade" id="createDeviceModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add New {{(tileData && tileData[1] ? tileData[1]?.value: '')}}</h5>
      <button type="button" class="close"  (click)="onCloseCreateDeviceModal()" aria-label="Close" [disabled]="isCreateDeviceAPILoading">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="deviceDetail">
      <form>
        <div class="form-group">
          <label for="message-text" class="col-form-label">App:</label>
          <input type="text" class="form-control" id="app_name" [defaultValue]="contextApp.app" disabled>
        </div>
        <ng-container *ngFor="let level of contextApp?.hierarchy?.levels; let hIndex = index" >
        <div class="form-group" *ngIf="hIndex !== 0">
          <label for="message-text" class="col-form-label">{{level}}:</label>
          <select class="custom-select" id="hierarchy{{hIndex}}"  name="hierarchy{{hIndex}}"
          [(ngModel)]="addDeviceConfigureHierarchy[hIndex]" [disabled]="contextApp.user.hierarchy[level]"
          (change)="onChangeOfAddDeviceHierarchy(hIndex)">
            <option [ngValue]="undefined"> Select {{level}}</option>
            <option [ngValue]="tag" *ngFor="let tag of addDeviceHierarchyArr[hIndex]">{{tag}}</option>
          </select>
        </div>
      </ng-container>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">{{(tileData && tileData[1] ? tileData[1]?.value: '')}} Name:</label>
          <input type="text" class="form-control" id="device_name" name="device_id" [(ngModel)]="deviceDetail.device_id"
          placeholder="Enter {{(tileData && tileData[1] ? tileData[1]?.value: '')}} Name">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">{{(tileData && tileData[1] ? tileData[1]?.value: '')}} Display Name:</label>
          <input type="text" class="form-control" id="device_name" name="device_id" [(ngModel)]="deviceDetail.tags.display_name"
          placeholder="Enter {{(tileData && tileData[1] ? tileData[1]?.value: '')}} Display Name">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">{{(tileData && tileData[1] ? tileData[1]?.value: '')}} Manager:</label>
          <select class="custom-select" id="user" name="user" [(ngModel)]="deviceDetail.tags.device_manager">
            <option [ngValue]="undefined">Select {{(tileData && tileData[1] ? tileData[1]?.value: '')}} Manager</option>
            <option *ngFor="let user of appUsers" [ngValue]="user">{{user.user_name}} ({{user.user_email}})</option>
          </select>
        </div>
        <div class="form-group" *ngIf="componentState === constantData.NON_IP_DEVICE">
          <label for="message-text" class="col-form-label">Gateway:</label>
          <select class="custom-select" id="template" name="gateway_id" [(ngModel)]="deviceDetail.gateway_id"
         >
            <option [ngValue]="undefined"> Select Gateway</option>
          <option *ngFor="let item of gateways" [ngValue]="item.device_id">
            {{item.display_name ? item.display_name : item.device_id}}</option>
          </select>
        </div>
        <!-- <div class="form-group" *ngIf="componentState === constantData.NON_IP_DEVICE">
          <label for="message-text" class="col-form-label required">Device Category:</label>
          <select class="custom-select" id="template" name="gateway_id"
          [(ngModel)]="deviceDetail.tags.category">
            <option [ngValue]="undefined"> Select Device Category</option>
          <option *ngFor="let item of deviceCategory" [ngValue]="item.name">
            {{item.name}}</option>
          </select>
        </div> -->
        <div class="form-group">
          <label for="recipient-name" class="col-form-label required">{{(tileData && tileData[1] ? tileData[1]?.value: '')}} Type:</label>
          <select class="custom-select" id="device_type" name="device_type" [(ngModel)]="deviceDetail.tags.device_type"
          (change)="onChangeThingsModel()">
            <option [ngValue]="undefined"> Select {{(tileData && tileData[1] ? tileData[1]?.value: '')}} Type</option>
            <option *ngFor="let item of deviceTypes" [ngValue]="item.name">
              {{item.name}}</option>

        </select>

        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Protocol:</label>
          <!-- <select class="custom-select" id="protocol" name="protocol" disabled
          (change)="getConnectivityData()" [(ngModel)]="deviceDetail.tags.protocol">
            <option [ngValue]="undefined"> Select Protocol</option>
            <ng-container *ngFor="let protocol of protocolList">
              <option [ngValue]="protocol.name" *ngIf="protocol.display" placeholder="Protocol">{{deviceDetail.tags.protocol}}</option>
            </ng-container>
          </select> -->
          <input type="text" class="form-control" id="protocol" name="protocol" [(ngModel)]="deviceDetail.tags.protocol"
          placeholder="Protocol" disabled>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Cloud Connectivity followed by the {{(tileData && tileData[1] ? tileData[1]?.value: '')}}:</label>
          <!-- <select class="custom-select" id="template" name="connectivity" disabled [(ngModel)]="deviceDetail.tags.cloud_connectivity">
            <option [ngValue]="undefined"> Select Connectivity</option>
          <option *ngFor="let item of connectivityList" [ngValue]="item">
            {{item}}</option>
          </select> -->
          <input type="text" class="form-control" id="cloud_connectivity" name="cloud_connectivity" [(ngModel)]="deviceDetail.tags.cloud_connectivity"
          placeholder="Cloud Connectivity" disabled>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary add-row" [disabled]="isCreateDeviceAPILoading" (click)="onCreateDevice()">Save</button>
      <button type="button" class="btn btn-secondary" [disabled]="isCreateDeviceAPILoading" (click)="onCloseCreateDeviceModal()">
        Cancel
      </button>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateDeviceAPILoading"></i>
    </div>
  </div>
  </div>
</div>
