<div class="row ml-1">

  <div class="col-lg-7 col-xl-7">
    <div class="row">
    <div><a href="javascript:void(0)" [class.disabled]="sentMessageData" (click)="validateMessage()" ><button type="button" class="btn btn-warning contact-form" > 1. Validate</button></a></div>
    <div class='px-1'><hr></div>
    <div><a  href="javascript:void(0)" [class.disabled]="sentMessageData" (click)="sentC2DMessage()" >
      <button type="button" class="btn btn-warning" > 2. Send
        <i class="fa fa-spinner fa-spin fa-fw " *ngIf="isSendC2DMessageAPILoading"></i>
      </button>
    </a></div>
    <div class='px-1'><hr></div>
    <div><a href="javascript:void(0)" [class.disabled]="!sentMessageData" (click)="onClickOfFeedback()"><button type="button" class="btn btn-warning"> 3. Feedback</button></a></div>
    <div class='px-1'><hr></div>
    <div><a  href="javascript:void(0)"  [class.disabled]="!sentMessageData" (click)="onClickOfResponse()" ><button type="submit" class="btn btn-warning" > 4. Response</button></a></div>
    </div>
  </div>

  <div class="col-lg-5 col-xl-5 border" *ngIf="isMessageValidated || sendMessageStatus || timerObj">
    <div class="row" >
    <div class="bg-light px-1 py-1" style="writing-mode: tb-rl; transform: rotate(-180deg); font-size:0.75rem; color:black;">STATUS</div>
    <div class="justify-content-center align-self-center px-3 red-font" *ngIf="isMessageValidated === 'invalid'">
      <i class="fa fa-times" ></i> Please verify JSON.</div>
      <div class="justify-content-center align-self-center px-3 green-font" *ngIf="isMessageValidated === 'valid'">
        <i class="fa fa-check" ></i>  Successfully Validated.</div>
      <div class="justify-content-center align-self-center px-3"
      *ngIf="sendMessageStatus && sendMessageResponse" [ngClass]="{'green-font': sendMessageStatus === 'success', 'red-font': sendMessageStatus === 'error'}">
      <i class="fa" [ngClass]="{'fa-check': sendMessageStatus === 'success', 'fa-times': sendMessageStatus === 'error'}" ></i>
      {{sendMessageResponse}}</div>

      <!-- <div class="col-sm-6" >
        <p *ngIf="isMessageValidated === 'invalid'" class="red-font">
          <i class="fa fa-times" ></i>
          Please verify JSON.
        </p>
        <p *ngIf="isMessageValidated === 'valid'" class="green-font">
          <i class="fa fa-check" ></i>
          Successfully Validated.
        </p>
        <p *ngIf="sendMessageStatus && sendMessageResponse" [ngClass]="{'green-font': sendMessageStatus === 'success', 'red-font': sendMessageStatus === 'error'}">
          <i class="fa" [ngClass]="{'fa-check': sendMessageStatus === 'success', 'fa-times': sendMessageStatus === 'error'}" ></i>
          {{sendMessageResponse}}
        </p>
        <p *ngIf="sendMessageResponse?.includes('Queue')">You can verify queue messages
          <a class="blue-font" href="javascript:void(0)" (click)="verifyQueueMessages()">here</a>
        </p>
        <p *ngIf="sendMessageResponse?.includes('Queue') && noOfMessageInQueue >= 0"> Total Queue Message: {{noOfMessageInQueue}}</p>
        <p *ngIf="sendMessageResponse?.includes('Queue')">You can purge queue messages
          <a class="blue-font" href="javascript:void(0)" (click)="purgeQueueMessages()">here</a>
        </p>
      </div> -->
    <div *ngIf="timerObj" class="bg-light px-1 py-1" style="writing-mode: tb-rl; transform: rotate(-180deg); font-size:0.75rem; color:black;">&nbsp;TIMER</div>
    <div class="justify-content-center align-self-center px-3">
      <div class="timer" *ngIf="timerObj">
        <div>
           <span class="hours" id="hour">{{timerObj?.hours}}</span>
           <div class="smalltext">Hours</div>
        </div>
        <div>
           <span class="minutes" id="minute">{{timerObj?.minutes}}</span>
           <div class="smalltext">Minutes</div>
        </div>
        <div>
           <span class="seconds" id="second">{{timerObj?.seconds}}</span>
           <div class="smalltext">Seconds</div>
        </div>
        <p id="time-up"></p>
     </div>
    </div>
     </div>
  </div>


</div>
<div class="row">
  <div class="col-lg-12">
    <hr class="solid" />
  </div>
</div>

<div class="row" *ngIf="displayType === 'compose'">
  <div class="col-lg-6 col-xl-6">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2 pt-3">
      <h6 class="h6 mb-0 text-gray-800">Meta Data:</h6>
    </div>

    <div class="table-responsive">
      <table
        class="table table-striped table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr class="bg-secondary text-white">
            <th>Key</th>
            <th class="border-left">Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Device ID</td>
            <td *ngIf="pageType === 'device' || pageType.toLowerCase() === 'nonipdevice'">{{c2dMessageData.device_id}}</td>
            <td *ngIf="pageType === 'gateway'">
              <select class="custom-select" id="device_id" name="device_id" [(ngModel)]="c2dMessageData.device_id">
                <option *ngFor="let device of devices" [ngValue]="device.device_id">
                  {{device?.tags.display_name ? device?.tags.display_name : device.device_id}}
                </option>
              </select>
            </td>
          </tr>
          <tr *ngIf="pageType.toLowerCase() === 'nonipdevice'">
            <td>Gateway ID</td>
            <td>{{c2dMessageData.gateway_id}}</td>
          </tr>
          <tr>
            <td>Message ID</td>
            <td>{{c2dMessageData.device_id}}_{{c2dMessageData.timestamp}}</td>
          </tr>
          <tr>
            <td>TTL (In minutes)</td>
            <td>
              <input class="form-control form-control-sm" type="number" min="0" name="expire_in_min" [(ngModel)]="c2dMessageData.expire_in_min">
            </td>
          </tr>
          <tr>
            <td>ACK</td>
            <td>
              <select class="custom-select" id="acknowledge" name="acknowledge" [(ngModel)]="c2dMessageData.acknowledge">
                <option value="Full">Full</option>
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
                <option value="None">None</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-6 col-xl-6">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2 pt-3">
      <h6 class="h6 mb-0 text-gray-800">Message Body / Message JSON:</h6>
    </div>

    <form id="contact-form">
      <div class="form-group mr-3">
        <textarea
          class="form-control"
          id="message"
          rows="13"
          placeholder="Please type your JSON here.."
          name="message"
          [(ngModel)]="c2dMessageData.message"
        ></textarea>
      </div>
    </form>
  </div>
</div>
<div *ngIf="displayType === 'feedback'">
  <app-c2d-message [device]="device" [type]="displayType" [message]="sentMessageData"></app-c2d-message>
</div>
<div *ngIf="displayType === 'response'">
  <app-c2d-message [device]="device" [type]="displayType" [message]="sentMessageData"></app-c2d-message>
</div>

