<div class="filter-bar sticky-top">
  <div class="row mx-2">
    <nav>
      <ol class="cd-multi-steps text-center custom-icons mb-0">
        <li [ngClass]="{ visited: visitedSteps >= 1 }">
          <a href="javascript:void(0)" style="text-decoration: none;cursor: default;">STEP-1</a>
        </li>
        <li [ngClass]="{ visited: visitedSteps >= 2 }">
          <a href="javascript:void(0)" style="text-decoration: none;cursor: default;">STEP-2</a>
        </li>
        <li [ngClass]="{ visited: visitedSteps >= 3  }">
          <a href="javascript:void(0)" style="text-decoration: none;cursor: default;">STEP-3</a>
        </li>
        <li [ngClass]="{ visited: visitedSteps >= 4 }">
          <a href="javascript:void(0)" style="text-decoration: none;cursor: default;">STEP-4</a>
        </li>
        <li [ngClass]="{ visited: visitedSteps >= 5 }">
          <a href="javascript:void(0)" style="text-decoration: none;cursor: default;">STEP-5</a>
        </li>
      </ol>
    </nav>
  </div>
</div>
<ng-container *ngIf="visitedSteps === 1">
  <div class="row m-3">
    <h6>Please select objective of the campaign.</h6>
  </div>
  <div class="row mx-3 mt-3">
    <div class="form-group">
      <div class="form-control border-0" style="color: #000" *ngFor="let item of campaignObjectiveList">
        <input type="radio" [value]="item.objective" [(ngModel)]="campaignObj.objective" name="objective"
          (change)="onObjectiveChange(item)" id="{{item.objective}}" />
        <label for="{{item.objective}}" class="ml-2"> {{item.name}} ({{item.objective}})</label>
      </div>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <div class="form-outer">
      <form action="#">
        <div class="page slide-page">
          <div class="ml-4">
            <button type="button" class="btn btn-primary mr-3" (click)="visitedSteps = visitedSteps + 1"
              [disabled]="!campaignObj.objective" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-secondary" (click)="onCloseCampaignModal()" id="CancelBtn">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="visitedSteps === 2">
  <div class="row col-lg-12 mt-2">
    <div class="col-lg-12 col-xl-12 col-md-12">
      <div class="d-sm-flex align-items-center justify-content-between m-2">
        <h6>Please select the timeline of the campaign.</h6>
      </div>

      <table class="table mx-2 mt-2">
        <tbody>
          <tr>
            <td class="required align-middle">Code</td>
            <td>
              <input class="form-control form-control-sm" type="text" name="expire_in_min" min="1" max="6"
                style="width: 20rem!important;" minlength="1" maxlength="6" [(ngModel)]="campaignObj.code" />
            </td>
          </tr>
          <tr>
            <td class="required align-middle">Start Date</td>
            <td>
              <div class="left-inner-addon">
                <i class="fa fa-calendar"></i>
                <input readonly type="text" class="form-control form-control-sm date-range-picker" daterangepicker
                  name="daterangeInput" autocomplete="off" [(ngModel)]="campaignObj.expected_start_date_display"
                  [options]="options" (selected)="selectedDate($event, 'start')" style="width: 20rem!important"
                  placement="bottom" />
              </div>
            </td>
          </tr>
          <tr>
            <td class="required align-middle">End Date</td>
            <td>
              <div class="left-inner-addon">
                <i class="fa fa-calendar"></i>
                <input readonly type="text" class="form-control form-control-sm date-range-picker" daterangepicker
                  name="daterangeInput" autocomplete="off" [(ngModel)]="campaignObj.expected_end_date_display"
                  [options]="options" (selected)="selectedDate($event, 'end')" style="width: 20rem!important"
                  placement="bottom" />
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="border-0" style="color: #000">
                <input type="checkbox" name="retry_required" id="retry_required"
                  [(ngModel)]="campaignObj.retry_required" />
                <label for="retry_required" class="ml-2">If cloud to asset command expires to non-availbility of IoT
                  Asset,
                  let the cloud try sending command again.</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <div class="form-outer">
      <form action="#">
        <div class="page slide-page">
          <div class="ml-4">
            <button type="button" class="btn  btn-primary mr-3" (click)="visitedSteps = visitedSteps - 1"
              id="previousBtn">
              Previous Step
            </button>
            <button type="button" class="btn  btn-primary mr-3"
              (click)="visitedSteps = visitedSteps + 1;prepareHierarchyDropdownData()"
              [disabled]="!campaignObj.expected_start_date || !campaignObj.expected_end_date || !campaignObj.code || campaignObj.code?.length > 6"
              id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-secondary" (click)="onCloseCampaignModal()" id="cancelBtn">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="visitedSteps === 3">
  <div class="row col-lg-12 mt-2">
    <div class="col-lg-12 col-xl-12 col-md-12">
      <div class="d-sm-flex align-items-center justify-content-between m-2">
        <h6>Please select the assets details for which this campaign run for.</h6>
      </div>

      <table class="table table-hover table-bordered mx-2 my-3">
        <tbody>
          <tr *ngFor="let hierarchyItem of contextApp.hierarchy.levels; let hIndex = index">

            <td width="30%">{{hierarchyItem}}</td>
            <td width="70%">
              <select class="form-control form-control-sm" id="hierarchy{{hIndex}}" name="hierarchy{{hIndex}}"
                [(ngModel)]="configureHierarchy[hIndex]" (change)="onChangeOfHierarchy(hIndex)" *ngIf="hIndex !== 0"
                [disabled]="contextApp.user.hierarchy[hierarchyItem]">
                <option [ngValue]="undefined">Select {{hierarchyItem}}</option>
                <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[hIndex]">{{tag}}</option>
              </select>
              <span *ngIf="hIndex === 0">{{contextApp.app}}</span>
            </td>
          </tr>
          <tr>
            <td class="required">Asset Model</td>
            <td>
              <select class="form-control form-control-sm" id="asset_model" name="asset_model"
                [(ngModel)]="campaignObj.asset_model_obj">
                <option [ngValue]="undefined"> Select Asset Model</option>
                <option *ngFor="let item of assetModels" [ngValue]="item">
                  {{item.name}}</option>
              </select>
              <!-- <p *ngIf="campaignObj.asset_model_obj">There are {{campaignObj.asset_model_obj?.inherited_asset_count}}
                assets of this specific model, This campaign will run on all
                {{campaignObj.asset_model_obj?.inherited_asset_count}} assets</p> -->
            </td>
          </tr>
          <tr>
            <td>Assets</td>
            <td *ngIf="campaignObj.asset_model_obj">
              <a href="javascript:void(0)" class="blue-font" id="userDropdown1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="openAssetsViewModal()">View Assets</a>
            </td>
            <td *ngIf="!campaignObj.asset_model_obj"> Please select asset model to view the assets on which this
              campaign will run.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <div class="form-outer">
      <form action="#">
        <div class="page slide-page">
          <div class="ml-4">
            <button type="button" class="btn btn-primary mr-3" [disabled]="isCreateCampaignAPILoading"
              (click)="visitedSteps = visitedSteps - 1" id="previousBtn">
              Previous Step
            </button>
            <button type="button" class="btn btn-primary mr-3" [disabled]="!campaignObj.asset_model_obj"
              (click)="visitedSteps = visitedSteps + 1;onPrepareHierarchy();onAssetModelChange()" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-white" [disabled]="isCreateCampaignAPILoading"
              (click)="onCloseCampaignModal()" id="CancelBtn">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="visitedSteps === 4">
  <div class="row col-lg-12 mt-2">
    <div class="col-lg-12 col-xl-12 col-md-12">
      <div class="d-sm-flex align-items-center justify-content-between m-2">
        <h6>Please furnish further details of the campaign objective.</h6>
      </div>
      <p class="m-2">
        Objective: {{campaignObj.objective_name}}
      </p>
      <table class="table table-hover table-bordered mx-2 my-3">
        <tbody>
          <ng-container *ngIf="campaignObj.objective === 'FOTA'">
            <tr>
              <td class="required" width="40%">Command</td>
              <td width="60%">
                <select class="form-control form-control-sm" id="asset_model" name="asset_model"
                  [(ngModel)]="campaignObj.request_type" (change)="onCommandChange()">
                  <option [ngValue]="undefined"> Select Command</option>
                  <option [ngValue]="'INSTALL_PACKAGE'">Install Package</option>
                  <option [ngValue]="'DELETE_PACKAGE'">Uninstall Package</option>
                  <option [ngValue]="'UPGRADE_PACKAGE'">Upgrade Package</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="required">Package</td>
              <td>
                <select class="form-control form-control-sm" id="asset_model" name="asset_model"
                  [(ngModel)]="campaignObj.job_request.package_obj"
                  (change)="campaignObj.job_request.version = undefined">
                  <option [ngValue]="undefined"> Select Package</option>
                  <option *ngFor="let item of packages" [ngValue]="item">
                    {{item.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="required">Version</td>
              <td>
                <select class="form-control form-control-sm" id="asset_model" name="asset_model"
                  [(ngModel)]="campaignObj.job_request.version">
                  <option [ngValue]="undefined"> Select Version</option>
                  <option *ngFor="let item of campaignObj.job_request?.package_obj?.versions" [ngValue]="item">
                    {{item}}</option>
                </select>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Sync Properties/Alerts'">
            <tr>
              <td class="required" width="40%">Sync Details</td>
              <td>
                <ng-select [items]="propertySyncList" class="custom-dropdown w-12 active sm" [clearable]="false"
                  [searchable]="true" clearSearchOnAdd="true" [multiple]="true" [closeOnSelect]="false"
                  placeholder="Select Sync Detail" dropdownPosition="bottom" name="asset-dropdown"
                  [(ngModel)]="campaignObj.job_request.type">
                  <ng-template ng-multi-label-tmp let-items="items">
                    {{items.length}} values selected
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    <span [tooltip]="item">
                      {{item}}
                    </span>
                  </ng-template>
                </ng-select>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Change Telemetry Frequency'">
            <tr>
              <td style="width: 50%;">G1 Normal mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g1_ingestion_frequency_in_ms" name="g1_frequency_in_normal"
                  placeholder="G1 Normal Mode Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G1 Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g1_turbo_mode_frequency_in_ms" name="g1_frequency_in_turbo"
                  placeholder="G1 Turbo Mode Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Normal mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g2_ingestion_frequency_in_ms" name="g2_frequency_in_normal"
                  placeholder="G2 Normal Mode Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g2_turbo_mode_frequency_in_ms" name="g2_frequency_in_turbo"
                  placeholder="G2 Turbo Mode Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Normal mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g3_ingestion_frequency_in_ms" name="g3_frequency_in_normal"
                  placeholder="G3 Normal Mode Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Turbo mode Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g3_turbo_mode_frequency_in_ms" name="g3_frequency_in_turbo"
                  placeholder="G3 Turbo Mode Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">Turbo mode Timeout (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.turbo_mode_timeout_time" name="timeout_in_turbo"
                  placeholder="Turbo Mode Timeout">
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Change Measurement Frequency'">
            <tr>
              <td style="width: 50%;">G1 Measurement Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g1_measurement_frequency_in_ms" name="g1_frequency_in_normal"
                  placeholder="G1 Measurement Frequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Measurement Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g2_measurement_frequency_in_ms" name="g2_frequency_in_normal"
                  placeholder="G2 MeasurementFrequency">
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Measurement Frequency (In Sec): </td>
              <td>
                <input type="number" class="form-control form-control-sm bg-light border-0 small" min="0"
                  [(ngModel)]="campaignObj.job_request.g3_measurement_frequency_in_ms" name="g3_frequency_in_normal"
                  placeholder="G3 Measurement Frequency">
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Change Asset Mode'">
            <tr>
              <td class="required">Turbo Mode</td>
              <td>
                <ui-switch size="small" class="mr-1" defaultBgColor="red" uncheckedTextColor="white"
                  switchColor="#EFEFEF" checkedTextColor="white" checkedLabel="ON" uncheckedLabel="OFF" name="tpye"
                  [(ngModel)]="campaignObj.job_request.mode">
                  <i class="fa fa-check" style="color: green;" *ngIf="campaignObj.job_request.mode"></i>
                  <i class="fa fa-times" style="color: red" *ngIf="!campaignObj.job_request.mode"></i>
                </ui-switch>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Sync Rules'">
            <tr>
              <td>Rules</td>
              <td>
                All Model rules will get synced with selected assets
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <div class="form-outer">
      <form action="#">
        <div class="page slide-page">
          <div class="ml-4">
            <button type="button" class="btn btn-primary mr-3" [disabled]="isCreateCampaignAPILoading"
              (click)="visitedSteps = visitedSteps - 1" id="previousBtn">
              Previous Step
            </button>
            <button type="button" class="btn btn-primary mr-3" *ngIf="campaignObj.objective === 'FOTA'"
              [disabled]="!campaignObj.job_request.package_obj || !campaignObj.job_request.version || !campaignObj.request_type"
              (click)="visitedSteps = visitedSteps + 1;getAssetsForCampaign()" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-primary mr-3"
              *ngIf="campaignObj.objective === 'Sync Properties/Alerts'"
              [disabled]="!campaignObj.job_request.type || campaignObj.job_request.type?.length === 0"
              (click)="visitedSteps = visitedSteps + 1;getAssetsForCampaign()" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-primary mr-3" *ngIf="campaignObj.objective === 'Change Asset Mode'"
              [disabled]="campaignObj.job_request.mode === undefined || campaignObj.job_request.mode === null"
              (click)="visitedSteps = visitedSteps + 1;getAssetsForCampaign()" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-primary mr-3"
              *ngIf="campaignObj.objective === 'Change Telemetry Frequency' || campaignObj.objective === 'Change Measurement Frequency'"
              (click)="checkForFrequencyValue()" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-primary mr-3" *ngIf="campaignObj.objective === 'Sync Rules'"
              (click)="visitedSteps = visitedSteps + 1;getAssetsForCampaign()" id="nextBtn">
              Next Step
            </button>
            <button type="button" class="btn btn-white" [disabled]="isCreateCampaignAPILoading"
              (click)="onCloseCampaignModal()" id="CancelBtn">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="visitedSteps === 5">
  <div class="row col-lg-12 mt-2">
    <div class="col-lg-12 col-xl-12 col-md-12">
      <div class="d-sm-flex align-items-center justify-content-between m-2">
        <h6>Please confirm campaign details.</h6>
      </div>

      <table class="table mx-2 my-3">
        <tbody>
          <tr>
            <td>Objective</td>
            <td>{{campaignObj.objective_name}}</td>
          </tr>
          <tr>
            <td>Code</td>
            <td>{{campaignObj.code}}</td>
          </tr>
          <tr>
            <td>Start Date</td>
            <td>{{campaignObj.expected_start_date_display}}</td>
          </tr>
          <tr>
            <td>End Date</td>
            <td>{{campaignObj.expected_end_date_display}}</td>
          </tr>
          <tr>
            <td>Hierarchy</td>
            <td>{{campaignObj.hierarchyString}}</td>
          </tr>
          <tr>
            <td>Asset Model</td>
            <td>{{campaignObj.asset_model}}</td>
          </tr>
          <tr>
            <td>Assets</td>
            <td>
              <a href="javascript:void(0)" class="blue-font" id="userDropdown1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="openAssetsViewModal()">View Assets</a>
            </td>
          </tr>
          <ng-container *ngIf="campaignObj.objective === 'FOTA'">
            <tr>
              <td>Command</td>
              <td>{{campaignObj.request_type}}</td>
            </tr>
            <tr>
              <td>Package</td>
              <td>{{campaignObj.job_request.package_obj?.name}}</td>
            </tr>
            <tr>
              <td>Version</td>
              <td>{{campaignObj.job_request.version}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Sync Properties/Alerts'">
            <tr>
              <td width="50%">Sync Details</td>
              <td width="50%">{{campaignObj.job_request.type}} </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Change Telemetry Frequency'">
            <tr>
              <td style="width: 50%;">G1 Normal mode Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g1_ingestion_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G1 Turbo mode Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g1_turbo_mode_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Normal mode Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g2_ingestion_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Turbo mode Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g2_turbo_mode_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Normal mode Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g3_ingestion_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Turbo mode Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g3_turbo_mode_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td>Turbo mode Timeout (In Sec): </td>
              <td>
                {{campaignObj.job_request.turbo_mode_timeout_time}}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Change Measurement Frequency'">
            <tr>
              <td style="width: 50%;">G1 Measurement Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g1_measurement_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G2 Measurement Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g2_measurement_frequency_in_ms}}
              </td>
            </tr>
            <tr>
              <td style="width: 50%;">G3 Measurement Frequency (In Sec): </td>
              <td>
                {{campaignObj.job_request.g3_measurement_frequency_in_ms}}
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="campaignObj.objective === 'Change Asset Mode'">
            <tr>
              <td>Asset Mode</td>
              <td>{{!campaignObj.job_request.mode ? 'Normal' : 'Turbo'}} </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-2 mt-2">
    <div class="form-outer">
      <form action="#">
        <div class="page slide-page">
          <div class="ml-4">
            <button type="button" class="btn btn-primary mr-3" [disabled]="isCreateCampaignAPILoading"
              (click)="visitedSteps = visitedSteps - 1" id="previousBtn">
              Previous Step
            </button>
            <button type="button" class="btn btn-primary mr-3" (click)="createCampaign()" id="camopaignCReateBtn"
              [disabled]="isCreateCampaignAPILoading || campaignAssets.length === 0">
              Create
              <i class="fa fa-fw fa-2x  fa-spin fa-spinner" *ngIf="isCreateCampaignAPILoading"></i>
            </button>

            <button type="button" class="btn btn-white" [disabled]="isCreateCampaignAPILoading"
              (click)="onCloseCampaignModal()" id="CancelBtn">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<div class="modal fade" id="viewCampaignAssetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">View Assets</h6>
        <button type="button" class="close" (click)="closeCampaignAssetModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Asset Name</th>
              <th>Asset ID</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="campaignAssets.length > 0 && !isGetCampaignAssetAPILoading">
              <tr *ngFor="let item of campaignAssets; let index = index">
                <td>{{index + 1}}</td>
                <td>
                  {{item.display_name}}
                </td>
                <td>{{item.asset_id}}</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="campaignAssets.length === 0 && !isGetCampaignAssetAPILoading">
              <tr>
                <td colspan="3">No assets available for selected model and hierarchy.
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isGetCampaignAssetAPILoading">
              <tr>
                <td colspan="3">
                  <i class="fa fa-fw fa-2x  fa-spin fa-spinner"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary add-row" (click)="closeCampaignAssetModal()">Close</button>
      </div>
    </div>

  </div>
</div>
