
<accordion class="mb-2"  [closeOthers]="'true'">
  <accordion-group heading="" [panelClass]="'customClass'">
    <ng-container accordion-heading>
      <a class="btn" >
        Main Menu
      </a>
    </ng-container>
    <div class="row">
      <div class="col-12">
        <div class="col-8">
          <table class="table table-bordered table-striped" cellspacing="0">
            <thead>
              <tr class="bg-secondary text-white">
                <th>Page</th>
                <th>System Name</th>
                <th>Display Name</th>
                <th>Visibility</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th colspan="4`">
                  <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="onSaveMenuSettings()"
                    [disabled]="saveMenuSettingAPILoading">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x"
                      *ngIf="saveMenuSettingAPILoading"></i></button>
                  <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="onCancelClick()">CANCEL</button>
                </th>

              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let item of applicationData?.configuration.main_menu; let configIndex = index">
                <td>{{item.page}}</td>
                <td>{{item.system_name}}</td>
                <td><input type="text" class="form-control" name="display_name{{configIndex}}" id="display_name{{configIndex}}"
                    [(ngModel)]="item.display_name" /></td>
                <td><input *ngIf="item.system_name !== 'App Settings'" type="checkbox" name="visible{{configIndex}}"
                    id="visible{{configIndex}}" [(ngModel)]="item.visible" /></td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </accordion-group>
  <accordion-group heading="" [panelClass]="'customClass'">
    <ng-container accordion-heading>
      <a class="btn" >
        Device Control Panel Menu
      </a>
    </ng-container>
    <div class="row">
      <div class="col-12">
        <div class="col-8">
          <table class="table table-bordered table-striped" cellspacing="0">
            <thead>
              <tr class="bg-secondary text-white">
                <th>System Name</th>
                <th>Display Name</th>
                <th>Visibility</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th colspan="4`">
                  <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="onSaveMenuSettings()"
                    [disabled]="saveMenuSettingAPILoading">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x"
                      *ngIf="saveMenuSettingAPILoading"></i></button>
                  <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="onCancelClick()">CANCEL</button>
                </th>

              </tr>
            </tfoot>
            <tbody>
              <ng-container *ngFor="let item of applicationData?.configuration?.device_control_panel_menu; let configIndex = index">
                <tr *ngIf="!item.isTitle">
                  <td>{{item.system_name}}</td>
                  <td><input type="text" class="form-control" name="display_name{{configIndex}}" id="display_name{{configIndex}}"
                      [(ngModel)]="item.display_name" /></td>
                  <td><input type="checkbox" name="visible{{configIndex}}"
                      id="visible{{configIndex}}" [(ngModel)]="item.visible" /></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </accordion-group>
  <accordion-group heading="" [panelClass]="'customClass'">
    <ng-container accordion-heading>
      <a class="btn" >
        Device Control Panel Menu
      </a>
    </ng-container>
    <div class="row">
      <div class="col-12">
        <div class="col-8">
          <table class="table table-bordered table-striped" cellspacing="0">
            <thead>
              <tr class="bg-secondary text-white">
                <th>System Name</th>
                <th>Display Name</th>
                <th>Visibility</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th colspan="4`">
                  <button type="button" class="btn btn-warning btn-sm mx-1 my-1" (click)="onSaveMenuSettings()"
                    [disabled]="saveMenuSettingAPILoading">SAVE <i class="fa fa-spinner fa-spin fa-fw fa-2x"
                      *ngIf="saveMenuSettingAPILoading"></i></button>
                  <button type="button" class="btn btn-white btn-sm mx-1 my-1" (click)="onCancelClick()">CANCEL</button>
                </th>

              </tr>
            </tfoot>
            <tbody>
              <ng-container *ngFor="let item of applicationData?.configuration?.model_control_panel_menu; let configIndex = index">
                <tr *ngIf="!item.isTitle">
                  <td>{{item.system_name}}</td>
                  <td><input type="text" class="form-control" name="display_name{{configIndex}}" id="display_name{{configIndex}}"
                      [(ngModel)]="item.display_name" /></td>
                  <td><input type="checkbox" name="visible{{configIndex}}"
                      id="visible{{configIndex}}" [(ngModel)]="item.visible" /></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>

