<div class="topnavbar" style="margin-top: 3rem;">
  <!-- <div class="d-sm-flex align-items-center justify-content-start mb-2 mt-n3 pl-1">
    <h5 class="h4 mb-0 text-gray-800">Alerts</h5>
  </div> -->
  <div class="card row bg-white" style="margin-left:-2rem">
    <div class="col-xl-12 col-md-12 mb-12">
      <form>
        <div class="form-group form-inline my-2 mx-3">
          <ng-container *ngFor="let level of appData?.hierarchy?.levels; let index = index;">
          <select *ngIf="index !== 0" class="form-control form-control-sm mx-1 my-1" id="{{level}}"
          [disabled]="appData?.user?.hierarchy[level]"
          [(ngModel)]="configureHierarchy[index]" name="{{level}}" (change)="onChangeOfHierarchy(index)">
            <option [ngValue]="undefined">Select {{level}}</option>
            <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
              {{tag}}
            </option>
          </select>
          <input  type="text" *ngIf="index === 0"  defaultValue="{{appData.app}}" disabled class="form-control form-control-sm mx-1 my-1">
        </ng-container>
        <select class="form-control form-control-sm mx-1 my-1" id="deviceCategory" [(ngModel)]="filterObj.device"
        name="deviceCategory" (change)="onAssetSelection()">
        <option [ngValue]="undefined">Select Asset</option>
        <option [ngValue]="device" *ngFor="let device of devices">
          {{device?.display_name ? device?.display_name: device.device_id}}
        </option>
        </select>
        <select class="form-control form-control-sm mx-1 my-1" id="deviceCategory1" [(ngModel)]="filterObj.non_ip_device"
          name="deviceCategory1" *ngIf="filterObj.device?.cloud_connectivity.includes('Gateway')"
          >
          <option [ngValue]="undefined">Select Asset</option>
          <option [ngValue]="device" *ngFor="let device of nonIPDevices">
            {{device?.display_name ? device?.display_name: device.device_id}}
          </option>
        </select>
        </div>
        <div class="form-group form-inline  my-2 mx-3">

          <input type="number" min="1" class="form-control form-control-sm mx-1 my-1 record-input" id="inputEmail4"
            placeholder="No of Records" [(ngModel)]="filterObj.count" name="count">
          <!-- <select class="form-control form-control-sm mx-1 my-1" id="deviceCategory" [(ngModel)]="filterObj.device"
            name="deviceCategory" (change)="onAssetSelection()">
            <option [ngValue]="undefined">Select Asset</option>
            <option [ngValue]="device" *ngFor="let device of devices">
              {{device?.display_name ? device?.display_name: device.device_id}}
            </option>
          </select>
          <select class="form-control form-control-sm mx-1 my-1" id="deviceCategory1" [(ngModel)]="filterObj.non_ip_device"
            name="deviceCategory1" *ngIf="filterObj.device?.tags?.category === 'IoT Gateway'">
            <option [ngValue]="undefined">Select Asset</option>
            <option [ngValue]="device" *ngFor="let device of nonIPDevices">
              {{device?.display_name ? device?.display_name: device.device_id}}
            </option>
          </select> -->
          <select class="form-control form-control-sm mx-1 my-1" id="dateoptions" [(ngModel)]="filterObj.acknowledged"
            name="dateOptions">
            <option [ngValue]="undefined">Status</option>
            <option [ngValue]="'true'">Acknowledged</option>
            <option [ngValue]="'false'">Not Acknowledged</option>
          </select>
          <select class="form-control form-control-sm mx-1 my-1" id="dateoptions" [(ngModel)]="filterObj.dateOption"
            name="dateOptions" (change)="onDateOptionChange()">
            <option [ngValue]="undefined">Quick Options</option>
            <option [ngValue]="'5 mins'">Last 5 minutes</option>
            <option [ngValue]="'30 mins'">Last 30 minutes</option>
            <option [ngValue]="'1 hour'">Last 1 hour</option>
            <option [ngValue]="'24 hour'">Last 24 hours</option>
          </select>
          <ng-container>
            <input [owlDateTime]="dt1" [selectMode]="'range'" (dateTimeChange)="onDateChange($event)"
              class="form-control form-control-sm mx-1 my-1 col-md-2" [owlDateTimeTrigger]="dt1"
              placeholder="Select Date Time">
            <span [owlDateTimeTrigger]="dt1" class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
            <owl-date-time #dt1></owl-date-time>
          </ng-container>

          <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search" (click)="getLatestAlerts()"><i
              class="fas fa-search fa-sm"></i></button>
          <!-- <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear" (click)="clear()"><i class="fas fa-trash  fa-sm"></i></button> -->

        </div>
      </form>
    </div>
  </div>

  <!-- <div class="card row bg-white" style="margin-left:-2rem">
    <div class="col-xl-12 col-md-12 mb-12">
      <form>
        <div class="form-group form-inline  my-2 mx-3">
          <input type="number" class="form-control form-control-sm my-1" id="app" style="width: 5%;" name="app"
            [(ngModel)]="beforeInterval">
          <button class="btn btn-secondary btn-sm" style="pointer-events: none;">mins before alert</button>
          <input type="number" class="form-control form-control-sm my-1" id="inputEmail4" style="width: 5%;" name="name"
            [(ngModel)]="afterInterval">
          <button class="btn btn-secondary btn-sm" style="pointer-events: none;">mins after alert</button>
        </div>

      </form>
    </div>
  </div> -->
</div>

<div class="contain-pad" style="margin-top: 7.5rem;">
  <div class="mb-2">
    <div class="table-responsive" style="max-height: 27vh;height: 27vh;">
      <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr class="bg-secondary text-white">
            <th></th>
            <th>Asset Name</th>
            <th>Description</th>
            <th>Time</th>
            <th>Status</th>
            <th>Acknowledged By</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="latestAlerts.length > 0 && !isAlertAPILoading">
            <tr *ngFor="let alert of latestAlerts" [ngClass]="{
                    'bg-alert-selection':
                      alert.id === this.selectedAlert?.id
                  }">
              <td><i class="fa fa-exclamation-triangle" [style.color]="
              (alert.message?.priority === 'critical' ? '#fb5515' :
              (alert.message?.priority === 'medium' ? '#f6c23e' :
              (alert.message?.priority === 'low' ? '#229954' : '')
              )
              )"></i></td>
              <td>{{ alert.device_display_name ? alert.device_display_name : alert.device_id }}</td>
              <td>{{ alert.message }}</td>
              <td>{{ alert.local_created_date }}</td>
              <td>
                <ng-container *ngIf="alert.metadata?.acknowledged_date">Acknowledged</ng-container>
                <button *ngIf="!alert.metadata?.acknowledged_date" class="btn btn-sm btn-secondary"
                  (click)="onClickOfAcknowledgeAlert(alert)">Acknowledge</button>
              </td>
              <td>{{ alert.metadata?.user_id }}</td>
              <td>
                <a href="javascript:void(0)" (click)="onClickOfViewGraph(alert)">
                  <i class="fa fa-search"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="latestAlerts.length === 0 && !isAlertAPILoading">
            <tr>
              <td colspan="7">No Alert data available.</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="isAlertAPILoading">
            <tr>
              <td colspan="7">
                <i class="fa fa-fw fa-2x  fa-spin fa-spinner"></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <ng-container>
    <accordion *ngIf="selectedAlert" class="mb-2">
      <accordion-group heading="" [panelClass]="'customClass'" [isOpen]="isOpen">
        <ng-container accordion-heading>
          <a class="btn" >
            Filters
          </a>
        </ng-container>
        <div class="">
          <div class="">
            <div class="">
              <div class="col-xl-10 col-lg-10 col-md-10">
                <form>
                  <div class="form-group form-inline my-1">
                    <label class="mr-2"> Time Range: </label>
                    <input type="number" class="form-control form-control-sm my-1" id="app" style="width: 9%;"
                      name="app" [(ngModel)]="beforeInterval">
                    <button class="btn btn-secondary btn-sm" style="pointer-events: none;">mins before alert</button>
                    <input type="number" class="form-control form-control-sm my-1" id="inputEmail4" style="width: 9%;"
                      name="name" [(ngModel)]="afterInterval">
                    <button class="btn btn-secondary btn-sm" style="pointer-events: none;">mins after alert</button>
                  </div>
                  <div class="form-group form-inline my-1">
                    <label class="mr-2">Widgets: </label>
                    <angular2-multiselect
                      [data]="dropdownWidgetList"
                      id="widgets"
                      [(ngModel)]="selectedWidgets"
                      name="widgets"
                      [settings]="{
                        text: 'Select Widgets',
                        selectAllText: 'Select All',
                        unSelectAllText: 'UnSelect All',
                        classes: 'col-lg-3 col-xl-3 p-0',
                        enableSearchFilter: true,
                        badgeShowLimit: 1,
                        maxHeight: 200,
                        labelKey: 'id'
                      }"
                    >
                    </angular2-multiselect>

                  </div>
                  <div class="form-group form-inline my-1">
                    <label class="mr-2">Aggregation: </label>
                    <input type="number" class="form-control form-control-sm my-1 col-3 minute-input" id="minutes" min="1"
                      name="minutes" [(ngModel)]="filterObj.aggregation_minutes" placeholder="Agreegation Time">
                    <select class="form-control form-control-sm mx-2 my-1 col-3" id="dateoptions" [(ngModel)]="filterObj.aggregation_format"
                    name="dateOptions" style="width: 15%;">
                    <option [ngValue]="undefined">Aggregartion Format</option>
                    <option [ngValue]="'AVG'">Average</option>
                    <option [ngValue]="'SUM'">Sum</option>
                    <option [ngValue]="'MIN'">Min</option>
                    <option [ngValue]="'MAX'">Max</option>
                    <option [ngValue]="'COUNT'">Count</option>
                    </select>
                    <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Apply Filter"
                    (click)="getDeviceTelemetryData()">Apply</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'" [isOpen]="" *ngIf="isTelemetryFilterSelected">
        <ng-container accordion-heading>
          <a class="btn" >
            Alert Visualization
          </a>
        </ng-container>
        <div >
          <div class="row col-12 pl-5">

            <div class="col-2 form-group " *ngFor="let prop of propList">
              <input type="checkbox" class="form-check-input" id="{{prop}}"
              name="{{prop}}" (change)="toggleProperty(prop)" [checked]="selectedPropertyForChart.indexOf(prop) !== -1">
              <label class="form-check-label" for="{{prop}}">{{prop}}</label>
            </div>

            <div class="col-2 pull-right">
              <input type="checkbox" class="form-check-input" id="threshold"
                name="threshold" (change)="toggleThreshold()" [(ngModel)]="showThreshold">
                <label class="form-check-label" for="threshold">Show Threshold</label>
            </div>
          </div>
          <div *ngIf="isTelemetryDataLoading"><i class="fa fa-fw fa-2x  fa-spin fa-spinner"></i></div>
          <div id="charts" classs="w-100 row"></div>
        </div>
      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'" [isOpen]="isOpen" *ngIf="alertCondition">
        <ng-container accordion-heading>
          <a class="btn" >
           Recommendations
          </a>
        </ng-container>
        <div class="">
          <div class="">
            <div class="">
              <div class="table-responsive">

                <table id="mytable" width="100%" class="table table-bordered table-striped col-12">
                  <tbody>
                    <ng-container *ngFor="let step of alertCondition.recommendations; let i = index;" >
                    <tr  *ngIf="alertCondition.recommendations.length > 0">

                    <ng-container >
                      <td style="width: 10%;">Step - {{i + 1}}</td>
                      <td style="width: 30%;">{{step.description}}</td>
                      <td style="width: 30%;">{{step.activity}} Activity</td>
                      <td style="width: 30%;"><ng-container *ngIf="step.activity === 'Auto'">{{step.command}}</ng-container> </td>
                    </ng-container>
                    </tr>
                    <tr *ngIf="alertCondition.recommendations.length === 0">
                      <td colspan="4"> No Recommedation Steps added.</td>
                    </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <h6>Reference Documents:</h6>
              <div class="tagsinput" style="width: auto; height: auto;min-height: auto;" *ngIf="alertCondition?.reference_documents?.length > 0">
                <ng-container *ngFor="let item of alertCondition.reference_documents; let index = index">
                  <span class="tag" >
                    <span class="tag-text">{{item}}</span>
                  </span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="" [panelClass]="'customClass'" [isOpen]="isOpen" *ngIf="alertCondition">
        <ng-container accordion-heading>
          <a class="btn" >
           Actions
          </a>
        </ng-container>
        <div class="">
          <div class="">
            <div class="">
              <div class="table-responsive">
                No Actions configured yet.
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>



  </ng-container>
</div>

<div class="modal right fade" id="acknowledgemenConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="acknowledgedAlert">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Acknowledge Alert</h5>
        <button type="button" class="close" (click)="closeAcknowledgementModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <h6>Are you sure you want to acknowledge this alert?</h6>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Select the reason for Alert:</label>
            <select class="custom-select" id="alertReason" [(ngModel)]="acknowledgedAlert.message.reason"
              name="alertReason">
              <option value="undefined">Select Reason</option>
              <option value="Reason 1">Reason 1</option>
              <option value="Reason 2">Reason 2</option>
              <option value="Reason 3">Reason 3</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="acknowledgeAlert()">Acknowledge</button>
        <button type="button" class="btn btn-secondary add-row" (click)="closeAcknowledgementModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
