.alert-container {
  max-height: 10rem;
  overflow-y: auto;
}

input:invalid {
  border: 1px solid #d1d3e2;
}

.w-12 {
  width: 10rem;
}



#bar-chart text {
  fill: yellow!important;
  font-size: 10px!important;
  font-family: 'Comfortaa',sans-serif;
}

.w-22 {
  width: 22rem!important;
}

.w-7 {
  width: 7rem!important;
}


.record-input {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="90" height="30"><text x="5" y="19" style="font-size: .875rem; font-family: Roboto, Helvetica Neue, sans-serif;" fill="%23858796">N Records:</text></svg>') no-repeat;

  box-sizing: border-box;
  padding-left: 5rem;
  width: 7.8rem;
}

.bg-alert-selection {
  background-color: #f7ce64!important;
}

.minute-input {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="90" height="30"><text x="5" y="19" style="font-size: .875rem; font-family: Roboto, Helvetica Neue, sans-serif;" fill="%23858796">N Minutes:</text></svg>') no-repeat;
  box-sizing: border-box;
  padding-left: 5rem;
  width: 9rem;
}




.fixed_header{
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 18rem);
}

.fixed_header thead tr {
   /* display: block; */
}

.fixed_header thead {
  background: #858796;
  color:#fff;
}

.adjust-height{
  max-height: calc(100vh - 11rem);
}

.btn-selected-widgets{
  background-color: #eef3fa !important;
  color: royalblue;
}

.btn-selected-widgets:hover{
  color: #000;
}
.sticky_note_box {
  background: #f8f9fc;
  color: #000;
  position: sticky;
  bottom: 45px;
  padding: 1em;
  /* margin-bottom: 2px; */

}

.scrollable{
  max-height:23.5rem !important;
  overflow-y:scroll !important;
}
