.alert-container {
  max-height: 10rem;
  overflow-y: auto;
}


#bar-chart text {
  fill: yellow!important;
  font-size: 10px!important;
  font-family: 'Comfortaa';
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: inherit;
}

th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}
