<div class="table-responsive">
  <div class="tableFixHead" >
  <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isDevicesAPILoading"></i>
  <h6 *ngIf="devices.length === 0 && !isDevicesAPILoading"> No devices available.</h6>
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th class="text-center"><input type="checkbox" name="visibleall"
          id="visibleall" (change)="onClickOfDeviceAllCheckbox(app.app)" [(ngModel)]="isAllDeviceSelected"
          placement="bottom" [tooltip]="isAllDeviceSelected ? 'Deselect All' : 'Select All'"/></th> -->
        <th>Device</th>
        <th>App</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices; let i = index">
        <!-- <td  class="text-center">
          <input type="checkbox" name="visible{{i}}"
              id="visible{{i}}" (change)="onDeviceSelection(device, app.app)"
              [checked]="checkForDeviceVisibility(device)" />
        </td> -->
        <td>
            {{device.display_name}}
        </td>
        <td>{{device?.metadata?.package_app}}</td>
        <td >
          {{device.metadata?.package_app && deviceTwin.twin_properties.reported.registered_devices[device.metadata.package_app] ? (deviceTwin.twin_properties.reported?.registered_devices[device?.metadata?.package_app]?.indexOf(device.device_id) > -1 ? 'Registered' : 'Not Registered') : 'Not Registered'}}
        <td >
          <a class=""
            href="javascript:void(0)" tooltip="Register Device"
            (click)="registerDevices(device)"
            [class.disabled]="device.metadata?.package_app ? (
              deviceTwin.twin_properties.reported && deviceTwin.twin_properties.reported.registered_devices &&
               deviceTwin.twin_properties.reported.registered_devices[device.metadata.package_app]
                && (deviceTwin.twin_properties.reported.registered_devices[device.metadata.package_app].
                  indexOf(device.device_id) > -1) ? true : false
            ) : true"
            ><i class="fa fa-link fa-sm "></i>
          </a>
          <a class="ml-2"
            href="javascript:void(0)" tooltip="Deregister Device"
            (click)="deregisterDevices(device)"
            [class.disabled]="device.metadata?.package_app ? (
              deviceTwin.twin_properties.reported && deviceTwin.twin_properties.reported.registered_devices &&
               deviceTwin.twin_properties.reported.registered_devices[device.metadata.package_app]
                && (deviceTwin.twin_properties.reported.registered_devices[device.metadata.package_app].
                  indexOf(device.device_id) > -1) ? false : true
            ) : true"
            ><i class="fa fa-unlink fa-sm "></i>
          </a>
        </td>

      </tr>
    </tbody>
  </table>
  </div></div>
  <div class="modal fade" id="confirmMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" style="z-index: 1400;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{headerMessage}}</h5>
          <button type="button" class="close"  aria-label="Close"  (click)="onModalClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
          <ng-container *ngIf="displyaMsgArr.length > 0">
            <ul>
              <li *ngFor="let msg of displyaMsgArr; let last = last;">
                {{msg.message}}
                <i class="fa fa-check" style="color: green;" *ngIf="!msg.error"></i>
                <i class="fa fa-times" style="color: red;" *ngIf="msg.error"></i>
                </li>
            </ul>
          </ng-container>
          <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isAPILoading"></i>
          </div>
        </div>
        <div class="modal-footer">

          <button  type="button" class="btn btn-secondary" (click)="onModalClose()">
            Close
          </button>
        </div>
      </div>

    </div>
  </div>
