<div class="tab-bar">
    <div class="d-flex d-flex align-items-center">
      <div class="h6 m-0 p-0">Service Connections
        <ng-container *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('SCM') > -1">
          <button type="button" class="btn btn-sm searchBtn btn-primary" (click)="openCreateEditServiceConnection()"
            placement="bottom" tooltip="Add Service Connection"><em class="fas fa-plus fa-sm"></em></button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="tableFixHead table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Connection Name</th>
          <th scope="col">Connection Type</th>
          <th scope="col">Endpoint</th>
          <th scope="col"*ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('UMM') > -1 && decodedToken.privileges.indexOf('SCM') > -1">Actions</th>
        </tr>
      </thead>
       <tbody >
       <ng-container *ngIf="service_connections.length > 0 && !isGetAPILoading">
          <tr *ngFor="let getConnection of service_connections">
            <td>{{ getConnection.name }}</td>
            <td>{{ getConnection.type }}</td>
            <td class="w-50"> 
              <div [tooltip]="getConnection.endpoint" placement="top">
                {{ getConnection.endpoint | ellipsis:80 }}
                </div> 
              </td>
            <td>
              <span *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('SCM') > -1">
                <a href="javascript:void(0)" (click)="openCreateEditServiceConnection(getConnection)" class="mr-1" placement="bottom"
                  tooltip="Edit">
                  <em class="fa fa-fw fa-edit"></em>
                </a>
                <a href="javascript:void(0)" (click)="openDeleteServiceConnection(getConnection)" class="mr-1" placement="bottom"
                  tooltip="Delete">
                  <em class="fa fa-fw fa-trash"></em>
                </a>
              </span>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isGetAPILoading">
          <tr>
            <td colspan="5"><em class="fa fa-spinner fa-spin fa-fw fa-2x"></em></td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isGetAPILoading && service_connections.length === 0">
          <tr>
            <td colspan="5"> No Users available.</td>
          </tr>
        </ng-container>
  
      </tbody> 
    </table>
  </div>

  <div class="modal right fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="addConnectionObj">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{addConnectionObj.id ? 'Edit': 'Add New'}} Service Connection</h5>
          <button type="button" class="close" [disabled]="isCreateUserAPILoading" (click)="onCloseCreateUserModal()">
            <span aria-hidden="true" tooltip="Close">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addServiceConnectionForm">
            <div class="form-group">
              <label for="service_connection_name" class="col-form-label required">Service Connection Name:</label>
              <input type="text" class="form-control form-control-sm" id="service_connection_name" placeholder="Enter Service Connection Name" formControlName="name" [defaultValue]="addConnectionObj.name"/>
            </div>
            <div class="form-group">
                <label for="connection_type" class="col-form-label required">Service Connection Type:</label>
                <select class="form-control form-control-sm" id="connection_type" placeholder="Select Service Connection Type" (change)="onConnectionTypeChange($event.target.value)" name="connection_type" formControlName="type">
                  <option [value]="null" selected disabled>Select Service Connection Type</option>
                  <option [value]="type" *ngFor="let type of service_connection_type">{{type}}</option>
                </select>
              </div>
              <ng-container *ngIf="connectionType==='Service Bus' || addConnectionObj.type==='Servicebus' && addServiceConnectionForm.get('endpoint') && addServiceConnectionForm.get('connection_string')">
                <div class="form-group">
                    <label for="topic_name" class="col-form-label required">Service Bus Queue / Topic Name:</label>
                    <input type="text" class="form-control form-control-sm" id="topic_name" placeholder="Enter Service Bus Queue / Topic Name" formControlName="endpoint" />
                  </div>
                <div class="form-group">
                    <label for="connection_string" class="col-form-label required">Service Bus Connection String:</label>
                    <input type="text" class="form-control form-control-sm" id="connection_string" placeholder="Enter Service Bus Connection String" formControlName="connection_string" (change)="on_connection_string()" />
                  </div>
              </ng-container>
              <ng-container *ngIf="connectionType==='Microsoft Teams' || addConnectionObj.type==='MicrosoftTeams'">
                <div class="form-group">
                  <label for="microsoftTeam" class="col-form-label required">Microsoft Teams Webhook URL:</label>
                  <input type="text" class="form-control form-control-sm" id="microsoftTeam" placeholder="Enter Microsoft Teams Webhook URL" formControlName="endpoint"/>
                  </div>
                </ng-container>
                
                <ng-container *ngIf="connectionType==='Webhook' || addConnectionObj.type==='Webhook'">
                  <div class="form-group">
                      <label for="Webhook_URL" class="col-form-label required">Webhook URL:</label>
                      <input type="text" class="form-control form-control-sm" id="Webhook_URL" placeholder="Enter Webhook URL" formControlName="endpoint"/>
                    </div>
                  <div class="form-group">
                    <div class="mb-2 ms-1"> Http Header (Optional):
                      <ng-container  *ngIf="decodedToken?.privileges && decodedToken.privileges.indexOf('UMM') > -1">
                        <button type="button" class="btn btn-sm httpHeaderBtn btn-primary" (click)="addHttpHeader()"
                        placement="right" tooltip="Add Http Header"><em class="fas fa-plus fa-sm"></em></button>
                      </ng-container>
                    </div>
                    <ng-container *ngFor="let newKeyValue of webhookKeyValue; let i = index">
                          
                          <div class="row g-3 mb-2 d-flex align-items-center">
                            <div class="col d-block">
                              <input #key="ngModel" validateText type="text" class="form-control form-control-sm" id="key{{i}}" name="key{{i}}"
                              [(ngModel)]="newKeyValue.key"
                               [ngModelOptions]="{standalone: true}"
                               formControleName="key" 
                               [tooltip]="key.errors?.whitespace && key?.touched ? 'Please enter valid key.' : ''" placeholder="Enter Key"
                               [class.is-invalid]="key?.touched && 
                               key?.errors?.whitespace
                                "
                                (focusout)="key.touched && key.errors?.whitespace ? disableKey=true : disableKey=false"
                                 >
                          </div>
                            <div class="col">
                              <input #value="ngModel" validateText type="text" class="form-control form-control-sm" id="value{{i}}" name="value{{i}}"
                              [(ngModel)]="newKeyValue.value" [ngModelOptions]="{standalone: true}" (focusout)="value.touched && value.errors?.whitespace ? disableValue=true : disableValue=false" [class.is-invalid]="value.touched && value.errors?.whitespace " [tooltip]="value.errors?.whitespace && value.touched ? 'Please enter valid Value.' : '' " formControleName="value" placeholder="Enter Value">
                          </div>
                          <div class="col-auto">
                            <a class="btn btn-sm btn-white shadow-sm ms-1 "
                            href="javascript:void(0)" (click)="removeHttpHeader(i)" placement="bottom"
                            tooltip="Remove Key Value"><em class="fa fa-trash fa-sm"></em>
                          </a>
                        </div>
                          </div>
                    </ng-container>
                    </div>
                </ng-container>
          </form>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary add-row" (click)="onCreateServiceConnection()"
            [disabled]="isCreateUserAPILoading || !addServiceConnectionForm?.valid || !connectionType || disableKey || disableValue">
            Save
            <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateUserAPILoading"></em>
          </button>
          <button type="button" class="btn btn-secondary" [disabled]="isCreateUserAPILoading"
            (click)="onCloseCreateUserModal()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteUserModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Service Connection</h5>
          <button type="button" class="close" aria-label="Close" (click)="onCloseModal()"
            [disabled]="isDeleteUserAPILoadig">
            <span aria-hidden="true" tooltip="Close">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove this Service Connection ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deleteServiceConnection()" [disabled]="isDeleteUserAPILoadig">
            Delete</button>
          <button type="button" class="btn btn-secondary" (click)="onCloseModal()" [disabled]="isDeleteUserAPILoadig">
            Cancel
          </button>
          <em class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isDeleteUserAPILoadig"></em>
        </div>
      </div>
    </div>
  </div>