<div class="form-group" id="dd-open">
  <button href="#" *ngIf="showAsset" role="button" class="dropdown-btn" data-toggle="dropdown"
    [ngClass]="{'active' : filterObj?.asset}" placement="bottom" [tooltip]="originalFilterObj?.asset ?
    (originalFilterObj?.asset.display_name ? originalFilterObj?.asset.display_name :
    originalFilterObj?.asset.asset_id) : 'Select Asset'" (click)="onHierarchyDropdownClick()" aria-haspopup="true"
    aria-expanded="false">
    <i class="fas fa-fw fa-filter fa-sm button-divider"></i>
    {{originalFilterObj?.asset ?
    (originalFilterObj?.asset.display_name ? originalFilterObj?.asset.display_name :
    originalFilterObj?.asset.asset_id) : 'Select Asset'}}
  </button>
  <button href="#" *ngIf="!showAsset" role="button" class="dropdown-btn" data-toggle="dropdown"
    [ngClass]="{'active': hierarchyString}" [tooltip]="hierarchyString ? hierarchyString : 'Select Hierarchy'"
    (click)="onHierarchyDropdownClick()" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-fw fa-filter fa-sm button-divider"></i> {{hierarchyString ? displayHierarchyString :
    'Select Hierarchy'}}</button>
  <div class="dropdown-menu dropdown-filter-content" id="liveDataSelectAssret">
    <ng-container *ngFor="
                let level of contextApp?.hierarchy?.levels;
                let index = index
              ">
      <div class="">
        <select *ngIf="index !== 0" name="{{level}}_{{index}}" class="dropdown-form dropdown-open" id="{{ level }}"
          [disabled]="contextApp?.user?.hierarchy[level]" [(ngModel)]="configureHierarchy[index]" name="{{ level }}"
          (change)="onChangeOfHierarchy(index)">
          <option [ngValue]="undefined">
            Select {{ level }}
          </option>
          <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
            {{ tag }}
          </option>
        </select>
        <input type="text" *ngIf="index === 0" name="{{level}}_{{index}}" defaultValue="{{ contextApp.app }}" disabled
          class="dropdown-form dropdown-open" />
      </div>
    </ng-container>
    <ng-select [items]="assets" class="custom dropdown-open" bindLabel="display_name" [clearable]="false"
      [searchable]="true" [closeOnSelect]="true" appendTo="#liveDataSelectAssret" placeholder="Select Asset"
      dropdownPosition="bottom" name="asset-dropdown" [(ngModel)]="filterObj.asset" *ngIf="showAsset">
      <ng-template ng-option-tmp let-asset="item">
        <span [tooltip]="asset.display_name ? asset.display_name: asset.asset_id"> {{asset.display_name ?
          asset.display_name: asset.asset_id}}</span>
      </ng-template>
    </ng-select>
    <div class="form-group" *ngIf="showAsset ||
    (contextApp?.hierarchy?.levels?.length > 1 &&
      contextAppUserHierarchyLength !== contextApp?.hierarchy?.levels?.length)">
      <button type="button" placement="bottom" tooltip="Search" class="btn btn-sm searchBtn btn-primary"
        (click)="onSaveHierachy()">Apply</button>
      <button type="button" placement="bottom" tooltip="Clear" class="btn btn-sm searchBtn btn-white ml-1"
        (click)="onClearHierarchy()">Clear</button>
    </div>
    <!-- <div class="">
      <button class="btn btn-sm searchBtn btn-primary" type="button">Apply</button>
    </div> -->
  </div>
</div>
