<div class="form-group" id="dd-open">
  <button href="#" *ngIf="showAsset" role="button" class="dropdown-btn" data-toggle="dropdown"
    [ngClass]="{'active' : filterObj?.asset}" placement="bottom" [tooltip]="getDropdownName()"
    (click)="onHierarchyDropdownClick()" aria-haspopup="true" aria-expanded="false">
    <span class="fas fa-fw fa-filter fa-sm button-divider"></span>
    {{getDropdownName()}}
  </button>
  <button href="#" *ngIf="!showAsset" role="button" class="dropdown-btn" data-toggle="dropdown"
    [ngClass]="{'active': hierarchyString}" [tooltip]="hierarchyString ? hierarchyString : 'Select Hierarchy'"
    (click)="onHierarchyDropdownClick()" aria-haspopup="true" aria-expanded="false">
    <span class="fas fa-fw fa-filter fa-sm button-divider"></span> {{hierarchyString ?
    displayHierarchyString :
    'Select Hierarchy'}}</button>
  <!-- <div class="dropdown-menu dropdown-filter-content" id="liveDataSelectAsset">
    <ng-container *ngFor="
                let level of contextApp?.hierarchy?.levels;
                let index = index
              ">
      <div class="">
        <select *ngIf="index !== 0" name="{{level}}_{{index}}" class="dropdown-form dropdown-open" id="{{ level }}"
          [disabled]="contextApp?.user?.hierarchy[level]" [(ngModel)]="configureHierarchy[index]" name="{{ level }}"
          (change)="onChangeOfHierarchy(index)">
          <option [ngValue]="undefined">
            Select {{ level }}
          </option>
          <option [ngValue]="tag" *ngFor="let tag of hierarchyArr[index]">
            {{ tag }}
          </option>
        </select>
        <input type="text" *ngIf="index === 0" name="{{level}}_{{index}}" defaultValue="{{ contextApp.app }}" disabled
          class="dropdown-form dropdown-open" />
      </div>
    </ng-container>
    <ng-select [items]="assets" class="custom dropdown-open" bindLabel="display_name" [clearable]="false"
      [searchable]="false" [closeOnSelect]="false" appendTo="#liveDataSelectAsset" placeholder="Select Asset"
      dropdownPosition="bottom" name="asset-dropdown" (change)="onSaveHierachy()" [(ngModel)]="filterObj.asset"
      *ngIf="showAsset">
      <ng-template ng-option-tmp let-asset="item">
        <span [tooltip]="asset.display_name ? asset.display_name: asset.asset_id"> {{asset.display_name ?
          asset.display_name: asset.asset_id}}</span>
      </ng-template>
    </ng-select>
    <div class="form-group w-10" *ngIf="showAsset ||
    (contextApp?.hierarchy?.levels?.length > 1 &&
      contextAppUserHierarchyLength !== contextApp?.hierarchy?.levels?.length)">
      <button type="button" placement="bottom" tooltip="Clear" class="btn btn-sm searchBtn btn-white ml-1"
        (click)="onClearHierarchy()">Clear</button>
    </div>
  </div> -->

  <div class="dropdown-menu dropdown-filter-content" id="liveDataSelectAsset" style="width:200px">
    <ng-container *ngFor="
                let level of contextApp?.hierarchy?.levels;
                let index = index
              ">
      <div class="">
        <select *ngIf="index !== 0" name="{{level}}_{{index}}" class="dropdown-form dropdown-open" id="{{ level }}"
          [disabled]="contextApp?.user?.hierarchy[level]" [(ngModel)]="configureHierarchy[index]" name="{{ level }}"
          (change)="onChangeOfNewHierarchy(index)">
          <option [ngValue]="undefined">
            Select {{ level }}
          </option>
          <option [ngValue]="tag.key" *ngFor="let tag of hierarchyNewArr[index]">
            {{ tag.name }}
          </option>
        </select>
        <input type="text" *ngIf="index === 0" name="{{level}}_{{index}}" defaultValue="{{ contextApp.app }}" disabled
          class="dropdown-form dropdown-open" />
      </div>
    </ng-container>
    <ng-select *ngIf="type !='logicalView' && showAsset" [items]="assets" class="custom dropdown-open"
      bindLabel="display_name" [clearable]="false" [searchable]="true" [closeOnSelect]="true"
      appendTo="#liveDataSelectAsset" placeholder="Select Asset" dropdownPosition="bottom" name="asset-dropdown"
      (change)="onSaveHierachy()" [(ngModel)]="filterObj.asset">
      <ng-template ng-option-tmp let-asset="item">
        <span [tooltip]="asset.display_name ? asset.display_name: asset.asset_id"> {{asset.display_name ?
          asset.display_name: asset.asset_id}}</span>
      </ng-template>
    </ng-select>
    <ng-select *ngIf="type == 'logicalView' && showAsset" [items]="logicalView" class="custom dropdown-open"
      bindLabel="name" [clearable]="false" [searchable]="false" [closeOnSelect]="false" appendTo="#liveDataSelectAsset"
      placeholder="Select Logical Asset" dropdownPosition="bottom" name="asset-dropdown" (change)="onSaveHierachy()"
      [(ngModel)]="logicalAsset">
      <ng-template ng-option-tmp let-asset="item">
        <span [tooltip]="asset.name"> {{asset.name}}</span>
      </ng-template>
    </ng-select>
    <ng-select *ngIf="type !='logicalView' && showAsset && showSlave" [items]="slavesForSelectedAsset"
      class="custom dropdown-open" bindLabel="slave_name" [clearable]="false" [searchable]="true" [closeOnSelect]="true"
      placeholder="Select Slave" dropdownPosition="bottom" name="slave-dropdown" (change)="onSaveHierachy()"
      [(ngModel)]="filterObj.slave">
      <ng-template ng-option-tmp let-slave="item">
        <span [tooltip]="slave.slave_name ? slave.slave_name: slave.slave_id"> {{slave.slave_name ?
          slave.slave_name: slave.asset_id}}</span>
      </ng-template>
    </ng-select>
    <div class="form-group w-10" *ngIf="showAsset ||
    (contextApp?.hierarchy?.levels?.length > 1 &&
      contextAppUserHierarchyLength !== contextApp?.hierarchy?.levels?.length)">
      <button type="button" placement="bottom" tooltip="Clear" class="btn btn-sm searchBtn btn-white ml-1"
        (click)="onClearHierarchy()">Clear</button>
    </div>
  </div>
</div>