<div class="row">
<div class="col-xl-12 col-md-12 mb-12" >
    <form>
      <div class="form-group form-inline my-1">
        <input type="number" min="1" class="form-control form-control-sm mx-1 my-1 record-input" id="inputEmail4" placeholder="No of Records"
        [(ngModel)]="filterObj.count" name="count">
        <input type="text" class="form-control form-control-sm mx-1 my-1" id="inputEmail4" placeholder="MessageId"
        [(ngModel)]="filterObj.message_id" name="message_id">
        <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
        placeholder="Date Options" [(ngModel)]="filterObj.dateOption" name="dateOptions" (change)="onDateOptionChange()">
          <option [ngValue]="undefined">Date Options</option>
          <option [ngValue]="'5 mins'">Last 5 minutes</option>
          <option [ngValue]="'30 mins'">Last 30 minutes</option>
          <option [ngValue]="'1 hour'">Last 1 hour</option>
          <option [ngValue]="'24 hour'">Last 24 hours</option>
          <option [ngValue]="'custom'">Custom</option>
        </select>
        <ng-container *ngIf="filterObj?.dateOption === 'custom'">
          <mat-date-range-picker   #picker></mat-date-range-picker>
          <mat-date-range-input [rangePicker]="picker" class="form-control form-control-sm mx-1 my-1 col-md-2">
            <input matStartDate [(ngModel)]="filterObj.from_date" name="from_date">
            <input matEndDate [(ngModel)]="filterObj.to_date" name="to_date">
          </mat-date-range-input>

        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
      </ng-container>
        <button type="button" class="btn btn-warning btn-sm mx-1 my-1" title="Search" (click)="search()" ><i class="fas fa-search fa-sm"></i></button>
        <button type="button" class="btn btn-light btn-sm mx-1 my-1" title="Clear" (click)="clear()"><i class="fas fa-trash  fa-sm"></i></button>
      </div>
     </form>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <hr class="solid">
  </div>
</div>
