<div class="tab-bar">
  <div class="">

    <form class="form-inline">
      <div class="form-group">
        <ng-select [items]="layoutJson" class="custom-dropdown w-12 active sm" bindLabel="title" (onDeSelectAll)="onDeSelectAll($event)"
        [searchable]="true" placeholder="Select Widgets" [multiple]="true"
        [closeOnSelect]="false"
        dropdownPosition="bottom" name="widget-dropdown" [(ngModel)]="selectedWidgets">
        <ng-template ng-option-tmp let-item="item">
          <span [tooltip]="item.title">{{item.title}}</span>
        </ng-template>
        <ng-template ng-multi-label-tmp let-items="items">
        {{items.length}} widgets selected
        </ng-template>
        <ng-template ng-header-tmp>
          <ul style="list-style-type:none;line-height: 1.5rem;" class="m-0 p-0">
            <li *ngIf="selectedWidgets.length !== layoutJson.length"> <a  href="javascript:void(0)" (click)="selectedWidgets = layoutJson">Select All</a></li>
            <li *ngIf="selectedWidgets.length === layoutJson.length"> <a  href="javascript:void(0)" (click)="selectedWidgets = []">Deselect All</a></li>
          </ul>
        </ng-template>
      </ng-select>
      </div>
      <div class="form-group left-inner-addon" >
        <i class="fa fa-calendar active"></i>
        <input type="text"  class="form-control form-control-sm active date-range-picker" daterangepicker name="daterangeInput"
         [options]="options" (selected)="selectedDate($event, daterange)" autocomplete="off"  [(ngModel)]="selectedDateRange"
         [tooltip]="selectedDateRange" placement="bottom"/>
      </div>
      <div class="form-group">
        <input type="checkbox" id="checkbox" min="1" name="checkbox" class="big-checkbox"
        [(ngModel)]="historyFilter.isTypeEditable" (change)="historyFilter.aggregation_format = 'AVG'; historyFilter.aggregation_minutes = 1;
        historyFilter.sampling_format = 'minute'; historyFilter.sampling_time = 1;"
        >
      </div>
      <div class="form-group">
        <fieldset [disabled]="!historyFilter.isTypeEditable">
          <ui-switch  [disabled]="!historyFilter.isTypeEditable"
          defaultBgColor="#1a5a9e" checkedTextColor="white" uncheckedTextColor="white"
          checkedLabel="Sampling" (valueChange)="historyFilter.aggregation_format = 'AVG'; historyFilter.aggregation_minutes = 1;
          historyFilter.sampling_format = 'minute'; historyFilter.sampling_time = 1;
          " uncheckedLabel="Aggregation" [(ngModel)]="historyFilter.type" name="tpye"></ui-switch>
        </fieldset>
      </div>
      <div class="form-group input-group" *ngIf="historyFilter.type">

        <input class="form-control form-control-sm bg-light" type="number" id="minutes" min="1"
        name="minutes" [(ngModel)]="historyFilter.sampling_time" placeholder="Sampling" disabled
        placement="bottom" tooltip="By default this is 1 minute. Right now this field is disabled. Dynamic selection of sampling frequency is under development." style="width: 3em;" >
        <div class="input-group-append"><span class="input-group-text bg-light">mins</span></div>
      </div>
        <div class="form-group input-group" *ngIf="!historyFilter.type">
          <fieldset [disabled]="!historyFilter.isTypeEditable"></fieldset>
          <input class="form-control form-control-sm bg-light" type="number" id="aggr_mins" min="1"
          name="aggr_mins" [(ngModel)]="historyFilter.aggregation_minutes" placeholder="Sampling"
          (change)="onNumberChange($event, 'aggregation')" [disabled]="!historyFilter.isTypeEditable"
           style="width: 4em;" >
          <div class="input-group-append"><span class="input-group-text bg-light">mins</span></div>
        </div>
        <div class="form-group " *ngIf="!historyFilter.type">
          <fieldset [disabled]="!historyFilter.isTypeEditable">
        <select class="form-control form-control-sm" id="aggregationFormat" [(ngModel)]="historyFilter.aggregation_format"
        name="aggregationFormat" style="width: 11rem!important;">
        <option [ngValue]="undefined">Aggregartion Format</option>
        <option [ngValue]="'AVG'">Average</option>
        <option [ngValue]="'SUM'">Sum</option>
        <option [ngValue]="'MIN'">Min</option>
        <option [ngValue]="'MAX'">Max</option>
        <option [ngValue]="'COUNT'">Count</option>
        </select>
        </fieldset>
      </div>

        <div class="form-group">
        <button
        type="button"
        class="btn btn-sm searchBtn btn-primary"
        placement="bottom" tooltip="Search"
        (click)="renderLayout()"
      >
        <i class="fa fa-search fa-sm"></i>
      </button>
      </div>
      <div class="form-group">
      <button
        type="button"
        class="btn btn-sm searchBtn btn-white"
        placement="bottom" tooltip="Clear"
        (click)="clear()"
      >
      <img class="filter-clear-icon" src="./assets/img/filter.svg">
      </button>
      </div>
    </form>
    </div>
    </div>
    <div class="row col-xl-12 col-lg-12 m-2"  *ngIf="historyData.length > 0 && isFilterSelected && !isHistoryAPILoading">

      <div class="form-group col-md-2 pl-3 mb-0" *ngFor="let prop of propList">
        <input type="checkbox" class="form-check-input" id="{{prop}}" name="{{prop}}"
          (change)="toggleProperty(prop)" [checked]="selectedPropertyForChart.indexOf(prop) !== -1">
        <label class="form-check-label text-elipsis" for="{{prop}}"
        placement="bottom" [tooltip]="getPropertyName(prop)">{{getPropertyName(prop)}}</label>
      </div>
    </div>
    <div class="table-responsive">
      <div class="tableFixHead history-table-fix-head" id="mainChartDiv">
        <p class="m-3"
       *ngIf="
        historyData.length === 0 && isFilterSelected && !isHistoryAPILoading
      "
    >
      No data found for {{this.dateRange}}. <span *ngIf="this.dateRange !== 'this selected range'; else differentMsg"><p class="pt-2">You can choose large time window.</p></span><ng-template #differentMsg><p class="pt-2">You can choose different time window.</p></ng-template>
    </p>
    <p class="m-3" *ngIf="!isFilterSelected && !isHistoryAPILoading">
      Please select widget to load the data.
    </p>
    <p class="m-3" *ngIf="layoutJson.length == 0 && !isHistoryAPILoading">
      No Historical Widgets found
    </p>
    <p class="m-3" *ngIf="isHistoryAPILoading">
      {{loadingMessage}}
      <i
      class="fa fa-spinner fa-spin fa-fw fa-2x"
    ></i>
    </p>


    <div id="widgetContainer" class="showLayout p-3"></div>
        </div>
        </div>

