/* You can add global styles to this file, and also import other style files */
/*
thead {
  background-color: #8f8f8f!important;
  color: white!important;
} */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.blue-font {
  color: #4e73df;
  text-decoration: none;
  background-color: transparent
}


