/* You can add global styles to this file, and also import other style files */
/*
thead {
  background-color: #8f8f8f!important;
  color: white!important;
} */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.required:after {
  content: " *";
  color: red;
}

.watch-eye i {
  color: #999;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

select.form-control {
  width: 9rem !important;
}

.li.nav-item.active {
  text-decoration: underline;
  color: blue;
}
.blue-font {
  color: #4e73df;
  text-decoration: none;
  background-color: transparent;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.65;
}

table {
  width: 100%;
}

.table-device {
  max-height: 60vh;
}
.datepicker-calendar {
  margin-left: -1.6rem;
  z-index: 999;
}

.scroll-container {
  max-height: 70vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.mat-header-cell {
  color: #fff !important;
  padding-left: 20px;
  border-right: 1px solid #fff;
  font-size: 16px;
}

.mat-row {
  border-bottom: 0px;
}

.mat-cell {
  border: 1px solid #e3e6f0;
  padding-left: 20px;
  color: #858796 !important;
}

input:invalid {
  border: 1px solid red;
}

.compose-c2d-button-line {
  max-width: 2%;
  flex: 0 0 8.33333%;
}

/* multi select css */

.custom-class-example {
  width: 11% !important;
}

.c-btn {
  display: inline-block;
  border-width: 1px;
  line-height: 1.25;
  border-radius: 3px;
  font-size: 0.85rem;
  padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  height: calc(1.5em + 0.5rem + 2px) !important;
  min-height: calc(1.5em + 0.5rem + 2px) !important;
  color: #858796 !important;
  padding: 14px !important;
  color: #858796;
}



.c-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10px;
  width: 7rem;
  color: #858796 !important;
}

.c-remove svg {
  fill: #858796 !important;
}

.c-remove {
  right: auto !important;
}

.clear-all {
  right: 1.9rem !important;
}

.selected-list .c-angle-down,
.selected-list .c-angle-up {
  top: 42% !important;
}
.selected-list .c-list .c-token {
  background: transparent;
  padding: 0 !important;
  margin-right: 20px!important;
}

.cuppa-dropdown {
  /* width: 20.5rem!important; */
  font: 400 13.3333px Arial;
  color: #6e707e;
}

.lazyContainer {
  max-height: 100px;
}
/* .dropdown-list {
  min-width: 100% !important;
  width: 150% !important;
}

.modal-select.cuppa-dropdown.dropdown-list {
  min-width: 100% !important;
  width: 100% !important;
} */

.accordion-toggle[aria-expanded="true"]:before {
  content: "\f139";
  font: normal normal bold 14px/1 FontAwesome;
}

.accordion-toggle[aria-expanded="false"]:before {
  content: "\f13a";
  font: normal normal bold 14px/1 FontAwesome;
}

.card.customClass .card-header {
  padding: 0.25rem 1rem 0.25rem;
  font-size: 1rem;
  font-weight: 700;
}

.overlay {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 180px;
  opacity: 0.7;
}

.form-control {
  line-height: 1.2;
}

.date-range-picket-width {
  width: 22rem!important;
}


.bg-dateRow {
  background-color: #F8F9Fc;
}

.bg-dateRow input
{
  border: 0;
  border-bottom: 1px solid #ccc;
  outline: 0;
  background-color: transparent;
}
.bg-dateRow select {
  background-color: transparent!important;
  background: url('./assets/img/arrow-down.png') no-repeat right #ddd;
  background-position: 98%;
  padding: 2px 20px 2px 8px;
  padding-right: 20px;
  background-size: 14px;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-border-radius: 4px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

select#dateoptions {
  width: 10rem!important;
}

.filter-clear-icon {
  width: 1rem;
}


/* .owl-dt-timer-box {
  flex-direction: row;
}

.owl-dt-timer-box:nth-of-type(2) {
  flex-direction: row;
  padding-left: 1.7rem;
}

.owl-dt-timer-divider {
  margin-left: 2.25rem;
}

.owl-dt-control-button-content {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
*/
 .owl-dt-timer {
  height: 5.25rem!important;
  padding: 0!important;
}

.owl-dt-timer-content .owl-dt-timer-input {
  font-size: 0.9rem;
}

.owl-dt-calendar {
  height: 16rem!important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell {
  padding-top: 0!important;
  padding-bottom: 0!important;
  height: 32px!important;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  padding-bottom: 0!important;
}

.owl-dt-timer-box {
  height: 90%;
}



.big-checkbox {width: 23px; height: 25px;}

.switch.switch-medium {
  outline:  none;
}
.w-10 {
  width:  10rem!important;
}

.selected-list .c-btn {
  outline: none!important;
}

.live-widget-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field-icon {
  float: right;
  margin-top: -2.1rem;
  position: relative;
  z-index: 2;
  margin-right: 0.7rem;
}


.datepicker-calendar-modal {
  float: right;
  margin-top: -2.1rem;
  position: relative;
  z-index: 2;
  margin-right: 0.7rem;
}
.cdk-overlay-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 9999999 !important;
}
 /* // table header sticky */
.table-wrapper{
  overflow-y: auto;
  max-height: calc(100vh - 18rem)
}

.table-wrapper th{
    position: sticky;
    top: 0;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th{
    background: #858796;
    color: #fff;
}
