<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-3">
  <h1 class="h3 mb-0 text-gray-800">Access Control</h1>
</div> -->
<div class="topnavbar bg-white py-2">
  <div class="row">

    <ul class="nav pull-left col-md-7">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openAddWidgetModal()" [class.disabled]="deviceType.freezed">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary" >Add Configuration Widget</span></a>
      </li>
    </ul>
    <div class="pull-right mt-2"  *ngIf="deviceType.freezed">
      <h6>This model is freezed.</h6>
    </div>
    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
</div>

<div class="con-pad">
  <div *ngIf="isGetControlWidgetAPILoading">
    <i class="fa fa-spinner fa-spin fa-fw fa-2x" ></i>
  </div>
  <accordion [closeOthers]="'true'" *ngIf="controlWidgets.length > 0 && !isGetControlWidgetAPILoading"  class="mb-2">
    <accordion-group heading="" *ngFor="let widget of controlWidgets" [panelClass]="'customClass'" >
      <ng-container  accordion-heading>
        <button class="btn" type="button">
          {{widget.name}}
        </button>
        <a class="float-right pull-right mt-1" href="javascript:void(0)" [class.disabled]="deviceType.freezed" (click)="openConfirmModal(widget)"><i class="fa fa-close"></i></a>
      </ng-container>
      <h6 *ngIf="widget?.metadata?.communication_technique">This configuration widget will process through {{widget?.metadata?.communication_technique}}.</h6>
      <div class="row">

      <div class="col-5">
        <div class="card shadow h-100">
          <div class="card-body">

            <div class="form-check" *ngFor="let prop of widget.properties;let i = index;">
              <input class="form-check-input" type="checkbox" value="{{i}}" id="prop{{i}}" disabled checked>
              <label class="form-check-label" for="prop{{i}}">
                {{prop.name}}
              </label>
            </div>

          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="card shadow">
          <div class="card-body">
            <textarea
            class="form-control"
            id="message"
            rows="5"
          name="message"
            [defaultValue]="widget.json | json" disabled
          ></textarea>

          </div>
        </div>
      </div>
    </div>
    </accordion-group>
  </accordion>
  <div *ngIf="controlWidgets.length === 0 && !isGetControlWidgetAPILoading">
    No configuration widgets are added.
  </div>

</div>


<div class="modal right fade" id="createWidgetModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create New Configuration Widget</h5>
      <button type="button" class="close"   aria-label="Close" (click)="closeCreateWidgetModal()"  [disabled]="isCreateWidgetAPILoading">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="viewType === 'add'">
      <form *ngIf="viewType === 'add'">
        <div class="form-group">
          <label for="message-text" class="col-form-label required">Configuration Widget Name:</label>
          <input type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="controlWidget.name">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Description:</label>
          <input type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="controlWidget.metadata.description">
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label">Cloud to Device Communication technique:</label>
          <select class="custom-select" id="template" name="model_type" [(ngModel)]="controlWidget.metadata.communication_technique"
          (change)="controlWidget.properties = []">
            <option [ngValue]="undefined" >Select Communication Technique</option>
            <option [ngValue]="'C2D Message'" >C2D Message</option>
            <option [ngValue]="'Direct Method'" >Direct Method</option>
            <option [ngValue]="'Twin Change'" >Twin Change</option>
            </select>
        </div>

        <div class="form-group">
          <label for="message-text" class="col-form-label required">Configurations following properties:</label>
          <!-- <ng-container *ngIf="properties?.writable_properties.length > 0">
            <div class="form-check" *ngFor="let prop of properties?.writable_properties;let i = index;">
              <input class="form-check-input" type="checkbox" value="{{i}}" id="prop{{i}}" (change)="onPropertyChecked($event)">
              <label class="form-check-label" for="prop{{i}}">
                {{prop.name}}
              </label>
            </div>
          </ng-container>
          <ng-container  *ngIf="properties?.writable_properties.length === 0">
            <div> No properties added.</div>
          </ng-container> -->
          <angular2-multiselect [data]="(controlWidget?.metadata?.communication_technique === 'Direct Method' ? deviceMethods : properties?.writable_properties)" id="y1AxisProperty"
          [(ngModel)]="controlWidget.properties" (onDeSelect)="onPropertyChecked($event)"
          (onSelectAll)="selectAllProps($event)" (onDeSelectAll)="deselectAllProps($event)"
          (onSelect)="onPropertyChecked($event)" name="property" [settings]="{
              text: 'Select' + (controlWidget?.metadata?.communication_technique === 'Direct Method' ? ' Direct Method' : ' Property'),
              classes: 'col-lg-2 col-xl-2 p-0 ml-2 w-100 modal-select',
              enableSearchFilter: true,
              badgeShowLimit: 2,
              maxHeight: 200,
              labelKey: 'name',
              primaryKey: 'name'
            }">
          </angular2-multiselect>
        </div>
        <div class="form-group mr-3">
          <label for="message-text" class="col-form-label">JSON Format:</label>
          <!-- <textarea
            class="form-control"
            id="message"
            rows="10"
            placeholder="Please type your JSON here.."
            name="message"
            [defaultValue]="controlWidget.json | json" disabled
          ></textarea> -->
          <json-editor [options]="editorOptions" name="json"  [data]="controlWidget.json">
          </json-editor>
          <!-- <json-editor [options]="editorOptions" name="json" [data]="controlWidget.json">
          </json-editor> -->
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary add-row" [disabled]="isCreateWidgetAPILoading" (click)="createControlWidget()">Save</button>
      <button type="button" class="btn btn-secondary"  [disabled]="isCreateWidgetAPILoading" (click)="closeCreateWidgetModal()" >
        Cancel
      </button>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateWidgetAPILoading"></i>
    </div>
  </div>
  </div>
</div>

<div class="modal fade" id="confirmMessageModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Widget</h5>
        <button type="button" class="close"  aria-label="Close" (click)="onCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this configuration widget?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteControlWidget()">
          Ok</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseModal()">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
