
<div class="mt-1">
  <div class="card">
    <div class="card-header py-3">
      <h6 class="col-md-9 m-0 font-weight-bold live-widget-title">
        {{chartConfig.widgetTitle}}
      </h6>
      <a *ngIf="!device" class="float-right pull-right col-md-1 mt-n4" href="javascript:void(0)" (click)="openConfirmRemoveWidgetModal()"
      title="Remove Widget"><i class="fa fa-close"></i></a>
    </div>
    <div class="card-body1" style="height: 12rem;">
      <div class="row text-center " *ngIf="telemetryObj">
        <div id="{{ chartConfig.chartId }}" [ngStyle]="{'width': '95%', 'height': '11.5rem'}"></div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="confirmRemoveWidgetModal{{chartConfig.chartId}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
    <div class="modal-dialog" role="document">
      <app-confirm-modal *ngIf="modalConfig" [bodyMessage]="bodyMessage"
      [headerMessage]="headerMessage"
      (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-confirm-modal>
    </div>
  </div>
