<!-- <div class="tab-bar">
  <div class="">
    <app-filter [filterObj]="heartBeatFilter" [componentState]="componentState" (filterSearch)="searchHeartBeat($event)"></app-filter>
</div>
</div> -->

<div class="table-responsive">
  <div class="tableFixHead" >
    <app-table [tableData]="heartbeats" [tableConfig]="heartbeatTableConfig" [isTableFilterSelected]="isFilterSelected"
    [isTableDataLoading]="isHeartbeatLoading"  (viewMessageEvent)="openHeratbeatMessageModal($event)"></app-table>
  </div>
</div>

<div class="modal right fade" id="heartbeatMessageModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedHeartbeat?.message" [headerMessage]="'Heartbeat Message'"
    (modalEvents)="onModalEvents($event)" [modalConfig]="modalConfig"></app-message-modal>
  </div>
</div>
