<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="properties['cloud_derived_properties']" [tableConfig]="propertyTableConfig"
      [isTableFilterSelected]="true" [isTableDataLoading]="isPropertiesLoading"
      (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>



<div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedProperty">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View JSON Model</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal('PropJSONModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>JSON Model: </label>
        <pre class="text-sm" [innerHTML]="selectedProperty.json_model | json"></pre>
        <pre class="text-sm"
          [innerHTML]="selectedProperty.metadata ? (selectedProperty.metadata | json) : ({} | json)"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseModal('PropJSONModal')">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
