<div class="table-responsive">
  <div class="tableFixHead">
    <app-common-table [tableData]="properties['cloud_derived_properties']" [tableConfig]="propertyTableConfig"
      [isTableFilterSelected]="true" [isTableDataLoading]="isPropertiesLoading"
      (viewMessageEvent)="onTableFunctionCall($event)"></app-common-table>
  </div>
</div>


<div class="modal right fade" id="PropJSONModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <app-message-modal *ngIf="modalConfig" [bodyMessage]="selectedProperty" [headerMessage]="'View JSON Model'"
      (modalEvents)="onJSONModalEvents($event)" [modalConfig]="modalConfig">
    </app-message-modal>
  </div>
</div>
