<div class="topnavbar bg-white py-2">
  <div class="row">

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openAddAlertConditionModal()">
          <i class="fa fa-fw fa-plus"></i>
          <span class="text-secondary">Add Alert Condition
          </span></a>
      </li>
    </ul>
    <!-- Divider
      <hr class="sidebar-divider d-none d-md-block mt-n1">-->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
</div>

<div class="con-pad">
  <div class="table-responsive">
    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr class="bg-secondary text-white">
          <th></th>
          <th>Alert Code</th>
          <th>Alert Message</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!isAlertConditionsLoading && alertConditions.length > 0">
          <ng-container  *ngFor="let alert of alertConditions; let i = index">
            <tr >
              <td>
                <a href="javascript:void(0)" (click)="onToggleRows(i)">
                <i [ngClass]="toggleRows[i] ? 'fa fa-angle-down' : 'fa fa-angle-up'"></i>
                </a>
              </td>
              <td><i title="{{alert.severity}}"  [style.color]="
                (alert?.severity?.toLowerCase() === 'critical' ? '#cc0000' :
                (alert?.severity?.toLowerCase() === 'error' ? '#fb5515' :
                (alert?.severity?.toLowerCase() === 'warning' ? '#f6c23e' :
                (alert?.severity?.toLowerCase() === 'informational' ? '#229954' : ''))
                )
                )" class="fa fa-exclamation-triangle"></i>
                {{alert.code}}</td>
              <td>{{alert.message}}</td>
              <td>
                <a href="javascript:void(0)" class="mr-2" title="Visualization" (click)="onClickOfViewActionIcon('Visualization', i)">
                  <img class="img-icon" src="../../../../assets/img/visualization.png">
                </a>
                <a href="javascript:void(0)" title="Recommendations" (click)="onClickOfViewActionIcon('Recommendations', i)">
                  <img class="img-icon" src="../../../../assets/img/recommendation.png">
                </a>
              </td>
              <td>
                <!-- <a href="javascript:void(0)" class="mr-1">
                  <i class="fa fa-fw fa-eye"></i>
                </a> -->
                <a href="javascript:void(0)" (click)="openConfirmModal('confirmMessageModal', alert)"
                title="Delete Alert Condition">
                  <i class="fa fa-fw fa-trash"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="toggleRows[i]">
              <td colspan="5" *ngIf="viewType === 'Visualization'">
                <div class="row col-12">
                  <h6 *ngIf="alertObj?.visualization_widgets?.length === 0"> No Visualization widgets defined yet.</h6>
                  <h6 *ngIf="alertObj?.visualization_widgets?.length > 0"> Following widgets have been defined so far. You can define more.</h6>
                  <div class="">
                    <!-- <button type="button" class="btn btn-warning btn-sm mx-1 mt-n2" [disabled]="isCreateAlertConditionLoading"
                    title="Add" (click)="addVisualizationWidget()" ><i class="fa fa-plus fa-sm"></i></button> -->
                    <!-- <button type="button" class="btn btn-danger btn-sm mx-1 mt-n2"
                    [disabled]="alertObj?.visualization_widgets?.length === 0 || isCreateAlertConditionLoading" title="Edit"
                    (click)="editWidgets()"><i class="fa fa-pencil-square-o fa-sm"></i></button> -->
                    <button type="button" class="btn btn-success btn-sm mx-1 mt-n2" [disabled]="alertObj?.visualization_widgets?.length === 0 || isCreateAlertConditionLoading"
                    title="Save" (click)="onUpdateAlertConditions()" ><i class="fa fa-save fa-sm"></i></button>
                    <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAlertConditionLoading"></i>
                  </div>
                </div>
                <div class="col-12 mt-2">
                  <div class="form-group row" >
                    <ng-container>
                    <div class="row">
                      <select class="form-control form-control-sm mx-2" id="template" name="model_type"
                      [(ngModel)]="widgetName"
                      >
                        <option [ngValue]="undefined">Select Widgets</option>
                        <ng-container *ngFor="let widget of widgets">
                          <option [ngValue]="widget.title">
                          {{widget.title}}</option>
                        </ng-container>
                      </select>
                      <!-- <a href="javascript:void(0)" class="mx-1" (click)="addVisualizationWidget()">
                        <i class="fa fa-plus fa-sm"></i> </a> -->
                        <button type="button" class="btn btn-warning btn-sm mx-2" title="Add" (click)="addVisualizationWidget()" >
                          <i class="fa fa-plus fa-sm"></i></button>
                    </div>

                  </ng-container>
                  </div>
                </div>
                <div class="col-12 mt-2" *ngIf="alertObj?.visualization_widgets?.length > 0">
                  <div class="tagsinput" style="width: auto; height: auto;min-height: auto;">
                    <ng-container *ngFor="let item of alertObj.visualization_widgets; let index = index">
                      <span class="tag" >
                        <span class="tag-text">{{item}}</span>
                        <button class="tag-remove" (click)="removeVisualizationWidget(index)"></button>
                      </span>
                    </ng-container>
                  </div>
                </div>

              </td>
              <td colspan="5" *ngIf="viewType === 'Recommendations'">

                <div class="row col-12">Following recommendations have been pre-configured. You can configure more.

                  <button type="button" class="btn btn-success btn-sm mx-1 mt-n2"
                  title="Save" (click)="onUpdateAlertConditions()" ><i class="fa fa-save fa-sm"></i></button></div>
                <div class="row col-12 text-primary my-2">
                  <span >Debugging Steps: </span>
                  <!-- <a  class=" mx-1" href="javascript:void(0)"
                  title="Add" (click)="addRecommendationStep()" ><i class="fa fa-plus fa-sm"></i></a> -->
                   <!-- <button type="button" class="btn btn-danger btn-sm mx-1 mt-n2"
                   title="Edit" (click)="editSteps()"><i class="fa fa-edit fa-sm"></i></button> -->
                 <div class="row col-12 mt-2">
                  <table id="mytable" width="100%" class="table-borderless col-12">
                    <tbody>
                      <ng-container  >
                      <tr *ngFor="let step of alertObj.recommendations; let i = index;" class="bg-white">

                      <ng-container >
                        <td style="width: 15%;">Step - {{i + 1}}</td>
                        <td style="width: 30%;">{{step.description}}</td>
                        <td style="width: 30%;">{{step.activity}} Activity</td>

                        <td style="width: 10%;">
                            <a href="javascript:void(0)" class="ml-2" (click)="removeRecommendationStep(i)" title="Remove">
                              <i class="fa fa-trash fa-sm"></i> </a>
                        </td>
                      </ng-container>
                      </tr>
                      <tr *ngIf="recommendationObj" class="bg-white">
                        <ng-container >
                          <td style="width: 15%;">
                            Step - {{alertObj.recommendations.length + 1}}
                          </td>
                          <td style="width: 30%;">
                            <input type="text"  id="description" name="description" size="20" class="mx-1 form-control form-control-sm"
                            [(ngModel)]="recommendationObj.description">
                          </td>
                          <td style="width: 30%;">
                            <select class="form-control form-control-sm" id="template" name="model_type" [(ngModel)]="recommendationObj.activity">
                              <option [ngValue]="undefined">Select Activity</option>
                              <option [ngValue]="'Auto'">Auto Activity</option>
                              <option [ngValue]="'Manual'">Manual Activity</option>
                            </select></td>
                          <!-- <td style="width: 30%;" >
                            <select *ngIf="recommendationObj.activity === 'Auto'" class="form-control form-control-sm" id="template" name="model_type" [(ngModel)]="recommendationObj.command">
                              <option [ngValue]="undefined">Select Command</option>
                              <ng-container *ngFor="let method of deviceMethods">
                                <option [ngValue]="method.name">
                                {{method.name}}</option>
                              </ng-container>
                            </select>
                            </td> -->
                            <td>
                              <a href="javascript:void(0)" class="ml-2" (click)="addRecommendationStep()" title="Add">
                                <i class="fa fa-plus fa-sm"></i> </a>
                              <!-- <button type="button" class="btn btn-warning btn-sm mx-2" title="Add" (click)="addRecommendationStep()" >
                                <i class="fa fa-plus fa-sm"></i></button> -->
                            </td>

                          </ng-container>
                      </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <div class="row col-12">
                  <div class="col-lg-12">
                    <hr class="solid">
                  </div>
                </div>
                <div class="row col-12 text-primary">
                  <span>Email / Whatsapp Attachments:
                    </span>
                  <!-- <button type="button" class="btn btn-warning btn-sm mx-1 mt-n2"
                   title="Add" (click)="addReferenceDocument()"><i class="fa fa-plus fa-sm"></i></button>
                   <button type="button" class="btn btn-danger btn-sm mx-1 mt-n2"
                   title="Edit" (click)="editReferenceDocuments()"><i class="fa fa-edit fa-sm"></i></button> -->
                </div>

                <div class="col-12 mt-2">
                  <div class="form-group row" >
                    <ng-container>
                    <div class="row" >
                      <select class="form-control form-control-sm mx-2" id="template" name="model_type" [(ngModel)]="docName"
                      >
                        <option [ngValue]="undefined">Select Document</option>
                        <ng-container *ngFor="let document of documents">
                          <option [ngValue]="document.name">
                          {{document.name}}</option>
                        </ng-container>
                      </select>
                      <!-- <a href="javascript:void(0)" class="mx-1" (click)="addReferenceDocument()">
                        <i class="fa fa-plus fa-sm"></i> </a> -->
                        <button type="button" class="btn btn-warning btn-sm mx-1" title="Add" (click)="addReferenceDocument()" >
                          <i class="fa fa-plus fa-sm"></i></button>
                    </div>

                  </ng-container>
                  </div>
                </div>
                <!-- <h6 class="mt-1" *ngIf="alertObj?.reference_documents?.length === 0"> No Attachments added yet.</h6> -->

                <div class="tagsinput" style="width: auto; height: auto;min-height: auto;" *ngIf="alertObj?.reference_documents?.length > 0">
                  <ng-container *ngFor="let item of alertObj.reference_documents; let index = index">
                    <span class="tag" >
                      <span class="tag-text">{{item}}</span>
                      <button class="tag-remove" (click)="removeDocument(index)"></button>
                    </span>
                  </ng-container>
                </div>
                </div>
              </td>
            </tr>
         </ng-container>
        </ng-container>
        <ng-container *ngIf="isAlertConditionsLoading">
          <tr>
            <td colspan="5"><i class="fa fa-spinner fa-spin fa-fw fa-2x"></i></td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isAlertConditionsLoading && alertConditions.length === 0">
          <tr>
            <td colspan="5"> No Alert Conditions added.</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="modal right fade" id="addAlertConditionModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="alertObj">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add Alert Condition
        </h5>
      <button type="button" class="close" [disabled]="isCreateAlertConditionLoading" (click)="onCloseAlertConditionModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">Alert Message:</label>
          <input type="text" class="form-control" id="message" name="message" [(ngModel)]="alertObj.message"
        placeholder="Enter Alert Message">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label required">Alert Code:</label>
          <input type="text" class="form-control" id="code" name="code" [(ngModel)]="alertObj.code"
        placeholder="Enter Alert Code">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label required">Severity:</label>
          <select class="custom-select" id="template" name="model_type" [(ngModel)]="alertObj.severity">
            <option [ngValue]="undefined" >Select Severity</option>
            <option [ngValue]="'critical'" >Critical</option>
            <option [ngValue]="'error'" >Error</option>
            <option [ngValue]="'warning'" >Warning</option>
            <option [ngValue]="'informational'" >Informational</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary add-row" [disabled]="isCreateAlertConditionLoading" (click)="onCreateAlertCondition()">Save</button>
      <button type="button" class="btn btn-secondary" [disabled]="isCreateAlertConditionLoading" (click)="onCloseAlertConditionModal()">Cancel</button>
      <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isCreateAlertConditionLoading"></i>
    </div>
  </div>
  </div>
</div>


<div class="modal fade" id="confirmMessageModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Alert Condition</h5>
        <button type="button" class="close"  aria-label="Close" (click)="onCloseModal('confirmMessageModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this alert condition?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onClickOfRemoveCondition()">
          Ok</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseModal('confirmMessageModal')">
          Cancel
        </button>
      </div>
    </div>

  </div>
</div>
