<div class="topnavbar-c2d bg-white py-2" >
  <div class="row">
    <ul class="nav">
        <!-- Nav Item - Tables -->
        <li class="nav-item" [ngClass]="{'active': displayMode === 'network_failure'}">
          <a class="nav-link"  href="javascript:void(0)" (click)="onTabChange('network_failure');displayMode = 'network_failure'">
            <i class="fa fa-fw fa-angle-right"></i>
            <span>Network Failure Events</span></a>
        </li>
        <li class="nav-item"  [ngClass]="{'active': displayMode === 'machine_failure'}">
          <a class="nav-link"  href="javascript:void(0)" (click)="onTabChange('machine_failure');displayMode = 'machine_failure'">
            <i class="fa fa-fw fa-cog"></i>
            <span>Machine Failure Events</span></a>
        </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': displayMode === 'history'}">
        <a class="nav-link"  href="javascript:void(0)" (click)="onTabChange('history');displayMode = 'history'">
          <i class="fa fa-fw fa-eye"></i>
          <span>Historical MTTR</span></a>
      </li>
    </ul>
    <!-- <div class="timer" *ngIf="timerObj">
      <div>
         <span class="hours" id="hour">{{timerObj?.hours}}</span>
         <div class="smalltext">Hours</div>
      </div>
      <div>
         <span class="minutes" id="minute">{{timerObj?.minutes}}</span>
         <div class="smalltext">Minutes</div>
      </div>
      <div>
         <span class="seconds" id="second">{{timerObj?.seconds}}</span>
         <div class="smalltext">Seconds</div>
      </div>
      <p id="time-up"></p>
   </div> -->

  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
  </div>


<div class="con-pad-c2d" style="max-height: calc(100vh - 6rem);">
  <ng-container *ngIf="displayMode === 'network_failure' || displayMode === 'machine_failure' ">
  <app-filter [filterObj]="filterObj" (filterSearch)="searchEvents($event)"></app-filter>
  <div class="row mx-auto">

    <div class="table-responsive  table-wrapper" style="max-height: calc(100vh - 17rem)">
      <!-- <app-table [tableData]="lifeCycleEvents" [tableConfig]="eventTableConfig"
        [isTableFilterSelected]="isFilterSelected" [isTableDataLoading]="isLifeCycleEventsLoading"></app-table> -->
        <table class="table table-bordered  table-striped" id="deviceTable" width="100%" cellspacing="0">
          <thead>
            <th></th>
            <th>Event Start Time</th>
            <th>Event End Time</th>
            <th *ngIf="displayMode === 'machine_failure'">TTR</th>
            <th>Action</th>
          </thead>
          <tfoot *ngIf="averageMTTR && averageMTTR > 0">
            <tr>
              <td colspan="3" class="text-right">MTTR</td>
              <td colspan="3"> {{averageMTTRString}}</td>
            </tr>
          </tfoot>
          <tbody>
            <ng-container *ngIf="lifeCycleEvents.length > 0 && isFilterSelected">
              <tr *ngFor="let event of lifeCycleEvents; let i = index">
                <td>{{i + 1}}</td>
                <td>{{event.local_event_start_time}}</td>
                <td>{{event.local_event_end_time}}</td>
                <td *ngIf="displayMode === 'machine_failure'">{{event.mttr}}</td>
                <td>
                  <a href="javascript:void(0)" (click)="openModal(event)">
                    <i class="fa fa-edit"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected">
              <tr>
                <td colspan="6">
                  No {{displayMode === 'network_failure' ? 'Network Failure Events' : 'Machine Failure Events'}} data found.
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">
              <tr>
                <td colspan="6">Select filter and press search button to load the TTR data.</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isLifeCycleEventsLoading">
              <tr>
                <td colspan="6">
                  <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
    </div>
  </div>
</ng-container>
</div>


<div class="modal right fade" id="eventAcknowledgeModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedEvent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Acknowledge Event</h5>
        <button type="button" class="close" (click)="closeModal()"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <h6>Are you sure you want to acknowledge this event?</h6>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reason:</label>
            <select class="custom-select" id="alertReason" [(ngModel)]="selectedEvent.event_reason"
              name="alertReason">
              <option [ngValue]="null">Select Reason</option>
              <option [ngValue]="'Network Failure'" >Network Failure</option>
              <option [ngValue]="'Machine Failure'" >Machine Failure</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="acknowledgeEvent()">Acknowledge</button>
        <button type="button" class="btn btn-secondary add-row" (click)="closeModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isEventAcknowledgeAPILoading"></i>

      </div>
    </div>
  </div>
</div>
