<div class="topnavbar-c2d bg-white py-2" >
  <div class="row">
    <ul class="nav">
        <!-- Nav Item - Tables -->
        <li class="nav-item" [ngClass]="{'active': displayMode === 'network_failure'}">
          <a class="nav-link"  href="javascript:void(0)" (click)="onTabChange('network_failure');displayMode = 'network_failure'">
            <i class="fa fa-fw fa-angle-right"></i>
            <span>Network Failure Events</span></a>
        </li>
        <li class="nav-item"  [ngClass]="{'active': displayMode === 'machine_failure'}">
          <a class="nav-link"  href="javascript:void(0)" (click)="onTabChange('machine_failure');displayMode = 'machine_failure'">
            <i class="fa fa-fw fa-cog"></i>
            <span>Machine Failure Events</span></a>
        </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item" [ngClass]="{'active': displayMode === 'history'}">
        <a class="nav-link"  href="javascript:void(0)" (click)="onTabChange('history');displayMode = 'history'">
          <i class="fa fa-fw fa-eye"></i>
          <span>Historical MTTR</span></a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr class="solid">
    </div>
  </div>
  </div>


<div class="con-pad-c2d" style="max-height: calc(100vh - 6rem);">
  <ng-container *ngIf="displayMode === 'network_failure' || displayMode === 'machine_failure' ">

    <div class="row">
      <div class="col-xl-12 col-md-12 mb-12" >
          <form>
            <div class="form-group form-inline my-1">
              <input type="number" min="1" class="form-control form-control-sm mr-1 my-1 record-input" id="inputEmail4" placeholder="No of Records"
              [(ngModel)]="filterObj.count" name="count" *ngIf="!filterObj.countNotShow">
              <div class="bg-dateRow form-group form-inline" id="dateRow"
              [style.width]="(filterObj.dateOption === 'date' ? '23rem' : (filterObj.dateOption === 'date range' ? '33rem' : ''))">
              <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
              [(ngModel)]="filterObj.dateOption" name="dateOptions" (change)="onDateOptionChange()">
                <option [ngValue]="undefined"> Quick Date Options </option>
                <option [ngValue]="'24 hour'">Last 24 hours</option>
                <option [ngValue]="'last 7 days'">Last 7 Days</option>
                <option [ngValue]="'this week'">This Week</option>
                <option [ngValue]="'this month'">This Month</option>
                <option [ngValue]="'date'">Select Date</option>
                <option [ngValue]="'date range'">Select Date Range</option>
              </select>
              <!-- <lab class="ml-1 mr-1">OR</lab el> -->
              <ng-container *ngIf="filterObj.dateOption === 'date'">
                <input #dt2Input [owlDateTime]="dt2" [max]="today"  (dateTimeChange)="onSingleDateChange($event);"
                  class="form-control form-control-sm mx-2 my-1 w-10" [owlDateTimeTrigger]="dt2"
                  placeholder="Select Date">
                <span [owlDateTimeTrigger]="dt2"  class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
                <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
              </ng-container>
              <ng-container *ngIf="filterObj.dateOption === 'date range'">
              <input [owlDateTime]="dt1" [selectMode]="'range'" [max]="today" #dt1Input
              (dateTimeChange)="onDateChange($event)" class="form-control form-control-sm mx-1 my-1 date-range-picket-width" [owlDateTimeTrigger]="dt1" placeholder="Select Date Time">
              <span [owlDateTimeTrigger]="dt1" class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt1></owl-date-time>
              </ng-container>
            </div>
              <button type="button" class="btn btn-warning btn-sm ml-3 mr-1 my-1" title="Search" (click)="searchEvents(this.filterObj)" ><i class="fa fa-search fa-sm"></i></button>
              <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear Filters" (click)="clear();">
                <img class="filter-clear-icon" src="./assets/img/filter.svg"></button>
              <h6 class="pull-right" *ngIf="displayMode === 'machine_failure' && averageMTTR && averageMTTR > 0 && isFilterSelected"><b> MTTR: {{averageMTTRString}}</b></h6>
            </div>
           </form>
      </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <hr class="solid">
        </div>
      </div>


  <div class="row mx-auto">

    <div class="table-responsive  table-wrapper" style="max-height: calc(100vh - 17rem)">
      <!-- <app-table [tableData]="lifeCycleEvents" [tableConfig]="eventTableConfig"
        [isTableFilterSelected]="isFilterSelected" [isTableDataLoading]="isLifeCycleEventsLoading"></app-table> -->
        <table class="table table-bordered  table-striped" id="deviceTable" width="100%" cellspacing="0">
          <thead>
            <th></th>
            <th>Event Start Time</th>
            <th>Event End Time</th>
            <th >{{displayMode === 'machine_failure' ? 'Machine Downtime' : 'Network Offtime'}}</th>
            <th>Action</th>
          </thead>
          <!-- <tfoot *ngIf="averageMTTR && averageMTTR > 0 && isFilterSelected">
            <tr>
              <td colspan="3" class="text-right">MTTR</td>
              <td colspan="2"> {{averageMTTRString}}</td>
            </tr>
          </tfoot> -->
          <tbody>
            <ng-container *ngIf="lifeCycleEvents.length > 0 && isFilterSelected">
              <tr *ngFor="let event of lifeCycleEvents; let i = index">
                <td>{{i + 1}}</td>
                <td>{{event.local_event_start_time}}</td>
                <td>{{event.local_event_end_time}}</td>
                <td>{{event.mttrString}}</td>
                <td>
                  <a href="javascript:void(0)" (click)="openModal(event)">
                    <i class="fa fa-edit"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected">
              <tr>
                <td colspan="5">
                  No {{displayMode === 'network_failure' ? 'Network Failure Events' : 'Machine Failure Events'}} data found.
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">
              <tr>
                <td colspan="5">Select filter and press search button to load the TTR data.</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="isLifeCycleEventsLoading">
              <tr>
                <td colspan="5">
                  <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="displayMode === 'history'">
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-12" >
          <form>

            <div class="form-group form-inline my-1" >
              <div class="bg-dateRow form-group form-inline" id="dateRow"
              [style.width]="(filterObj.dateOption === 'date' ? '23rem' : (filterObj.dateOption === 'date range' ? '33rem' : ''))">
              <select class="form-control form-control-sm mx-1 my-1" id="dateoptions"
              [(ngModel)]="filterObj.dateOption" name="dateOptions" (change)="onDateOptionChange()">
                <option [ngValue]="undefined"> Quick Date Options </option>
                <option [ngValue]="'last 4 weeks'">Last 4 Weeks</option>
                <option [ngValue]="'last month'">Last Month</option>
                <option [ngValue]="'last 3 month'">Last 3 Months</option>
                <option [ngValue]="'last 6 month'">Last 6 Months</option>
                <option [ngValue]="'last 12 month'">Last 12 Months</option>
                <option [ngValue]="'date range'">Select Date Range</option>
              </select>
              <ng-container *ngIf="filterObj.dateOption === 'date range'">
              <input [owlDateTime]="dt3" [selectMode]="'range'" [max]="today" #dt3Input
              (dateTimeChange)="onDateChange($event)" class="form-control form-control-sm mx-1 my-1 date-range-picket-width" [owlDateTimeTrigger]="dt3" placeholder="Select Date Time">
              <span [owlDateTimeTrigger]="dt3" class="datepicker-calendar"><i class="fa fa-calendar"></i></span>
              <owl-date-time #dt3  [pickerType]="'calendar'" ></owl-date-time>
              </ng-container>
              </div>
              <button type="button" class="btn btn-warning btn-sm ml-3 mr-1 my-1" title="Search" (click)="searchEvents(this.filterObj)" ><i class="fa fa-search fa-sm"></i></button>
              <button type="button" class="btn btn-white btn-sm mx-1 my-1" title="Clear Filters" (click)="clear();">
              <img class="filter-clear-icon" src="./assets/img/filter.svg"></button>
            </div>
          </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr class="solid">
      </div>
    </div>
    <div class="row mx-auto">
      <ng-container *ngIf="isLifeCycleEventsLoading"> <i class="fa fa-spinner fa-spin fa-fw fa-2x"></i></ng-container>
      <ng-container  *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading && !isFilterSelected">Select filter and press search button to load the TTR data.</ng-container>
      <ng-container *ngIf="lifeCycleEvents.length === 0 && !isLifeCycleEventsLoading  && isFilterSelected"> No MTTR Data found.</ng-container>
      <div id="chartdiv" *ngIf="!isLifeCycleEventsLoading && lifeCycleEvents.length > 0" [ngStyle]="{'width': '100%', 'height': '26rem'}"></div>
    </div>
  </ng-container>
</div>


<div class="modal right fade" id="eventAcknowledgeModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedEvent">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Acknowledge Event</h5>
        <button type="button" class="close" (click)="closeModal()"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <h6>Are you sure you want to acknowledge this event?</h6>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Reason:</label>
            <select class="custom-select" id="alertReason" [(ngModel)]="selectedEvent.event_reason"
              name="alertReason">
              <option [ngValue]="null">Select Reason</option>
              <option [ngValue]="'Network Failure'" >Network Failure</option>
              <option [ngValue]="'Machine Failure'" >Machine Failure</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Notes:</label>
            <input type="text"  class="form-control form-control-sm mr-1 my-1" id="inputEmail4" placeholder="Notes"
              [(ngModel)]="selectedEvent.event_metadata.note" name="count">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="acknowledgeEvent()">Acknowledge</button>
        <button type="button" class="btn btn-secondary add-row" (click)="closeModal()">Cancel</button>
        <i class="fa fa-spinner fa-spin fa-fw fa-2x" *ngIf="isEventAcknowledgeAPILoading"></i>

      </div>
    </div>
  </div>
</div>
